[2016-12-09 22:32] #534 closed

[2016-12-09 22:45] stoicflame commented on #538
Again, I"m going to close this until it's proven to be an Enunciate issue. I'm happy to re-open as needed.

[2016-12-09 22:45] #538 closed

[2016-12-09 22:53] #533 closed

[2016-12-09 22:53] #537 closed

[2016-12-12 19:49] sfussenegger opened #565 "Missing JSON properties with @XmlType(propOrder = { .. }) and @XmlAttribute"
I'm using JAXB and Jackson modules (`honorJaxb="true"`) and it seems that some - not all - properties with `@XmlAttribute` are missing from the example and properties thable in the documentation if `@XmlType(propOrder = { .. })` is specified

[2016-12-12 19:51] sfussenegger opened #566 "Lombok properties should use Javadoc from field"
afaik it's currently not possible to attach javadoc to lombok fields as the documentation only considers javadoc attached to getters.

[2016-12-13 11:22] sfussenegger commented on #566
Sorry, my fault. I've used the `@return` javadoc tag (which I think was the way to go in earlier versions) instead of "plain" javadoc. works like a charm.

[2016-12-13 11:22] #566 closed

[2016-12-13 17:43] stoicflame commented on #565
I'll take a look.

If you can provide more details about the circumstances, that would be helpful.

[2016-12-13 18:41] stoicflame commented on #497
Still haven't heard back. I'm going to close this for now; I'm happy to re-open when more information is provided.

[2016-12-13 18:41] #497 closed

[2016-12-13 19:04] stoicflame commented on #541
At 761eeaa I updated to the latest version and everything seemed to be fine.

[2016-12-14 00:04] stoicflame commented on #555
I couldn't figure out how to tell Swagger to truncate the list.

The best I could come up with is to tell Enunciate to treat the field as a String by applying `@TypeHint(String.class)` to the field.

[2016-12-14 00:04] #555 closed

[2016-12-14 00:09] stoicflame commented on #541
Re-opening. I was able to reproduce this error.

[2016-12-14 00:09] #542 closed

[2016-12-14 00:09] #543 closed

[2016-12-14 00:09] #546 closed

[2016-12-14 00:09] #527 closed

[2016-12-14 00:09] #549 closed

[2016-12-14 00:09] #552 closed

[2016-12-14 00:09] #553 closed

[2016-12-14 07:44] ChThelen commented on #394
Great feature, thanks!

[2016-12-14 08:49] sfussenegger commented on #565
see [molindo/enunciate-565-example](https://github.com/molindo/enunciate-565-example)

run `mvn package` and compare `target/docs/apidocs/json_Tweet.html` with `target/docs/apidocs/xml_ns0_tweet.html`

---

XML properties:

name | data type | type | namespace | min/max occurs | constraints | description
---|---|---|---|---|---|---
date | dateTime | attribute |  | 1/1 |   |
id | string | attribute

[2016-12-14 10:02] sfussenegger commented on #565
a viable workaround is to add all attributes to `propOrder`

[2016-12-14 17:27] stoicflame commented on #556
Will be fixed in 2.8 with update to Swagger 2.2.8.

[2016-12-14 17:27] #556 closed

[2016-12-14 17:27] stoicflame commented on #541
Fixed for me at fbcf5891f997ae30f59efb7ad8982bf0a7598afd.

[2016-12-14 17:27] #541 closed

[2016-12-14 17:51] #557 closed

[2016-12-14 18:46] rjernigan opened #567 "<include> facet breaking build"
Switching my facet from <exclude> to <include> has broken my maven build.

My enunciate.xml file has the following facet configuration:

[code]

Doing a mvn clean install is throwing this exception:
[code]

Is the <include> facet still an option? Is there a better way to only produce documentation for certain endpoints and exclude by default?

[2016-12-14 18:50] stoicflame commented on #567
Please provide the stack trace (`mvn -e`).

[2016-12-14 18:52] rjernigan commented on #567
`[ERROR] Failed to execute goal com.webcohesion.enunciate:enunciate-maven-plugin:2.7.0:docs (default) on project products-api: Error invoking Enunciate. java.lang.NullPointerException: OnError while emitting onNext value: com.webcohesion.enunciate.EnunciateContext.class -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal com.webcohesion.enunciate:enunciate-ma

[2016-12-15 16:21] VaclavPokorny opened #568 "Methods not sorted in detailed view"
I use version 2.7.0 and methods do not appear to be sorted alphabetically (or in any way I can recognize) in HTML documentation. I would expect methods to be sorted the same way as on index page. Or is there any switch which controls this?

[2016-12-15 16:54] stoicflame commented on #568
Which methods? Are you talking the REST docs or the SOAP docs?

[2016-12-15 18:13] VaclavPokorny commented on #568
![snapshot1](https://cloud.githubusercontent.com/assets/16323477/21236246/8c18624e-c2fa-11e6-95e6-121963178fae.png)
![snapshot2](https://cloud.githubusercontent.com/assets/16323477/21236247/8c1a2a2a-c2fa-11e6-973b-1729c1b60446.png)

[2016-12-15 22:25] stoicflame commented on #568
That's alphabetical.

Would you rather have it be "depth-first" alphabetical?

[code]

Or would you rather group by path?

[code]

[2016-12-16 00:25] VaclavPokorny commented on #568
Sure, on first image it is alphabetical. However it is not on the second, which is my point. I would expect it to have te same sorting as the first. Than the first method should be /api/v1/protected/demand/advancePaymentAmountChange/create and not actual /api/v1/protected/demand/submitted/list. That is surely not alphabetical order.

[2016-12-16 12:07] egemenvardar commented on #541
I just tried this again: I downloaded the latest Swagger dist (2.2.8), and generated swagger.json via Enunciate (2.7.0). But I am still getting an error, though this time the error comes from somewhere else:
`cannot parse JSON/YAML content     helpers.js: 18`

Would it help if I attached my generated swagger.json?

[2016-12-16 15:26] stoicflame commented on #541
Or just paste it into the [Swagger editor](http://editor.swagger.io/#/) and note what errors you get.

[2016-12-16 16:04] egemenvardar commented on #541
Thanks for the tip. I am getting `Duplicated mapping key` error. I will investigate why our json is generated like that (and will create another issue if I find a bug).

[2016-12-16 16:07] #558 closed

[2016-12-16 17:43] stoicflame commented on #541
Yes, I got that too. I fixed the duplicate mapping key for the next release.

[2016-12-16 20:52] #559 closed

[2016-12-16 20:52] #560 closed

[2016-12-16 20:52] #564 closed

[2016-12-16 20:52] #565 closed

[2016-12-16 20:54] stoicflame commented on #567
This is a bug, but I can't figure out how you got into this state. At 4ed4cc4, I added some conditions that will help isolate the bug, but it's not fixed.

At this point, either (1) wait until 2.8 comes out and re-paste the stack trace or (2) figure out how to edit the sample app or something to reproduce the problem so I can debug into it.

For now, I'll move this issue to 2.9.

[2016-12-16 21:05] #568 closed

[2016-12-16 21:06] stoicflame commented on #495
Fix for #558 has been committed; I'm going to close this out for now.

If anyway can provide additional cases where types should be auto-detected, I'd be happy to re-open.

[2016-12-16 21:06] #495 closed

[2016-12-16 21:14] stoicflame commented on #540
I started looking into this.

It's a great idea, but it's quite a bit of work, so I'm pulling it off the release plan for now.

If anybody is willing to sponsor the work, I'd be happy to pick it up again.

[2016-12-16 21:18] stoicflame commented on #539
I started looking into this.

It's a great idea, but it's quite a bit of work, so I'm pulling it off the release plan for now.

If anybody is willing to sponsor the work, I'd be happy to pick it up again.

[2016-12-16 21:19] stoicflame commented on #544
I started looking into this.

It's a great idea, but it's quite a bit of work, so I'm pulling it off the release plan for now.

If anybody is willing to sponsor the work, I'd be happy to pick it up again.

[2016-12-16 21:20] stoicflame commented on #561
I started looking into this.

It's a reasonable idea, but it's quite a bit of work, so I'm pulling it off the release plan for now.

If anybody is willing to sponsor the work, I'd be happy to pick it up again.

[2016-12-16 21:25] stoicflame commented on #63
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-16 21:27] stoicflame commented on #65
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-16 21:27] stoicflame commented on #66
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-16 21:28] stoicflame commented on #136
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-16 21:29] stoicflame commented on #138
This issue has been stale for a year an a half. I'm going to close it until someone can provide more information about how to reproduce it.

[2016-12-16 21:29] #138 closed

[2016-12-16 21:30] #146 closed

[2016-12-16 21:31] stoicflame commented on #174
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-16 21:31] stoicflame commented on #177
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-16 21:32] stoicflame commented on #178
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-16 21:33] stoicflame commented on #200
This issue has been stale for over a year. I'll re-open if someone can provide me a way to reproduce the problem.

[2016-12-16 21:33] #200 closed

[2016-12-16 21:33] stoicflame commented on #204
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-16 21:33] stoicflame commented on #209
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-16 21:35] stoicflame commented on #216
This issue has been stale for over a year, and I'm pretty comfortable with the choice to not do config file validation.

[2016-12-16 21:35] #216 closed

[2016-12-16 21:35] stoicflame commented on #257
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-16 21:37] stoicflame commented on #311
This issue has been stale for a little less than a year now, and I'm comfortable with the choice to not implement it for now.

If support for this feature builds, I'd be happy to re-open.

[2016-12-16 21:37] #311 closed

[2016-12-16 21:38] stoicflame commented on #360
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-16 21:40] stoicflame commented on #397
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-16 21:40] stoicflame commented on #400
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-16 21:41] stoicflame commented on #481
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-16 21:42] stoicflame commented on #522
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-16 21:42] stoicflame commented on #529
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-17 11:06] egemenvardar commented on #541
That's great, thank you.

[2016-12-18 19:37] vguna opened #569 "Jersey `FormDataMultiPart`"
Hi.

Is there currently support for uploading binaries like using Jersey's `FormDataMultiPart` using the swagger UI?

I annotated my JAX-RS REST method like so:

[code]

Which ends up in swagger like so:

![grafik](https://cloud.githubusercontent.com/assets/3257311/21296001/4e246046-c561-11e6-978d-bbf077fc8e68.png)

I would have expected a "select file" button or similar :). AFAIK the topic multip

[2016-12-19 10:21] xkacer commented on #191
I have an opposite problem (with the same symptoms). Both annotations and JavaDoc are present on private fields but Enunciate seems to take them from getters/setters only, which leaves most of the attribute descriptions empty.
Is the javadoc on _fields_ supposed to work with the **JAX-RS** module?
(sorry I ask here but it seems to be a very similar issue)

[2016-12-19 13:18] lbndev commented on #560
Awesome, thank you very much ! :)

[2016-12-19 17:15] stoicflame commented on #191
Enunciate's documentation is pulled from whatever is getting used by the implementation. So if you annotated your fields in such a way that they are being used by JAX-RS, Enunciate will use the documentation on those fields. Likewise for properties.

[2016-12-19 17:46] stoicflame commented on #569
I'm seeing an upload button.

![issue-569](https://cloud.githubusercontent.com/assets/145838/21322866/3c68fcb4-c5d8-11e6-9ce6-cc4d68985a8f.png)

I basically pasted your code and changed the return type:

[code]

[2016-12-19 17:46] #569 closed

[2016-12-19 20:32] xkacer commented on #191
Thanks for a quick response (and for developing enunciate, in the first place). It is not hundred-percent exact however, as it assumes a _default_ configuration of JAX-RS (and Jackson).
Meanwhile, I already searched the enunciate source codes and found out that the behavior is controlled by `JsonAutoDetect` annotation - which is basically what you said.
There is one important difference, though: J

[2016-12-19 20:59] stoicflame commented on #191
Enunciate should pick up private fields if they're annotated correctly (e.g. `@QueryParam`, `@HeaderParam`, etc.).

Are you observing otherwise?

[2016-12-19 21:12] stoicflame commented on #568
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:12] stoicflame commented on #560
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:12] stoicflame commented on #559
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:12] stoicflame commented on #564
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:13] stoicflame commented on #565
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:13] stoicflame commented on #558
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:13] xkacer commented on #191
Well, it works for JAX-RS attributes (`@QueryParam`, `@BeanParam`, etc.). It does not work for Jackson fields (e.g., `@JsonProperty`) - sorry if I was unclear in this.
In particular, if there is a documented private field with an undocumented getter and setter, no JavaDoc is found and the field has no description (it is still displayed, as the getter/setter pair is detected, but no JavaDoc).
The b

[2016-12-19 21:13] stoicflame commented on #557
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:13] stoicflame commented on #541
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:13] stoicflame commented on #556
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:14] stoicflame commented on #549
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:14] stoicflame commented on #552
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:14] stoicflame commented on #527
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:14] stoicflame commented on #553
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:14] stoicflame commented on #546
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:14] stoicflame commented on #542
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:15] stoicflame commented on #543
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:15] stoicflame commented on #555
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0). This issue may be fixed in the latest Swagger UI version.

[2016-12-19 21:15] stoicflame commented on #537
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:15] stoicflame commented on #533
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:16] stoicflame commented on #538
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0). An update to the latest Swagger UI might fix this issue.

[2016-12-19 21:17] stoicflame commented on #545
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:17] stoicflame commented on #535
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:17] stoicflame commented on #495
[Enunciate 2.8.0 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.8.0).

[2016-12-19 21:23] stoicflame commented on #191
So you want a configuration option to tell Enunciate to prefer the private the fields instead of the public properties, even if Jackson itself is using the public properties at runtime. Is that accurate?

If so, you're welcome to open up a separate issue. I'll mark it as an enhancement request and assign it to 2.9.

[2016-12-19 22:52] vguna opened #570 "Build error using 2.8.0"
First of all, thanks for the latest release!

I gave it a testdrive, but it dies during build with the exception below. It seems it's failing to
read the generated swagger.json file. Looking at the error position shows:

[code]

It seems failing at `maxItems`, parsing the dot in the max value. I checked it against an older `swagger.json` of 2.7.0 and there are not dots in that value. Any hints?

T

[2016-12-20 09:19] victornoel opened #571 "Documenting SSE Event Stream?"
Hi,

In JAX-RS, SSE is not part of the specification (it will in JAX-RS 2.1), but in Jersey for example, there is an `EventOutput` class available to implement SSE resource methods:
[code]

I was wondering if enunciate had any means to document the different types of event that could be sent over this SSE Event Stream.
I tried to put a `@TypeHint` annotation on the method, but it is not taken into

[2016-12-20 12:43] Umaaz opened #572 "Cannot prepend context path"
Hi.
Firstly let me say I think this project is fantastic! Really useful for me!

However, I have been struggling to get the context path to be prepended to the paths.

### Quick background.
I have a very simple REST Api using Jax-rs with Jersey/Grizzly. The build uses maven, with the enunciate-maven-plugin version 2.8.0. The plugin runs and produces the docs, I then fatjar this output into the bui

[2016-12-20 14:46] xkacer commented on #191
Not to _prefer_ them. I just want to make them _visible_ - the same way `JsonAutoDetect` does (and also Jackson).
Enough of it here. I will begin a separate issue with more details. Will need some time to check a few things and come up with a meaningful proposal (possibly a little bigger than just this), which will be consistent with Jackson.
Thanks again for your response.

[2016-12-20 16:03] lbndev commented on #572
I had the same problem.
My Application class is annotated with @ApplicationPath("/rest")
I don't use \<application path="..."/\> in enunciate.xml.
Instead, I'm doing this :
[code]
(variable is replaced by maven resource filtering)
With this configuration I get the correct URLs in HTML pages generated by enunciate and I am able to call the services from the SwaggerUI.

[2016-12-20 16:09] stoicflame commented on #570
Thanks for the report. It has to do with the way numbers get written in some locales. I'll fix it.

[2016-12-20 17:49] stoicflame commented on #571
No, currently there's no native support for it.

Do you have an idea of how such a media type should be documented?

[2016-12-20 19:37] vguna commented on #570
Thanks for looking into this!

[2016-12-20 22:27] Umaaz commented on #572
I experimented a bit more with this, and it does work if you use the @ApplicationPath annotation.

However it seems any combination of enunciate configuration will not add the application path, if this annotation is not present.

[2016-12-21 08:40] victornoel commented on #571
I guess we need mainly to document the events that can be sent over it.

One thing is that there can be different event types, not just one.
Another thing is that the format of the event is standardised: https://www.w3.org/TR/eventsource/
Here are some examples and description of what is an event:
https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events

In part

[2016-12-21 16:21] stoicflame commented on #571
Sounds good.

For now, I'll put it on the backlog as an enhancement an track it among the requests seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2016-12-21 22:39] #570 closed

[2016-12-22 13:19] selimok opened #573 "File referenced description cause "OutOfMemoryError: Java heap space" problem"
Hi,

i just tried to enhance my api documentation by adding some more details in description field in enunciate.xml. As described in [wiki](https://github.com/stoicflame/enunciate/wiki/User-Guide#description) I added a file reference.

`<description file="enunciate-api-description.html"/>`

As long as the referenced file contains any text (doesn't matter if it's a single character, a text block or

[2016-12-22 13:41] selimok opened #574 "support for GFM in Enunciate description config"
Hi,

i added following html description in enunciate.

[code]

It appears in enunciates default doc output correctly. But in swagger there are some problems:

v.2.7.0
<img width="982" alt="swagger-description-2 7 0" src="https://cloud.githubusercontent.com/assets/1064818/21427233/a0529ce4-c853-11e6-9b0f-cced145d3c9c.png">

v.2.8.0
<img width="986" alt="swagger-description-2 8 0" src="https://cloud

[2016-12-22 13:44] selimok commented on #573
Oh I just noticed that it works in 2.8.0.

[2016-12-22 13:44] #573 closed

[2016-12-22 15:40] selimok commented on #519
Hi,

so I understand that the Headers section is for response header. But this section should be actually showed only when any response header is defined.

In json output there is a _empty_ headers section:

[code]

After removing this section no Headers section is shown.

Should I report this in a new issue?

Thanks.

[2016-12-22 15:45] selimok commented on #519
I checked again the second problem which is works for you. Yes it's works for me too but only if I use standard JAX-RS annotations.

The problem still exists with Spring Framework. To describe the problem exactly: the javadoc for method replaces headers' description value.

Interestingly if I place the @RequestHeaders(...) annotation above the javadoc section all my javadoc texts are disappears.

[2016-12-22 16:33] selimok opened #575 "Headers section in swagger output must be only shown when there is any response header"
Hi,

as described [here](https://github.com/stoicflame/enunciate/issues/519#issuecomment-268825418) in swagger UI appears a Headers section (for response header) when any response exists for a given end point, even if the response has no response headers.

[2016-12-22 16:52] stoicflame commented on #574
Most likely a bug in the Swagger UI, but I can check it out.

[2016-12-22 16:57] #575 closed

[2016-12-22 17:01] selimok commented on #519
Hi,

actually the problem (spring related) is still there. Can you open this issue again?

Thx.

[2016-12-22 18:00] selimok commented on #519
I checked the implementation of com.webcohesion.enunciate.modules.spring_web.model.RequestMapping class. It seems correctly to map request headers.

[2016-12-22 18:10] selimok commented on #519
I found the bug. I will create a pull request for it.

[2016-12-23 04:20] #519 closed

[2016-12-24 00:02] selimok commented on #574
Yes it is a bug of Swagger UI. I checked it works until (incl.) version v2.2.2. Starting from v2.2.3 most of the HTML tags are ignored.

[2016-12-24 00:18] selimok commented on #574
Hmm it seems to be a feature more than a bug: https://github.com/swagger-api/swagger-ui/issues/830 Which solves a XSS vulnerability.

According to https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md description field may be enriched with [GFM syntax](https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown).

[2016-12-24 00:23] selimok commented on #574
@stoicflame can you consider to support markdown syntax also in native enunciate UI?

[2016-12-24 10:31] manzke commented on #214
Hey JAX-RS supports it.

Example:
@Path("{who:current|me}")
public Response me(){}

This would allow a path /current or /me. who is the variable you inject into the method.

[2016-12-24 15:27] stoicflame commented on #574
What do you mean by "support markdown syntax"? If you write your JavaDocs in Markdown, doesn't it get preserved?

Or are you suggesting some kind of conversion from HTML/JavaDoc to Markdown?

[2016-12-24 16:15] selimok commented on #574
I mean support markdown syntax only for **description** field  in _enunciate.xml_ to achieve compatibility with swagger-ui.

[2016-12-28 15:46] peter-janssen opened #578 "javax.validation.constraints only read from getter method"
It seems that the validation constraints work beautifully for beans with validation annotations on the getter methods. Unfortunately it seems that if these are added to the fields this does not work. This might be by design in that case consider this as a feature request ;-)

[2016-12-29 09:06] peter-janssen commented on #578
Thanks for the quick feedback, especially #317 was very informative. I'd never have figured that out from the documentation.

[2016-12-29 16:54] stoicflame commented on #578
I'll re-open this and track is as a request for additional documentation. It's a pretty common issue.

[2017-01-03 10:10] fpotera opened #579 "Wrong generation of a Collection type in swagger.json"
Hello.
We use enunciate to generate api for below class:

[code]

It's wrong generated as:

[code]

Why it's generated as "array" in "array" of "file" ?

I think it should be just "array".

Am I right?

[2017-01-03 10:44] fpotera opened #580 "Wrong generation of generics"
Hello.
We generate api for below class:

[code]

In swagger.json file is generated as:

[code]

For "bean" property "file" type is wrong. I think "object" is better.

Am I right?

And also for collection "array" in "array" of ResponseMessage, should be just an simple "array".

[2017-01-03 11:02] fpotera opened #581 "Wrong generation of generics"
Hello.
We have the following code:

[code]

Enunciate generate swaager.json file:

[code]

"key" and "value" are wrong generated as type "file" instead of "object".

[2017-01-03 12:54] fpotera opened #582 "Wrong generation of List"
Hello.
We generate api for the following class:

[code]

It's generated in swagger.json as:

[code]

I think "file" type is not right and it should be a "ref" to other object.

[2017-01-04 14:09] vguna commented on #569
I've found some time looking into this again. I've overlooked an additional method definition on the interface:

[code]

The problem here is, that it is the same HTTP method `@PUT` on the same `@Path`, but with a different content-type (JSON vs. MultiPat). Hence I guess the last one simply wins then.

The usecase is, that it is possible to upload a binary file via MultiPart, as well as updating it

[2017-01-04 22:42] kerber opened #583 "API Includes not working as expected"
I would expect that the API includes would be additive, adding new classes to what was already detected.
EnunciateReflectionsScanner.java appears to agree, as it adds any 'include' matches to the detected source elements. The behavior is different in EnunciateAnnotationProcessor.java, however, where anything not explicitly included is removed from the detected API Elements.

Practically, what this

[2017-01-10 23:23] scottalanweber opened #584 "Spring-Web: TypeHint not documenting Response Value when a ResponseEntity<?> is returned"
When utilizing the following method with `Spring Boot 1.4.2.RELEASE` and `Enunciate 2.8.0`
[code]

The @TypeHint(Opportunity[].class) in the above method is not showing in the documentation. Instead it is just being output as "custom". The Parameter @TypeHint() seem to be working as expected as the appropriate constraints are documented. Also is it possible to mark a parameter as required or optio

[2017-01-11 14:34] sbrattla opened #585 "Will @TypeHint work in combination with @FormDataParam?"
I've got a resource with a method which accepts multipart data. The method expects an XML representation of an entity (`data`) along with a `file`.

[code]

The generated documentation just specifies both as `formdata`. However, I would really like the documentation to recognise that `data` should be a representation a `SerialAudioFile`. Using `@TypeHint` in combination with `@FormDataParam` does

[2017-01-11 18:04] stoicflame commented on #585
There's not currently a way to do this. Currently only request/response entities can have a data type.

This issue is basically the same as #311 except that you'd like a data type applied to a formdata parameter instead of a query parameter. I'm going to close this with the same conditions as I closed #311.

[2017-01-11 18:04] #585 closed

[2017-01-16 08:46] kiroff opened #586 "NullPointerException in TypeHints"
Having the following configuration:
[code]
and using version 2.8.0 getting the following exception:
[code]
Tried this with 2.7.0 and 2.6.0 - same error. It happens even if no ```@TypeHint``` is used.

[2017-01-17 14:06] selimok commented on #519
When do you plan to release 2.9.0 ?

Thank you.

[2017-01-19 09:15] victornoel opened #587 "Generics are not taken into account to generate documentation?"
Hi,

I have the following type defined:
[code]

And I use it like this:
[code]

And the generated documentation is like this:
![image](https://cloud.githubusercontent.com/assets/160975/22100336/839b9dd4-de2f-11e6-83d4-61dcef7e4e69.png)
![image](https://cloud.githubusercontent.com/assets/160975/22100470/0eba0694-de30-11e6-9380-6c929ec1d0d0.png)

I think enunciate should be able to take the generics

[2017-01-19 09:47] jskovjyskebankdk opened #588 "Integers output with thousand-separators in swagger.json"
The validation for max value in this method:

[code]

Results in swagger.json output like this:

[code]

The "pretty-printed" number 2,147,483,647 should have been output as 2147483647.

[2017-01-19 15:01] stoicflame commented on #587
Duplicate of #400 .

[2017-01-19 15:01] #587 closed

[2017-01-19 15:02] stoicflame commented on #588
Duplicate of #570 .

[2017-01-19 15:02] #588 closed

[2017-01-19 15:27] jskovjyskebankdk commented on #588
Dang. Did check for existing bugs, but title did not reveal content.
Thanks!

[2017-01-19 15:30] alfechner opened #589 "Parameters specified by @RequestHeaders don't appear in documentation"
I currently work on a SOAP service on which clients authenticate by setting appropriate HTTP header parameters.

I'd like to use the `@RequestHeaders` annotation included in [Enunciate Specific Annotations](https://github.com/stoicflame/enunciate/wiki/Enunciate-Specific-Annotations) in order to explain what the parameters are used for in the generated documentation.

I try to archive this as follo

[2017-01-19 17:01] stoicflame commented on #589
That annotation is currently only applicable to REST endpoints.

I'll look into adding to SOAP documentation, too.

[2017-01-20 15:23] Crashkurs opened #590 "List size constraint lets task fail"
When annotating a List with @Size, make it required and set its min or max value above 1 000 000, the jackson parser generates a "." after every 3 digits, which lets enunciate fail with
[code]

Setup:

1. build.gradle

[code]
2. enunciate.xml
[code]

3. ExampleResource

[code]

4. Container

[code]

5. SingleItem

[code]

6. Result
[code]

7. Expected
[code]

[2017-01-20 16:27] stoicflame commented on #590
Duplicate of #588 and #570

[2017-01-20 16:27] #590 closed

[2017-01-23 17:16] rafikMeg opened #591 "[Spring Rest] Missing slash in doc"
With this class:
[code]
In the documentation, the url path  generated by the plugin is : **/resources/users{id}** therefore missing a slash.

Spring works correctly and exposes the url  **/resources/users/{id}** with the slash.

I am using the slim maven plugin 2.8.0 with the following dependencies:

- enunciate-spring-web
- enunciate-jackson
- enunciate-jackson1
- enunciate-swagger
- enunciate-do

[2017-01-24 15:38] bjoernmartin opened #592 "Support @since on fields and enums"
I documenting the version for which a field was introduced using the @since JavaDoc tag. However, Enunciate only respects that tag on the Resource / JSON object level (Enunciate-internal: DataType). Is there any support planned for @since being recognized for fields (Java: Enum constants and DTO getters) as well?

If not, would a pull request adding the feature be accepted? I had a quick look at t

[2017-01-24 19:59] stoicflame commented on #592
I'll take a look. I'm surprised it's not there.

If you'd like to put together a pull request, I'd happily review and accept it.

[2017-02-01 07:01] peter-janssen commented on #578
One addition. I ended up not using the `@XmlAccessorType(XmlAccessType.FIELD)` but the `@JsonAutoDetect(fieldVisibility = JsonAutoDetect.Visibility.ANY)` annotation as mention by @patvong in this [comment](https://github.com/stoicflame/enunciate/issues/317#issuecomment-185801221).

[2017-02-01 11:33] brunohorta82 opened #594 "Help @TypeHint in MediaType.MULTIPART_FORM_DATA"
Hello

I try use @TypeHint to specify the object but doesn't work :(, i thing it's because  @Consumes(MediaType.MULTIPART_FORM_DATA)

    @Path("register")
    @POST
    @Consumes(MediaType.MULTIPART_FORM_DATA)
    @Produces(MediaType.APPLICATION_JSON)
    @TypeHint(JsonObject.class)
    public Response register(@Valid   @TypeHint(PlayerRegistrationRequest.class) PlayerRegistrationRequest playerRe

[2017-02-01 15:41] stoicflame commented on #594
What tool is converting the multipart/form-data to an instance of `PlayerRegistrationRequest`?

Unless I'm mistaken, JAX-RS doesn't have a standard converter for that. So Enunciate doesn't know how to display `PlayerRegistrationRequest` as a data type.

[2017-02-01 15:51] brunohorta82 commented on #594
![screen shot 2017-02-01 at 15 50 39](https://cloud.githubusercontent.com/assets/9153126/22514139/46b5a4b6-e896-11e6-9f7a-bc2860c2f37c.png)

[2017-02-01 16:17] stoicflame commented on #594
What's the `@PartType` annotation.

[2017-02-01 16:19] brunohorta82 commented on #594
![screen shot 2017-02-01 at 16 19 19](https://cloud.githubusercontent.com/assets/9153126/22515394/38cc2470-e89a-11e6-848b-7aea63675964.png)

[2017-02-01 16:21] stoicflame commented on #594
Okay. So this is a request to support [resteasy-proprietary multipart (de)serialization](https://docs.jboss.org/resteasy/docs/1.1.GA/userguide/html/Multipart.html).

[2017-02-01 16:23] brunohorta82 commented on #594
Okay, you can fix this? :)

[2017-02-01 16:28] stoicflame commented on #594
Sure, it's possible to do, but it's probably not a high priority at the moment.

[2017-02-01 16:29] brunohorta82 commented on #594
ok thanks

[2017-02-01 23:45] stoicflame opened #595 "NPE in JavaScriptClientModule"
[code]

[2017-02-03 18:16] tschofen opened #596 "How can I access the name of the package a java class belongs to?"
I tried to find a solution on the interwebs, but with my limited knowledge of enunciate and JAVA I'm stuck.
We collect all SOAP XML definitions (data types) and output them with freemarker into an HTML page.
There are lots of them. Instead of just listing them, I'd like to group them by the package they belong to. An example of a class file:
[code]
I scoured through the object exposed by enunciate

[2017-02-03 19:37] brenthale opened #597 "Swagger generation improvements"
I was finally able to get Enunciate to work well with a Spring Boot application.  I'm noticing that the swagger.json generated file doesn't take advantage of all the information that it could.  For instance, here is one of the methods we have defined:

[code]

What I see in the generated swagger.json is the following:

[code]

Notice that

1. The "produces" array only includes "application/json" e

[2017-02-03 20:25] stoicflame commented on #596
I'm not sure where you got that list, but there's a `package` property on the data type.

[2017-02-03 21:56] tschofen commented on #596
I just output the keys and stripped the getters out.
Here's how I got that list:
[code]

When I try to get a package ${type.package} it errors with that it doesn't exist. Checking if it exists always returns nothing:
[code]

I also checked if perhaps the parent (the namespace) contains it, but it doesn't have it either.

[2017-02-03 22:02] stoicflame commented on #596
Must not be a data type, then:

https://github.com/stoicflame/enunciate/blob/master/javac-support/src/main/java/com/webcohesion/enunciate/javac/decorations/element/DecoratedTypeElement.java#L55

[2017-02-03 22:04] tschofen commented on #596
Hmm...here's how it's added to the Freemarker template:
[code]

[2017-02-03 22:06] stoicflame commented on #596
Oh, I see what you're doing.

Yes, package isn't exposed via that interface. Shouldn't be too hard to do, though. I'll take a look for 2.9.

[2017-02-03 22:07] tschofen commented on #596
Should I be doing it in a different way? I'm open to suggestions.

[2017-02-09 16:02] VaclavPokorny opened #598 "Required/Optional parameters"
Spring MVC's @RequestParam annotation has parameter required which defaults to true. However, Enunciate's HTML documentation does not show it in any way I know of. It would be quite useful if the documentation could always clearly show which parameters are required and which are not.

[2017-02-14 10:08] victornoel commented on #571
@stoicflame until then, could we at least get `@TypeHint` working on SSE methods?
Currently if I add a `@TypeHint` on a method annotated with `@Produces(SseFeature.SERVER_SENT_EVENTS)`, enunciate will simply ignore it…

Thanks :)

[2017-02-14 18:48] stoicflame commented on #571
It's not a problem with `@TypeHint`; that annotation is working as designed. The problem is that Enunciate doesn't know how to write a data type for `text/event-stream` media type.

If the method produced `application/json` or `application/xml', then Enunciate would know that the `@TypeHint` resolves to the json (or xml) data type. But Enunciate can't resolve your `@TypeHint` because there are no

[2017-02-14 18:54] victornoel commented on #571
ok, thanks

[2017-02-15 23:43] selimok commented on #519
If 2.9.0 not planned in near future, can you please deploy 2.9.0-SNAPSHOT to oss.sonatype.org/content/repositories/snapshots repository or may be release a bugfix release 2.8.1 ?

[2017-02-17 16:28] stoicflame commented on #519
Okay.

https://github.com/stoicflame/enunciate/releases/tag/v2.8.1

[2017-02-17 18:56] selimok commented on #519
Thank you very much :)

[2017-02-17 21:18] brenthale commented on #597
Actually only #2 above is seeming to be the problem.  I've adjusted my Javadocs on that method and it now sets the "produces" correctly.  I think that was due to the fact that I was trying to use jax-rs annotations instead of spring http annotations.  (i.e. shouldn't have been using @Produces when it also uses @RequestMapping)

#3 also appears to be working fine.

#2 still remains a problem.

[2017-02-23 00:02] brenthale opened #599 "Unable to find source file for java.nio.ByteBuffer."
I am trying to get all Warnings cleaned up in my build and the only one I have left is one from Enunciate.  Here's the warning I get when running Maven with a -X:

[WARNING] [ENUNCIATE] Some source files were not found for the Java classes that define the Web service API.
[WARNING] [ENUNCIATE] Enunciate will be unable to find the documentation for the classes that are missing source files. (For de

[2017-02-23 09:26] mhighmark opened #600 "Enunciate json signature doesn't match message body"
I'm using CXF to annotate a webservice and dto's. It accepts both xml and json. While the xml signature is correctly generated by Enunciate, the json signute in Enunciate doesn't match what the webservice actually accepts in its message body.

My type is a wrapper that contains a list.

The xml looks like so:

[code]

And the json...

[code]

The webservice actually accepts:

[code]

[2017-02-23 14:03] iorlas1 opened #601 "Request body type unknown in asynchronous requests"
When generate REST documentation for

[code]

The request body data type is given as object(JSON) and not the actual type. If the declaration is changed to this:

[code]

 everything works fine. I suspect that the AsyncResponse type is unknown by Enunciate and thus it cannot decide which argument is the input argument. I have tried to supply TypeHints on the argument to no avail.

[2017-02-23 14:44] saverett opened #602 "Add Disable Source Files Warnings Option to Enunciate 2"
Currently Enunciate 2 does not offer the ability to disable the following warning messages (generated as part of the Maven build process):

[code]

For complex projects with many dependencies, it can be very cumbersome to correctly add all the necessary source files to the Enunciate sourcepath and ensure that they are correctly included in `enunciate.xml`.

It would be very helpful to have an Enun

[2017-02-23 16:47] stoicflame commented on #600
You must be using a JSON serializer other than Jackson. Maybe `jersey-json` or something? Can you confirm?

[2017-02-24 13:27] mhighmark commented on #600
Thanks for getting back to me. We're using Jettison through CXF.

On Thu, Feb 23, 2017 at 5:47 PM, Ryan Heaton <notifications@github.com>
wrote:

[2017-02-24 17:06] stoicflame commented on #600
Okay.

Unfortunately, Enunciate doesn't currently have support for Jettison data types. So would you like me to turn this issue into an enhancement request to support Jettison?

[2017-02-24 19:27] mhighmark commented on #600
Sure, that would be great - thanks :)

On Fri, Feb 24, 2017 at 6:06 PM, Ryan Heaton <notifications@github.com>
wrote:

[2017-02-28 16:36] tomasbozzo-everis opened #603 "Enunciate with Resteasy and Guice"
Hi,

I'm having trouble trying to generate the documentation for this very simple Resteasy+Guice web app. I've tried different things but none seem to work, I always get this message:

pom.xml
[code]
web.xml
[code]
enunciate.xml

[code]
HelloController.java
[code]

After running mvn enunciate:assemble I get the following output

The web app is working fine. The URL http://localhost:8080/guicetest1

[2017-02-28 17:03] stoicflame commented on #603
What does the output of `mvn -X` say about `com.tomasing.guicetest1.controllers.HelloController`?

[2017-02-28 17:14] tomasbozzo-everis commented on #603
Hi,

Thanks for the fast response.

About the output, I get a lot of compiler errors like this one:

[code]

Regards.

[2017-02-28 17:18] stoicflame commented on #603
It looks like you need to include the guice annotations on your classpath.

It is curious why the build didn't fail, though.

[2017-02-28 18:08] tomasbozzo-everis commented on #603
Not only is the Guice library missing, I get the same error for the **GET**, **Path** and **Produces** annotations. It seems like this issue is related to this one (https://github.com/stoicflame/enunciate/issues/200), but the difference is that my classpath is not empty:

[code]

[2017-02-28 18:20] stoicflame commented on #603
So does it work when you fix up your classpath?

[2017-03-01 01:05] pacman1176 opened #604 "JsonParseException: Unrecognized character escape on @Pattern regex"
[code]

Enunciate is interpreting the \\\\w as \w which is a valid escape sequence for regex.

[code]

[2017-03-01 04:23] stoicflame commented on #604
See #570. Please try using 2.8.1.

[2017-03-01 04:23] #604 closed

[2017-03-01 07:59] tomasbozzo-everis commented on #603
I'm not sure how to do it :sweat_smile:

[2017-03-01 10:35] tomasbozzo-everis commented on #603
Solved it.

It seems that the version of Enunciate I'm using does not support Maven 2, which is necessary for my client's project (shame on them).

I followed the Getting Started guide and only the XML services were being documented, the Persona service was completely ignored because of the same compilation errors I was getting. After building with Maven 3 the Persona service appeared in the docum

[2017-03-01 11:25] rajneekanth opened #605 "Below parameters are not working"
Below parameters are not working.

@Request URL https://pprgw2gapimgmt.azure-api.net/entintbridge/createTrip

I want to show Request Parameters in the generated swagger UI, but no luck. I tried below ways.

	 * @RequestParam IDToken ADFS token to authenticate the user on Way2Go
	 * @param name IDToken ADFS token to authenticate the user on Way2Go
	 * @RequestParameter UserName Login ID of the User

[2017-03-01 13:48] #603 closed

[2017-03-01 13:50] stoicflame commented on #605
What does the Java method signature look like?

[2017-03-01 15:33] rajneekanth commented on #605
Thanks for your quick reply. method signature looks like this.

public String tripDetails(String tripDetailsReq)

tripDetailReq is a JSON object, it has few details like token, username, domain etc.

by the way, i have used like below.
@RequestHeader UserName Login ID of the User

in the output, it is showing as "UserName Header Login ID of the user". is there any way to replace that header to str

[2017-03-01 17:06] selimok opened #606 "@DocumentationExample doesn't work for multi module projects"
Hi,

@DocumentationExample annotation works very well for classes residing in main module, but it is not working for external modules.

I'm not sure if I'm doing something wrong, but I guess it's a bug.

Thanks.

[2017-03-02 11:30] learsix opened #607 "Overriden property ignored by enunciate"
Hi,

enunciate seems to ignore JsonProperties (or XmlElement) declared through an overriden getter. There is a way to bypass this problem but this requires code modifications.

In our case, we use a generic TypesList to return pagination information and a list of object:

[code]

Then we override this class to define specific type list, for instance:

[code]

For the StringList dataType, enunciate

[2017-03-02 11:45] learsix commented on #522
Hi,

I run into the same problem and found a simple solution:
- it's quite easy to modify the freemarker template of the docs module to generate an asciidoc file. The structure of this asciidoc file can be inspired by the nice structure of the existing html documentation.
- using this asciidoc file, you can generate a pdf file using the asciidoctor and asciidoctorj-pdf projects. I use maven and it

[2017-03-02 17:49] stoicflame commented on #606
Okay, I'll take a look for 2.9.

[2017-03-02 17:52] stoicflame commented on #607
Okay, I'll take a look for 2.9.

[2017-03-02 17:54] stoicflame commented on #522
@learsix, what if you just [created a gist](https://gist.github.com/) for us?

Sounds cool! Thanks!

[2017-03-02 17:57] stoicflame commented on #605
I'll have to look into it further by setting up a project and trying it out myself.

If you'd like to attach a patch (or create a branch) of the [enunciate-sample](https://github.com/stoicflame/enunciate-sample) that exposes the issue, that would help speed up the process.

[2017-03-03 05:49] rajneekanth commented on #605
Hi,

Pasting a sample code below. Thank you.

@Path("/")
public class Client {
	/**
	 *
	 * @RequestURL www.gmail.com
	 *
	 * @RequestHeader IDToken ADFS token
	 * @RequestHeader UserName Login ID of the User
	 * @RequestHeader Domain Domain of the AD on which the user is authenticated
	 * @RequestHeader orgId Organization ID of the user's Company
	 * @RequestHeader orgToken Token for validating t

[2017-03-03 23:10] learsix commented on #522
You'll find it here:
https://gist.github.com/learsix/2ae416c7bfb0b5a62b239071623c835d

This has not been heavely tested:
- This is not directly what I use. I removed some personalization that I did on the whole template.
- I don't use resourceGroups / serviceGroups : I may have missed some things here.

The macro html2asciidoc matches our Javadoc conventions, but it may not be complete.

I just pu

[2017-03-06 21:16] stoicflame commented on #400
I'm happy to report that this work has been sponsored and will be included in the 2.9 release.

At 34bb7d8, I've pushed a draft of the changes. I've still got some validation to do, but if anybody wants to try it out and post feedback, I'd be happy to take it.

[2017-03-07 21:47] learsix opened #608 "swagger.json : double quotes not escaped in json examples"
Hi,

I use the documentationExample annotation to provide examples for properties. Some are string that includes double quotes : `@documentationExample myTab["example"]`

In swagger.json the double quotes are not escaped which results in a failure when the generated swagger.json is parsed. In swagger.fmt the jsonExampleFor function does not seem to escape double quotes.

To bypass this, I can esca

[2017-03-08 14:27] selimok commented on #606
I think it was my mistake. So the problem was something different:

My enunciate.xml was like this:

[code]

All referenced models (e.g. com.domain.model.Something class) outside com.domain.**.rest.**   packages were collected and included into API docs but their Annotations & JavaDocs are not interpreted. So I can see this classes in API Docs UI but their documentations was not visible.

After ad

[2017-03-08 16:10] stoicflame commented on #606
As stated [in the FAQ](https://github.com/stoicflame/enunciate/wiki/Discovering-Source-Files#configuring-enunciate-source-files):

[2017-03-08 16:10] #606 closed

[2017-03-08 16:45] selimok commented on #606
Thanks for quick response. I understand the reason, but enunciate includes already that referenced classes into API docs, but only not interprets their annotations and javadocs. Is it normal?

[2017-03-08 17:01] stoicflame commented on #606
The annotations should always be interpreted.

In order to interpret javadocs, Enunciate needs to know which source files to try to read. It uses the algorithm described [in the FAQ](https://github.com/stoicflame/enunciate/wiki/Discovering-Source-Files) to do that. In your case, the source files for the classes in question weren't included because they weren't listed in the `include`, so Enunciate

[2017-03-08 17:06] selimok commented on #606
OK thanks for explanation. 👍

[2017-03-08 20:53] oliverfei opened #609 "including root element in json request/response examples"
Hi,

For json request/response examples, is it possible for enunciate to include the root element in the output?

For example from the sample project, the persona post request example looks like this
[code]

as opposed to this
[code]

[2017-03-09 23:30] stoicflame commented on #609
When you talk about "root element", what terminology are you using?

Are you talking about the JAXB root element? Because JAXB doesn't really deal with JSON, right? Or are you talking about a different kind of "root element"?

[2017-03-10 00:03] oliverfei commented on #609
Yes I am referring to the JAXB root element. For various reasons, we only use the "@XmlRootElement" annotation for our objects even though the api supports both JSON and XML.

Currently I'm using Freemarker to fetch the "@XmlRootElement" name (or the data type label if the name isn't available) and then add it to the request/response examples.

[2017-03-10 00:35] stoicflame commented on #609
Okay, so how do you configure Jackson to honor the `@XmlRootElement` annotation? I didn't know what was a thing.

[2017-03-10 02:42] WilliamHua2016 opened #610 "Failed at: ${choice.baseType.qname.namespaceURI}"
i use  enunciate-maven-plugin 2.6.0 (com.webcohesion.enunciate) in my SpringBoot project ,when i execute the command "mvn clean package" in terminal ,i got the error as below:
[ERROR] Failed to execute goal com.webcohesion.enunciate:enunciate-maven-plugin:2.6.0:docs (default) on project web: freemarker.core.InvalidReferenceException: The following has eva
luated to null or missing:
[ERROR] ==> cho

[2017-03-10 02:46] WilliamHua2016 commented on #610
by the way,my application can work normally.

[2017-03-10 05:12] stoicflame commented on #610
Looks like a bug. I'll look at it for 2.9, but anything you can provide to help me reproduce it would be helpful.

[2017-03-10 10:22] rajneekanth commented on #605
hi, any update on this ? Thanks

[2017-03-10 13:51] oliverfei commented on #609
The ObjectMapper is configured with `SerializationFeature.WRAP_ROOT_VALUE` set to true.

From the Jackson docs:

`public static final SerializationFeature WRAP_ROOT_VALUE`

Feature that can be enabled to make root value (usually JSON Object but can be any type) wrapped within a single property JSON object, where key as the "root name", as determined by annotation introspector (esp. for JAXB that u

[2017-03-10 15:53] patvong opened #611 "Support multiple enunciate configuration without re-scanning the code"
I'm currently using enunciate mainly to be able to use the generated `swagger.json` file that I process myself to create the HTML document for my APIs.
Using the maven plugin, I have multiple executions:
[code]
I was wondering if it would be feasible to scan the code only once in order to produce different `swagger.json` file?
Currently it can take 10s to scan the code and I have more than 30 diff

[2017-03-10 15:58] stoicflame commented on #609
Okay.

I'll turn this issue into an enhancement request, then.

[2017-03-10 16:01] stoicflame commented on #611
The problem is that the scanning is also configured via `enunciate.xml`, so there's currently no way to do this.

Sorry!

[2017-03-10 16:02] stoicflame commented on #611
Actually, instead of closing this, I'll turn this into an enhancement request seeking a sponsor.

[2017-03-10 16:23] patvong commented on #611
What would be the best way to approach this in order to make Enunciate support this use case?

[2017-03-10 19:15] stoicflame commented on #611
It would be a pretty significant shift in the architecture. We'd have to split the scanning and compilation away from the generating engine. We'd probably need two separate configuration files, one for the scanning/compilation and another for the generating engine. We'd have to figure out how to iterate over multiple generation steps.

The work would mostly be done in `Enunciate.java`.

Instead th

[2017-03-17 13:27] jskovjyskebankdk commented on #570
I had not noticed the 2.8.1 release. If I read the release contents correctly, this fix should be included, right?

Unfortunately I still see the problem (or one similar).

[code]

This is on a box with Danish locale.

[2017-03-18 22:25] stoicflame commented on #570
That's weird.

@vguna, does 2.8.1 still work for you?

[2017-03-19 17:15] vguna commented on #570
Just tried 2.8.1 and the build went through without any errors. My machine is Windows7, german locale. I didn't know that there was a fix release. Thanks Ryan!

[2017-03-20 11:06] twothe opened #612 "Using LocalDate does not result in an appropriate description"
In my (Spring Boot REST) API using Enunicate 2.8.1 on Java 8 I have a parameter (Java 8 LocalDate) annotated as follows:

    @RequestParam(name = "startDate", required = true) @DateTimeFormat(iso = ISO.DATE)
    final LocalDate dateStart

In the resulting documentation is only mentioned that this paremeter exists, but not the constraints nor that ISO-date is used:

    startDate 	query 	(descript

[2017-03-20 14:56] jskovjyskebankdk commented on #570
Hm, maybe it is because I tried to substitute the 2.8.0 jars with 2.8.1 manually.

@stoicflame could you make a 2.8.1 release of the gradle plugin, please? Maybe the plugin was actually using 2.8.0 even though I had 2.8.1 jars on the classpath.

[2017-03-20 16:07] stoicflame commented on #570
Done.

[2017-03-21 06:04] jskovjyskebankdk commented on #570
Hm, certainly a different behavior. Now applying the plugin alone causes problems.
I am unsure why, and do not have time to dig into it right now.
It works for vguna, so I trust it is just something local that breaks things for me.

I will revisit it in a while and let you know (in another issue) if it still causes problems for me.
Cheers!

[2017-03-22 11:12] learsix opened #613 "documentationExample javadoc tag & XmlAttribute"
Hi,

Declaring an example with documentationExample javadoc tag does not work when the property is declared with XmlAttribute.

However it does work with the java annotation.

[2017-03-22 17:16] dylanjsa opened #614 "AMF Support"
Hi stoicflame,

First and foremost, thanks for the library!

I'm in the process of migrating and old app from Enunciate 1.x -> 2.8.1 and I'm not having any luck whatsoever.
I was using it to generate client side code for my Flex app.

I've followed the documentation here: https://github.com/stoicflame/enunciate/wiki/Module-AMF
and my enunciate.xml looks like this:
[code]

I've tried to run `gradle

[2017-03-22 17:23] stoicflame commented on #614
Yes, I'm afraid there wasn't enough demand for AMF support to justify the effort (and maintenance cost) to port it over to 2.0.

There was one other person asking about it, but I can't seem to find that thread at the moment. He ended up just taking the source files that Enunciate 1.x generated and putting them into his own source tree.

[2017-03-22 17:23] #614 closed

[2017-03-23 03:22] dylanjsa commented on #614
Thanks for the quick reply, I've updated the doc at https://github.com/stoicflame/enunciate/wiki/Module-AMF to note that it's Enunciate 1.x only - I hope you don't mind.

[2017-03-23 11:23] learsix commented on #613
Hi,

my apologies for this issue, I was wrong. I simply misspelled the javadoc tag (@documentationExample => @DocumentationExample).

You can safely ignore this.

[2017-03-23 11:23] #613 closed

[2017-03-23 14:49] lbndev opened #615 "package-info.java and @since"
Putting "@since" in thez javadoc for a class leads to "Available since:" to be displayed in this class' page.

If "@since" is put in package-info.java, it is ignored.
It would be nice if, instead, it would be applied to all classes of this package (and subpackages).

Other tags (like @http) are properly handled when placed in package-info.java (= in this case, the associated http code is properly

[2017-03-24 13:35] twothe opened #616 "Enunciate describes Currency as complex object, while JSON actually returns a String."
In my POJO that is later transformed into JSON I return a value of class Currency (the standard Java class). Enunciate describes this value as follows:

    "currency" : {
      "symbol" : "...",
      "displayName" : "...",
      "numericCode" : 12345,
      "currencyCode" : "...",
      "defaultFractionDigits" : 12345,
      "availableCurrencies" : [ { }, { } ]
    },

What Jackson actually retu

[2017-03-25 12:17] vguna commented on #485
I again stumbled across this in another project. My earlier assumption regarding that the json should look like this:

[code]

was incorrect. Actually jackson expects something like this:

`"NEW"`

instead, as you correctly pointed out already.

So would it be possible to show `"<enumvalue>"` instead of the `...` in the example?

Thanks.

[2017-03-26 12:15] cedric75005 opened #617 "JsonProperty in a Mixin create a nulll pointer exception"
Hello,

With enunciate 2.8.1, I try to create a mixin to parse HATEOAS link (javax.ws.rs.core.Link). For that, I've created the following  mixing :
[code]

When I add the two last line to have a href properties, I have a nullPointer exception (please check the stactktrace in attachment).

Regards

[stacktrace.txt](https://github.com/stoicflame/enunciate/files/870726/stacktrace.txt)

[2017-03-26 18:30] vguna opened #618 "Swagger UI broken in 2.8.1?"
Hi.

I gave 2.8.1 a testdrive and have the strange behavior, that Swagger UI seems broken. It lists the endpoints etc. without a problem. But clicking on the actual endpoint to show the request form etc. doesn't work. Just nothing happens. Using `Expand Operations` on the right works though.

Is it just me or does somebody have the same issue?

When I reload the swagger page, this is printed into

[2017-03-28 18:16] pacman1176 opened #619 "Resource level facets not honored"
I would like to be able to use `@Facet` on a JAX-RS resource to omit the resource from being generated. I'm implementing rest versioning, and while I want to continue to support existing endpoints without breaking clients, I would like to utilize facets to omit entire resources via configuration. If needed, I could also adjust the configuration to generate v1 documentation.

`com.my.project.rest.U

[2017-03-28 22:53] #615 closed

[2017-03-29 23:08] vguna commented on #570
Hm. Sorry to report this, but 2.8.1 throws the same error on my linux CI using jenkins:

[code]

My windows machine works though. weird...

[2017-03-29 23:13] stoicflame commented on #570
Probably deserves a separate issue, but I need some way to reproduce the problem.

My build environment is Linux.

[2017-03-30 13:33] #616 closed

[2017-03-30 18:59] stoicflame commented on #174
Thanks to the support of a generous sponsor, this issue has been implemented and will be included in 2.9.

[2017-03-30 18:59] #174 closed

[2017-03-30 18:59] stoicflame commented on #178
Thanks to the support of a generous sponsor, this issue has been implemented and will be included in 2.9.

[2017-03-30 18:59] #178 closed

[2017-03-30 19:00] stoicflame commented on #400
Thanks to the support of a generous sponsor, this issue has been implemented and will be included in 2.9.

[2017-03-30 19:00] #400 closed

[2017-03-30 19:07] stoicflame commented on #529
Thanks to the support of a generous sponsor, this issue has been implemented and will be included in 2.9.

See [Enunciate-Specific Annotations, `@responseExample`](https://github.com/stoicflame/enunciate/wiki/Enunciate-Specific-Annotations#responseexample-javadoc-tag). See also [`@requestExample`](https://github.com/stoicflame/enunciate/wiki/Enunciate-Specific-Annotations#requestexample-javadoc-ta

[2017-03-30 19:07] #529 closed

[2017-03-30 19:07] stoicflame commented on #561
Thanks to the support of a generous sponsor, this issue has been implemented and will be included in 2.9.

[2017-03-30 19:07] #561 closed

[2017-03-30 19:08] stoicflame commented on #567
Still haven't heard back about the status of this issue. I will close it for now and re-open as needed.

[2017-03-30 19:08] #567 closed

[2017-03-30 19:20] stoicflame commented on #572
Sorry it took so long to respond.

The problem is the confusion that results in having multiple `application` elements in the Enunciate config. The application "root" is a global configuration item, defining where the entire application (war) will be hosted. The JAX-RS (and Spring-Web) application "path" is specific to the JAX-RS application and that element needs to be nested under the `jaxrs` co

[2017-03-30 19:20] #572 closed

[2017-03-30 20:04] stoicflame commented on #578
https://github.com/stoicflame/enunciate/wiki/Annotation-Visibility

[2017-03-30 20:04] #578 closed

[2017-03-30 20:32] stoicflame commented on #579
Fixed in 2.9.

[2017-03-30 20:32] #579 closed

[2017-03-30 20:34] stoicflame commented on #580
Fixed in 2.9

[2017-03-30 20:34] #580 closed

[2017-03-30 20:34] stoicflame commented on #581
Fixed in 2.9

[2017-03-30 20:34] #581 closed

[2017-03-30 20:34] stoicflame commented on #582
Fixed in 2.9.

[2017-03-30 20:34] #582 closed

[2017-03-30 21:57] stoicflame commented on #594
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2017-03-30 22:16] stoicflame commented on #596
`javaElement` property will be exposed in 2.9.

[2017-03-30 23:05] #485 closed

[2017-03-30 23:05] #574 closed

[2017-03-30 23:05] #584 closed

[2017-03-30 23:05] #586 closed

[2017-03-30 23:05] #589 closed

[2017-03-30 23:05] #591 closed

[2017-03-30 23:05] #592 closed

[2017-03-30 23:05] #595 closed

[2017-03-30 23:05] #596 closed

[2017-03-30 23:05] #597 closed

[2017-03-30 23:05] #598 closed

[2017-03-30 23:05] #599 closed

[2017-03-30 23:07] stoicflame commented on #600
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2017-03-31 08:08] vguna commented on #570
Interesting :). I'll try to look into it today...

[2017-03-31 09:48] pstryq opened #622 "Introducing subgroups into resource grouping"
Hey,

I noticed that it is unlikely to create subgroups within grouped resources, i.e. it would be nice to have the following structure:

- RESOURCE_GROUP1
    - RESOURCE_LABEL1.1
        - path1.1.1
        - path1.1.2
        - ...
    - RESOURCE_LABEL1.2
        - path1.2.1
        - path1.2.2
        - ...
- RESOURCE_GROUP2
    - RESOURCE_LABEL2.1
        - path2.1.1
        - path2.1.2

[2017-03-31 14:51] stoicflame commented on #602
As of 2.9:

[code]

[2017-03-31 16:15] stoicflame commented on #605
Here's the screenshot of the method provided above:

![screenshot](https://cloud.githubusercontent.com/assets/145838/24559143/d7897c7e-15fa-11e7-9d2b-74ec7b1d8665.png)

Here are the notes:

### `@RequestURL`

No idea what this is. Enunciate doesn't support this annotation and I can't find any information about what it's supposed to do.

### `@RequestHeader`

Working as designed. See the screenshot

[2017-03-31 16:15] #605 closed

[2017-03-31 17:36] stoicflame commented on #609
With 2.9:

[code]

[2017-03-31 18:38] vguna commented on #570
Hm. Funny thing is: on my linux machine there is LANG=en_US.UTF-8 set. The build breaks with it. If I simply set it to de_DE.UTF-8 the build works.

Did you make it work for only non-US environments now ;)?

locale -a returns:

[code]

So it has something todo with the locale. Anything else you want me to check?

[2017-03-31 20:40] #601 closed

[2017-03-31 20:40] #602 closed

[2017-03-31 20:40] #607 closed

[2017-03-31 20:40] #608 closed

[2017-03-31 20:40] #609 closed

[2017-03-31 20:40] #610 closed

[2017-03-31 20:40] #612 closed

[2017-03-31 20:40] #617 closed

[2017-03-31 20:40] #618 closed

[2017-03-31 20:42] #619 closed

[2017-03-31 20:46] stoicflame commented on #570
I'm afraid I still just can't reproduce the issue. :-(

For me, the number gets correctly generated no matter what locale I use.

It smells like something with your environment. Are you certain you're not picking up version 2.8.0 somehow? If you build 2.9.0-SNAPSHOT, can you reproduce the problem?

[2017-03-31 21:07] pacman1176 commented on #619
Thank you sir. Looks great.

[2017-04-01 12:14] vguna commented on #570
Did some further testing. I double checked that I have no 2.8.0 lying around. Checked .m2 folder, and made sure, that only 2.8.1 exists there.

Then I also started a fresh virtual box with Ubuntu 16.04 on it and built enunciate 2.9.0-SNAPSHOT from master as described (not exactly, since some packages named differently now) with openjdk 7.

Then, I moved my sources there and switched enunciate vers

[2017-04-01 12:54] vguna commented on #570
Hm. Digged deeper. I took a look at your fix for this at:

https://github.com/stoicflame/enunciate/commit/792a4d77b28f60e228dbcffb3811822ffc8609b1

I also spotted two additional places, where I guess the fix should be applied. Once for parameter and for header constraints. Your fix only was applied to properties.

Funny thing is: re-compiled enunciate with the additional fixes now works with my bu

[2017-04-04 16:30] stoicflame commented on #622
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2017-04-04 17:04] stoicflame commented on #583
That's correct.

The original idea was to match Ant-style expectations where there's a "default" set of includes (the local api elements), but if includes are explicit, it overrides the default. The `EnunciateReflectionsScanner` is just using the includes/excludes to determine how to set the sourcepath for the compiler, so it doesn't really have a "default" includes and it can afford to be inclusi

[2017-04-04 17:04] #583 closed

[2017-04-06 15:55] masm22 opened #624 "Freemarker Exception on processing of a data type"
I am running Enunciate 2.8.1. Get this exception during build of enunciate gradle task.

[code]

The only interesting thing about a class that is last in list of generated HTMLs is that it has a reference to the same class:

[code]
But it's base class is polymorhic:

[code]

Config:

[code]

[2017-04-06 16:10] masm22 commented on #624
Looks like this has something to do with jackson module.

Disabling jackson and enabling jackson1 fixes the build.

This succeeds:
[code]

But the type `ArrayInputParameterDeclaration` is missing in the output.

[2017-04-06 16:28] masm22 opened #625 "Support JavaDoc @link tag"
A standard approach when documenting getters and setters is to document the fiels with a JavaDoc and then propagate the value using JavaDoc's @link tag: `{@link Class#field}`. This allows to avoid copy/paste operations which improves the process of maintaining the documentation. It would be nice to have enunciate automatically replace the links on getters with original comments taken from backing

[2017-04-06 18:55] stoicflame commented on #624
I'm going to need the full stack trace that includes the cause of the exception before I can debug it.

[2017-04-06 18:57] stoicflame commented on #625
Duplicate of #174 .

[2017-04-06 18:57] #625 closed

[2017-04-07 11:23] masm22 commented on #624
[code]

[2017-04-07 16:33] #624 closed

[2017-04-07 17:11] stoicflame commented on #570
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

If you see any problems with this release, please open up new issues.

[2017-04-07 17:14] stoicflame commented on #575
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:14] stoicflame commented on #519
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:14] stoicflame commented on #585
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:14] stoicflame commented on #588
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:15] stoicflame commented on #590
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:15] stoicflame commented on #604
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:16] stoicflame commented on #615
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:16] stoicflame commented on #616
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:16] stoicflame commented on #174
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:16] stoicflame commented on #178
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:17] stoicflame commented on #400
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:17] stoicflame commented on #529
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:17] stoicflame commented on #561
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:17] stoicflame commented on #579
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:18] stoicflame commented on #580
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:18] stoicflame commented on #581
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:18] stoicflame commented on #582
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:19] stoicflame commented on #574
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[code]

[2017-04-07 17:20] stoicflame commented on #584
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:20] stoicflame commented on #485
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:20] stoicflame commented on #596
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:20] stoicflame commented on #597
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:20] stoicflame commented on #586
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:20] stoicflame commented on #599
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:20] stoicflame commented on #595
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:21] stoicflame commented on #591
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:21] stoicflame commented on #592
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:21] stoicflame commented on #589
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:21] stoicflame commented on #618
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:21] stoicflame commented on #601
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:22] stoicflame commented on #602
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:22] stoicflame commented on #609
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:22] stoicflame commented on #612
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:22] stoicflame commented on #617
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:22] stoicflame commented on #608
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:22] stoicflame commented on #607
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:22] stoicflame commented on #610
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:22] stoicflame commented on #619
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-07 17:23] stoicflame commented on #624
[Enunciate 2.9.0 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.9.0)

[2017-04-10 09:20] xkacer opened #626 "Support "type replacement" in Jackson module"
Some classes may have custom JSON handling, including registered special serializers and/or deserializers. It is generally not possible to understand how they work and what JSON they produce/consume. As a result, when such custom handling is in effect, the documentation generated by Enunciate does not correspond with reality.

A relatively easy and (imho) elegant solution would be to introduce gen

[2017-04-10 09:53] xkacer opened #627 "Allow to configure Jackson ObjectMapper defaults"
Enunciate does a great job following various JSON annotations and trying to mimic JSON parser/generator behavior as closely as possible. However, annotations are not the only way to affect processing in Jackson. Many features may be configured via `ObjectMapper` and such configuration is then invisible to Enunciate.

Typically, for all the features, there is some default that may be changed in `Ob

[2017-04-10 09:53] xkacer commented on #191
Sorry it took me some time to get back to it.
New issue created as #627.

[2017-04-10 15:53] fpotera opened #628 "Wrong generation of "consumes" and "produces" fields of swagger.json file"
Using enunciate 2.9.0 version I get the following fields in swagger.json for all rest services:

        "consumes" : [ "com.webcohesion.enunciate.modules.jaxrs.api.impl.MediaTypeDescriptorImpl@54bb6cee", "com.webcohesion.enunciate.modules.jaxrs.api.impl.MediaTypeDescriptorImpl@7cad6681" ],
        "produces" : [ "com.webcohesion.enunciate.modules.jaxrs.api.impl.MediaTypeDescriptorImpl@67859020" ]

[2017-04-10 16:36] stoicflame commented on #628
Huh. That is really baffling.

I'm afraid I don't see what you're reporting, and I have no idea how that's even possible. A run of all the [examples](https://github.com/stoicflame/enunciate/tree/master/examples) and the [getting started sample](https://github.com/stoicflame/enunciate-sample) doesn't reveal the issue.

Can you shed any light on what you might be doing differently?

[2017-04-10 17:20] stoicflame commented on #626
I believe you can use support for mixins as provided at #472 for this.

Let me know if that falls short and we can re-open this with more refined requirements.

[2017-04-10 17:20] #626 closed

[2017-04-10 17:23] stoicflame commented on #627
Sure, we can add a configuration option for setting default accessor visibility. And you're welcome to put together a pull request if you'd like to do the work yourself.

[2017-04-10 19:08] xkacer commented on #626
Well, originally I did not think using mixins could help, as mixins add annotations to existing properties, while I want to replace the whole type. However, after implementing #490, it seems that similar functionality can be achieved by using mixin to add a new method with `@JsonValue`, which basically does what I want.

This approach has some limitations but it's worth examining. I may come back

[2017-04-10 20:13] niloc132 commented on #570
Confirmed, this issue isn't fully fixed after updating to 2.9.0. Parameter `@DefaultValue("100") @QueryParam("maxcount") @Max(1000) Integer maxCount` is emitted in swagger.json as

[code]

[2017-04-10 21:11] stoicflame commented on #570
I'm sorry guys; I didn't listen close enough to @vguna to let what he was trying to tell me sink in.

I think I finally fixed this at 0e2e59b, and cut a patch release 2.9.1 that you can use.

[2017-04-10 21:29] niloc132 commented on #570
Looking good from here, thanks for the quick response! Releases take time, we're glad 2.9.0 shipped when it was ready, and equally glad that you had the time to look into this so soon after shipping a new version.

[2017-04-11 08:51] xkacer opened #629 "Support for reusing repeating documentation snippets"
We have quite a big API here and many parts of the documentation repeat in several places. A typical example are descriptions of response error codes. Currently, we preprocess source codes before passing them to Enunciate, which allows us to expand some kind of "macros" to longer text defined in one place. However, it would be nice to get rid of this preprocessing and let Enunciate do the job.

It

[2017-04-11 08:56] xkacer commented on #626
Ok, I tried using mixins combined with the `@JsonValue` annotation. Although I think mixins are not intended for such purpose, it is possible to achieve the desired effect.

There is at least one limitation, however:
Mixins do not work for "known types", such as dates, currency, etc.

I have a small patch prepared that will remove a type from `knownTypes` if it has a registered mixin. I believe it

[2017-04-11 10:26] vguna commented on #570
No problem :). Thanks for fixing this so quickly!

[2017-04-11 14:24] masm22 opened #632 "Incorrect swagger.json for List<Map<String, Object>>"
The return type in controller is `List<Map<String, Object>>`:

[code]

The resulting `swagger.json` contains unexpected `"type" : "file"` in `additionalProperties` section:

[code]

[2017-04-11 14:49] masm22 opened #633 "Is there a way to reference sourcepath from maven dependency?"
My REST API (Spring MVC project) dependes on an external maven package. All the JavaDoc for types from external package are missing. The referenced package has the .sources and .javadoc jars published within the package. The project is build with gradle (com.webcohesion.enunciate plugin is used).

I understand that this is a sourcepath issue described in  [Discovering Source Files](https://github.

[2017-04-11 18:20] stoicflame commented on #629
Seems reasonable.

You're welcome to put together a PR for me to look at if you want.

\#1 would probably an edit of `com.webcohesion.enunciate.modules.jackson.model.util.JacksonUtil#findAdapterType(javax.lang.model.element.Element, com.webcohesion.enunciate.modules.jackson.EnunciateJacksonContext)` to support `@documentationType` and an edit of `com.webcohesion.enunciate.modules.jackson.api.impl.

[2017-04-11 18:31] stoicflame commented on #633
I'm pretty sure `sourcepath` needs to list the jars; you can't just list a directory that _contains_ the jars. If you want to use a directory on the sourcepath, you have to expand the jars _into_ the directory.

As for your second question, I'm not a gradle user so I don't have much input. Maybe @jskovjyskebankdk could chime in with some input?

[2017-04-12 08:07] masm22 commented on #633
@stoicflame, thanks for the hint. Specifying jar with sources explicitly extracts the comments out of referenced package. Thus, question 1 is resolved. Interesting observation: specifying the jar with javadoc is not sufficient, it has to be precisely sources.

[2017-04-12 08:34] chen8002014 opened #635 "Exception creation compile error"
I am creating an exception using code below. But compile error "constructor Exception in class Exception cannot be applied to given types;)" in java-xml-client.

[code]

java.lang.Exception should support constructor with String parameter. The root cause is that Enunciate rewrite java.lang.Exception which does not support Exception with String parameters.
java.lang.Exception class need to be modif

[2017-04-12 11:23] masm22 commented on #633
Question 2 was resolved this way (in case someone else needs this):

[code]

[2017-04-12 12:29] #633 closed

[2017-04-12 12:31] stoicflame commented on #635
You're probably using exceptions as a data type somewhere in your API. Perhaps there's some kind of getter method that returns an exception from one of your data types?

[2017-04-12 16:31] Ga2nibal opened #636 "generated documentation data type didn't include JsonTypeInfo property"
I am running Enunciate 2.9.0.

base class is polymorhic:
[code]

Example contain $type property
[code]

but json_InputParameterDeclaration data type doesn't  have

[code]

may be ut related to https://github.com/stoicflame/enunciate/issues/419

[2017-04-13 01:14] chen8002014 commented on #635
Yes. You are right. Hopefully, it will be fixed soon. Currently, I am using a work around to put java.lang.Exception file to source folder before compile. The work around works for me. Thanks for your quick response.

[2017-04-13 12:45] stoicflame commented on #635
You could also configure Enunciate to convert `java.lang.Exception` to a different client classname:

[code]

[2017-04-13 15:52] masm22 opened #637 "@returnWrapped does not work for model classes"
I have a model class where I would like to substitute the return type of a property with `@returnWrapped`. This is not working.

[code]

At the same time `@TypeHint` annotation works as expected:
[code]

[2017-04-13 17:19] stoicflame commented on #637
Yes, [`@returnWrapped` is specifically designated](http://fromage.github.io/jax-doclets/docs/0.10.0/html/#d0e538) for JAX-RS API.

Why not use the standard Jackson/JAXB annotations for specifying type?

[2017-04-13 19:26] stoicflame opened #638 "support for sliding side nav window"
The side menu gets crunched and wrapped a lot. Support a sliding-size window?

[2017-04-14 08:01] masm22 commented on #637
Let me describe my aims. I'am using (or trying to use) JavaDoc tags insead of enunciate annotations just to remove an unnecessary compile-time external dependency, since the runtime of my project does not actually depend on those annotations. All the enunciate-specific logic is performed during build phase.

The other important reason is to keep the code cleaner from specific annotations. Because

[2017-04-14 12:01] pstryq opened #639 "Error after upgrading enunciate 2.7.1 -> 2.9.1"
Hey, we tried in our project to upgrade enunciate according to the issue topic but error occurred.
Any ideas why is that happening? Same for 2.8.0 and 2.9.0.

[code]

[2017-04-14 13:28] stoicflame commented on #639
What version of spring are you using?

What version of spring-osgi are you using?

[2017-04-14 15:53] pstryq commented on #639
Spring 4.2.4. I am afraid we are not using spring-osgi. I tried to add some dependency for spring-osgi but that led to some compilation errors within our code which should not happen of course.

[2017-04-14 16:24] stoicflame commented on #639
I just don't think I have enough information to know how to address the issue. It seems like there's some reference (perhaps transitive?) to `BundleContextAware` that needs to be resolved.

Can you provide any suggestions about how to reproduce the error?

[2017-04-17 10:54] chen8002014 opened #640 "Document for data type json not created"
I am using ant task to generate document. XML data type and resources are generated successfully. However, JSON data type is not generated. Is it a bug or my settings is wrong?
Ant task to generate document:

[code]

Java class for data type:

[code]

Java class for request handling:

[code]

I assume that if XmlRootElement is added to data type class, both XML data type and JSON data type should

[2017-04-17 16:13] stoicflame commented on #640
JSON is supported by the `jackson` or `jackson1` modules. If Enunciate doesn't detect Jackson on your classpath, those modules won't activate automatically and JSON data types won't be included.

You can also "force-enable" the module via config:

[code]

[2017-04-17 16:13] #640 closed

[2017-04-18 06:28] chen8002014 commented on #640
Hi stoicflame,
Thanks for your support. I successfully created JSON using config below:
<enunciate">
  <api-classes>
    <include pattern="..."/>
  </api-classes>
  <modules>
    <jackson disabled="false"/>
    <jackson1 disabled="true"/>
  </modules>
</enunciate>

[2017-04-19 05:22] sumanrajagopal opened #641 "Mandatory and Optional query parameters"
I have used @NotNull in POJO classes to mark the attributes required or not. It is working. But, when I used @NotNull for query parameters in REST API, it is not considered while documenting and does not reflect in Swagger UI.

I use Enunciate 2.9.1 with the configuration as below

[code]

[2017-04-19 06:17] chen8002014 opened #642 "Resources description error"
I have a resource handling class which contains several rest interfaces. I have the following settings to sort resource items by path in index.html. When I am using ANT EnunciateTask to create document, I am facing the problem that all descriptions for resources in index.html are using description from that resource handling class(parent), not from each interface (child).
Resource handling class:

[2017-04-19 08:11] fpotera opened #643 "Wrong generation of examples in descriptions after upgrade from 2.6 to 2.9"
After upgrade, examples between  pre /pre tags, doesn't render right.

Example:

[code]

This can be seen as:

![capture](https://cloud.githubusercontent.com/assets/6479568/25169689/9e4033cc-24f0-11e7-9632-c19ba4df721d.PNG)

[2017-04-19 15:35] stoicflame commented on #643
I think this is an issue with updated to Swagger UI.

See swagger-api/swagger-ui#830 and #574.

[2017-04-19 15:35] #643 closed

[2017-04-20 09:27] pstryq commented on #639
I think I have already checked all the subprojects and it seems that there is no trace of reference to spring-osgi (or anything similar).

[2017-04-20 16:09] stoicflame commented on #639
Isn't the error about something referencing `BundleContextAware` and not finding spring-osgi on the classpath? Wouldn't you want to include spring-osgi?

You may want to try verbose logging (e.g. `mvn -X`) to find out what's being added and where it's being added.

[2017-04-20 21:59] PeterMarton opened #644 "njection"

[2017-04-20 21:59] #644 closed

[2017-04-24 12:05] pstryq opened #646 "Hide body param for multipart request"
Hi,

is there any way to hide 'body' param within Swagger documentation?
Suppose I want to expose API method which consumes multipart form. I want to upload file along with other params therefore all of those are annotated with @FormDataParam. As a result of performed enunciate task, I get docs saying that my method accepts mentioned params along with 'body' param.

[2017-04-24 17:13] stoicflame commented on #646
There's not an easy way to do that today, no. I'll add something for 2.10

[2017-04-26 14:53] bbarman4u opened #650 "Request/Question - Can the enunciate library be available as a single fat executable jar ?"
Request/Question - Can the enunciate library be available as a single fat executable jar ? Right now there are 56 libraries that are in the lib folder and the entire lib folder and its jars has to be added as a compile time dependency to the project instead of a single jar ?

[2017-04-26 20:06] stoicflame commented on #650
Are you using Ant to build? Does [Ivy](http://ant.apache.org/ivy/) or something like it not work for your use case?

[2017-04-27 12:55] bbarman4u commented on #650
Yes we are using Ant to build right now, but we want to move towards Maven. What I wanted to confirm is that if we move to Maven, will just pointing to Maven Central as my remote repository to pull the Enunciate libraries work or do I have to add any of these files to my local hosted Nexus repository for resolution?

[2017-04-27 16:47] stoicflame commented on #650
Everything is in Maven Central.

[2017-04-27 16:47] #650 closed

[2017-04-28 17:27] oliverfei commented on #609
Hey,

Thanks for adding the feature in!
Would it be possible to also include the wrapped value in the generated client library objects?

[2017-04-28 17:50] stoicflame commented on #609
Probably. Go ahead an open up another issue.

[2017-04-28 21:54] oliverfei opened #651 "include root values with client libraries when wrapRootValue config option is set to true"

[2017-05-02 15:01] spidersouleater commented on #628
I have the same issue. The bug seems to appear with the version 2.7.0

[2017-05-02 16:02] stoicflame commented on #628
The only explanation I have is that you're using an old/outdated version of the `swagger.fmt` template file that Enunciate uses.

Do you have some kind of custom swagger generation template? When you scan your classpath for `swagger.fmt`, what do you find?

[2017-05-02 19:35] spidersouleater commented on #628
Yes, i have customized my swagger.fmt (Swagger UI) and i m using an old/outdated version. I will try it with the new version and report the result the next day.

[2017-05-03 01:36] Mykro opened #652 "Alternative format (at most 1 underscore) for generated operationId"
There's a prominent bug ("feature") in Visual Studio 2017's Rest Client Code Generator which uses a swagger.json as input.  It can parse values with one but not two or more underscore symbols.   Likelihood of it being fixed before Visual Studio 2019 is low.

The Swagger spec itself gives examples such as: "operationId": "getPetsById", and other Swagger-based frameworks such as Swashbuckle use a si

[2017-05-03 03:24] Mykro commented on #652
More information.  The Visual Studio generator is based on Autorest, which still in the latest version is describing the one-underscore limit as a "Noun_Verb" convention rather than considering it to be a bug.

[code]

[2017-05-03 06:54] fpotera commented on #628
I also use the old, customized swagger.fmt file.

[2017-05-03 07:30] spidersouleater commented on #628
When i m using not a specified freemarkerProcessingTemplate (swagger.fmt) the problem is solved.

With the freemarkerProcessingTemplate from [link](https://github.com/stoicflame/enunciate/blob/master/swagger/src/main/resources/com/webcohesion/enunciate/modules/swagger/swagger.fmt) i get the following error. I havn’t customized this file.

[code]

I have used this option in the enunciate.xml:

`<mo

[2017-05-03 15:42] stoicflame commented on #628
Okay, I'll have to look closer to figure out why that happens.

[2017-05-04 08:01] sdcuike opened #653 "Support @JsonValue on enums, @JsonProperty on enum values"

[2017-05-04 15:19] stoicflame commented on #653
Yes, it can.

[2017-05-05 01:15] sdcuike commented on #653
But，in interface ，it don't works。like：

public interface IEnumValueType {
    @JsonValue
    int getValue();

    public static <T extends IEnumValueType> T of(Class<T> type, int value) {
        T[] constants = type.getEnumConstants();
        for (T t : constants) {
            if (t.getValue() == value) {
                return t;
            }
        }

        return null;
    }
}

[code]

r

[2017-05-05 01:22] sdcuike commented on #653
[code]

don't works

[2017-05-05 01:25] sdcuike commented on #653
CompanyType Data Type

Created by beaver on 2017/4/19.

Values
value	description
A	1, "类型1"
B	2, "类型2"

[2017-05-05 09:44] jskovjyskebankdk opened #654 "JAXB drops collection type information for field"
We have code like this:

[code]

Which gets output in swagger form as:

[code]

This lacks the information about the List.

I think it should look like this instead:

[code]

I have been looking in the JAXB ComplexDataTypeImpl/PropertyImpl code, but as far as I can tell, the information about the field's list nature is already lost.
The type information available in those classes looks like it is

[2017-05-05 16:50] stoicflame commented on #654
XML doesn't have a notion of a "list" or "array" like JSON does, so the abstraction hides the underlying implementation.

We'll have to figure out how to surface up that information so the swagger processing can expose it as such.

[2017-05-07 08:51] sdcuike commented on #653
thank you

[2017-05-07 20:43] MosheElisha opened #655 "Name property of JsonTypeInfo is not resolved correctly"
Hi,

I have the following super class:

[code]

and a subclass for example:

[code]

The example generated for the `TerminateOperation Data Type` is:

[code]

I would like Enunciate to understand from the `JsonSubTypes` annotation that the sub type `TerminateOperation` is created with `operationType=TERMINATE` and use that value in the example.

[2017-05-08 05:12] jskovjyskebankdk commented on #654
Interesting.
An XSD schema can define that a valid XML document should contain a list. But it is implemented in the XML as any old repetition of elements, that may (or may not) be a list.

Not sure how to progress with this myself. But I will try to look closer at the JXB code if I get time.
I am working on a few other patches that are more important.

[2017-05-17 05:23] samion opened #657 "Error when generating csharp xml client"
I am getting the following error when trying to generate csharp xml client (Enunciate version 2.9.1).

[code]

[2017-05-17 13:21] stoicflame commented on #657
Thanks, I'll take a look. For now, I assume you can just disable the `csharp` module?

[2017-05-17 20:34] tpredey commented on #315
I think this issue is still unresolved as of 2.9.1. I am attempting to use an actual date as the example. Here's a sample of what I am attempting to do:
[code]
The enunciate build fails in this case, with this error:
[code]
which suggests that the parser is ignoring the @TypeHint and attempting to parse this date as a number.

Additionally, even when I try to simply give it a date format,
[code]
t

[2017-05-17 21:29] stoicflame commented on #315
I'll reopen and take a look.

[2017-05-18 05:43] samion commented on #657
Yes, I have the csharp module disabled for now.

[2017-05-18 06:04] chen8002014 opened #658 "Exclude files not work"
I am using the config below to exclude rest interfaces. However, the excluded APIs are still shown in document.
[code]
If I put it in ant configuration, it works.
[code]

[2017-05-18 09:14] chen8002014 opened #659 "How to exclude model files"
I am using ant task to generate document. How does enunciate detect models such as xml or json? How to exclude model classes?
I find that document for some models are generated not from "basedir" in ant task. They are from "classpath" defined in ant task. The "classpath" I specified is used to build the project. The "classpath" includes many classes that I do not want to add to document. I want to

[2017-05-18 14:26] stoicflame commented on #658
I'll take a closer look for 2.10.

If you can send me a sample project or a patch for the [enunciate-sample](https://github.com/stoicflame/enunciate-sample) that illustrates the problem, that would expedite things significantly.

[2017-05-18 14:27] stoicflame commented on #659
https://github.com/stoicflame/enunciate/wiki/Excluding-Including-Classes

[2017-05-18 14:27] #659 closed

[2017-05-18 15:38] tpredey opened #660 "@requestExample tag support for Swagger"
I am trying to populate the Swagger interactive request example JSON with a realistic simulation. I see that the @requestExample and @responseExample JavaDoc tags are new in version 2.9.1, so I am wondering if I am just doing something incorrectly or if the Swagger support is not out yet.

[2017-05-18 18:37] stoicflame commented on #660
Those should work. What does your code look like?

[2017-05-18 23:11] chen8002014 commented on #659
Thank you so much. I forget to read one line for configuration: "However, if an excluded class is explicitly referenced by an included class, Enunciate will automatically include it (regardless of configuration) in order to avoid broken references." After modifying configuration with this rule, every thing works.

[2017-05-18 23:32] chen8002014 commented on #658
Both ant task and configuration work if I follow rule for "However, if an excluded class is explicitly referenced by an included class, Enunciate will automatically include it (regardless of configuration) in order to avoid broken references." Thank you for your help.

[2017-05-18 23:32] #658 closed

[2017-05-19 08:16] Amaury-Courjault opened #661 "@requestExample and @responseExample does not seem to work with spring"
Hi,
I am trying to generate my custom request/response examples (with the new 2.9.1 version) for my spring project and annotation does not seem to be applied to the documentation example section of the request.
Here are the configuration files I am using :

My rest controller :
[code]

My enunciate.xml :
[code]

Generated doc result :
![enunciate](https://cloud.githubusercontent.com/assets/5901407

[2017-05-19 21:49] #661 closed

[2017-05-19 21:50] stoicflame commented on #661
Bug confirmed. Fixed at d74bc76.

[2017-05-22 08:41] chen8002014 opened #662 "Link error when compiling whole project using ant"
Very strange. When I compile enunciate separately using ant task, it can generate document successfully. However, when I am compiling whole project using ant, I get the following error. Is there any limitation for enunciate?
\build.xml:148: java.lang.RuntimeException: java.lang.Linkage
Error: loader constraint violation: loader (instance of org/apache/tools/ant/AntClassLoader) previou
sly initiate

[2017-05-22 08:46] #662 closed

[2017-05-29 11:33] volongithub opened #663 "JavaDoc description blocks @documentationExample"
Hi,

first of all, thank you for the work you put into enunciate providing a great tool.

We switched from 2.8.0 to 2.9.1 and I recognized, that the `@documentationExample` java doc "enhancement" does no longer work, if there is some java doc description.
Heres an example of a Domain Object with Java Doc and the `@documentationExample`

[code]
In the generated Documentation the example is missing:

[2017-05-29 15:05] nomisvai opened #664 "Swagger tag grouping support"
When generating the swagger.json file, is it possible to group rest resources using the swagger tags? Currently the behavoir seems to be that one tag is created per resource using the resource name as the tag.

Could the ResourceGroup annotation be supproted for swagger? Or another type of specific swagger annotation?

[2017-05-31 06:59] tbfky opened #665 "Issue with enunciate-jackson in 2.9.1: null:-1:-1 error: cannot access org.springframework.hateoas.ResourceSupport"
Same error when using 2.8.1 but works with 2.7.0.

The reason for upgrading is to get support for springs composed annotations such as org.springframework.web.bind.annotation.GetMapping.

[code]

[code]

[2017-06-02 06:08] chen8002014 opened #666 "Description in ResourceGroup should be able to specify"
I am using @ResourceGroup annotation in API handling class and use the following configuration:
[code]
My problem is that in document, the description of that ResourceGroup is the description of the API handling class. If several API handling classes use same ResourceGroup, the description is got from one of these classes. This is not correct. Each ResourceGroup should have a description and it sh

[2017-06-04 06:10] juergenzimmermann opened #667 "[Java 9] NoClassDefFoundError: javax/jws/WebService"
I tried `SET JDK_JAVA_OPTIONS=--permit-illegal-access --add-modules java.xml.bind,java.xml.ws` and also `SET JDK_JAVA_OPTIONS=--permit-illegal-access --add-modules java.se.ee` but I get the following stacktrace for `gradle enunciate`:

[code]

[2017-06-08 01:35] chen8002014 opened #668 "Repeated Accept headers in document"
If I use the code below to generate document, 2 "Accept" headers will be shown in Request example in document.
The root cause of this is that when using @HeaderParam annotation, a new header will be added in Request example and a default Accept header will be added all the time.
Enunciate should not add repeated headers to Request example in document.
[code]

[2017-06-09 07:42] sbrattla opened #669 "Is there a way to entirely remove JSON from the generated documentation?"
I'm working on an API which supports XML only. That is, it accepts and returns XML.

The generated API documentation comes with both JSON and XML examples. Is there a way to entirely disable JSON, so that all examples are XML only and all mentions of JSON goes away?

[2017-06-13 07:57] sdcuike opened #670 "swagger model support oauth2？"
How can I enable  oauth2

[2017-06-15 13:47] abstratt opened #671 "where did the XSLT support go?"
I was looking into upgrading our API documentation artifact from Enunciate 1.21 (I know, I know...) to Enunciate 2.x. One thing I can't figure out how to do in Enunciate 2.x is how to use a XSLT transformation. Was support for that feature actually dropped, Freemarker template being the only way now?

[2017-06-15 16:07] psin102 opened #672 "Javadoc Tags and Swagger Annotation"
Hi All,

I have been using enunciate and so far it has worked very well.

I wanted to enhance my documentation by adding some enunciate annotations and the Javadoc tags mentioned on the enunciate wiki page.

So, I added the enunciate-core-annotations as compile time dependency.  Enunciate version 2.9.1.
I added jax-doclets jar compile time dependency so I can leverage some of the Javadoc Tags.

Co

[2017-06-16 10:26] qmunke opened #673 "Generate securityDefinitions/security sections in swagger.json"
Similar to #468 - would be great if the generated swagger.json file could include the authentication sections (see http://swagger.io/docs/specification/authentication/)

I would envision this would need to be configured via the enunciate.xml and then maybe pick up on the presence of specified annotations (similar to the way custom styles are applied)

[2017-06-16 12:39] nbartels opened #674 "support for responseExample/requestExample on custom data types"
I added enunciate to our project and started to enhance a class with the custom Javadoc annotation. `@HTTP` worked fine and it looks overall rather good, but somehow the `@responseExample` and the `@requestExample` JavaDoc tags are ignored.

Although in the method's javadoc a line like this was added:
[code]

it evaluates to:

[code]

I changed the method signature so it returns a `Response` inste

[2017-06-19 15:52] nbartels commented on #674
I'm not 100% sure, but somehow the `JaxrsApiRegistry` returns an empty set instead of set of  `Syntax` objects. Therefore the inner for-loop in `ResponseEntityImpl#getMediaTypes` don't adds a new `MediaTypeDescriptorImpl`. So no example is added, because the `CustomMediaTypeDescriptor` that is used instead returns null on getExample.

I'll try to investigate this further ... but perhaps you can al

[2017-06-19 20:45] stoicflame commented on #663
Sounds like a bug; I'll take a look for 2.10.0

[2017-06-19 20:46] stoicflame commented on #664
I'll take a look for 2.10

[2017-06-19 20:47] stoicflame commented on #665
Looks like you pulled in a class that depends on `org.springframework.hateoas.ResourceSupport` to compile.

Try adding `spring-hateoas` jar to the classpath?

[2017-06-19 20:50] stoicflame commented on #666
You just want to be able to override the description in the annotation?

I can probably include that enhancement in 2.10.

[2017-06-19 20:56] stoicflame commented on #667
So Java 9/Jigsaw?

How do you find out what module includes `javax.jws.WebService`?

[2017-06-19 20:59] stoicflame commented on #668
I'll take a look for 2.10.

[2017-06-19 21:01] stoicflame commented on #669
Disable to JSON provider modules (jackson, jackson1):

[code]

[2017-06-19 21:01] #669 closed

[2017-06-19 21:28] stoicflame commented on #671
Yeah, it's gone. The XSLT was determined to be a superfluous step. A custom freemarker template is the only way to customize 2.x.

[2017-06-19 21:28] #671 closed

[2017-06-19 21:29] stoicflame commented on #673
See also #670.

I'll take a look for 2.10.

[2017-06-19 21:29] stoicflame commented on #670
We'll track this at #673.

[2017-06-19 21:29] #670 closed

[2017-06-19 21:48] stoicflame commented on #672
You have to make sure you specify you want grouping by annotation:

[code]

How is it supposed to work? I don't even know how to "register" javadoc annotations with the IDE... can you enlighten me?

See #433.

[2017-06-19 21:51] stoicflame commented on #674
Yeah, so the `@responseExample` doesn't get applied to custom data types.

Do you have a specific Java object that defines the JSON that is returned?

[2017-06-19 22:17] nbartels commented on #674
No. Because I return a `Response` object or an `JSONObject`, I use `Response` or `Object` as return type in the signature. But imho this is the most interesting case for a custom `@responseExample`. So, what can I do?

[2017-06-19 22:20] stoicflame commented on #674
I'll look into adding `@responseExample` support to custom data types for 2.10.

[2017-06-20 07:39] sbrattla commented on #669
Thanks for your example. Unfortunately, it has no effect on the generated documentation. I'm using version **2.9.0**. I still see JSON appearing the generated documentation.

![image](https://user-images.githubusercontent.com/1845372/27321896-58e53642-559c-11e7-8c09-321868d6c4df.png)

[2017-06-20 20:54] stoicflame commented on #669
Works for me on the [sample app](https://github.com/stoicflame/enunciate-sample) with [this diff](https://gist.github.com/stoicflame/186d5f0d00b223801b113c6d6c603af0).

Before patch:

![before](https://user-images.githubusercontent.com/145838/27355451-4c205f50-55c8-11e7-83df-2fcb1bce35fe.png)

After patch:

![after](https://user-images.githubusercontent.com/145838/27355470-58f343f0-55c8-11e7-9028-

[2017-06-21 16:15] zjedi opened #675 "allow generating swagger.json avoiding allOf syntax"
Is is possible to configure the swagger.json generator in a way that would avoid the `allOf` syntax? The client system I need to integrate with doesn't support this and I haven't found any configuration option to get around this. The closes I am is to do some post-processing using JOLT.

[2017-06-21 17:52] stoicflame commented on #675
There's no option for this, no.

What would be used instead?

[2017-06-21 21:46] zjedi commented on #675
I imagine that we could merge all the properties of the objects references via `allOf` and make it a flat, single object. It might cause some redundancy, but that's acceptable. That's what implementation from swagger.io does anyway. I'd like enunciate module to behave the same way.

[2017-06-21 21:58] stoicflame commented on #675
There's an option to `collapse-type-hierarchy` if you want. See #375 and #408.

[2017-06-21 21:58] #675 closed

[2017-06-22 08:01] zjedi commented on #675
But that's option of `<jackson` and `<jackson1`. I have those disabled since I am only interested in the swagger file. Are you saying that configuration of these influence also behaviour of the `<swagger` module?

[2017-06-22 11:00] sdcuike commented on #670
thanks

[2017-06-22 16:50] stoicflame commented on #675
Those modules are the JSON provider modules. They read your objects and describe the JSON your objects define. If you want Swagger to know how your API produces JSON, you have to enable those modules so that your JSON can be described. The `collapse-type-hierarchy` option will tell the Jackson modules to describe the JSON as if there is no type hierarchy.

[2017-06-23 16:14] FrancoisClement opened #676 "Can't define @QueryParam order"
Hi,

I can't find a way to preserve my @QueryParam sort order.

For example :

API
`
package com.realme.services;

import com.realme.entity.Annonce;
import javax.ws.rs.BeanParam;
import javax.ws.rs.GET;
import javax.ws.rs.Path;

/**
 *
 * @author francois
 */
@Path("/persons")
public class PersonService {

    @GET
    @Path("/")
    public Annonce getPersonQuery(@BeanParam PersonQuery personQuery

[2017-06-23 16:25] stoicflame commented on #676
I can understand the request, but it's more complicated that it seems.

For one thing, query parameters (by definition and implementation) are order-independent. In other words, a request for `/my/resource?one=a&two=b` is semantically equivalent to a request for `/my/resource?two=b&one=a`.

The other thing that needs to be considered is that query parameters are defined by more than just method pa

[2017-06-23 16:35] FrancoisClement commented on #676
Thanks for your Quick reply.

I agree that query parameters are order-independent. But in documentation, it would be convenient to sort parameters in a business logic for better comprehension.

I think you could have an annotation to give order (the same way you have  `@xmltype(propOrder = {"one", "two", "three", "four"})` for sorting json response.

Regards.

[2017-06-23 18:08] amberream commented on #209
I would love to see this feature too!  Currently I'm able to automate it a little bit with another tool, but it's involving a lot of manual editing unfortunately.

[2017-06-23 18:16] amberream opened #677 "Documentation isn't inherited"
I have an abstract service that is the parent of a few other services.  It contains fields that are shared with it's children, for example:

[code]
In the generated documentation for ChildService, filePath correctly shows up in the request parameters, but the description is empty.  Same case for header params.

[2017-06-23 19:01] stoicflame commented on #677
I can't reproduce the problem, because those docs show up for me.

Tell me about `AbstractService`. Is it in another jar? If so, you need to make sure it's source file is discoverable according to [Discovering Source Files](https://github.com/stoicflame/enunciate/wiki/Discovering-Source-Files).

[2017-06-23 20:05] amberream commented on #677
You're right, it was a configuration problem...
I had my abstract class in xxx.service and the child class in xxx.service.concrete and in my configuration I had xxx.service.concrete as the basedir.  When I changed the basedir to xxx.service it picks it up.
Would you consider this the correct behavior for my previous configuration?

[2017-06-23 20:09] stoicflame commented on #677
Yes, it's the best Enunciate can do given the current constraints imposed by the JDK.

[2017-06-23 20:09] #677 closed

[2017-06-23 21:59] amberream opened #678 "HTML in parameter description"
It would be nice to be able to put a link in a parameter description. i.e. My java docs are marked up like this:

@param pageAction The PageAction.  One of OCRAction, TextStampAction, ImageStampAction, NewPageAction, InsertUploadedPagesAction, and InsertAttachedPagesAction.

This shows up fine under the request parameters of the documentation, but I'd really like to link to the models. i.e. someth

[2017-06-23 22:43] dschraitle opened #679 "Client API function names changed from v2.3"
Hello,
I just upgraded from Enunciate version 2.3 to 2.9.1, and I noticed that some of my projects using the JSON client API failed to compile due to the getters and setters changing their names.

As an example, one of my getters for a field named `HARole`(the name hasn't changed) used to be: `getHARole()` in v2.3, but now it is: `getHarole()`.

I realize I jumped quite a few versions, so I scanne

[2017-06-23 23:15] dschraitle commented on #679
I narrowed it down to version 2.7 where this is introduced

[2017-06-26 17:00] stoicflame commented on #678
See #174.

[2017-06-26 17:00] #678 closed

[2017-06-26 17:08] stoicflame commented on #679
I'm afraid I can't reproduce the problem.

When I apply this diff to the [enunciate-sample](https://github.com/stoicflame/enunciate-sample), the getter/setter is `getHARole()` in both 2.3.0 and 2.9.1.

Can you adjust my diff in a way that will expose the problem for me?

[code]

[2017-06-26 17:54] dschraitle commented on #679
Seems I was setting the json field name to lowercase using `@JsonProperty` on the getter in my original class. This diff reproduces it for me.

[code]

If instead, I put `@JsonProperty(value="harole")` on the field declaration, the generated getters/setters come out as before.

[2017-06-26 22:14] stoicflame commented on #679
My best guess is that the change happened in association with cf36638cebaabe09df5b2eac18b867620622b9ab, which better aligns the property names with how Jackson was actually working.

I'll treat this as a bug for now and take a look for 2.10.

[2017-06-27 13:00] anton-johansson opened #680 "Metadata annotations, retention"
I've just started using the metadata annotations (`@Label`, etc), and they work nice! I just have one question about the design of them. I see that the `@Retention` is `RetentionPolicy.RUNTIME`. Why is this? I would personally prefer if it was `RetentionPolicy.SOURCE`, so I could exclude `enunciate-core-annotations` from my container.

I'm just curious about the reason of this choice, that's all.

[2017-06-27 14:44] anton-johansson opened #681 "external documentation example configuration"
I can use `@DocumentationExample` to provide a documentation example to a specific field. However, it would be nice if this can be done on a per-type basis. Is this possible? I couldn't find anything about it.

My use case for it is `ZonedDateTime`. Instead of showing `"..."` in the examples, I would like to always show something like `2017-06-27T15:47:55.191Z`. I wouldn't want to add this annotat

[2017-06-27 17:23] stoicflame commented on #680
I'll take a look into changing the retention policy for 2.10.

[2017-06-29 06:48] headels opened #682 "Swagger paths problem"
Hello,

I'm using Enunciate version 2.9.1 and there are some problems with generating swagger json for rests that have the same path but different method and are in different classes.
Example classes and json below. As you can see in paths there are two the same keys which is causing problems.

Example classes:
[code]
Generated json:
[code]

Best regards,
Mateusz

[2017-06-29 18:42] nhhandyman opened #683 "Missing Page or Bad Link for REST API"
The link on the upper corner of the screenshot image takes me to:
href="./EventSubscription"

which does not exist.

I have a:
json_EventSubscription.Html

I am only generating docs (export artifactId="docs") and

The modules part of my config is (I had to take the leading less-than off otherwise the text didn't show up).
	modules>
          c-xml-client disabled="true"/>
          csharp-xml-clie

[2017-06-30 18:25] M0rfic commented on #653
Hi,

Just ran into this issue myself. Could you please let me know if there is any way to work around this limitation until the fix is released?

Kind regards

[2017-07-02 14:57] stoicflame commented on #683
So where does the `/EventSubscription` resource get mounted?

You need to adjust your application path to align with where your resources are mounted.

[code]

Or something like that.

[2017-07-02 14:57] #683 closed

[2017-07-04 14:44] leonard84 opened #684 "Invalid Schema URL"
The Schema URL (https://enunciate.webcohesion.com/schemas/enunciate-2.9.1.xsd) referenced here https://github.com/stoicflame/enunciate/wiki/User-Guide is invalid.

The SSL cert used is only valid for ` www.github.com, *.github.com, github.com, *.github.io, github.io, *.githubusercontent.com, githubusercontent.com`

The non-https variant (http://enunciate.webcohesion.com/schemas/enunciate-2.9.1.xsd

[2017-07-04 15:19] leonard84 opened #685 "Using an URN as namespace or prefix = "" produces a file without name (.xsd) and invalid content"
I'm not sure if it is caused by the URN or the `prefix = ""` nervertheless it is a bug.

The generated file is missing it's filename and only has the `.xsd` extension. Furthermore the namespace identifier is invalid (`xmlns:="urn:ietf:rfc:7807"`, ` type=":problem"`) even if it configuring in enunciate.xml does not help.

[code]

Generated xsd:
[code]

The namespace was defined via `package-info.ja

[2017-07-04 17:07] leonard84 opened #686 "Provide a way to associate a media type with a type and/or response code"
Currently the media types are defined via `@Produces` and return types can be defined via `@ResponseCode` in conjunction with `@TypeHint`. However, there is no way to associate the media type with the type and response code.

My usecase is the following:

[code]

`Details` is my success response type, however in case of an error I want to return `Problem` according to https://tools.ietf.org/html/r

[2017-07-04 17:14] leonard84 commented on #680
@anton-johansson what kind of exception are you getting? Missing annotations should not cause any Exceptions unless they are explicitly used by other code. https://stackoverflow.com/questions/3567413/why-doesnt-a-missing-annotation-cause-a-classnotfoundexception-at-runtime

[2017-07-05 06:03] PeterVanDerVelde opened #687 "Allow @requestExample and @inputWrapped when there is no request body in method signature"
In our code the request is filtered to validate the JWT token that needs to be supplied. We access the token via the @Context. We would like to add information about the JWT payload to the documentation but (I guess because there is no request body in the method signature) the javadoc tags are not placed in the result.
Example:
[code]

![Example output](https://user-images.githubusercontent.com/61

[2017-07-05 06:24] anton-johansson commented on #680
Hmm, that is stange. But good to know!

I'm getting OSGi exceptions when running this in Karaf. I assume this is because `maven-bundle-plugin` sees the annotation packages and requires them as dependencies.

The exceptions I am getting is:
[code]

Part of `MANIFEST.MF` generated by `maven-bundle-plugin`:
[code]

Actually, I'm not sure if changing to `SOURCE` fixes this, it feels like an issue in t

[2017-07-05 15:04] stoicflame commented on #684
Invalid reference. 2.9.1 uses the 2.9.0 schema. Fixed by updating the wiki.

http://enunciate.webcohesion.com/schemas/enunciate-2.9.0.xsd

[2017-07-05 15:04] #684 closed

[2017-07-05 19:18] leonard84 opened #688 "Add disabledByDefault to modules tag in enunciate.xml"
Currently `enunciate.xml`s often look like this (taken from #687 ):

[code]

As you can see only 5 modules are wanted and everything else needs to be disabled. It would be nice to have the option to invert this behavior by adding `disabledByDefault`, e.g.

[code]

This reduces the amount of noise and also is future proof since only explicitly enabled modules are picked up. One thing that would rea

[2017-07-07 08:43] wvlancke opened #689 "Allow comments in json examples"
It would be nice to be able to include comments in the json examples for either @responseExample or @requestExample.

Currently an exception is thrown with the ALLOW_COMMENT directive:
Unexpected character ('/' (code 47)): maybe a (non-standard) comment? (not recognized as one since Feature 'ALLOW_COMMENTS' not enabled for parser)

[2017-07-07 10:33] Thorndike opened #690 "How to fail maven build?"
More often then not enunciate refuses to generate a report at all due to some problem with the parsed data. This is fine, usually it does not understand something and it's our fault. The problem is that our jenkins build job does not fail during the maven site build which usually leaves the missing enunciate report undetected.

Is there a way to have the maven build fail if the enunciate report co

[2017-07-07 15:24] stoicflame commented on #690
I didn't know it worked that way.

So this is in the Maven report plugin?

[2017-07-07 18:29] amberream opened #691 "JSON Data Types are missing documentation"
My java classes for JSON objects have javadocs on the class and on the fields.  For example:

[code]
The resulting Enunciate documentation doesn't display anything in the description column for each property or anything about the model as in general (I'd expect to see the javadocs for the class).

[2017-07-07 19:41] stoicflame commented on #691
What about that class makes you expect it to be in the documentation? Is it an input or output to a JAX-RS method? Is it referenced by other classes?

[2017-07-07 20:28] amberream commented on #691
The class is in the documentation under JSON as expected.  I have some objects that are used as inputs to a JAX-RS method and some are outputs to JAX-RS methods.  They all have documentation in the java code but none of them have descriptions in the Enunciate docs.

[2017-07-07 20:41] stoicflame commented on #691
I see.

Have you read through the [FAQ entry on this issue](https://github.com/stoicflame/enunciate/wiki/Discovering-Source-Files)? Are you sure the jar is on the classpath and that it's included in the `api-classes` configuration element?

[2017-07-10 05:14] Thorndike commented on #690
I don't know how it is rated internally but the output goes to the report section so in my understanding it is a report plugin. The last error I encountered with a successfull maven build but without any enunciat doc was this:
`[WARNING] [ENUNCIATE] Some source files were not found for the Java classes that define the Web service API.
12:01:59 [WARNING] [ENUNCIATE] Enunciate will be unable to find

[2017-07-10 18:27] pacman1176 opened #692 "Generated client code does not honor jackson mixins configuration"
[code]

The documentation and generated examples are correctly generated for instances of `MyModel` fields as specified in `MyModelToStringSerializer` to String as expected, but the generated clients (eg the java-json-client) do not. `MyModel` fields referenced in other models in the generated clients should be String as specified by the mixin, but they remain unchanged.

[2017-07-12 10:03] thomasletsch opened #693 "Ignore more JAX-RS Method Parameter"
I have a dropwizard application with jax-rs support.
Dropwizard has an @io.dropwizard.auth.Auth annotation for user principals. This param should not be documented as request param by enunciate. It gets populated by dropwizard auth modules and should not send by the user.

It would be great to have these parameters excluded automatically or being able to use the @Ignore annotation on Method parame

[2017-07-12 16:26] stoicflame commented on #693
Use the [`custom-system-parameter-annotation`](https://github.com/stoicflame/enunciate/wiki/Module-JAXRS#custom-system-parameter-annotation) configuration element.

[code]

[2017-07-12 16:26] #693 closed

[2017-07-14 20:51] glb opened #694 "Support for ignoring class / method based on javadoc tag"
You have great support in a bunch of places for using _either_ a javadoc tag or an annotation to control  Enunciate's behaviour.

Would you consider an `@ignore` javadoc tag to tell Enunciate to skip a class or method similar to the `@Ignore` annotation described in [Excluding Including Classes](https://github.com/stoicflame/enunciate/wiki/Excluding-Including-Classes)?

I've found `IgnoreUtils#isI

[2017-07-14 22:55] stoicflame commented on #694
Sure, we can consider that for 2.10.

[2017-07-17 17:11] #694 closed

[2017-07-19 14:36] mwalden opened #696 "@Produces with additional parameters dont show up if they have different values"
# Example
[code]

This will produce application/json and only one application/vnd.company+json;version=3.1. The other versions will not show up as an option in the drop down.

I believe this is because in JaxrsUtil.java, you are passing a map with the param as the key and the paramValue. However, it would be ideal if it were a list so you could have all three versions show up as an option.

The on

[2017-07-27 09:02] karlDallas opened #697 "WADL representation of JSON elements"
Hi!

I've run into the same problem as described in issue [Incorrect WADL representation for requests and responses](https://github.com/stoicflame/enunciate/issues/47).

Is there somekind of workaround to link the wadl-representation to the appropriate xsd element, eventhough the mediatype is JSON?

[2017-07-27 16:20] stoicflame commented on #697
What would an XSD element for a JSON data type look like?

[2017-07-28 08:35] karlDallas commented on #697
I'd gladly take the XSD elements that are being generated by the idl module as it is.
I know that the two technologies don't mix, but it would atleast be _some_ description of the transfer objetcts, rather than none.
The Jersey wadl generator for example simply uses the same representation element for both XML and JSON.

[2017-07-28 12:30] leforthomas opened #698 "Include in <api-classes> not working as (I would) expect"
I have a class which I would like to include in my exported jackson jar but it is not directly used by my API, so it is not caught at the moment of generating the doc etc... from the API.
I saw the api-classes element and the ability to specify which classes should be included or excluded, which is great. So I added my class as follows

[code]

The ProductDownloaderResource is the API class and th

[2017-07-28 16:30] stoicflame commented on #698
You could try an aggressive datatype detection strategy:

[code]

Or using the `@JsonSeeAlso` annotation on a class or resource method that _is_ getting included.

[2017-07-28 16:30] #698 closed

[2017-07-28 17:02] leforthomas commented on #698
Brilliant, the JsonSeeAlso did the trick. The aggressive attribute did a bit too much for my needs ;-)

Many thanks!

[2017-07-28 20:24] tiguchi opened #699 "StackOverflowError while processing generic endpoint class"
**Enunciate version:** 2.9.1

Hello,

I stumbled into a `java.lang.StackOverflowError` caused by Enunciate while it is trying to analyze a generic JAX-RS endpoint class in my web API project.

I could pin-point the cause in a minimal example that reproduces the bug:

https://github.com/tiguchi/EnunciateStackOverflow

See the following file:

[CollectionResource.java, line 39](https://github.com/ti

[2017-07-28 20:27] stoicflame commented on #699
Thanks for the report and the reproduction effort. I'll get it fixed for 2.10.

[2017-08-01 21:11] gillius opened #702 "Unable to attach idl artifacts with enunciate-maven-plugin"
I am upgrading a project from Enunciate 1.28 to 2.9.1.

https://github.com/stoicflame/enunciate/wiki/Artifacts states that you should be able to attach artifacts to Maven project using enunciate-maven-plugin, but I am unable to resolve artifacts from IDL module. Workaround is to use build-helper-maven-plugin to attach the artifacts generated.

[code]

Result:
[code]

Here is relevant parts of enun

[2017-08-01 21:51] pacman1176 commented on #686
To add to your idea, supporting the javadoc `@throws` parameter would be a great way to handle this. Instead of adding the annotations on every endpoint which will likely be very common to one another, you would add these on a `@Provider` class that implements `javax.ws.rs.ext.ExceptionMapper<T extends Throwable>` which enunciate could search for.

If you add a `@throws NotFoundException optional

[2017-08-02 17:51] pacman1176 opened #703 "@link doesn't generate hyperlinks when added in certain locations"
[code]

[code]

[code]

I'm not entirely sure that `{@link}` is valid on `@param` or `@return` tags as far as javadoc is concerned, but should be valid on the package-info.java.

Support for `{@link}` was a great addition which greatly improved the maintainability of my project's documentation.

[2017-08-07 13:46] Clemence-dlt opened #704 "Docs not reflecting cardinality of service's operations' parameters"
It is the same issue as #390 but for operations' parameters.

We are using the Docs module to generate the documentation of a SOAP web service.
In the default template, DataTypeReference are displayed like this:
[code]

The "list of ..." is correctly displayed for the return type of the service's operations but not for the parameters of the operations.

In the case of an operation's return type, t

[2017-08-08 10:12] rmmalpica opened #705 "Date data type"
Hello:

We are using enunciate to generate our API doc. We have a problem with date data types. Enunciate resolves dates as numbers although we have this jackson annotation (we have tested with versions 2.5.0 and 2.9.1):

`@JsonFormat(shape = JsonFormat.Shape.STRING, pattern = "yyyy-MM-dd'T'HH:mm:ss'Z'", timezone = "UTC")
    Date start;
`
Following this post https://github.com/stoicflame/enunciat

[2017-08-08 17:30] stoicflame commented on #705
There's currently no support for an either/or data type. I'll take a closer look at adding support for that.

[2017-08-08 23:33] stoicflame opened #706 "massive inefficiencies when lombok module is enabled"
Case in point: `search-api-hr` on branch `long-enunciate-build-time-with-these-changes`: with lombok module: 3 minutes 55 seconds, without lombok module: 21 seconds.

[2017-08-09 14:02] rmmalpica commented on #705
Thanks for adding this for the new version Ryan

[2017-08-10 07:46] Ingwersaft opened #707 "Kotlin support"
Hi!

I love Enunciate and use it extensively, really awesome tool!
I was wondering if you plan on supporting Kotlin (or maybe is it already possible?) in the future?
Only way to make it work currently is if the classes are in bytecode form, e.g. from another module, but it would be really cool if the actual (JAX-RS) API can be written in Kotlin and parsed by Enunciate aswell.

Thanks in advance fo

[2017-08-10 16:02] stoicflame commented on #707
Cool idea. I've done a bit of research and sadly I can't find any compiler API for Kotlin. [This guy asked the question and there is still no response](https://discuss.kotlinlang.org/t/kotlin-compiler-api/3478).

Without a compiler API, Enunciate has no way of parsing the object structures, annotations, or documentation from source code. So for now, I'm going to have to close this as not feasible.

[2017-08-10 16:02] #707 closed

[2017-08-10 16:17] Ingwersaft commented on #707
I only found this [antlr grammar](https://github.com/antlr/grammars-v4/tree/master/kotlin), but I had some problems getting the antlr setup working when playing around with this, but there's nothing official (yet), you're right.

[2017-08-10 16:34] amberream commented on #691
Sorry for the delay... I read the FAQ and added the source path to my ant build file, but still not having any luck with seeing the descriptions in the documentation.  Here's what my build file looks like.  All my source lives in subdirectories of 'com'.  I've tried several variations of this, none of which seem to work...  Do you have an sample that works?

		<path id="enunciate.sourcepath">
			<

[2017-08-10 17:32] stoicflame commented on #691
Sure, the [sample app](https://github.com/stoicflame/enunciate-sample) works.

Can you provide a patch to the sample app that reproduces the problem?

[2017-08-14 03:09] janmaslik opened #710 "Access annotations in fmt. I saw #401 . Not tested pseudocode is not work"
Hi ,
i have 2 issues i would like to share:

**1/**
**Description of my issue :**

Definition of my  DTO class:
[code]

example looks correct:

[code]

however in swagger.json is property name defined as "json_PropertyDTO" ( ${dataype.slug} ).
Im generating clients from that file, therefore is important for me.
Another ,probably best solution:  freemarker has access to value which is used in examp

[2017-08-14 12:06] janmaslik commented on #710
This example from #401 not work.

[#list type.annotations["com.mycompany.annotations.MyAnnotation"].elementValues?keys as annotationElement]
${type.annotations["com.mycompany.annotations.MyAnnotation"].elementValues[annotationElement]}[/#list]

freemarker converts keys to some hash, Key have to be string to make it work for 2.3.23 version of freemarker.

[2017-08-15 02:10] sdcuike opened #711 "not support spring‘s Pageable ?"
Hi，
enunciate can support spring’s Pageable.When I used ,it not generate right document.

Like:

Request Parameters body in document is not like that.
[code]

![http://note.youdao.com/yws/api/personal/file/WEBc186c76ea1209b0d92679d2ee82418b1?method=download&shareKey=13639caf324b89a06985a93f2525cf9a](http://note.youdao.com/yws/api/personal/file/WEBc186c76ea1209b0d92679d2ee82418b1?method=download&sh

[2017-08-15 23:12] janmaslik commented on #710
point 1 i was able to make work.
The issue was wrapping of root name in swagger.json . I created another "wrap" definition for each definition annotated by @XmlRootElement and connect it to original one by @XmlRootElement.value()  .  "Wrap" definitions are used as property and responses of operations. Now swagger codegen generate proper client code.

If there is a cleaner way ,  please let me know

[2017-08-16 04:51] sdcuike commented on #711
thanks ^_^

[2017-08-16 22:55] selimok opened #712 "Support for Spring Framework v5.0.0"
Hi,

I want to ask if there is a concrete plan for Spring Framework v5.0.0 support.
Currently, I use it (pre-release version) in my project and enunciate have some problems with creating document output.
Java doc comment, argument names and types, response types etc. are not visible in the output.

As enunciate depends currently on version 4.2.2.RELEASE of spring framework, this can be an expected

[2017-08-17 00:44] janmaslik opened #713 "2.9.1: list with generic parameter transform as object in swagger.json"
Hi,

This example :
[code]
transform to:
[code]

missing array type for shop and string property.

Also creates definition json_PagedData + definition for each generic param:  json_PagedDataOfShopDTO , json_PagedDataOfString . All of this generic -definitions contains all generic-properties. I expects that  json_PagedDataOfShopDTO would contain only shop + totalElements properties.

[2017-08-18 23:29] selimok commented on #712
Hi There,

After switching back to Spring 4 I noticed that the problem was in the build configuration rather than the compatibility.

I'm sorry for the false alarm.

[2017-08-18 23:29] #712 closed

[2017-08-22 13:10] jskovjyskebankdk commented on #654
@stoicflame do you have any idea about how this could be done?
In other words; is there an approach you would prefer to others?

I am swamped at work. But on some days, I have small gaps of time where I might be able to look at this.
But I really have no idea about how to approach it. Any hints appreciated.

[2017-08-22 15:25] stoicflame commented on #654
There should be some property exposed on that element called "maxOccurs" or something that we can use to determine if it should be an array. I haven't taken the time to look at why that isn't happening already. It's probably just a bug that I'll eventually get around to scrubbing.

[2017-08-22 21:26] amberream commented on #691
I finally got this working.
My project is set up with the json models in ...jaxrs.models and the services are in ...jaxrs.service. It seems the configuration I tried in my previous comment didn't work because the basedir was set to jaxrs.service rather than jaxrs even though the sourcepath started at a higher parent dir.  The working config looks like this:

    <path id="enunciate.sourcepath">

[2017-08-22 21:44] stoicflame commented on #691
Thanks for the report!

[2017-08-22 21:44] #691 closed

[2017-08-23 14:59] tierox opened #715 ""Description" not compiled for DO if member is "private""
enunciate version 2.9.1
build tool: Maven
Hi I have experimented the following behaviour:

My POJO:
public class DocumentDO
{
    /**
     * Document's id
     */
    private Long id;
    /**
     * Document's size
     */
    private Long size;
    /**
     * Related Track id
     */
    private Long trackId;
    /**
     * Document's File Path
     */
    private String filePath;
    /**
     *

[2017-08-23 15:19] stoicflame commented on #715
See ["Property Visibility"](https://github.com/stoicflame/enunciate/wiki/Property-Visibility) in the FAQ.

[2017-08-23 15:19] #715 closed

[2017-08-23 15:36] tierox commented on #715
Thank you very much for ultra fast answer. Moving JavaDOC to getter it seems to work.

[2017-08-23 23:26] zjedi commented on #675
I was not successful with enunciate. Decided for swagger-maven-plugin and customize it the way we need.

[2017-08-26 09:28] vghero commented on #174
Hi.

I just tried 1.31 with this on a sub resource interface and `@link` on parameter description was just rendered as text but not as a link. Is this expected behavior :)?

[code]

[2017-08-26 10:26] vghero commented on #666
Sounds nice!

[2017-08-28 15:13] stoicflame commented on #174
See #703.

[2017-08-28 15:15] vghero commented on #174
Thanks!

[2017-08-30 18:07] janmaslik opened #716 "jackson polymorphism"
Hi ,

i have definition :
![code](https://user-images.githubusercontent.com/30992729/29887967-7a28c444-8dbf-11e7-8076-03f22efe6834.png)

Problem : jackson2 wraps implementation classes into 'criteria' property (example part of the last screenshot) .
However enunciate put them to root level in documentation and also in swagger.json .

![enunciate](https://user-images.githubusercontent.com/30992729/

[2017-08-30 18:09] janmaslik commented on #716
Is there something i have to setup or ?

[2017-08-30 19:26] janmaslik commented on #716
I tried to move @JsontypeInfo & @JsonSubTypes at abstract class declaration 'ExpressionPrime'.
In that case 'criteria' property appears. However enunciate and swagger are not able to see mappings. Generated client code expects 'ExpressionPrime' class and other fields are lost during serialization.

There are few ways how process polymorphism in jackson. I dont have prefered json output. I just nee

[2017-08-31 08:51] vghero opened #717 "2.9.1 swagger model example contains media type"
I'm using 2.9.1 to generate the documentation from my JAX-RS resource interfaces and models.
Looking at the swagger UI shows, that the first example (directly under "Response Class") suddenly contains the media type like so:

[code]

The enunciate documentation is correct though. Also the swagger UI model further below, e.g. when POSTing seems correct.

[2017-08-31 23:35] jyotirmoym commented on #675
Hi @zjedi - I am also facing the same problem and trying to avoid allOf syntax. Please could you suggest how did you configure/customize swagger-maven-plugin to achieve this?

[2017-09-01 12:59] vghero commented on #717
I also encountered that using `{@link AvailabilityState#CLOSED_UNTIL}` (enum value) in the e.g. class javadoc won't be converted to `<code>CLOSED_UNTIL</code>` or similar but just to a link to the json enum. That somehow reads strange since in the javadoc it is normally rendered as `Availability.CLOSED_UNTIL` :).

[2017-09-04 07:33] vghero opened #718 "operationId length in swagger.json"
Hi.

We're using 2.9.1 to generate SwaggerUI from our JAX-RS REST interfaces. Having the generated swagger.json, our clients use this to generate their typescript based clients via tooling. The problem that we encounter is, that the `operationId` in the swagger.json, that is used to generate the method names in the client code, gets _very_ long. It seems that enunciate uses the interface names sep

[2017-09-05 07:52] vguna opened #720 "Documentation examples for Maps"
I'm wondering whether it is possible to provide `@documentationExample` for a `Map<String,Boolean>` for example. Currently it renders it as a "map of booleans" like this:

[code]

Does it make sense to be able to provide `@documentationExample MY_KEY`? Or for non-boolean values like Object or similar `@documentationExample MY_KEY myvalue`?

When I try to set it using `MY_KEY`, it complains it's no

[2017-09-05 17:16] stoicflame opened #721 "IntelliJ complains "enunciateArtifactId" in configuration is required (see plugin.xml)"

[2017-09-05 18:27] andrewklaassen commented on #505
I just want to add that I had a similar problem when I was converting an app to Spring Boot. The solution to my problem was to add
<dependency>
			<groupId>org.springframework.hateoas</groupId>
			<artifactId>spring-hateoas</artifactId>
			<version>0.23.0.RELEASE</version>
		</dependency>
to my pom.xml

[2017-09-05 20:23] stoicflame commented on #628
I was able to reproduce this with 2.9.1, but it seems to work with 2.10.0-SNAPSHOT, so I'm going to assume this will be resolved when 2.10 is released.

[2017-09-05 20:26] #627 closed

[2017-09-05 22:21] #632 closed

[2017-09-05 22:21] #635 closed

[2017-09-05 22:21] #636 closed

[2017-09-05 22:21] #638 closed

[2017-09-05 22:39] stoicflame commented on #639
I'm afraid I've got nothing more I can do on my end to debug the issue. At f1d51f0 I updated to the latest Spring (4.2.8) without issues.

If you'd like to provide me a way I can reproduce this on my end, I'd be happy to re-open this issue and help debug.

[2017-09-05 22:39] #639 closed

[2017-09-05 22:46] stoicflame commented on #641
I'm not able to reproduce the problem. When I annotate a query parameter with `@javax.validation.constraints.NotNull`, Enunciate correctly documents it as `required`.

[2017-09-05 22:46] #641 closed

[2017-09-05 23:08] #642 closed

[2017-09-05 23:13] stoicflame commented on #646
You should be able to use `@Ignore` annotation or `@ignore` JavaDoc tag with 2.10.

[2017-09-05 23:13] #646 closed

[2017-09-06 16:46] #651 closed

[2017-09-06 16:50] stoicflame commented on #653
At e5542ac I added support for the `@JsonProperty` annotation to specify enum values, so that will have to do for now. As for the `@JsonValue`, there's no way for enunciate to deterministically make the association between the constructor parameter and the enum value.

[2017-09-06 17:51] stoicflame commented on #315
The `@TypeHint` is supposed to be applied to the field itself, not the documentation example:

[code]

This will tell Enunciate to treat the type of the field as a `String`. The other application of `@TypeHint` (in the `@DocumentationExample` annotation) is designed to tell Enunciate what subclass of the type to use when generating the example, but it gets ignored because `String` isn't a subtype

[2017-09-06 17:51] #315 closed

[2017-09-06 17:51] stoicflame commented on #660
Bump.

Any updates on this? I need some more info if I'm going to look deeper.

[2017-09-06 19:42] stoicflame commented on #663
I'm afraid I can't reproduce this. I tried to do so my applying this diff to the [enunciate-sample](https://github.com/stoicflame/enunciate-sample) app:

[code]

And I get the example correctly showing up, with the JavaDoc:

![image](https://user-images.githubusercontent.com/145838/30131178-0bfadc4c-9309-11e7-89c3-c66f00cae545.png)

Can you provide more details about how to reproduce this issue?

[2017-09-06 19:59] stoicflame commented on #664
Taking a closer look, the `@ResourceGroup` annotation can be used. Just make sure grouping is by annotation:

[code]

[2017-09-06 19:59] #664 closed

[2017-09-06 20:00] stoicflame commented on #665
Bump.

Anything to report here?

[2017-09-06 20:01] stoicflame commented on #667
Bump.

Anything to report on this?

[2017-09-06 23:16] stoicflame commented on #673
Finally picking this up.

So the security "schemes" would probably need to be defined via config. How would the schemes be referenced from the API methods? Another annotation or something?

[2017-09-06 23:21] stoicflame commented on #672
Picking this up again.

After some research, I can find no way to add metadata to dependencies so that IDEs will pick up JavaDoc tags. Until some official support is added, there's nothing else to do on this issue.

I'd be happy to re-open if there are any other open issues that need to be discussed.

[2017-09-06 23:21] #672 closed

[2017-09-06 23:26] stoicflame commented on #680
Closing for now; I'm happy to re-open if any action is determined to be needed.

[2017-09-06 23:26] #680 closed

[2017-09-06 23:29] stoicflame commented on #706
Starting progress on this.

The only improvement I can see is to apply some caching. I'll start with that to see what kind of difference it makes.

[2017-09-07 06:40] juergenzimmermann commented on #667
I've no idea and went back to Java 8.

[2017-09-07 07:59] Ga2nibal opened #723 "Incorrect response type generated in swagger.json for List<@interface>."
I use enunciate 2.9.1.

in controller:

[code]

where :

[code]

enunciate produced:

[code]

if i change return type of getData(...) to single LineSegment, enunciate will generate correct response type(json_LineSegment)

[2017-09-07 16:34] #654 closed

[2017-09-07 16:34] #657 closed

[2017-09-07 19:21] LittleBarn opened #724 "Get Response Example to show object type within an object"
So in my code I take a class type lets say for example its called MyObject and wrap it in a ListResult class. Currently we have an
@TypeHint(ListResult.class) above our method to get the response example in our documentation to show what a ListResult looks like. This is what it shows:

{
  "resultInfo" : {
    "nextId" : 12345,
    "outOf" : 12345
  },
  "object" : [ { }, { } ],
  "ids" : "..."
}

[2017-09-07 19:50] stoicflame commented on #724
The only thing I can think of is to use generics.

See #400.

[2017-09-07 19:50] #724 closed

[2017-09-07 22:45] stoicflame commented on #706
Sadly, caching isn't making a difference. I'm going to have to take a different strategy.

[2017-09-08 05:06] jskovjyskebankdk commented on #654
Awesome!
Looking forward to testing it.

Thanks!

[2017-09-08 08:01] raul-geocento opened #725 "Date language in "Files and libraries" page"
Hello:

When I generate my project documentation using enunciate 2.9.1 all the pages are written in English but in "Files and libraries" page the dates appear in Spanish. I suppose this happens because is my laptop OS language. You can find an example [here](https://geobrowser.satapps.org/docs/downloads.html)

I have tried to change the java compiler language setting these parameters in my ant fil

[2017-09-08 10:23] jskovjyskebankdk commented on #654
Yes, does work. Thanks again.

[2017-09-08 11:02] jskovjyskebankdk opened #726 "@XmlRootElement information is lost"
With a DTO that looks like this:

[code]

This swagger.json output is generated:

[code]

Note that the DTO's naming "applicationdomains" is lost.

(I am not actually sure if swagger can express this)

[2017-09-08 11:22] jskovjyskebankdk opened #727 "XmlSchema information from package-info.java is lost in swagger.json"
We have a namespace for DTOs, expressed in package-info.java:

[code]

This information is not expressed in swagger.json, preventing generation of java DTO code from swagger.json (because they lack the namespace information).

(not sure if it is possible to express in swagger.json)

[2017-09-08 14:41] LittleBarn commented on #724
I have read #400 and it doesn't quite make sense to me. Could you maybe explain it based on my example?

[2017-09-08 16:39] stoicflame commented on #726
Based on what I see [documented here](https://swagger.io/specification/#xmlObject), it's unclear how the "root element" gets specified. This _might_ work, but needs to be tested:

[code]

[2017-09-08 16:41] stoicflame commented on #727
Based on what I see [documented here](https://swagger.io/specification/#xmlObject), it's unclear how the namespace gets specified at the "root" level. Applying the "xml" property at the "root" level _might_ work, but needs to be tested:

[code]

[2017-09-08 16:43] stoicflame commented on #724
[code]

[code]

[2017-09-08 17:55] LittleBarn opened #728 "Why doesn't @link work in certain settings"
I am aware of #703 and #174
My question is how come it doesn't work in certain places? Am I doing anything wrong? For example I am trying to use it in a @ResponseHeader like so:

[code]

[2017-09-08 22:41] ncoe opened #729 "Allow for multiple examples per type"
I have started playing around with using enunciate to replace our SDK documentation.
The page that is generated for a type includes one and only one example based on the properties that it exposes.

1. What would be involved in including multiple examples?
2. What would be involved in either referencing a file with an example, or including an example inline.

Where this would help is that we suppo

[2017-09-08 23:01] ncoe opened #730 "Allow for specifying enum values"
I have a project with an enumeration that is serialized with a value different from the name of the constant. What would I modify for a PR show this in the end documentation?

e.g.
[code]

Would write "1st" or "2nd", or anything else that could be thought of.

My thought initially would be to allow @DocumentationExample to handle this.

[2017-09-11 05:55] jskovjyskebankdk commented on #727
I also failed to find anything in the spec.

But now I found https://github.com/swagger-api/swagger-core/issues/2150, so it should be possible somehow. I guess I'll try to deploy swagger with my app, to see what it generates at run-time. That should settle it.

[2017-09-11 05:58] jskovjyskebankdk commented on #727
FWIW your suggestion just adds a new DTO class.

[2017-09-11 06:02] jskovjyskebankdk commented on #727
Uh, but that may just be the java client generator code.
No effect when adding namespace anywhere. So your suggestion may actually work.
(I now get that you want to add namespace to the root of each type, not add a magically named root_element :)

[2017-09-11 08:06] volongithub commented on #663
I have a maven project structure with 3 layers.

1.  Application Parent
      1. Business Service Parent
            1. Domain Classes
            1. api-docs
            1. REST Service

For a Basic example I left off the REST Service and just created an example Project with a Domain Class.

Here's the Domain class:
[code]
The Domain project has some company internal dependencies and beanutils:
[

[2017-09-11 12:41] vguna opened #731 "Support for swagger `readOnly` property attribute"
Hi.

It would be nice to have support for swagger `readOnly` property flags like described here:

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields-13

That would solve the "problem" with server side generated attribute values like `id` or `createdDate`, `modifiedDate` etc. that could then be automatically marked as "not needed/allowed to be send on PUT/POST" or

[2017-09-11 20:13] stoicflame commented on #730
See #653.

[2017-09-11 20:13] #730 closed

[2017-09-11 20:16] stoicflame commented on #729
See [`@responseExample`](https://github.com/stoicflame/enunciate/wiki/Enunciate-Specific-Annotations#responseexample-javadoc-tag), which allows referencing a file and example per response type.

[2017-09-11 21:01] ncoe commented on #729
It looks like `@responseExample` is used for endpoints that can be accessed. For everything else, like an object used as a field in an object, the example is not even considered.

[2017-09-12 19:37] ncoe opened #732 "Javadoc links do not handle enum references correctly"
When attempting to link to a particular enum value with `{@link MyEnum#VALUE1}`, enunciate will simply link to the documentation for the entire enum. It would be nicer if each value on the enumeration page had an anchor for such a link to land on.

[2017-09-12 21:17] kkwansj opened #733 "Modules: Order of Execution"
When multiple modules are enabled, are the modules executed in the order they appear in `enunciate.xml`, or is the order of execution indeterminate?

[2017-09-12 22:22] stoicflame commented on #733
Each module declares dependencies on other modules. So the modules are consulted, the dependency tree built and the order is determined from that. If multiple modules have the same dependencies, the order is indeterminate between those modules.

[2017-09-12 22:22] #733 closed

[2017-09-13 10:04] mscookies opened #734 "Resource linked under two other resources is only documented once."
Hi there,
first of all thanks for the great documentation generator.

I'm using v2.9.1 and I'm facing an issue as not all defined/implemented paths are visible in generated enunciate documenation and related swagger UI.

Imagine following paths in a REST service
/elements
/elements/{elementId}
/elements/{elementId}/buckets						<- first occurence of buckets resource
/categories
/categories/{catego

[2017-09-13 15:35] LittleBarn opened #735 "Changing default text at top of Request Example"
So I was wondering if there was a way to customize the text for example in the picture below I want it to change the "GET /system/customaddresses/test" to look like this:
"GET /system/customaddresses/test?testAddress=youremail@yourdomain.com"

![untitled](https://user-images.githubusercontent.com/31744122/30386156-5cd42cd8-9866-11e7-9ac1-9da59bb95adc.png)

[2017-09-13 19:31] ncoe opened #736 "Allow DocumentationExample to be used with query parameters and headers"
I would like to be able to provide an example to use for the generated request/response for headers. This would also be nice for query parameters.

Neither has a field in the annotation to support this, and the restrictions for the `@DocumentationExample` attribute do not even let it get placed on a parameter. Allowing for repeats of the annotation instead of capping it at two values would also be

[2017-09-13 23:10] stoicflame commented on #734
I'm having a hard time understanding all the resources and interfaces. Is there a project somewhere that I can reference to see what you're talking about?

[2017-09-13 23:12] stoicflame commented on #735
No, there's no way to do that right now.

[2017-09-14 16:15] ncoe opened #737 "The disableExamples attribute does not disable all examples"
In my enunciate.xml file I have disabled examples. `<jackson disabled="false" disableExamples="true"/>`.
For JSON documentation, this does what is expected. For the Resources section, examples are still generated. This is using version 2.9.1.

[2017-09-14 16:20] stoicflame commented on #737
You have to disable JAX-RS examples and JAXB example, too, if you want those disabled:

[code]

[2017-09-14 16:20] #737 closed

[2017-09-14 22:17] tpredey opened #738 "Setting Swagger docsSubdir to the root level removes sidebar data type links and makes <h1> header elements very large."
This is something of an edge-case, but it might be worth posting in case somebody else encounters a similar issue.

The problem stems from my wanting to add navigation buttons on the Swagger UI page back to the main documentation page. The most straightforward way to do this appears to be setting the Swagger module field docsSubdir="", which opens up the swagger-ui/endpoints.html* page to relative

[2017-09-20 22:29] ncoe opened #740 "Path and query parameters have no description"
In the section on Request Parameters, you can associate a description for header values.
A desired enhancement would be have descriptions for path parameters and query parameters.
Right now, both of those just have a blank space for the description.

[2017-09-20 22:32] ncoe commented on #740
A related issue to this is that the description of a download link is not transferred from the enunciate.xml file to the generated documentation. I am not sure whether I would call this a bug or enhancement at this time.

[2017-09-21 18:46] stoicflame commented on #740
I'm afraid I'm not seeing what you see; I can provide descriptions for the path and query parameters via the JavaDocs.

[2017-09-21 18:46] #740 closed

[2017-09-21 20:11] kkwansj commented on #673
[schemes referenced by another annotation]  Sounds reasonable to me.

[2017-09-21 23:56] ncoe commented on #740
I do have javadocs. They are attached to the interface that my endpoint is implemented.
Could this be an issue where the javadoc handling you made does not link to the super documentation?

[2017-09-22 22:17] mgardiner opened #742 "Java 9 Support"
Java 9 has now been released and Oracle has announced that Java 8 end of public updates will be September 2018.  See http://www.oracle.com/technetwork/java/eol-135779.html.

Enunciate 2.9.1 is using internal Java APIs which was found by running jdeps -jdkinternals on the jars.

* enunciate-core - com.sun.tools.javac.api.JavacTool
* enunciate-java-json-client - com.sun.tools.javac.api.JavacTool
* e

[2017-09-23 01:55] ncoe commented on #740
Found it. I have specific includes in the config file, and the interfaces were not part of the include.

[2017-09-25 20:30] #628 closed

[2017-09-25 20:36] stoicflame commented on #660
I'm closing this for now. I'm happy to reopen if I can get more information.

[2017-09-25 20:36] #660 closed

[2017-09-25 20:53] stoicflame commented on #663
Thanks for your patience. I've tried to follow your instructions, but I'm still not seeing it.

Will you checkout [branch "enunciate-663" from the enunciate-sample](https://github.com/stoicflame/enunciate-sample/tree/enunciate-663) and modify it so I can see the problem?

[2017-09-25 20:53] stoicflame commented on #665
I'm going to close this for now. If I can get more info, I'm happy to reopen.

[2017-09-25 20:53] #665 closed

[2017-09-25 21:03] #666 closed

[2017-09-25 21:04] stoicflame commented on #666
At 962cbf5 I added a description element to the annotation.

If more than one class specifies a description, it'll be random which description gets selected.

[2017-09-25 21:34] stoicflame commented on #667
Moved to 2.11 for now; not ready to tackle modules and Jigsaw yet.

[2017-09-25 22:23] #668 closed

[2017-09-25 22:23] #674 closed

[2017-09-25 23:22] stoicflame commented on #679
Okay, after looking more closely here, I think this is another case of confused property visibility (see [Property Visibility in the FAQ](https://github.com/stoicflame/enunciate/wiki/Property-Visibility). The adjustment at 2.7 was to align the property visibility with what Jackson is using.

Unfortunately, Enunciate was doing the wrong thing before and now it's doing the right thing. In this parti

[2017-09-25 23:22] #679 closed

[2017-09-26 07:37] vghero commented on #666
Thanks Ryan!

[2017-09-27 12:42] vghero opened #743 "Support for @code"
Currently I have to put `<code>MyCode</code>` in my javadoc to highlight code fragments or similar. That works well. But sometimes forget about it and use {@code MyCode} instead, which isn't rendered by enunciate. It simply outputs `MyCode` then - without highlighting. It would be great if enunciate could also support @code properly. Maybe it's just a search replace thingy with regex sugar :)?

[2017-09-27 20:51] #688 closed

[2017-09-27 21:02] #682 closed

[2017-09-27 21:02] #685 closed

[2017-09-27 21:02] #687 closed

[2017-09-27 21:03] stoicflame commented on #689
After looking into this, it was determined that there was no way to implement this enhancement because the Jackson `JsonGenerator` doesn't support writing comments yet.

I'm happy to reopen if that feature is ever supported in Jackson.

[2017-09-27 21:03] #689 closed

[2017-09-27 21:40] stoicflame commented on #690
I've started looking into this, but I'm going to need more information about how your `pom.xml` is set up.

Is there any way you could put together a patch or pull request for the [Enunciate Sample](https://github.com/stoicflame/enunciate-sample) app that demonstrates the problem.

[2017-09-27 21:42] stoicflame commented on #692
Started looking at this.

Will you please show me what the `MyModelToStringSerializer` and `MyModel` classes look like?

[2017-09-27 23:08] #696 closed

[2017-09-27 23:08] #699 closed

[2017-09-28 07:14] anton-johansson commented on #681
@stoicflame: Any guide on this wiki for how to utilize this? :)

[2017-09-28 09:29] volongithub commented on #663
Hi, sorry for the late response. Thank you for taking time in that issue.
There is lot of work I have to take care of, but I will try to check out the example and reproduce my problem as soon as I can.

[2017-09-28 16:17] stoicflame commented on #681
Just like you suggest above; annotate `ZonedDateTime` with `DocumentationExample`.

[2017-09-28 16:40] stoicflame commented on #697
As of 7a9f985:

[code]

[2017-09-28 16:40] #697 closed

[2017-09-28 16:48] anton-johansson commented on #681
But what if the type is a JDK class (just like `ZonedDateTime`)?

[2017-09-28 23:12] stoicflame commented on #681
I see. I didn't recognize that JDK class.

So you're asking for some kind of configuration option or package-level metadata that can be scoped to an external class.

It's trickier than it sounds because each data module produces its own example, so it would need to be scoped by type per module. E.g. what if the XML example was different from the JSON example because JAXB (de)serialized the type di

[2017-09-29 12:02] anton-johansson commented on #681
Yeah. Package-level meta-data would be nice, to avoid XML-configuration. However, annotations on `package-info.java` arean't recursive, right? So it would be a hassle to keep all my packages properly annotated.

I think your XML-configuration example would be the way to go.

[2017-09-29 20:46] #702 closed

[2017-09-29 20:46] #703 closed

[2017-10-06 20:55] #704 closed

[2017-10-06 20:58] stoicflame opened #745 "performance improvements"
Enunciate could benefit from some performance analysis, hotspot identification, and inefficiency cleanup.

[2017-10-06 20:59] stoicflame commented on #745
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2017-10-06 21:00] stoicflame commented on #706
At 59dc6a7 I was able to find an effective caching aspect. This brought the time from 3:58 to 1:05.

1:05 still isn't great, but more efficiency is going to take a lot more effort, which I'll track at #745.

[2017-10-06 21:00] #706 closed

[2017-10-07 19:58] terrancesnyder commented on #92
Hey just cracking this open, plan on working on this while on a long haul flight to Tokyo. My problem is with enunciate 2.x I can't find the "input document" so I can examine the available properties to data bind against, also I can't just simply take my input doc and just debug / run through freemarker. My preferred flow would be [input XML/doc] ---> [freemarker] ---> [html].. Rather than having

[2017-10-10 16:07] stoicflame commented on #652
Finally getting around to looking at this.

The [Swagger Spec](https://swagger.io/specification/#operationObject) clearly states that `operationId` needs to be unique, and if I use the Classname_Methodname convention, I have no guarantee that it will be unique. In fact, the implementation of the slug is as noisy as it is today because of issues like #322 that require that uniqueness.

For now, I'm

[2017-10-10 16:07] #652 closed

[2017-10-10 16:14] stoicflame commented on #710
I can't quite tell, but it looks like you're interested in supporting the JSON "root name". If that's the case, see #609.

At 8209877 I added another support method to make getting annotation values by name easier. So now you should be able to just do something like:

[code]

rather than iterating through the element values.

[2017-10-10 16:14] #710 closed

[2017-10-10 16:44] #711 closed

[2017-10-10 16:44] #713 closed

[2017-10-10 16:49] stoicflame commented on #713
Fixed the array type problem at 30db7f0.

As for the generic definition problem, I don't understand the basis for asserting that `json_PagedDataOfShopDTO` would only contain "shop + totalElements" properties.  Why would it _not_ be able to contain "string" properties?

I think what you're saying is that your business logic dictates that PagedData<ShopDTO> will _only_ contain `ShopDTO` elements. Bu

[2017-10-10 17:15] stoicflame commented on #716
Yes, JSON polymorphism is ugly.

What you see is the best I've been able to figure out without losing significant documentation information. When `JsonTypeInfo.As` is `WRAPPER_ARRAY` or `WRAPPER_OBJECT`, I can't think of a better way to describe the property choices. If the documentation were completely accurate, there would only be a single property (in this case `criteria`) that is of a type `ob

[2017-10-10 17:15] #716 closed

[2017-10-10 17:50] janmaslik commented on #713
Hi, thanks for response and fix my friend.

To answer second part:
Enunciate already creates PagedData for each generic type. In this example called  json_PagedDataOfShopDTO and json_PagedDataOfString .

I expected
json_PagedDataOfShopDTO  { shop, totalElements }
json_PagedDataOfString (string,totalElements}

Instead i got:
json_PagedDataOfShopDTO  { shop,string, totalElements }
json_PagedDataOfSt

[2017-10-10 17:57] stoicflame commented on #717
As for the strange-reading link, there's currently no support for linking to anything more granular than the data type. If the text reads weird, override it in the JavaDoc tag:

[code]

[2017-10-10 18:04] #721 closed

[2017-10-10 18:12] stoicflame commented on #718
Duplicate of #652.

This seems to be a common issue, but I guess I'm not seeing where it becomes a problem. The `operationId` doesn't show up in the UI, does it?

[2017-10-10 19:12] stoicflame commented on #713
I understand.

Unfortunately, there's no way for Enunciate to determine that you'd like the `string` property to disappear in the context of the `json_PagedDataOfShopDTO` and the `shop` property to disappear in the context of the `json_PagedDataOfStringDTO`. The fact that those properties "disappear" is determined entirely at runtime.

[2017-10-10 19:45] stoicflame commented on #713
On second thought, there might be a way to exclude those choices in the context of a parameterized synthetic type. It would be complex and tricky, but if you'd like to open a separate enhancement request, we could track that work.

I guess it depends on how much you care about it.

[2017-10-10 20:43] #720 closed

[2017-10-10 20:43] #723 closed

[2017-10-10 21:09] #725 closed

[2017-10-10 21:09] #726 closed

[2017-10-10 21:09] stoicflame commented on #727
Included in the fix for #726.

[2017-10-10 21:09] #727 closed

[2017-10-10 21:32] stoicflame commented on #728
Finally got around to looking at this.

JavaDoc elements that are used to define pieces of the API are processed before any documentation gets generated. So since these particular JavaDoc elements (`@ResponseHeader`, `@RequestHeader`, `@HTTP`, `@HTTPWarning`, etc.) are actually modifying the core API model, they get processed _below_ any documentation context and therefore have no context to resol

[2017-10-10 21:32] #728 closed

[2017-10-10 22:04] stoicflame commented on #729
I'm trying to understand what the documentation would look like.

Let's say you have a data type described by example E<sub>a</sub> within context C<sub>a</sub>, where a "context" is a reference to the data type from another data type, a resource method, etc. The same data type is described by example E<sub>b</sub> within context C<sub>b</sub>.

Are you thinking both E<sub>a</sub> and E<sub>b</sub

[2017-10-10 22:08] stoicflame commented on #732
Confirmed. Enunciate doesn't resolve links to that level of granularity yet.

See also #717 where this was also mentioned.

[2017-10-10 22:20] #735 closed

[2017-10-10 22:21] stoicflame commented on #735
As of f10b590, e.g.:

[code]

[2017-10-10 22:27] #736 closed

[2017-10-10 22:28] stoicflame commented on #736
At 645e557 added support for `@DocumentationExample` on request parameters (query, header, etc.).

I have no idea how to provide the means to specify response example values.

I also don't understand how to use "repeats"... how does using more than one value help?

[2017-10-10 22:41] #738 closed

[2017-10-10 22:42] stoicflame commented on #738
It was just that the swagger `style.css` was overwriting Enunciate's css (named the same).

At 18f3c6a I renamed Enunciate's to `enunciate.css` and it looks good.

[2017-10-10 22:44] stoicflame commented on #742
This will need to be pushed to 2.11.

[2017-10-10 22:47] #743 closed

[2017-10-10 22:51] stoicflame commented on #731
Fixed at dc22c722e174be051ba832eef2f9f9ff8844375c.

[2017-10-10 22:51] #731 closed

[2017-10-10 23:15] #681 closed

[2017-10-10 23:16] stoicflame commented on #629
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2017-10-10 23:17] stoicflame commented on #637
I've looked into the work to support this, and it's pretty significant. It's not going to fit into 2.10.

[2017-10-10 23:17] stoicflame commented on #637
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2017-10-10 23:18] stoicflame commented on #663
Moving to 2.11...

[2017-10-10 23:19] stoicflame commented on #673
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2017-10-10 23:19] stoicflame commented on #676
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2017-10-10 23:20] stoicflame commented on #686
The enhancement has merit.

After looking into this, it will require a significant model refactor, so I'm going to pull it off the 2.10 release.

[2017-10-10 23:21] stoicflame commented on #686
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2017-10-10 23:21] stoicflame commented on #690
Moving to 2.11.

[2017-10-10 23:21] stoicflame commented on #692
Moving to 2.11.

[2017-10-10 23:22] stoicflame commented on #705
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2017-10-10 23:22] stoicflame commented on #732
This enhancement is currently seeking a sponsor. If anybody is willing to sponsor the work, [reach out to me](http://webcohesion.com/#contact) and I'd be happy to pick it up.

[2017-10-11 00:26] ncoe commented on #729
In one example, I have an object that essentially has a type field, and then additional fields to provide metadata. What I would like to do in this case is to provide examples for each type with only the other fields that are needed for metadata, as that is also how it gets serialized.

In another example, I have an object that has a field with a map datatype. We have a vendor specific media type

[2017-10-11 07:42] vghero commented on #718
Well, the client guys complain, that the generated method names are too long (and they are right :)). They have to invoke the generated methods from the manually built code at some point and that looks really ugly :).

[2017-10-11 07:44] vghero commented on #743
Nice, thanks :)!

[2017-10-11 08:34] vghero commented on #717
Thanks! What I mean with "weird" is this when I usually document in code like this:

[code]

It is rendered like this:

![screen shot 2017-10-11 at 10 04 57](https://user-images.githubusercontent.com/26437329/31428625-b9934dbc-ae6b-11e7-8ab7-ce5a633d11cc.png)

Which is from a "user" perspective unexpected - I guess. So I have to always remember that I have to use the override, when I'm in the REST

[2017-10-11 10:20] sbrattla opened #746 "Multiple @RequestHeader for @RequestHeaders"
I'm trying to document multiple request headers for a method. My hope was to use `@RequestHeaders` to wrap multiple `@RequestHeader`. The example on https://github.com/stoicflame/enunciate/wiki/Enunciate-Specific-Annotations says :

[code]

This is a single `@RequestHeader`. How do I specify multiple `@RequestHeader`?

[2017-10-11 10:23] sbrattla commented on #746
OK, so this is how it's done :

[code]
Maybe the documentation could be updated to show how you would define multiple `@RequestHeader.`

On thing more, the example below for `@RequestHeader `(just below the example for `@RequestHeaders`) is showing an example for `@ResponseHeader`. This could probably be fixed as well.

[2017-10-11 10:30] Thorndike commented on #690
We have a simple enunciate configuration as part of the reporting section.

`  <reporting>
    <outputDirectory>****/target/site</outputDirectory>
    <plugins>
      <plugin>
        <artifactId>maven-jxr-plugin</artifactId>
        <version>2.5</version>
      </plugin>
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>jdepend-maven-plugin</artifactId>
        <vers

[2017-10-11 13:38] stoicflame commented on #729
So wouldn't this case be better suited to user-written documentation in the JavaDoc of the data type or resource method? If the Enunciate-generated examples are inadequate, you could just disable them.

If that doesn't work, what kind of mechanism are you envisioning to provide Enunciate with the information needed to provide multiple documentation examples? And what would the generated HTML pages

[2017-10-11 13:45] stoicflame commented on #718
What tool are you using to manually build code? What elements other than `operationId` get used? Does `operationId` get used directly or does it get "parsed" as described in #652 by assuming some kind of Noun_Verb convention?

[2017-10-11 13:48] stoicflame commented on #746
Done.

[2017-10-11 13:48] #746 closed

[2017-10-11 15:12] vghero commented on #718
The frontend guys (angular) are using https://github.com/swagger-api/swagger-codegen for generation. The `operationId` is translated from

`resource_Deliveries_DeliveriesResource_DeliveryResource_changeState_PUT`
to
`resourceDeliveriesDeliveriesResourceDeliveryResourceChangeStatePUT`
by the generator.

First I thought maybe using the URL could help here like translating

`GET /menus/{id}/categorie

[2017-10-11 17:25] ncoe commented on #736
The DocumentationExample annotation already has capacity for "value" and "value2", generalizing it for arbitrary examples seemed like a natural extension.

[2017-10-12 12:44] jskovjyskebankdk opened #747 "Support for OpenAPI3 swagger.json output"
Swagger version 3 (aka OpenAPI version 3) is quite different than the v2 format Enunciate can output today.

The new spec is here https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md

I might be able to use some time to look into this. But it will be of the very lowest priority, so I cannot commit to a timescale or anything like that.

If I start on it, I will leave informati

[2017-10-12 19:02] #690 closed

[2017-10-12 19:02] #717 closed

[2017-10-12 19:02] #718 closed

[2017-10-12 19:45] stoicflame commented on #177
duplicate of #686

[2017-10-12 19:45] #177 closed

[2017-10-12 21:25] stolp commented on #742
We are currently blocked to move to JDK 9 with our project by the enunciate dependency which we of course cannot afford to loose 🥇.

There will probably be others out there as well.

Not pushing, just a vote.

[2017-10-12 21:31] stoicflame commented on #742
Agreed. It's a high priority.

[2017-10-12 23:18] ncoe opened #748 "Regression in header description generation."
Reference body

[code]

In 2.9.1, the method Javadoc would be put before the table of headers, path and query parameters. The path and query parameters would pull from `@param` annotations for the description to use in the table, and the header values would pull from the description field of the header value annotation.

With the current state of 2.10.0, the Javadoc for the method is being used as

[2017-10-13 00:30] ncoe commented on #729
You are correct that i could just disable all examples and use javadoc. What I wanted to replicate was the layout with the examples after the documentation of headers, parameters and media types like what is shown with auto-generated examples.

[2017-10-13 16:11] ncoe opened #749 "Methods not marked deprecated when grouped by annotation"
I have a class that is annotated as deprecated. When I have enunciate generate documentation by class, the methods are shown as deprecated. If I mark the methods with a resource group and group by annotation instead, the methods are not marked deprecated unless each method individually is marked deprecated.

This would be a good enhancement if the deprecated annotation propagated to the methods no

[2017-10-14 19:42] ncoe commented on #748
Git bisection points at 6f5a3ef18d9277f08e7ace14d9b743aaa293c729

[2017-10-14 21:36] ncoe commented on #749
Seems to be caused by https://github.com/stoicflame/enunciate/blob/962cbf558bb8919252b1d2a567cfbe3432483548/jaxrs/src/main/java/com/webcohesion/enunciate/modules/jaxrs/api/impl/AnnotationBasedResourceGroupImpl.java#L118

Is there a way to have context to see if the class the resource is contained in is deprecated?

[2017-10-16 17:47] stoicflame commented on #748
Thanks for the report.

[2017-10-16 19:14] stoicflame commented on #749
When grouping by annotation, you have multiple resources that are included in the same "resource group". So the solution is to make sure that all resources in the same group are marked as deprecated.

[2017-10-16 19:58] #748 closed

[2017-10-16 22:14] ncoe commented on #749
Allow me just to confirm with an example (some details omitted for terseness):
`@Deprecated
public class A {
    @ResourceGroup("one")
    public void alpha() {
        ...
    }

    @ResourceGroup("one")
    public void beta() {
        ...
    }

    @ResourceGroup("two")
    @Deprecated
    public void san() {
        ...
    }
}`

The only resources marked with _one_ and _two_ are shown. The

[2017-10-16 22:49] stoicflame commented on #749
So you're not asking for the resource group to be deprecated, just the methods. And that because the class the defines the methods is deprecated. Yes?

[2017-10-16 23:57] ncoe commented on #749
Yes, I think it would be a good enhancement if annotations were applied transitively, where and for what it makes sense for.

A workaround for this it to mark all methods deprecated that are selected for a group, which I am using currently.

[2017-10-17 17:51] #749 closed

[2017-10-17 23:30] ncoe commented on #749
Thanks, I will check this out soon.

[2017-10-18 06:34] thomasletsch commented on #707
Perhaps there is a different approach possible:
There is the project Dokka which is the Kotlin version of Javadoc. It uses something which they call Kotlin as a service to parse the Kotlin Structure:
https://github.com/Kotlin/dokka#documentation-model

Apparently this is the main Class for that:
https://github.com/Kotlin/dokka/blob/master/core/src/main/kotlin/Analysis/AnalysisEnvironment.kt

Don't

[2017-10-18 15:04] stoicflame commented on #707
I appreciate the pointer.

Unfortunately, I can't find any documentation on how to use "Kotlin as a service" to parse the documentation model, which is what Enunciate is going to need.

Do you see anything I don't?

[2017-10-22 20:13] ncoe commented on #732
I don't know when this was fixed, but at least as of https://github.com/stoicflame/enunciate/commit/6ae0f8b411d645468d658bc5a2e614a2033a5e85 the links to enum members are working as desired.

[2017-10-23 11:35] keradus opened #752 "new release request"
Hi !
great package here !

Sadly, last release is half year old, and there are plenty of new shiny things on main branch already!
Are there any chances to release them? Or maybe there is some release plan?

[2017-10-24 08:29] Ga2nibal opened #753 "Incorrect items type generated in swagger.json for List<? extends @interface>"
I use enunciate 2.9.1.

in one of the models:

[code]

where :

[code]

enunciate produced:

[code]

and enunciate doesn't produce models of MyInterface and classes which implements MyInterface

[2017-10-24 16:23] stoicflame commented on #752
Yes, some time this week.

[2017-10-24 16:23] #752 closed

[2017-10-25 08:50] jskovjyskebankdk commented on #747
I have started working on this.

[2017-10-26 09:18] romanliv opened #754 "java.util.Map.Entry issue"
Hi

I have an issue with `java.util.Map.Entry`: when I use it in my DTO I get this error:

Feels that enunciate produces the code where `java.util.Entry` is used instead of the correct `java.util.Map.Entry`

The DTO and the log below, maven project attached
[code]

[demo.zip](https://github.com/stoicflame/enunciate/files/1417668/demo.zip)

[2017-10-26 18:26] #754 closed

[2017-10-26 21:50] stoicflame commented on #694
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:51] stoicflame commented on #693
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:51] stoicflame commented on #683
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:51] stoicflame commented on #678
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:51] stoicflame commented on #677
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:51] stoicflame commented on #675
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:51] stoicflame commented on #670
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:54] stoicflame commented on #661
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:56] stoicflame commented on #654
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:56] stoicflame commented on #657
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:57] stoicflame commented on #653
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:57] stoicflame commented on #651
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:57] stoicflame commented on #646
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:57] stoicflame commented on #642
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:58] stoicflame commented on #635
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:58] stoicflame commented on #638
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:58] stoicflame commented on #636
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 21:58] stoicflame commented on #627
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:00] stoicflame commented on #652
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:00] stoicflame commented on #706
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:00] stoicflame commented on #704
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:00] stoicflame commented on #703
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:00] stoicflame commented on #702
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:01] stoicflame commented on #697
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:01] stoicflame commented on #696
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:01] stoicflame commented on #699
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:01] stoicflame commented on #687
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:01] stoicflame commented on #685
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:01] stoicflame commented on #682
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:01] stoicflame commented on #688
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:02] stoicflame commented on #679
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:02] stoicflame commented on #674
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:02] stoicflame commented on #668
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:02] stoicflame commented on #666
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:02] stoicflame commented on #628
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:03] stoicflame commented on #754
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:04] stoicflame commented on #752
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:04] stoicflame commented on #749
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:04] stoicflame commented on #748
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:04] stoicflame commented on #690
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:04] stoicflame commented on #717
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:04] stoicflame commented on #718
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:04] stoicflame commented on #681
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:04] stoicflame commented on #731
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:04] stoicflame commented on #743
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:05] stoicflame commented on #736
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:05] stoicflame commented on #735
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:05] stoicflame commented on #725
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:05] stoicflame commented on #726
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:05] stoicflame commented on #723
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:06] stoicflame commented on #720
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:06] stoicflame commented on #721
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:06] stoicflame commented on #713
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-26 22:06] stoicflame commented on #711
[Enunciate 2.10 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.10.0).

[2017-10-27 06:27] jskovjyskebankdk commented on #726
Hmm. I missed you fixed this, so I did not test it. Sorry about that.
I will have a look at in the coming days.

[2017-10-27 10:07] Ga2nibal opened #755 "Enunciate 2.10.0 can not be loaded from https://plugins.gradle.org/m2/"
when i try to update enunciate to 2.10.0 i get:
[code]

[2017-10-27 16:23] stoicflame commented on #755
I'm not very familiar with gradle, but I can't tell the difference between 2.10.0:

https://plugins.gradle.org/m2/com/webcohesion/enunciate/com.webcohesion.enunciate.gradle.plugin/2.10.0/

and 2.9.1:

https://plugins.gradle.org/m2/com/webcohesion/enunciate/com.webcohesion.enunciate.gradle.plugin/2.9.1/

@jskovjyskebankdk, any thoughts about what's going on?

[2017-10-27 21:04] sonnessa opened #756 "Help with strange jaxb error"
I tried to use enunciate with ant task and ivy libs (enunciate version 2.10).

Simply processing a simple JAXB pojo I obtain the following output: java.lang.RuntimeException: java.lang.RuntimeException: freemarker.core._TemplateModelException: An error has occurred when reading existing sub-variable "minOccurs"; see cause exception! The type of the containing value was: extended_hash+string (com.w

[2017-10-27 21:07] sonnessa commented on #756
This is the pojo I'm trying to process

import javax.xml.bind.annotation.XmlAttribute;
import javax.xml.bind.annotation.XmlRootElement;

@XmlRootElement(name="response")
public class OperationResponseBean {

	@XmlAttribute(required=true)
	private Boolean ok;

	@XmlAttribute
	private Integer code;

	@XmlAttribute
	private String message;

	public OperationResponseBean(Boolean ok, Integer code, Stri

[2017-10-28 05:46] glb commented on #694
Thanks @stoicflame !

[2017-10-29 07:26] sonnessa commented on #756
I managed to fix the issue. I had a ClassNotFound exception for validation-api. The problem was that I included validation-api into ant task classpath.
When I tried to include it into the taskdef classpath everything starts working.

[2017-10-29 07:26] #756 closed

[2017-10-30 08:13] jskovjyskebankdk commented on #755
The artifacts are bad, for some reason.

I have posted https://discuss.gradle.org/t/weird-fail-on-plugins-gradle-org-enunciate-2-10-0/24573

Let us see what they have to say.

[2017-10-30 08:43] darkstarSH opened #757 "error in navigation"
Looks like version 2.10.0 introduced a regression error:
Navigation items show (random?) enums

Steps to reproduce:
- Build enunciate-examples-jx-rs-jackson
- open generated docs
- navigate to 'Home'/'JSON'/'PageOfPerson' (other pages show similar behavior)
- navigation on the left shows elements of enum GenderType (which doesn't make sense in any way)

[2017-10-30 09:23] wf2311 opened #758 "How to display more information about the method on the index page?"
I want to show more information about interface methods besides `path`,such as `method description` and `version` on index-page ,just as:
![a](https://user-images.githubusercontent.com/6166719/32163341-f8040e62-bd96-11e7-9b03-0e7bd15315ee.png)

But it seems like that these informations can just shows on sub-page，if I want to show them on index-page,is it possible?

[2017-10-30 14:46] jskovjyskebankdk commented on #755
A fix has been posted on the gradle forum. Will you have a look at it @stoicflame ?

[2017-10-30 16:41] stoicflame opened #759 "JSON members excluded when not listed in @JsonPropertyOrder"
Enunciate sorts all members _not_ listed in `@JsonPropertyOrder` into the same slot. So one of them "wins" and the others are excluded.

[2017-10-30 18:54] stoicflame commented on #758
Have you tried grouping by path instead of class?

[code]

[2017-10-30 18:54] #758 closed

[2017-10-30 19:21] stoicflame commented on #757
Confirmed. Regression at 4e06ebcf4919f286571507c0c7da3e7bbf716bd6.

[2017-10-30 19:27] #757 closed

[2017-10-30 19:50] stoicflame commented on #757
Patched at [2.10.1](https://github.com/stoicflame/enunciate/releases/tag/v2.10.1).

[2017-10-30 20:42] stoicflame commented on #755
2.10.1 has been published.

[2017-10-30 20:42] #755 closed

[2017-10-31 05:49] jskovjyskebankdk commented on #755
Yes, better. Thanks!

[2017-11-01 08:13] simonDeHero opened #761 "`@Typehint` for Response makes `@RequestHeader` value `multivalued`"
Hi,
i have this endpoint:
[code]

The rendered documentation then contains `Response Body - data type - array of fooBar (JSON)` (correct), but also `Request Parameters - name Authorization - multivalued yes`. (wrong).

It is expected, that the `@TypeHint` for the Response does not affect header params.

My current workaround is to use `@returnWrapped com.example.FooBar[]` instead of the `@TypeHint

[2017-11-01 08:56] jskovjyskebankdk opened #762 "How to build Java 7 (or even Java 8) modules with the rest of the enunciate complex"
Hi Ryan,

The new OpenAPI module I am writing is written in Java 7.
https://github.com/jskovjyskebankdk/enunciate/tree/swagger3

But it fails to build with the rest of the modules, because of the animal-sniffer-manual-plugin.

I admit to having zero knowledge of Maven.

But the project splash page says enunciate gets built with Java 7, so I assumed that was the default?!

FWIW I would have been mu

[2017-11-01 15:27] stoicflame commented on #762
What errors does the animal-sniffer plugin output?

I expect that the next release of Enunciate (2.11) will finally drop support for Java 7 and move to Java 8.

[2017-11-01 20:28] ronnyfm opened #763 "Build fails using Maven 3.5.2"
Hello,

I am getting the following message, after I updated to Maven 3.5.2 (it worked with 3.3.9 and 3.5.0).

Logs mention a **RolesAllowed** annotation (not being used in my code).

[code]

Using 2.5.0 but updating to the latest version (2.10.1) doesn't work either, same error.

[2017-11-01 20:50] stoicflame commented on #763
Confirmed.

[2017-11-01 21:00] stoicflame commented on #763
I haven't been able to figure out any workaround yet. I've opened [MNG-6298](https://issues.apache.org/jira/browse/MNG-6298) for the Maven developers to triage.

In the meantime, if anybody can find a workaround I'd be happy to hear it.

[2017-11-02 06:02] jskovjyskebankdk commented on #762
It just does not like that I have set Java 7 for the openapi module:

[code]

Sounds good about the switch for Java 8! :)

I need to build the openapi module internally, so we can start using it.
But I will keep my swagger3 branch up to date and send you a pull request once I get it working properly.

I am assuming you want the module to be included with enunciate?
I am happy to also maintain it a

[2017-11-02 16:28] stoicflame commented on #762
I'd like to see it included into the main Enunciate project, but it sounds like we ought to wait until maybe after to 2.11 release when we update to Java 8 and support for Java 9.

As for the animal-sniffer plugin, I updated at 4b5432e so it should work better now.

[2017-11-03 05:49] jskovjyskebankdk commented on #762
Thanks!

[2017-11-03 05:49] #762 closed

[2017-11-03 17:10] raner commented on #763
In terms of a work-around, I was able to get rid of the problem by simply adding the missing dependency to enunciate's <plugin> configuration:

[code]