[2015-11-18 10:34] cforce commented on #208
if i add
<dependency>
            <groupId>com.webcohesion.enunciate</groupId>
             <artifactId>enunciate-jaxb</artifactId>
</dependency>
 i still get

[ERROR] Failed to execute goal com.webcohesion.enunciate:enunciate-maven-plugin:2.1.1:docs (docs) on project api: Execution docs of goal com.webcohesion.enunciate:enunciate-maven-plugin:2.1.1:docs failed: com.webcohesion.enunciate.Enunciate

[2015-11-18 12:53] jskovjyskebankdk opened #224 "api-classes include breakage"
If we add to enunciate.xml:
[code]

it explodes with (bottom part of stacktrace only):
[code]

[2015-11-18 13:12] pswvg opened #225 "Javadoc from @BeanParam's @QueryParams missing"
Creating the REST documentation with 2.1.1 seems to ignore the javadoc on `@QueryParam`s which are nested within `@BeanParam`s. Example:

[code]

[code]

Descriptions of the query params are empty in the documentation. It works, if the `@QueryParam` is directly used in a method signature.

`@BeanParam` seems basically supported since enunciate extracts the right params from it - which is great!

[2015-11-18 15:45] vguna commented on #224
I think I stumbled across that too. Are you using REST only? If so, just disable the JAX-WS module explicitly like so:

[code]

Somehow it seems that, although the module hasn't been explicitly enabled via maven (I'm using slim), it runs anyway.

[2015-11-18 15:55] vguna opened #226 "Maybe read javadoc from fields, too?"
Currently I'm using 2.1.1 to generate the documentation for my REST endpoints.
I'm putting the javadoc for the documentation for my DTOs on the getters and this works as expected.

But If one uses the same DTO for GET and POSTs, the javadoc is strange to read.
So e.g. mention if a field is required - on a getter :).

Maybe it's just me and how one builds the sentence, but it would be better to rea

[2015-11-18 18:41] stoicflame commented on #223
Duplicate of #178.

[2015-11-18 18:41] #223 closed

[2015-11-18 18:43] stoicflame commented on #224
Bug assigned to 2.2.

[2015-11-18 19:07] stoicflame commented on #226
You can use fields if you want. Just configure [JAXB like this](https://docs.oracle.com/javaee/5/api/javax/xml/bind/annotation/XmlAccessorType.html) and/or [Jackson like this](http://fasterxml.github.io/jackson-annotations/javadoc/2.2.0/com/fasterxml/jackson/annotation/JsonAutoDetect.html) for field-based accessors.

Is that what you're looking for?

Re: possible to mark fields as required: JAXB c

[2015-11-18 19:07] #226 closed

[2015-11-18 20:42] vguna commented on #226
Hm. Does that mean that enunciate will recognize that and take the javadoc from the fields as well?

I'll take a look at @JsonProperty. Thanks!

[2015-11-24 20:03] htran1970 opened #227 "Maven with stack overflow with enunciate 2.1.1 JDK 7"
enunciate.xml

[code]

[code]

[2015-11-27 09:51] Maskime commented on #202
Just for the sake of completeness, I had a smiliar issue and I realised that it was because I used the ```datatype-detection="aggressive"``` with the ```jax[b|rs|ws]``` modules (because I'm fairly new to this...) I removed it and did not have the error anymore.

[2015-12-01 19:31] aburkholder-vgc opened #228 "MirroredTypeException on @SeeAlso annotations"
Using maven 3, jdk6
No Enunciate settings file.
POM settings:
[code]

Stack trace below. If you need the WSDL or generated objects I will have to obfuscate them for you ...
[code]

[2015-12-01 22:35] stoicflame commented on #228
Thanks for the report. Assigned to Enunciate 2.2.

[2015-12-01 22:36] stoicflame commented on #227
Thanks for the report. Assigning to 2.2.

[2015-12-02 23:02] sg-ad commented on #60
Hi!  Just curious if/where this might be on the roadmap?  Thanks for the great work!

[2015-12-03 00:04] stoicflame commented on #60
I'll have some initial support in version 2.2.

[2015-12-03 14:20] skombijohn opened #229 "Data Types description for numeric types hide the real numeric java type"
Let's say I have a class Person:

[code]

A resource now offers a GET for a Person. To declare the return type of that resource I use `@TypeHint(Person.class)`

In the generated documentation for the Data Type `Person` the property `id` will appear as the type `number` and in the generated json example as:
[code]

This is basically correct in terms of json type safety.
But the above json will caus

[2015-12-04 18:28] sg-ad opened #230 "Identifying Response Content as List using TypeHint"
Hi,

Suppose that my API returns a collection of addresses wrapped in a `Response`.  The best I can do is to indicate the type of the actual objects in the collection, but is there a way to show that it's actually a collection of these objects that will be returned?  If not, it would be a great enhancement!

For example, the following code
[code]
yields
[code]
Now if my code is like this
[code]
I

[2015-12-04 20:26] stoicflame commented on #230
Tracking as an enhancement.

The XML object is lower-case as dictated by JAXB for the name XML type. To customize the name of the XML type, you can use the `@XmlType` annotation.

[2015-12-04 21:00] sg-ad commented on #230
If you want, I'd be happy to take a stab at implementing this enhancement.  I think that collections are the only untyped wrappers that are of concern.  Would simply adding a new attribute to the `@TypeHint` annotation suffice?  Something like `asCollectionOf` with default to `false`?

[2015-12-04 21:45] stoicflame commented on #230
Sure, I'd be happy to take a pull request.

Your proposed solution sounds good to me.

[2015-12-07 12:49] mrgmatthews opened #231 "Example JSON produced - anyway to set the values shown?"
I would like a way of setting a value to be shown in the example JSON
so let take Person

<pre lang="java"><code>
class Person {
  String id;
  String name;
}
</code>
</pre>
to get:
<pre lang="json">
{
  "name" : "default-name",
  "id" :  "xxxx-xxxx-xxxx-xxxx",
}
</pre>

is this the c.w.e.m.DocumentationExample ?

[2015-12-07 13:29] mrgmatthews commented on #231
yep, use DocumentationExample
bad ticket

[2015-12-07 13:29] #231 closed

[2015-12-07 19:13] sg-ad opened #232 "Building Enunciate: package genealogy.client.cite does not exist"
When trying to build the project (using `mvn install`, for example), I get an error about a missing package:
[code]
In fact, all `genealogy.*` packages are missing. From what I can see, this package is actually created on the fly from `com.webcohesion.enunciate.examples.cxf.genealogy`.  However, I'm not sure how this gets triggered.  Any tips?
Thanks!

[2015-12-07 21:06] stoicflame commented on #232
I can't figure out how you're getting that error.

You're just doing a "mvn install" from the root directory?

[2015-12-07 21:35] sg-ad commented on #232
That's right.  I get this error trying to build on `master`.  Here's a bit more context:
[code]
If I skip over the `cxf`, `full-api-edge-cases` and `jboss` modules then it builds fine (and probably skips over a ton of useful tests :) ).

I noticed that in the "Building Enunciate", you mention the need for some "unusual" libraries in order to run the tests.  I'm pretty sure I have many of these alr

[2015-12-08 21:16] stoicflame commented on #232
Yes, there's a bunch of libraries that need to be installed in order for the "full" build to run. These include things like mono, ruby, php, etc. By default, the build assumes you _don't_ have these things installed, skips all those tests, and won't let you do `mvn deploy`.

On my box, I have my `~/.m2/settings.xml` file providing all the needed hooks for these things, including setting the `activ

[2015-12-09 04:40] sg-ad opened #233 "@Facet on a package"
Hi!  I noticed that `@Facet` can be applied on a package.  I've tried it out but I'm not getting the result I'm expecting.  I wonder if either I'm doing it wrong, or my expectations are invalid.

Suppose I have class `com.project.billing.custom.acme.User` that is chock-full of jaxrs annotations.  In the package `com.project.billing.custom.acme` I create a `package-info.java` class with the followi

[2015-12-09 16:04] xpapad opened #234 "Javadoc is ignored in my setup with maven modules"
I'm using enunciate 2.1.1. My project is a webapp with a maven module which contains my enunciated web services. The documentation for my web services is generated, but Javadoc is completely ignored; there is nothing in either the method or the parameters description.
Any suggestions?
The module's pom.xml includes:

[code]

My webapp pom.xml includes:

[code]

My enunciate.xml is:

[code]

[2015-12-09 16:13] stoicflame commented on #234
Seems good to me.

What does your JavaDoc look like?

[2015-12-09 16:15] stoicflame commented on #233
Is `User` referenced from any JAX-RS or JAX-WS endpoints?

[2015-12-09 16:26] xpapad commented on #234
An example:

[code]

When I run mvn javadoc:javadoc the generated files are fine.
The enunciated doc looks like:

![enunciate](https://cloud.githubusercontent.com/assets/904419/11691081/65ab46fa-9e91-11e5-9656-5c80693aff08.png)

[2015-12-09 16:35] sg-ad commented on #233
Yes, but in another package.  The API declaration is like this:
[code]

[2015-12-09 16:45] stoicflame commented on #233
So Enunciate assumes that it needs to pull in `User` in order to correctly document the `readUser` operation.

Is that an incorrect assumption? How did you expect Enunciate to document the response body of the `GET` method on the `/account/users/{userId}` resource?

[2015-12-09 16:47] stoicflame commented on #234
Huh. I can't see anything wrong here. Do you see the JavaDoc show up when you build the [sample project](https://github.com/stoicflame/enunciate-sample)? Do you think you could tweak that project in a way that reproduces the problem?

[2015-12-09 18:08] xpapad commented on #234
I don't see any javadoc for the sample project either, but it doesn't seem to have any javadoc in the first place unless I'm missing something... Where is it supposed to be?

[2015-12-09 18:14] xpapad commented on #234
Ok I added some Javadoc on the interface and it works fine. Let me play with it a bit...

[2015-12-09 23:02] sg-ad commented on #233
I should've seen your point coming along like a ton of bricks.  :)  So in my attempt to extract a simple example out of our mass of code, I created an oversimplified one that sticks out like a sore thumb.  Nonetheless, I dug deeper into the problem that I was having and, indeed, there was a reference hidden deep into the object structure that was still being referenced by an endpoint.  Thanks for

[2015-12-09 23:41] stoicflame commented on #233
Not yet, but you're welcome to open up another issue to track the request, if you'd like.

[2015-12-09 23:41] #233 closed

[2015-12-10 06:18] sg-ad opened #235 "Support @Facet on enum values"
Since `@Facet` can already be applied to fields, it would be great if it could also be interpreted when it's applied on `enum` values.  For example:
[code]
If the `premium` facet is included, `PAYPAL` would appear in the possible values for the constraint.  Similarly, if the facet is excluded, `PAYPAL` isn't shown as a possible value.

[2015-12-10 11:01] xpapad commented on #234
I found the problem, the correct configuration in pom.xml is **sourcepath-includes** instead of **sourcepathIncludes**, as per @Parameter configuration in ConfigMojo (same for excludes)
You might want to change it in https://github.com/stoicflame/enunciate/wiki/Multi-Module-Projects

[2015-12-10 11:06] xpapad opened #236 "Dependencies with provided scope break build in module setup"
I am using a setup described in https://github.com/stoicflame/enunciate/issues/234

My module has a dependency on *javax.servlet:javax.servlet-api* with *provided* scope. This causes the enunciate 2.1.1 maven plugin to break my build:

[code]

It works if I temporarily set scope to compile, but naturally this is not sustainable long-term.

[2015-12-10 11:08] xpapad commented on #213
Is there a target date for this?

[2015-12-10 15:16] stoicflame commented on #213
I'm hoping to get 2.2 out in the next week or two.

[2015-12-10 15:16] stoicflame commented on #234
Doh. My bad. Thanks.

[2015-12-10 15:22] stoicflame commented on #236
Thanks for the report.

It's Maven that's providing the list of dependencies to Enunciate, so I'll look into whether there's some way to ask Maven for the provided-scope transitive dependencies.

In the meantime, I'd suggest just adding the servlet-api as a provided-scope dependency to the module where Enunciate is applied. This might be a better solution than changing the scope to "compile".

[2015-12-10 15:59] xpapad commented on #236
It's not a transitive dependency, it's explicitly declared in my parent (and module's) pom with *provided* scope.
I think the problem is that provided dependencies are not available in the classpath during assembly?

[2015-12-10 17:47] xpapad opened #237 "Documentation for JAX-RS resources is generated twice per method"
I'm using Enunciate 2.1.1. I have a JAX-RS service (UsersRestService)  with 3 methods. The first page of the documentation is fine:

![page1](https://cloud.githubusercontent.com/assets/904419/11722866/40c58b2a-9f63-11e5-9f96-512237fbd737.png)

When I click on any resoure, I see the methods twice, eg:

![page2](https://cloud.githubusercontent.com/assets/904419/11722932/a820f200-9f63-11e5-8d78-35356

[2015-12-10 17:55] stoicflame commented on #237
Tracking as a bug. Thanks for the report.

[2015-12-16 08:19] skombijohn opened #238 "Javadoc on DataTypes"
I have very simple DTOs with loads of basic type fields (String, boolean, Number).
They are included as @TypeHint on the resources, so they appear in the "Data Types" section of the documentation.

However, no matter that I add javadoc to the fields and class, there is no description in the documentation rendered.

[2015-12-16 13:52] jakub-bochenski commented on #117
Issue link: https://bugs.openjdk.java.net/browse/JDK-8143213

[2015-12-16 16:58] XavierLahaut opened #239 "Enable usage of custom serializers/deserializers in enunciate-jackson"
I have written a rest service using customs serializers/deseriaizers to handle dates in ISO8601 format with the Jackson provider. I'm using a specialization of the class _org.codehaus.jackson.map.module.SimpleModule_ to register these the serializers. This enables me to handle the ISO8601 format on all my API without adding any extra information on my data types.

Will it be possible to open more

[2015-12-16 17:49] stoicflame commented on #238
That was reported at #234, too, but I can't seem to reproduce it. If you can provide more information about how to reproduce it (perhaps tweak the sample app), will you report it at #234? In the meantime, I'll close this out as a duplicate.

[2015-12-16 17:49] #238 closed

[2015-12-16 19:11] stoicflame commented on #239
See #187. Use `@TypeHint`.

Also see #231; use `@DocumentationExample`.

[2015-12-16 19:11] #239 closed

[2015-12-17 22:21] stoicflame commented on #60
Initial support has been added and pushed to HEAD to be included in the next build.

[2015-12-17 22:21] #60 closed

[2015-12-17 23:35] stoicflame commented on #213
Fixed at 4c49093.

[2015-12-17 23:35] #213 closed

[2015-12-18 20:44] sg-ad commented on #60
Cool, I'll check it out over the weekend!

[2015-12-21 21:14] stoicflame commented on #208
Fixed at 9f36be7.

[2015-12-21 21:14] #208 closed

[2015-12-21 21:24] stoicflame commented on #210
Please clarify how you'd like to use `@TypeHint`. The message about "isn't a potential Jackson type" means that the interface isn't going to show up in the JSON documentation. That's a good thing because you don't want the interface to show up in the docs, you want the "hinted" class to show up.

So what exactly isn't working here?

[2015-12-21 23:12] stoicflame commented on #215
Fixed at cc67cd2.

[2015-12-21 23:12] #215 closed

[2015-12-21 23:34] stoicflame commented on #217
Fixed at 5bcf3c5.

[2015-12-21 23:34] #217 closed

[2015-12-21 23:39] stoicflame commented on #218
Finally visiting this issue, I'm unclear what a good fix might be. Setting "local" datatype detection seems like a good idea to me; I'm not sure how to otherwise detect duplicates.

Thoughts?

[2015-12-22 10:03] hskigithub opened #240 "Version 2 is not in beta as stated in Wiki home page"
The wiki home page https://github.com/stoicflame/enunciate/wiki says something about version 1 and version 2 in the Getting Started section. I think this description is wrong, because version 2 seems to be no longer in beta, right?

[2015-12-22 13:08] bkalas opened #241 "Including @throws in generated documentation"
Hi,
is it somehow possible to include @throws section from javadoc into generated documentation of jax-rs rest methods?
Currently this section is ignored (at least in my project).
Thanks.

[2015-12-22 16:48] scoquelin commented on #232
FYI, same issue for me building master on Linux using `mvn clean install`
Here is the log :
[code]

Same issue if I use the enunciate-full-tests profile with `mvn clean install -Penunciate-full-tests`

[2015-12-22 18:37] hskigithub commented on #229
I see the same issue with Java int, which is translated to an example JSON object with "12345.67", which is wrong and will be rejected by the REST API, because it is not int.

I think it is crucial to keep the type Long, Integer, long and int and not translate them to number.

[2015-12-31 15:05] vguna commented on #218
Hm. When `local` is the way to go in this situations I'm OK with that.
To detect duplicate resources one could check if a class or interface already exists having the same  `@Path` annotation. But that sounds too easy I guess ;).

[2016-01-04 08:22] mrgmatthews opened #242 "javax.validation.constraints integration"
So on the JSON objects can have constraints
Pulls in validation defined in annotations into the documentation.

@Size @NotNull etc

[2016-01-04 16:09] stoicflame commented on #242
Tagged as an enhancement; not assigned to a release yet.

[2016-01-04 18:23] stoicflame commented on #240
Thanks for the report.

[2016-01-04 18:23] #240 closed

[2016-01-04 18:26] stoicflame commented on #241
Enunciate has no way of knowing how you map the exceptions that get thrown to an HTTP response. So, no, the "throws" section of the javadoc is not included in the generated documentation.

There are, however, some [enhancment annotations](https://github.com/stoicflame/enunciate/wiki/Enunciate-Specific-Annotations#enhancements-to-jax-rs) that Enunciate provides that allow you to describe the HTTP s

[2016-01-04 18:26] #241 closed

[2016-01-06 16:28] mrgmatthews commented on #242
also support for org.hibernate.validator.constraints would also be cool :+1:

[2016-01-07 09:32] anton-johansson commented on #146
I put this on the shelf for some time. Now I got back into it and I tried using the latest version, 2.1.1, and the problems seems to be gone. I'm not sure what could have fixed it, but I'm not sure it's worth spending time on. :)

Close?

[2016-01-07 09:38] anton-johansson opened #243 "<title> has no effect"
Hi!

I'm using the maven-enunciate-plugin, but the ```<title>``` tag seems to have no effect. I get the artifacts name in the POM as the title instead. The maven plugin sets the POM's name as the default title, as [ConfigMojo.java#L221](https://github.com/stoicflame/enunciate/blob/9cc94188ea63a29fcfbd50e5945d91ca4698c79d/slim-maven-plugin/src/main/java/com/webcohesion/enunciate/mojo/ConfigMojo.jav

[2016-01-07 21:20] rjernigan opened #244 "Package missing in class reference"
When I run `mvn enunciate:docs`, I'm getting errors like the following:

[code]

The file for this class can be seen here in the CodaHale project:
[metrics-adapter/src/main/java/com/codahale/metrics/health/HealthCheck.java](https://github.com/dropwizard/metrics/blob/796663609f310888240cc8afb58f75396f8391d2/metrics-adapter/src/main/java/com/codahale/metrics/health/HealthCheck.java)

It seems like t

[2016-01-08 12:12] bogdanzurac commented on #190
Was looking for this as well. It's not critical, but I remember being a nice feature from 1.x.

[2016-01-08 14:05] bogdanzurac opened #245 "Enunciate.xml config file not having any effect"
The `enunciate.xml` file appears to be picked up by the gradle plugin, but it has no effect whatsoever on the actual resulting documentation. Now, I don't know if I should've posted this inside the gradle plugin project, as it may be a general issue instead of a plugin based one.

Below is the **enunciate.xml** file inside the root of the project.

[code]

**build.gradle:**

[code]

[2016-01-08 21:13] stoicflame commented on #245
I'm not a gradle developer, but I can tell you the configuration is applied using Maven and Ant.

What makes you think the file is "picked up" by the gradle plugin if there's no effect?

[2016-01-08 21:22] stoicflame commented on #218
The problem with that is that some JAX-RS implementations might actually allow that as a valid case. I haven't found any statements in the spec that says resource classes must have unique `@Path` values. I understand that _Jersey_ requires unique `@Path` values, but what about all the other implementations?

[2016-01-08 21:31] stoicflame commented on #219
At 52156f2, I added a package description and verified that it's showing up correctly in the generated documentation.

There must be something specific to your project. Maybe there are multiple `package-info` files for that package? The only think Enunciate is doing to look up the description is [asking the underlying Javac engine for the JavaDocs of the configured package](https://github.com/stoi

[2016-01-08 21:39] bogdanzurac commented on #245
I believe it is being picked up because if I remove the configFileName property and leave the default one of **/src/main/enunciate/enunciate.xml**, but without having the actual file on the path, it complains it doesn't exist, like it should. As soon as I move it inside the folder, the warning disappears. The config still doesn't work, even while using this default file location. Any ideas what co

[2016-01-08 21:57] stoicflame commented on #220
Fixed at 944969b.

[2016-01-08 21:57] #220 closed

[2016-01-08 22:15] stoicflame commented on #221
Fixed at 09dd986.

[2016-01-08 22:15] #221 closed

[2016-01-08 23:33] stoicflame commented on #222
Using `@Label` worked for me, as proved at 847af78.

[2016-01-08 23:33] #222 closed

[2016-01-08 23:40] stoicflame commented on #224
Hopefully fixed at 1ba46f0.

[2016-01-08 23:40] #224 closed

[2016-01-08 23:45] stoicflame commented on #225
After further investigation, I'm going to declare this working as designed.

Enunciate pulls the documentation from the members (fields or properties) that are being used as parameters. So in the example above, the _fields_ are being used as the parameters, but only the _properties_ have documentation. So the solution is to either document the fields or annotate the properties.

[2016-01-09 00:14] stoicflame commented on #245
So the file is being _read_ but not applied.

I suspect this is still a bug in the gradle plugin. @jskovjyskebankdk, do you concur?

[2016-01-11 06:36] jskovjyskebankdk commented on #245
Possibly. But unlikely. I mean, it works for me :)

@bogdanzurac run gradle with -d option. That will show you Enunciate log output.
It'll probably tell us more.

[2016-01-11 08:39] pswvg commented on #225
Hi Ryan.

I can't quite follow you :). Just to be sure we're talking about the same things here:

- field: the java field itself as declared private
- property: the getter/setter method for the field

You say: "So in the example above, *the fields* are being used as the parameters, but only the properties have documentation".

If you're talking about the `list` method above, I'm using the `Paging`

[2016-01-11 16:03] stoicflame commented on #225
Huh. I must have read it wrong. For some reason, I was thinking the properties were commented and not the fields.

Enunciate will take the documentation from whatever member is annotated. The `@param` documentation on the `list` method will not be used, since it's used to document a set of parameters and not a single parameter.

I'll reopen and revisit this one.

[2016-01-11 16:11] mherz opened #246 "Use https within swagger ui"
If I configure Swagger within enunciates modules tag, I'm able to customize the used host and basePath. But how am I able to change the used protocol if I want to use https instead of http?

Example:

    <modules>
        <swagger host="myservice.com" basePath="/serviceEndpoint"/>
    </modules>

If I configure swagger like this, swagger ui will use the url 'http://myservice.com/serviceEndpoint'.

[2016-01-11 17:51] nuevedientes opened #247 "Excluding classes doesn't work"
I followed the instructions here to exclude classes from the JSON and XML documentation.
https://github.com/stoicflame/enunciate/wiki/Excluding-Classes
Specifically I am trying to exclude an abstract class and InputStream:

[code]

The above is having no effect.

[2016-01-11 17:59] stoicflame commented on #247
Yes, if the class is "part" of API classes that are _not_ excluded, it will get pulled in even if excluded.

In this case, you'll probably want to use `@XmlTransient` for XML and `@JsonIgnore` for JSON.

[2016-01-11 17:59] #247 closed

[2016-01-11 18:00] nuevedientes commented on #247
Thanks, is there a way to exclude java.io.InputStream as well?

[2016-01-11 18:09] stoicflame commented on #246
It's not clear to me how to configure Swagger to use https. Can you suggest a way to generate the swagger.json file to allow this?

[2016-01-11 18:11] stoicflame commented on #247
You need to figure out where `InputStream` is being used in your API classes and (again) apply `@XmlTransient` and `@JsonIgnore`.

[2016-01-11 23:01] stoicflame commented on #227
Fixed at abbd9bf.

It's because you had a class that extended a Map that contained itself. E.g.:

[code]

The fix was pretty ugly.

[2016-01-11 23:01] #227 closed

[2016-01-11 23:04] stoicflame commented on #225
Revisited this today, but it works for me. Confirmed with the "edge case" example with a [service method annotated with `@BeanParam`](https://github.com/stoicflame/enunciate/blob/master/examples/full-api-edge-cases/src/main/java/com/webcohesion/enunciate/examples/jaxwsrijersey/genealogy/services/PersonService.java#L81) and [associated bean parameter](https://github.com/stoicflame/enunciate/blob/ma

[2016-01-11 23:04] #225 closed

[2016-01-11 23:22] stoicflame commented on #228
Okay, this error is really weird.

The stack trace points to [EnunciateJaxbContext.java:761](https://github.com/stoicflame/enunciate/blob/v2.1.1/jaxb/src/main/java/com/webcohesion/enunciate/modules/jaxb/EnunciateJaxbContext.java#L761), but that exception is [clearly getting caught on line 766](https://github.com/stoicflame/enunciate/blob/v2.1.1/jaxb/src/main/java/com/webcohesion/enunciate/modules/

[2016-01-11 23:41] stoicflame commented on #229
Fixed at a23b0a9.

[2016-01-11 23:41] #229 closed

[2016-01-11 23:49] stoicflame commented on #230
Fixed at 91767fc.

[2016-01-11 23:49] #230 closed

[2016-01-12 00:21] stoicflame commented on #232
Fixed at 8d2a910.

Worked for me; let me know if you have issues with it.

[2016-01-12 00:21] #232 closed

[2016-01-12 05:23] hskigithub commented on #229
Thanks for fixing! Looking forward for the release. :-)

[2016-01-12 07:56] mherz commented on #246
The Swagger JSON file already contains the following:

    "host" : "myservice.com",
    "basePath" : "/serviceEndpoint",

To work with https, I think we would need also:
    "schemes": ["https"],

In case both is allowed, we only need to add "http" to the JSON array. I hope it's comprehensible. Otherwise I will provide a full example file later.

[2016-01-12 08:08] pswvg commented on #225
Mkay, I'll recheck that. Thanks for looking into this!

[2016-01-12 10:27] bogdanzurac commented on #245
The only line that is about the config file from the gradle output is:

```12:19:40.302 [INFO] [org.gradle.api.Task] Using config /home/user/workspace/project/enunciate.xml```

Which is indeed the location of the config file. Is there anything else in particular that I should be looking for? I still believe this isn't caused by the gradle plugin, but rather by a config issue or whatnot. Can you co

[2016-01-12 16:28] scoquelin commented on #232
Confirming that this is now working for me, thanks !

[2016-01-12 16:46] tekknow opened #248 "customizing jaxws enunciate soap response format"
I inherited a project that contains multiple web services. I used one of them as a template to create a new one. It worked and am getting a good soap response. But the customer wants the response format to be different. Here's a snippet of the current response:
[code]
So you see it is a series of records returned from a database query. What I can't figure out is what is giving the names for each d

[2016-01-12 17:11] hskigithub opened #249 "Documentation needed for enunciate annotations"
I am looking for documentation about the annotations for enunciate to improve creation of documentation like '@TypeHint' and how to get them into my build path via pom.xml.

Can you help?

Best regards
Holger

[2016-01-12 17:40] stoicflame commented on #245
The only thing invalid in that config file is this line:

[code]

The `slug` and `version` attributes should go on the root `enunciate` element. And you'll probably want the slug to not have spaces. Everything else looks good.

What particular configuration elements are you expecting to see but aren't showing up?

[2016-01-12 17:44] stoicflame commented on #248
You use JAXB annotations. Here's a guide:

https://docs.oracle.com/javase/tutorial/jaxb/intro/customize.html

So somewhere, you should have a class that has a getter or setter called "getChannelNumber". Annotate that with @XmlElement(name="channel_number").

[2016-01-12 17:44] #248 closed

[2016-01-12 17:45] stoicflame commented on #249
https://github.com/stoicflame/enunciate/wiki/Enunciate-Specific-Annotations

[2016-01-12 17:45] #249 closed

[2016-01-12 17:52] bogdanzurac commented on #245
Removed it, still nothing. I've even left the below version, still doesn't work.

[code]

Even for the above smaller version, I expect the jackson1 module to be disabled, thus the JSON data type to not appear twice on the homepage. And every API path to begin with /api instead of /docs.

For the extended version in the first post, I expect the copyright notice to appear in the footer and the title

[2016-01-12 18:59] stoicflame commented on #234
Wiki has been fixed.

[2016-01-12 18:59] #234 closed

[2016-01-12 19:59] hskigithub opened #250 "Add examples to Enunciate Specific Annotations wiki page"
I would recommend to add some examples to the Enunciate Specific Annotations wiki page e.g. '@TypeHint(PersonBean.class) or @TypeHint(PersonBean[].class)'. Same to the other annotations.

I would also link to this wiki page from Getting Started page and maybe main page.

[2016-01-12 23:22] stoicflame commented on #230
Okay, I botched this one. 91767fc has been reverted at f791989 because there was already a way to specify a list of things using `@TypeHint`: just use an array declaration, e.g.:

[code]

[2016-01-13 07:49] jskovjyskebankdk commented on #245
For what it is worth, one of our files looks like the below.
The content is definitely taken into account when generating docs.

'docs' and 'swagger' are the only things we ever generate.

I'm a bit hung up today and tomorrow, so won't have time to look further into it now.

[code]

[2016-01-13 10:01] bogdanzurac commented on #245
Yeah, well, I've copy-pasted literally the entire code from above and it still doesn't change anything. For example, the Ruby JSON Client (that is the last one being disabled) is still present under the Files and Libraries category as

[code]

However, as you can see, the created date is not up to date. Any idea what could be causing that? The title and copyright are still nowhere to be found.

[2016-01-13 10:47] jskovjyskebankdk commented on #245
I just remembered one thing; there is a dependency problem in the build chain somewhere.

So if you change the build file or enunciate.xml, running the enunciate task may not actually regenerate output.

Try deleting build/enunciate before you run the enunciate task.

[2016-01-13 11:02] jskovjyskebankdk commented on #245
Ah, I was thinking of #168 which should be fixed.

I still see a dependency problem. I'll have a look at the Gradle task code as it might be caused by something else.

You should still try deleting build/enunciate to see if it makes a difference.

[2016-01-13 11:09] bogdanzurac commented on #245
Indeed, deleting the /build/enunciate folder in order for it to be regenerated does the trick. Isn't the issue part of the gradle plugin as such?

A few follow-up questions though. Title, description and copyright are visible, but the contact tag info doesn't show up anywhere. Also, the slug tag doesn't have any effect and the version is visible only inside the swagger UI, if I'm not mistaken. Las

[2016-01-13 11:19] jskovjyskebankdk commented on #245
I have created stoicflame/enunciate-gradle#5 to track it for the gradle plugin.

[2016-01-13 17:05] stoicflame commented on #245
It's only applicable to the generated swagger.json file. I'm not sure where it shows up in the Swagger documentation.

It's used to generate the names of some of the html files and generated source code files. It doesn't show up in the documentation.

Correct.

Try:

[code]

Closing this issue; tracking at stoicflame/enunciate-gradle#5.

[2016-01-13 17:05] #245 closed

[2016-01-13 17:24] stoicflame commented on #236
So I'm having a hard time reproducing this. When I set one of my dependencies to scope "provided", it gets picked up and included on the Enunciate classpath.

Maybe I'm not understanding the setup. Here's how I understand it, please correct me where I'm wrong:

* You've got the "csb-module-csadmin" module that contains the "UsersRestService" resource, which depends on the servlet-api jar.
* The se

[2016-01-13 17:39] stoicflame commented on #237
I don't think this is a problem at EnunciateAnnotationProcessor:73. This might be the same issue as reported at #218. Can you confirm?

[2016-01-13 17:41] bogdanzurac commented on #245
Can confirm the docsSubdir setting works, just as a heads up. Thanks again for everything.

[2016-01-13 18:22] stoicflame commented on #243
I suspect that the title _is_ working, just not showing up where you'd expect.

The only place the title is used in the generated docs is in the `<title>` HTML tag and in the navigation menu. The text you see on the index page is the `<description>` configuration element.

![title-example](https://cloud.githubusercontent.com/assets/145838/12303492/e67c814c-b9e7-11e5-8552-5bf58d2a332b.png)

[2016-01-13 18:22] #243 closed

[2016-01-13 18:30] stoicflame commented on #244
Enunciate flattens out the inner classes in the generated client-side code. But that doesn't explain why the compile is failing.

Do you have a branch of the project somewhere I can check out to reproduce the issue? Or a patch?

[2016-01-13 18:39] stoicflame commented on #246
Fixed at 1bafdc3.

[code]

[2016-01-13 18:39] #246 closed

[2016-01-13 19:23] hskigithub opened #251 "CSS multi-row-description should not have border"
It would look more similar to other layout, if a description would not have a left border as defined per
.multi-row-description {
 border-left: 1px solid #DDD;
}

[2016-01-13 19:23] anton-johansson commented on #243
Ahh, of course. My bad. I recall testing the description tag as well, but I'll give it another go first!

[2016-01-13 19:35] hskigithub opened #252 "Improve layout of REST URL in generated HTML page"
Current layout for REST URLs is in \<h3>, which is okay, but actual URL is then surrounded by \<small>.

From visualization perspective this looks as URL would be less important information, which is actually not the case. :-)

You should remove this \<small>. If you want maybe later do different styling of GET and URL, then surround both of them with a <span> and a CSS class e.g. \<span class="ht

[2016-01-13 20:44] stoicflame commented on #250
Fixed.

[2016-01-13 20:44] #250 closed

[2016-01-13 21:04] stoicflame commented on #251
Fixed at d3b43e0.

[2016-01-13 21:04] #251 closed

[2016-01-13 21:05] stoicflame commented on #252
Fixed at af0f42a.

[2016-01-13 21:05] #252 closed

[2016-01-13 21:31] hskigithub commented on #250
Great! Thank you very much! Very useful!

[2016-01-13 22:32] stoicflame commented on #210
I'm going to close this as working as designed. I'd be happy to re-open this if needed.

[2016-01-13 22:32] #210 closed

[2016-01-13 22:33] stoicflame commented on #174
Update: this issue isn't going to make it into 2.2.

[2016-01-13 23:20] stoicflame commented on #218
Okay, so I see a bit better now. It should be pretty safe to remove resources with the same class, same path.

Fixed at b242116.

[2016-01-13 23:24] stoicflame commented on #237
Fixed at b242116.

[2016-01-13 23:24] #237 closed

[2016-01-13 23:26] stoicflame commented on #219
At bbf06c1, fixed the cut-off at first comma.

[2016-01-13 23:26] #219 closed

[2016-01-14 07:55] anton-johansson commented on #243
~~Hmm, still can't get it to work. According to ```docs.fmt``` the title is used in two places. The ```<head><title>``` and the navbar. These are still my POM's ```<name>``` tag, no matter what I put in ```<title>```.~~

~~Then we we have to Jumbotron (the one that shows 'Enunciate Edge Case Example' in your picture), where I also get the POM's ```<name>``` tag. In ```docs.fmt``` this one reads th

[2016-01-14 18:03] stoicflame commented on #236
Please comment if needed; I'd be happy to re-open.

[2016-01-14 18:03] #236 closed

[2016-01-14 18:03] stoicflame commented on #235
Fixed at e096e75.

[2016-01-14 18:03] #235 closed

[2016-01-14 18:16] hskigithub opened #253 "@XmlElement(name = "...") is not taking into account for property name"
If I use `@XmlElement(name = "id")` to rename a propery in JSON or XML, this is not taking into account in enunciate e.g.

    @DocumentationExample("customfield_10400")
    @XmlElement(name = "id")
    private String customFieldId;

This creates in REST documentation a property customFieldId, but should use id. Same in JSON example customFieldId, but should be id.

[2016-01-14 18:16] stoicflame commented on #243
At 05f0a5f, I added code that will take the config file into account when calculating staleness.

[2016-01-14 18:18] anton-johansson commented on #243
Nice! :)

[2016-01-14 18:25] stoicflame commented on #253
If that's accurate, that's a pretty significant bug.

Unfortunately, I'm not able to reproduce it. For example, if edit the [sample app](https://github.com/stoicflame/enunciate-sample) and annotate the `getId` method of `com.ifyouwannabecool.domain.persona.Persona` with `@javax.xml.bind.annotation.XmlElement(name = "customId")`, it gets documented as "customId" and not "id".

[2016-01-14 18:47] hskigithub commented on #253
Here is my code.

[code]

[2016-01-14 18:54] sg-ad commented on #235
You rock!  Thanks!

[2016-01-14 19:00] stoicflame commented on #253
Still no luck reproducing it.

I [pushed a new branch](https://github.com/stoicflame/enunciate-sample/tree/demo-custom-element-names) to the enunciate-sample application. I tried to [make the Persona](https://github.com/stoicflame/enunciate-sample/blob/demo-custom-element-names/src/main/java/com/ifyouwannabecool/domain/persona/Persona.java) look like your example above. The docs were generated cor

[2016-01-14 19:55] hskigithub commented on #253
I am looking at JSON. Maybe that makes a difference?

[2016-01-14 21:27] stoicflame commented on #253
Json is provided by Jackson, which is customized using Jackson annotations, not JAXB annotations:

[code]

You can, however, configure Jackson to use JAXB annotations:

https://github.com/FasterXML/jackson-module-jaxb-annotations

[2016-01-14 21:27] #253 closed

[2016-01-14 21:37] stoicflame commented on #213
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:37] stoicflame commented on #215
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:38] stoicflame commented on #217
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:38] stoicflame commented on #218
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:41] stoicflame commented on #219
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:42] stoicflame commented on #220
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:42] stoicflame commented on #221
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:42] stoicflame commented on #224
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:43] stoicflame commented on #227
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:43] stoicflame commented on #229
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:43] stoicflame commented on #235
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:44] stoicflame commented on #237
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:44] stoicflame commented on #246
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:44] stoicflame commented on #250
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:44] stoicflame commented on #251
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:45] stoicflame commented on #252
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:45] stoicflame commented on #60
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-14 21:45] stoicflame commented on #208
[Enunciate 2.2 is now available](https://github.com/stoicflame/enunciate/releases/tag/v2.2.0).

[2016-01-15 07:17] Debenson opened #254 "swagger module miss port"
for method SwaggerDeploymentModule#writeTo:
[code]

getHost() may miss port part.
see http://swagger.io/specification/ "host" definition:

The host (name or ip) serving the API. This MUST be the host only and does not include the scheme nor sub-paths. **It MAY include a port**. If the host is not included, the host serving the documentation is to be used (including the port). The host does not sup

[2016-01-15 17:10] stoicflame commented on #254
Thanks for the report. Assigning to 2.3.

The workaround is to explicitly provide a host in the configuration:

[code]

[2016-01-15 18:33] ke5stl commented on #138
hey there.  I am trying to use enunciate 2.2.0 with a maven project, and I'm getting the following:

Failed to execute goal com.webcohesion.enunciate:enunciate-maven-plugin:2.2.0:assemble (assemble) on project bcpbx-rest-war: Execution assemble of goal com.webcohesion.enunciate:enunciate-maven-plugin:2.2.0:assemble failed: com.webcohesion.enunciate.EnunciateException: Compile failed of Java JSON c

[2016-01-15 18:56] stoicflame opened #255 "JSON client class compilation failure"
hey there.  I am trying to use enunciate 2.2.0 with a maven project, and I'm getting the following:

[code]

here is what I have in my pom, for the plugin: enunciate.version is 2.2.0 by the way....

[code]

I am using jdk 8 u 66.

(Originally reported at #138 by @ke5stl.)

[2016-01-15 18:59] stoicflame commented on #255
@ke5stl , we're moving your issue to a new thread here. This is different from the `NoClassDefFoundError`s at #138, which is being used to track `NoClassDefFoundError`s that have no other output.

This particular case is a compile failure of your client-side JSON classes. Unfortunately, you didn't include the compiler errors, which should have been reported earlier in your build. Will you please i

[2016-01-15 19:05] ke5stl commented on #255
ah....

here we go:

warning: [options] To suppress warnings about obsolete options, use -Xlint:-options.
/Users/pbelbin/nbp-api/bcpbx-api-project/trunk/modules/bcpbx-rest-common/war/target/enunciate/java-xml-client/src/com/broadsoft/cpbx/api/rialto/domain/RequestedFOCDate.java:21: error: cannot inherit from final RialtoDate
public class RequestedFOCDate extends com.broadsoft.cpbx.api.rialto.domai

[2016-01-15 19:20] stoicflame commented on #255
What does the `RequestedFOCDate` look like?

[2016-01-15 19:32] ke5stl commented on #255
It is a basic pojo with get/setters i think, but it does make use of a
utility class static method to ingest/validate/standardize the set value, i
think.   I am mobile currently.
On Jan 15, 2016 1:20 PM, "Ryan Heaton" <notifications@github.com> wrote:

[2016-01-15 19:34] ke5stl commented on #255
Oh, i think it extends a base type, or implements an interface definition
object.
On Jan 15, 2016 1:32 PM, "Peter Belbin" <ke5stl@gmail.com> wrote:

[2016-01-17 21:04] hskigithub commented on #253
How can I configure this as part of my enunciate config?

Here is what's being created as part of enunciate JSON doc for the class above.

[code]

Also that boolean field is not part of JSON. And `@DocumentationExample("New Moon Rocket Project")` doesn't have any effect on created JSON.

[2016-01-18 03:25] sg-ad opened #256 "Swagger, Inheritance and 'allOf'"
Hi,

I'm using Swagger2Markup to process the Swagger output generated by Enunciate and create some Asciidoc output.  I've run into a problem, but I'm not sure what's at fault because I'm still not 100% clear on how Swagger wants us to handle inheritance.

Our API has some references to `com.fasterxml.jackson.databind.node.ArrayNode`.  `ArrayNode` is a child of `ContainerNode`, itself a child of `B

[2016-01-18 16:48] sg-ad commented on #256
FYI, I've posted a [question](https://github.com/OAI/OpenAPI-Specification/issues/543) in the Swagger Spec project since that's possibly the more relevant forum for this "first step" question.

[2016-01-18 16:58] ke5stl commented on #255
ok.  here is what I think you need:

package com.broadsoft.cpbx.api.rialto.domain;

/**
 *
 @author pbelbin

 */
@javax.xml.bind.annotation.XmlType (
  name = "requestedFOCDate",
  namespace = ""
)
@javax.xml.bind.annotation.XmlRootElement (
  name = "requestedFOCDate",
  namespace = ""
)
public class RequestedFOCDate extends com.broadsoft.cpbx.api.rialto.domain.RialtoDate {

}

and here is Rialto

[2016-01-18 17:07] ke5stl commented on #255
by the way, I changed the source object RialtoDate to not be final, but, I see that the generated source under the war project target/enunciate source object has the final, and it's still failing.

[2016-01-18 17:12] ke5stl commented on #255
interestingly, the enunciate version of this object (RialtoDate) under the java-json-client tree is not final.

[2016-01-19 00:05] ke5stl commented on #255
Ok.  I've created a sample based on the IfYouWannaBeCool sample app.

I've attached the project source.

Note, I've found 2 issues.

1.  in the CleanDate object, the @XmlValue annotation on the date attribute appears to be causing the issue that I've been seeing.
2. on the way to creating this sample, I discovered another issue, which is that it seems that there's a problem if there is not a sette

[2016-01-19 02:12] betenkowski opened #257 "json-java-client does not generate the client"
Hi,

I'm trying to generate Java client for a service using the `json-java-client` module. However, it seems to generate model (data) classes only, the client itself is missing. I cloned the repository and compiled the examples. There seems to be the same issue. E.g. after calling `mvn install`, it generates the following structure for `jackson2-api`:
[code]

So - no `api` package, no `PersonServi

[2016-01-19 03:12] Debenson commented on #254
Thanks.

[2016-01-19 12:27] nfalco79 opened #258 "Maven plugin does not support aggregate report as javadoc"
Maven plugin does not support aggregate report as javadoc.
I'm trying to generate a maven multi-module site but after the site site:deploy goals index.html of enunicate 2.2.x are always empty.

[2016-01-19 12:29] gaetancollaud commented on #182
This issue is closed, but there is no milestone specified. Does enunciate 2.2.0 support lombok or will it be for the next release ? I tried the 2.2.0 but it doesn't work for me. Maybe I miss something but it works if I manually write the getters.

[2016-01-19 16:56] rjernigan commented on #244
Unfortunately I'm not able to provide the project since it's private. In my project I have a method like so:

[code]

When the enunciate:docs goal is run, the following output is generated into the target directory:

[code]

Where the incorrect package name is being generated from the CodaHale project.

I can try to reproduce the issue in a smaller non related project if that would help.

[2016-01-19 18:44] stoicflame commented on #253
Are you using Jackson 1 or Jackson 2? Configuration will be different depending on which version of Jackson you're using.

[2016-01-19 18:50] stoicflame opened #259 "enunciate config file isn't getting considered when calculating staleness of generated docs"
See stoicflame/enunciate-gradle#5.

[2016-01-19 18:55] hskigithub commented on #253
I just followed Doc Goal Example as described in Wiki here https://github.com/stoicflame/enunciate/wiki/Executables.

[2016-01-19 23:28] ke5stl commented on #255
hello there!  were you able to reproduce the issue I'm seeing?  I appreciate the help.

[2016-01-20 04:19] stoicflame commented on #256
I think this is a bug in the Enunciate-generated swagger.json file. If you reference `ArrayNode` it should probably just be described as an array of objects.

I'll call this a bug and assign it to 2.3.

[2016-01-20 04:21] stoicflame commented on #257
The services are only generated for SOAP endpoints. Only model classes are generated for JSON.

I can imagine generating services for the REST endpoints (instead of SOAP endpoints), but that's a major enhancement. Would you like me to turn this issue into an enhancement request for that feature so it can be tracked?

[2016-01-20 04:24] stoicflame commented on #182
This issue is closed because support can be enabled by using the technique [described above](#issuecomment-153855822).

[2016-01-20 04:25] stoicflame commented on #253
The doc goal can be applied to a project that uses either Jackson 1 or Jackson 2. I need to know which one your project uses.

Maybe `mvn dependency:list` can provide you more details about which Jackson version you're using.

[2016-01-20 08:01] roman-voropaev commented on #181
Is there way to exclude even referenced data classes? For example in one of my JAX-RS methods I accept binary content as InputStream. And referencing java.io.InputStream is definitely not desired.
![stream](https://cloud.githubusercontent.com/assets/1194340/12442906/d5471d42-bf4b-11e5-97a1-0884d6aad4ca.png)

[2016-01-20 08:03] roman-voropaev commented on #181
Oh, found this https://github.com/stoicflame/enunciate/issues/247 Thanks!

[2016-01-20 08:34] yeahbutwalter opened #260 "Execution default of goal com.webcohesion.enunciate:enunciate-maven-plugin:2.2.0:assemble failed: Enunciate compile failed."
We used v1.31 with jdk7 previously for quite some time, no problems whatsoever. After upgrading to java8 and latest&greatest Enunciate we encounter the following:

Maven 3.3
Javac 1.8.0_60

Maven snippet is default example for docs, no custom modules.

Maven output:

[code]

Any ideas?

Much obliged.

[2016-01-20 08:59] qanik1307 opened #261 "TypeHint.NO_CONTENT results in rendered ResponseBody"
When using @TypeHint(TypeHint.NO_CONTENT.class) on a rest endpoint, the resulting documentation from the docs module includes a rendered "Response Body" section including a Media Type. Per definition there can be no Media Type if there is no content returned.

![no_content](https://cloud.githubusercontent.com/assets/16794203/12443910/b08d6c12-bf5b-11e5-8229-9876ee9315dc.PNG)

The empty NO_CONTENT

[2016-01-20 09:23] tzebrowski opened #262 "support for required fields for json content"
I struggle with the issue about required fields description defined in model, issue is related to json messages.  For instance, jackson allows you to mark some fields in complex types as required by using `@JsonProperty` annotation. The thing is that this information is not visible in documentation in any place.

For instance when service as a output produces xml content, you can find then informa

[2016-01-20 10:36] tzebrowski opened #263 "Custom content included to the document template."
Is there exists some mechanism which allows to add some custom content (plain html) to the document template. I mean  some predefined places like header, footer ?

[2016-01-20 12:33] nfalco79 opened #264 "docs goal skips module from classpath that are not jar packaging"
As documentent *docs* goal should generate docs for modules that are not war. During tycho build it's skip all other modules than current

[code]

This generate a lot of javac in Service that refer classes in the skipped module.
Is there a reason because filter classpath that comes from maven lifecycle (that has injection of other plugins)?

[2016-01-20 14:22] nfalco79 opened #265 "Move org.codehaus.enunciate.contract.jaxrs.ResourceMethodSignature to enunciate-core-annotation jar"
We use org.codehaus.enunciate.contract.jaxrs.ResourceMethodSignature annotation on all DAO EMF generated classes, so we must have enunciate-core jar as dependency and redistribuite with all applications.
Please consider to move org.codehaus.enunciate.contract.jaxrs.ResourceMethodSignature annotation to the specific enunciate-core-annotation jar

[2016-01-20 14:32] nfalco79 opened #266 "Enable enunciate-core-annotation as OSGi bundle"
The enunciate-core-annotation jar in theory should be the only jar distributed with the final application due to retention of annotations (RUNTIME).

Consider to change MANIFEST.MF of this jar to be OSGi compliant.

It's quite simple with `org.apache.felix:maven-bundle-plugin` maven plugin.

[2016-01-20 17:47] stoicflame commented on #258
Can you share the output of "mvn -X"? We probably just need the parts of the output with "[ENUNCIATE]" in them.

[2016-01-20 17:56] stoicflame commented on #255
Confirmed.

So what's the purpose of the `DateHired` class? Usually, you extend classes so that you can add properties, but the JAXB spec says that you can't add properties to a class that has an `@XmlValue`, so Enunciate's generated client-side classes make those final.

[2016-01-20 18:21] ke5stl commented on #255
the DateHired class is present to allow the restful payload to use a more descriptive name for the value.
there may also be cases where multiple subtypes of the same base type could be in the same payload, each named distinctly.  eg: DateOfBirth, DateHired, might both need to be in the same payload, and they're all the same underlying type.

[2016-01-20 20:17] stoicflame commented on #255
Okay, I'll fix it for 2.3.

[2016-01-20 20:33] stoicflame opened #267 "java.io.InputStream shouldn't be included in data types"
See #247 and #181#issuecomment-173122941

[2016-01-20 20:41] stoicflame commented on #260
Seems like the problem is that the class `org.joda.convert.ToString` isn't on the Enunciate classpath. Can you confirm?

If you run "mvn -X", you'll get a bunch of extra output that shows the compiler classpath. You'll probably want to take a look at that to see if the right jar is there.

[2016-01-20 20:43] stoicflame commented on #261
That's weird. Thanks for the report. We'll fix it for 2.3.

[2016-01-20 20:47] stoicflame commented on #262
Tracking this as an enhancement request, currently assigned to 2.3.

[2016-01-20 20:50] stoicflame commented on #263
These are currently the only mechanisms for supporting custom content like that:

https://github.com/stoicflame/enunciate/wiki/Custom-Skin

The tricky part is specifying _where_ you want the custom content. Do you have a specific place you'd like to put it?

[2016-01-20 20:58] stoicflame commented on #264
Sometimes there are dependencies that are there for purposes _other_ than including them on the classpath. An example is [Maven war overlays](http://maven.apache.org/plugins/maven-war-plugin/overlays.html).

So Enunciate just uses "jar" packaging right now, but we can expand that if we need to.

Is "eclipse-plugin" packaging just treated as a "jar"?

[2016-01-20 21:00] stoicflame commented on #265
Hi.

So `ResourceMethodSignature` is in the core-annotations jar already:

https://github.com/stoicflame/enunciate/blob/master/core-annotations/src/main/java/com/webcohesion/enunciate/metadata/rs/ResourceMethodSignature.java

[2016-01-20 21:00] #265 closed

[2016-01-20 21:01] stoicflame commented on #266
Okay.

Tracking as an enhancement request and assigning to 2.3.

[2016-01-20 21:37] ke5stl commented on #255
much appreciated!

[2016-01-21 00:23] #266 closed

[2016-01-21 00:30] nfalco79 commented on #266
Hi guy, you have a pull request for this enhancement.
The resulting MANIFEST.MF is:
[code]

[2016-01-21 00:37] nfalco79 commented on #264
Yes "eclipse-plugin" and "bundle" packaging are treates as jar. They come into classpath of dependecy project.
These jar could contains other jars. The unwrapping for the javac compiler (that do not support jar into jar) was done but tycho maven plugin.

[2016-01-21 00:43] stoicflame commented on #266
Yep. Already merged.

[2016-01-21 00:46] stoicflame commented on #264
So that means Enunciate will need to be aware of these packaging types and unwrap them.

Is that correct?

How does the tycho maven plugin interface with the javac compiler? Can we enable it to interface with the Enunciate compiler, too?

[2016-01-21 02:07] nfalco79 commented on #264
I post to you an example of 3 maven eclipse-plugin projects.
aggregate-parent
|-->jar-rs
|-->jaxb

jar-rs depends from jaxb.
Enunciate remove jaxb artifact from jar-rs classpath raising a compile failure.

launch mvn clean package in the aggregate-parent folder
You only need a maven 3.3 and a JDK 1.7 (my environment), buy I think that maven 3.2 and JDK 1.6 should be fine.
[aggregate-parent.zip](ht

[2016-01-21 02:19] nfalco79 commented on #264
I do not know how tycho interface with javac compiler. The default compiler in tycho plugin is jdt (eclipse compiler). I know that tycho inject classpath, sources and others things into maven environment in each maven phase.

[2016-01-21 03:31] nfalco79 commented on #258
This is a maven structure example.
With the enunciate 1.29 build does not fail. There was not an aggregation of documentation like javadoc.
With 2.2.0 build fail on parent pom
[aggregate-parent.zip](https://github.com/stoicflame/enunciate/files/98616/aggregate-parent.zip)

[2016-01-21 05:32] hskigithub commented on #253
org.codehaus.jackson:jackson-mapper-asl:jar:1.9.1:provided
org.codehaus.jackson:jackson-core-asl:jar:1.9.1:provided
org.codehaus.jackson:jackson-asl:jar:0.9.4:provided

[2016-01-21 13:26] tjuchniewicz commented on #263
@stoicflame Is there a possibility to use `include` directive in template? I am trying this directive in FreeMarker template:

I have my own template `docs.fmt` (copy of build-in template) I can change template content and it works but  `include` seems not working. Any restrictions for this directive?

I've tried:
`
<#include "/introduction.ftl">
<#include "introduction.ftl">
`
file `introduction.

[2016-01-21 13:30] stoicflame commented on #263
Trying using the square bracket instead of the angle bracket:

[code]

[2016-01-21 13:36] nfalco79 commented on #258
With enunciate-maven-plugin in the build section of parent project and *commenting line 294 of DocsModule (throw the exception if no resources/services/downloads are present)* build process continue. All bundle has a own enunciate site in the target folder. Maven site does not have links.

To have the link to the documentation in the maven site, I must also add enunciate-maven-plugin in the report

[2016-01-21 13:42] tjuchniewicz commented on #263
It works! Thanks. I was reading this documentation: http://freemarker.incubator.apache.org/docs/ref_directive_include.html were `<>` is used instead of `[]`.

[2016-01-21 14:15] tzebrowski commented on #262
Thx:)

[2016-01-21 16:40] #263 closed

[2016-01-21 16:43] stoicflame opened #270 "occasional failure to add referenced namespaces"
[code]

[2016-01-21 16:49] stoicflame commented on #264
I'll track this as an enhancement request to support the Tycho plugin.

[2016-01-21 16:50] #264 closed

[2016-01-21 16:51] stoicflame commented on #253
Jackson 1, then.

[code]

[2016-01-21 18:56] sg-ad commented on #256
In the same vein, I wonder if there's a way I could address a similar problem.  We have a lot of APIs, written at different times by different people, with different levels of best practice in mind.  Here are a few troublesome signatures:

[code]
Enunciate has to document `JsonNode`, `ArrayNode` and `ObjectNode`.  The reference to `JsonNode` is particularly bothersome.  It's an abstract class and

[2016-01-21 18:59] stoicflame commented on #256
Enunciate really shouldn't be trying to interpret any instance of `JsonNode` as a POJO; these each have special data types already defined.

We'll get it fixed.

[2016-01-21 19:07] sg-ad commented on #256
Ok, great!  Thanks!

[2016-01-21 21:47] mahileeb commented on #260
We hit the same issue and it was due to joda-time 2.9 not properly declaring it's dependency on joda-convert (it's marked as optional)

[2016-01-21 22:05] stoicflame commented on #260
Thanks, @mahileeb.

So the solution is to add joda-convert to the classpath.

[2016-01-21 22:05] #260 closed

[2016-01-21 22:08] mahileeb commented on #260
Correct, looks like they will fix it in version 2.9.2

[2016-01-21 23:00] ke5stl commented on #255
mmmmm.  what about the issue that is manifest when there are overloads on the constructor?

[2016-01-21 23:12] stoicflame commented on #255
I'll look at that, too.

[2016-01-22 14:21] qanik1307 opened #271 "Java8 Date/Time LocalDate Support"
Using Java8 Date/Time API type LocalDate results in wrong documentation. Correct serialization example for Jackson would be a simple string like "1970-01-01" and no complex object as seen on the attached screenshot for the field dateOfBirth.

![localdate](https://cloud.githubusercontent.com/assets/16794203/12512949/6b1ce560-c11b-11e5-9975-716e77364d44.PNG)

The above is probably also correct for o

[2016-01-22 16:19] stoicflame commented on #271
Thanks for the report. Assigning to 2.3.

[2016-01-22 17:41] stoicflame opened #273 "consider more warnings (or even an error) if both Jackson 1 and Jackson 2 modules are enabled."
It's causing a lot of confusion, and I can't think of a good reason for both of those to be on there anyway.

If a big ugly warning is provided, we should also provide log statements that declare what model was selected from which to generate java-json-client.

[2016-01-22 18:07] ke5stl commented on #255
I tried modifying the java-xml-client client-simple-type.fmt line 25 by removing the 'final' qualifier, and this seems to allow enunciate to complete, as long as I also remove the overloaded constructor and accessor methods.

[2016-01-25 16:58] davidlewis711 opened #274 "Additional sorting and Jackson support for XmlElementWrapper"
I've started using enunciate to generate REST documentation over the past few weeks.  Awesome project!

As I've been playing with it, I've mode a few tweaks that I'd like to submit for consideration:
1. Added support for javax.xml.bind.annotation.XmlElementWrapper in jackson and jackson1 (Member.java).
2. Sort the list of PathSummary objects in annotation-based and class based resource groups.
3.

[2016-01-26 09:57] Fival85 opened #275 "Multiple Context-Roots with Jaxrs"
Hello,

we use at least one year enunciate and it is a great framework to document software :)

But we still have problems with the links in the generated documention. They are still wrong, because we use a jboss-service with many services. So each service has its own context-root.
Enunciate (1 and 2) use a single context root for every documentated service, but we need different roots for differe

[2016-01-26 12:45] hskigithub commented on #253
Works fine now. Thanks!

[2016-01-26 12:47] hskigithub opened #276 "Update wiki that @DocumentationExample is used for JSON only with <jackson1 honorJaxb="true"/>"
Working with ```@DocumentationExample``` I found out in discussion for #253 that ```<jackson1 honorJaxb="true"/>``` configuration is needed. Otherwise ```@DocumentationExample```is ignored by enunciate for JSON objects.

You should add this as a prerequesite for ```@DocumentationExample``` in the wiki describing the annotation here https://github.com/stoicflame/enunciate/wiki/Enunciate-Specific-An

[2016-01-26 12:57] hskigithub opened #277 "Provide multiple examples for @DocumentationExample for arrays"
My REST API is returning quite often an object, which itself contains an arrays of objects. Using ```@DocumentationExample``` I am providing example data.

If my object contains an array on another object, the example data of this other object is used twice, to show in the example, that this is an array.

Example data for ```project```
[code]

Example data for ```project collection```, which conta

[2016-01-26 13:03] guyh-tointv commented on #194
Hi,
I have the same problem. I have read the WIKI about it, but, unfortunately, I cannot understand how to handle it.

How do I remove the Jackson module? Or, alternatively, how do I disable it?

Thanks
H Guy

[2016-01-26 16:08] guyh-tointv opened #278 "How to exclude data types?"
HI,

I have an existing API which is not documented.
I want to take the "Step approach" to document this API, by documenting part of the API at each step.

I have used the @Facet("internal_api") annotation to exclude any resource which is not documented yet, but the generated files includes all datatype, even if they are not used by the included resources.

I have tried to use the @Facet("internal

[2016-01-26 18:08] ke5stl commented on #255
might also be an issue with overloaded getters/setters.

[2016-01-26 18:21] mperrier opened #279 "Generate documentation for objects with the InjectParam annotation"
One of the benefits of using InjectParam (Jersey library) is that you can accept a large number of query parameters as a POJO.  Without this, method signatures can get very lengthy and creating a criteria object to send to your business logic layer is a manual process.

I have a search service that has 40 parameters that a user can search on.  Here is a simplified version of what I have to to in o

[2016-01-26 21:07] stoicflame commented on #274
Thanks for the patch. I'll take a look.

Assigning to 2.3.

[2016-01-26 21:09] stoicflame commented on #275
Hi.

That seems like a reasonable enhancement. I'd be very interested in seeing a pull request. You can still prepare a pull request even though you don't have push rights to the repo. See:

https://help.github.com/articles/using-pull-requests/

Let's start with that and go from there.

[2016-01-26 21:12] stoicflame commented on #276
Hi.

Thanks for the report. `@DocumentationExample` seems to be working for me even though Jackson isn't configured to honor JAXB annotations. Could you show me what you're seeing by editing the sample app and sending a patch?

[2016-01-26 21:14] stoicflame commented on #277
There's no way to do that right now, but I can look into it adding support for that.

I'll track this issue as an enhancement request.

[2016-01-26 21:18] stoicflame commented on #194
I've added example configuration to the wiki. Try it again.

[2016-01-26 21:23] stoicflame commented on #278
Hi.

Thanks for the report. I'll take a look for 2.3.

One thing to note is that if your data types are being referenced by other data types that are _not_ excluded, Enunciate will pull them in whether you've annotated them or not. It would probably be a good idea to log a warning or something so users know when this is happening; I'll take care of that for 2.3, too.

The schemas are at enunciate.

[2016-01-26 21:27] stoicflame commented on #279
I didn't know you could use `@InjectParam` that way. I guess you learn something new every day, huh?

I can fix that pretty easily for 2.3.

Is there a reason you don't use `@BeanParam` instead of `@InjectParam`? Enunciate already supports `@BeanParam`.

[2016-01-26 21:31] stoicflame opened #280 "Two JAX-RS resources with the same name: one gets overwritten"
We have two resources that have the same name but are in different packages each identified with a version. Each have their own annotations.

For example:

[code]

After performing a mvn clean install I see both resources in the generated index.html but when I click on the the AboutResource v1 it takes me two the v2 documentation.  Specifically, it doesn't look like the AboutResource v1 details we

[2016-01-26 21:43] mperrier commented on #279
Thanks for the reply!

Right now we're stuck on Jersey 1.x and I believe BeanParam comes with 2.x.  I can look at what it would take for us to migrate to 2.x but until then we're stuck with InjectParam.

[2016-01-27 07:48] guyh-tointv commented on #194
Thanks.
It works :+1:

H Guy

[2016-01-27 12:14] guyh-tointv commented on #278
Thanks.

Much appreciated.
H Guy

[2016-01-27 14:12] guyh-tointv opened #281 "Data Types are are generated without the description"
Hi,

Here is an example of my PersonDTO class:
[code]

Here is the generated output:

![image](https://cloud.githubusercontent.com/assets/14040293/12615753/3c13c7a4-c510-11e5-9c75-ea6a0d052da2.png)

As you can see, each attribute appears twice, and the description is empty of both the attributes, and the class itself. What is going on here?

Here is my enunciate.xml file:
[code]

[2016-01-27 14:17] stoicflame commented on #281
Are you using Maven?

Are the source jars included on the classpath/sourcepath?

[2016-01-27 14:29] Fival85 commented on #275
Hi again,

thank you for your response. I have created a pull request, but i think you could only reuse the idea. The code is perfect for outher purposes, but not for generally... :)

Greetings
Dennis

[2016-01-27 14:32] guyh-tointv commented on #281
Thank you for your quick support.

Yes I am using maven.

Here is the maven part:

[code]

I don't think I include the source files.
Which source files are you referring to? My source file? How do I know if it is included or not?

Thanks
H Guy

[2016-01-27 15:07] stoicflame commented on #281
See:

https://github.com/stoicflame/enunciate/wiki/Multi-Module-Projects

[2016-01-27 15:13] hskigithub commented on #277
Would be great to have this feature. Examples are very helpful to understand an API.

Is there a config parameter or any other workaround to make enunciate to use only one example data set in arrays? This would limit the problem of misleading duplicate data (but of course with the drawback of showing only one object in an array in the example).

[2016-01-27 15:50] guyh-tointv commented on #281
Thank you for your reply.

Now I can see that the source JAR file is created. But the result remains the same.

Now my maven part looks like this:
[code]

Thanks
H Guy

[2016-01-27 16:02] guyh-tointv commented on #281
One more thing I would like to add:

If I remove the @XmlElement, the attributes are not duplicated. Each one of them appear only once. But note that the _ (underscore) at the beginning of each attribute does not appear in the generated doc.

The description field of each attribute remains empty.

Any idea what am I doing wrong?

Thanks,
H Guy

[2016-01-27 17:37] stoicflame commented on #281
I'll look closer at the duplicate property problem; it smells like a bug.

I have no idea why your docs aren't getting picked up. It's working for me, so I'll probably need you to show me out to reproduce the problem.

[2016-01-27 17:39] nfalco79 commented on #281
Hi, are you sure the @XmlElement annotation is correct on the field?
In teory the default is on the getter/setter (you should annotate the getter methods).
If you want use @XmlElement on field you must annotate class with @XmlAccessorType(XmlAccessType.FIELD)

[2016-01-27 17:42] stoicflame commented on #281
Oh yeah, that's the problem. You've said that all `PUBLIC_MEMBER`s are to be included, so the getters are added, then you've explicitly annotated the fields, so they're added, too.

Thanks @nfalco79.

[2016-01-27 17:44] nfalco79 commented on #281
The javadoc reports

but never works for me (JSOn serialisation with MOXy/jackson1)

[2016-01-28 09:11] guyh-tointv commented on #281
Thank you both for your help. This is highly appreciated.

I have managed to remove the duplication of the fields, once I have added the XmlAccessorType(XmlAccessType.FIELD).

But, the description field is still empty.

Here is my java file:
[code]

And here is the generated output:
![image](https://cloud.githubusercontent.com/assets/14040293/12639865/7193242a-c5af-11e5-9ac2-8145351b34bc.png)

As

[2016-01-28 13:24] oeystein commented on #271
Same issue with org.joda.time, it would be really great seeing a generalized solution, where for instance the @DocumentExample(String) annotation tag always overrides complex objects with an string? Currently i dont think @DocumentExample(String) does anything for non-compatible objects? But I might be wrong here though.

From
`{
  "lastchanged" : { },
  "firstconnected" : {
    "millis" : 12345,

[2016-01-28 14:52] qanik1307 opened #284 "Header-Parameter docs without @HeaderParam"
We are using a custom Jersey ContainerRequestFilter to handle authentication parameters send via custom headers. It would be great to have a custom enunciate Annotation like the existing @ResponseHeader(s) to add header params to the documentation.

[2016-01-28 16:31] stoicflame commented on #281
Can I see your pom.xml file?

[2016-01-28 17:10] stoicflame commented on #284
Thanks for the request. We'll take a look for 2.3.

[2016-01-28 17:12] stoicflame opened #285 "support for groupId, artifactId, version in the client-side code docs"
Provide a way to include groupId, artifactId, version in the client-side code documentation.

[2016-01-29 16:33] nfalco79 opened #286 "[Regression] Only one ResourceMethodSignature query param appears in documentation."
When I use custom query parameters @RSParam + @ResourceMethodSignature only the first explitcit param appears in the documentation.
For example

[code]
This is a regression due #76 fix commit.
Annotation that comes ResourceMethodSignature (wrapped in a ExplicitResourceParameter) results always equals between them, so only one of them is is putted in the params TreeSet in `ResourceMethod.loadResour

[2016-01-29 16:55] stoicflame commented on #286
Thanks for the report. Assigned to 2.3.

[2016-01-29 17:09] nfalco79 commented on #286
I have a patch but now all Request Param has the same description the resource method. This is due to no reference to `ExplicitResourceParameter.getDovValue()` that has the correct description. It's taken parsing again the javadoc using JavaDoc structure in the `ParameterImpl`

[2016-01-29 18:13] ke5stl commented on #255
@XmlRootElement
public class MyBoolean {

    @XmlValue
    @NotNull
    private Boolean value;

    /**
     * @return the value
     */
    public Boolean getValue() {
        return value;
    }

    /**
     * @param value the value to set
     */
    public void setValue(Boolean value) {
        this.value = value;
    }

}

appears to have problems, resulting in:

error: variable _value is a

[2016-01-29 19:40] sg-ad opened #288 "JSON definition of Resource includes `class` as property"
If an operation returns a `org.springframework.hateoas.Resource`, there's a `class` attribute that is added to the definition. The generated JSON description is as follows (in the swagger.json file):
[code]
and the example is as follows:
[code]
I think it's caused by the `@JsonUnwrapped` annotation that is on a getter for the `content` attribute:
[code]
On the XML schema side of things it's correc

[2016-01-29 19:50] stoicflame commented on #288
Thanks for the report.

[2016-01-29 23:18] #286 closed

[2016-01-30 12:37] bpraveen02 opened #289 "Not able to see swagger UI generated from enunciate"
Hi,

I have generated enunciate documentation and when i click on the Swagger UI link there it is asking for api_key.

Do i need to register in swagger site in order to get api_key ?

OR

Can you provide any default api_key that can be used to authenticate swagger request calls ?

Thanks,
Praveen

[2016-01-30 16:21] stoicflame commented on #289
My experience is that the api key is a red herring. There's likely some other message about unable to read the swagger.json file.

Can you confirm?

[2016-01-31 08:04] guyh-tointv commented on #281
Do you want the whole file?

Here is the relevant part:
[code]

Let me know if this is not enough. I have several POM files, and they are very long files.

Thanks
H Guy

[2016-01-31 14:55] guyh-tointv commented on #281
It looks like I have managed to solve this issue, by adding the following to the enunciate.xml file:
[code]
What confused me was that without this line the DTO document was generated but without the description field. Now the file is generated correctly.

Thank you very much for your support.

And thank you very much for this awesome tool.

Thanks
H Guy

[2016-01-31 14:55] #281 closed

[2016-02-01 03:29] sg-ad opened #290 "Handling encapsulated query parameters"
With Spring it's possible to declare the following API:
[code]

where `OrderFilter` could be something like:

[code]
Spring looks at the type of the `@QueryParam`, sees `OrderFilter` and automatically considers all of its properties as implicit query parameter declarations.  Therefore, for a request like `http://localhost/api/readOrders?accountNumber=1&customerId=2&status=COMPLETE`, Spring will co

[2016-02-01 05:45] darmbrust commented on #164
Should this fix be in the 2.2.0 release?  I'm not very experienced with enunciate, so I may be doing something wrong... but I'm still seeing what looks like this issue.

[2016-02-01 06:11] darmbrust commented on #164
for reference, I'm just trying to test it on my local dev box - opening up the index.html from within the target folder of my build.

Clicking on the swagger link results in an error like this:

fetching resource list: file:///E:/EclipseWorkspaces/ISAAC2/ISAAC-rest/target/isaac-rest-1.0-SNAPSHOT/ui/index.html/file:///E:/EclipseWorkspaces/ISAAC2/ISAAC-rest/target/isaac-rest-1.0-SNAPSHOT/ui/swagger.

[2016-02-01 13:39] patvong opened #291 "Facet is ignored when creating a data type example (xml/json)"
I have a data type class in which I used a `@Facet` to exclude a field. Enunciate will properly ignore the field in the list of the object properties if the facet is excluded. However it will appear in the payload example in both xml and json.

[2016-02-01 13:40] esfand-r commented on #290
I had a similar question. Any advise would be really appreciate. Thanks very much.

[2016-02-01 13:48] oeystein opened #292 "Java sets not working as intended?"
Been setting up enunciate on an existing project i have over the past days, and randomly came across that one of my attributes were missing from the generated docs. After some research i discovered that it occurred to all my Set Attributes. The expected behavior would be that Sets should just be interpreted as any Collection/Array/List etc. But they just dont show appear at all.

For instance the

[2016-02-01 15:30] stoicflame commented on #164
It won't work from the filesystem. Your browser won't read the swagger.json file per its cross-domain policy. You'll need to bring up a server on your local box for Swagger UI to function. Consider [Cargo](https://codehaus-cargo.github.io/cargo/Home.html) or something of the like.

[2016-02-01 15:36] stoicflame commented on #291
Thanks for the report.

[2016-02-01 15:37] stoicflame commented on #292
Weird. Thanks for the report.

[2016-02-01 15:38] stoicflame commented on #290
We'll track this issue as an enhancement request for 2.3.

[2016-02-01 22:41] darmbrust commented on #164
Hmm - well, not sure how much of it is working correctly (I get an error marker at the bottom), but adding this else if statement above the else section you added in this thread causes it to mostly work:

          else if (document.location.href.substring(0, 5) === "file:") {
		url = "../swagger.json";
	  }

[2016-02-02 00:09] esfand-r commented on #290
Thanks very much @stoicflame .

[2016-02-02 11:47] oeystein commented on #292
Was a double issue at my end, and not really Set related, but rather strictness of enunicate. So sorry for any confusion i may have caused.

One of the issues i met was that one class created an json attribute by getters and setters, which Getter was fine, and returned a Set like it were supposed to, but the Setter took in an Collection instead of a Set, which was apparently works fine for both Ja

[2016-02-02 14:07] guyh-tointv opened #293 "How can I overwrite the generated files?"
Hi,

It looks like enunciate does not overwrite existing HTML files. Is this possible?

I will try to explain:
Say I have an empty output folder named apiDocs, and I use enunciate to generate HTML files into that folder.

When I modify my source code, and generate again the HTML files, the files are not modified. I have to manually delete the folder, and only than execute enunciate to generate the

[2016-02-02 16:57] stoicflame commented on #293
Enunciate should be detecting the changed source file. If you do verbose output (e.g. mvn -X), you should get a log statement that looks something like this:

"%s is up-to-date because its oldest file, %s, is younger than the youngest source file."

[2016-02-03 16:51] patm0le opened #294 "@XmlAttribute duplicates Getter/Setter and HTML-Entries"
When I use @XmlAttribute in my entities, 2 entries are generated in HTML xml type definition (1 for attribute and 1 for element) and the client classes. I had to set disableCompile to true for java-json-client and java-xml-client because getters and setters were also produced twice.
[code]
The resulting .xsd
[code]
java-json-client generates the following code:
[code]

[2016-02-04 04:15] stoicflame commented on #294
Thanks for the report. Try making sure `@XmlAccessorType` is `FIELD`:

[code]

[2016-02-04 06:58] patm0le commented on #294
Thanks for your quick answer. This solves my problem.

[2016-02-04 10:07] iorlas1 opened #295 "Missing json type when found only inside List of List"
When generating documentation for a REST-api with enunciate version 2.2.0 I have a data type that only appears inside a List of List. This data type is missing from the documentation and is given only as "array of object".

Here is file that gives an example of the behaviour. The documentation of Container states that "items - array of object". If a reference to the Item class is given somewhere e

[2016-02-04 16:37] cknutson opened #296 "Java Source and Target 1.5 Warning"
When building with enunciate and maven, I receive warnings from the java compiler regarding the use of version 1.5. How do we set the java version for enunciate when building? I am targeting java 1.8 in my pom.xml file. Please see the warning message below.

warning: [options] bootstrap class path not set in conjunction with -source 1.5
warning: [options] source value 1.5 is obsolete and will be r

[2016-02-04 18:08] stoicflame commented on #296
Enunciate compiles its client-side code using Java 1.5, but that probably needs to be configurable. I'll use this issue to track that work.

[2016-02-04 18:10] stoicflame commented on #295
Sounds like a bug. Thanks for the report. Assigned to 2.3.

[2016-02-04 20:11] cknutson commented on #296
That's what I figured. Thanks Ryan!
- Casey-------- Original message --------From: Ryan Heaton <notifications@github.com> Date: 2/4/2016  10:08 AM  (GMT-08:00) To: stoicflame/enunciate <enunciate@noreply.github.com> Cc: cknutson <casey.j.knutson@gmail.com> Subject: Re: [enunciate] Java Source and Target 1.5 Warning (#296)
Enunciate compiles its client-side code using Java 1.5, but that probably ne

[2016-02-04 20:56] nfalco79 commented on #295
I'm surprise that works without specify annotate @XmlRoolElement on Replay, maybe it's a trick of TypeHint annotation.

I create an example workspace [issue295.zip](https://github.com/stoicflame/enunciate/files/118224/issue295.zip), I suppose your project it's a war.
In my case the generated docs (target/docs) show:
Replay (JSON) -> containers array of Containers -> items array of Item -> id strin

[2016-02-05 01:32] ssaraiya opened #297 "Fail to generate doc when resource path has regex like -> /{file: [\\/A-Za-z0-9_\\-\\.]+.jpg}"
I received following exception while generating enunciate docs. One of my resource path contains  -> /{file: [\\/A-Za-z0-9_\\-\\.]+.jpg}
Failed to execute goal com.webcohesion.enunciate:enunciate-maven-plugin:2.1.1:assemble (default) on project feed-api: Execution default of goal com.webcohesion.enunciate:enunciate-maven-plugin:2.1.1:assemble failed: com.webcohesion.enunciate.EnunciateException: c

[2016-02-05 10:17] mrgmatthews opened #298 "Configurable optional glyphicon-new-window link"
For some of our REST apis we use a identifiable object in the pathway  link/{ProductId}/product (with GETs and POSTs) the link that's generated doesn't seem to have an ability to turn if off.

`<h3><span class="resource-method">${method.label}</span> <span class="resource-path">${resource.path} <a href="${apiRelativePath}${resourceGroup.relativeContextPath}${resource.relativePath}"`

it would be n

[2016-02-05 10:26] mrgmatthews commented on #298
something like:
<h3><span class="resource-method">${method.label}</span> <span class="resource-path">${resource.path} [#if !resource.relativePath?contains("{") && !resource.relativePath?contains("}")  ]
<a href="${apiRelativePath}${resourceGroup.relativeContextPath}${resource.relativePath}" class="glyphicon glyphicon-new-window" target="_blank"></a>
[/#if]</span></h3>

[2016-02-05 10:54] mrgmatthews commented on #298
two pull requests, one based on pathvariables being { } and a global disable links

[2016-02-05 11:15] nfalco79 commented on #295
What is the difference between @TypeHint and @ResourceMethodSignature(output=...) in this case?
The documentation of annotation ResourceMethodSignature is missing in [wiki](https://github.com/stoicflame/enunciate/wiki/Enunciate-Specific-Annotations)

[2016-02-05 13:07] iorlas1 commented on #295
Aha, more information needed to reproduce this. When running the zip I get the correct documentation. But when I apply the following enunciate.xml file that I use then it appear again. So if the default generation is used, then the documentation is correctly generated. This this is even more of a corner case than I realized.

[code]

[2016-02-05 13:37] droche-cafex opened #301 "TypeHint (NO_CONTENT) showing in object list"
NO_CONTENT listed as an Object - This is due to the TypeHint annotation. Without it the docs will show "Object (JSON)" as a datatype.

When NO_CONTENT TypeHint is used perhaps there shold be no hyperlink and not be included in the list of objects in the generated API doc?

[2016-02-05 14:28] nfalco79 commented on #295
You disable both jackson and jackson1 module that produce JSON documentation. Without these documentation misses the JSON data type you are lookig for.

[2016-02-05 15:01] stoicflame commented on #297
Thanks for the report.

Can I get the full stack trace? (Try mvn -e).

[2016-02-05 15:03] stoicflame commented on #298
I'll take a look for 2.3.

[2016-02-05 15:25] iorlas1 commented on #295
The opposite actually, I only include these (actually in my real code I only include one of them). disabled=false -> enabled

[2016-02-05 18:05] ssaraiya commented on #297
Thanks for the prompt response. This what I get when I try to build my project.
[WARNING] [ENUNCIATE] Error processing C:\shailin\feed\target\docs\ui\swagger.json.
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 20.488s
[INFO] Finished at: Fri Feb

[2016-02-07 10:19] guyh-tointv commented on #293
Hi,
Thanks for your answer.

I see the following message:
[code]

apiDocs is my output folder, and the oldest file (style.css), is not younger than the youngest source file.
What is the definition for "source file"?

Thanks
H Guy

[2016-02-07 12:30] guyh-tointv commented on #295
Not sure I understand the solution here.
I have the same problem.

Is it a bug?

Thanks
H Guy

[2016-02-07 16:11] nfalco79 commented on #295
No, if you want json appear in the documentazione a json Jackson libraries you must have in the classpath of your project and the  the enunciate modules Jackson active (true by defalt)

[2016-02-07 16:26] cheppsn opened #302 "Freemarker Exception when using Enunciate on a Spring-Boot MVC POST method with @ResponseStatus"
I'm trying to use _enunciate 2.2_ with Gradle and a Spring-Boot project with Spring Web-MVC.

My controller contains a POST method like this:

    @RequestMapping(path = "/companies", method = RequestMethod.POST)
    @ResponseStatus(code = HttpStatus.CREATED)
    @ResponseBody
    public Company createCompany(@RequestBody Company company) throws BadRequestException {
    	...
    	return company;

[2016-02-08 10:00] iorlas1 commented on #295
As I have pointed out before the jackson modules are active. <jackson disabled="false"/> and <jackson1 disabled="false"/> means that they are active. It is just that the configuration is stated in negative terms (disabled instead of enabled).

[2016-02-08 10:25] mrgmatthews opened #303 "Swagger Authentication integration"
Might not be the right place for this.

Have a way that the headers for Authentication (just basic authentication) can be put into the swagger thats included.
So I guess this is more of a update the version of swagger being used and integrate with it request.
https://github.com/swagger-api/swagger-js/pull/639

[2016-02-08 11:11] Hauk commented on #270
Hi @stoicflame ,

I think I might have hit this bug except that it's happening for one of the Java interfaces in the API I'm working with. I've tried using the com.webcohesion.enunciate.metadata.Ignore annotation to no effect.

[code]

Would there be any way to verify it's not a configuration issue on my end?

Thanks for all the help!

[2016-02-08 15:08] nfalco79 commented on #295
The enunciate.xml you post is not valid against 2.2.0 schema, the following one works and generates documentation as expected.
[code]

add `<configFile>${project.basedir}/enunciate.xml</configFile>` in the pom.xml and ermember to enable only one jackson module depending on jackson version in your classpath

[2016-02-08 15:34] iorlas1 commented on #295
So it does, thank you. Seems the problem is using jackson1 module when you should use jackson module. I was pretty sure I tested both variants but I must have made some mistake while switching back and forth.

[2016-02-08 15:34] #295 closed

[2016-02-08 16:06] egemenvardar opened #304 "Disable Swagger schema validation via Enunciate settings"
Is it possible to disable validation against Swagger schema by using the Enunciate settings (xml) file?

I am getting validation errors from Swagger when I deploy my application, although everything else on Swagger UI works fine (including the "Try it out" option). The validation error messages include _"instance failed to match exactly one schema (matched 0 out of 2)"_ and _"object instance has p

[2016-02-08 16:41] kongoji6 opened #305 ".xml"

[2016-02-08 16:42] #305 closed

[2016-02-08 17:54] stoicflame commented on #303
So it this just a matter of updating the Swagger UI version?

[2016-02-08 17:57] stoicflame commented on #301
Thanks for the report.

[2016-02-08 18:02] stoicflame commented on #302
Thanks for the report.

[2016-02-08 18:04] stoicflame commented on #302
Temporary workaround might be to supply a condition:

[code]

[2016-02-08 18:11] stoicflame commented on #304
There's no way to do it now, but I'll track this as an enhancement request.

[2016-02-08 21:43] cheppsn commented on #302
Unfortunately, `org.springframework.web.bind.annotation.ResponseStatus` does not have a `condition` field, there is only `code` and `reason`. But I can comment out the _Freemarker Template_ parts that cause the exception for now.

[2016-02-08 22:56] cheppsn opened #306 "Question: Why Annotations and not custom Javadoc-Tags?"
Just a curious question (I read in the FAQ that an issue seems to be appropriate for this):

Enunciate solves the problem of "missing information" with custom annotations that can be added to the API code. We are currently in the process of evaluating Enunciate as an alternative to Spring-Fox for Swagger, which we want to dump, because no one can see the relevant code anymore due to way too many a

[2016-02-09 08:15] nfalco79 commented on #294
This bug could be closed?

[2016-02-09 08:34] guyh-tointv commented on #295
Thanks. It is working for me too.

[2016-02-09 10:13] nfalco79 opened #307 "Enunciate does not generate documentation for JAX-RS sub resources"
Hi, looking our documentation we notice that enunciate had not generated all documentation about JAX-RS sub resource. Specifications coulb be found [here](https://docs.oracle.com/javaee/6/tutorial/doc/gknav.html).
Some documentation examples could be found [on jersey doc](https://jersey.java.net/documentation/latest/jaxrs-resources.html#d0e2464) or [on reasteasy doc](https://docs.jboss.org/resteas

[2016-02-09 16:24] stoicflame commented on #294
Before I close it, I'm going to take a closer look to see if there's any way to enhance the engine to help prevent (or warn about) this condition in the future.

[2016-02-09 16:27] stoicflame commented on #307
Thanks for the report.

[2016-02-09 18:53] mperrier commented on #225
pswvg,  Did you ever find a solution to your problem?  I appear to have the same issue right now with 2.2.0.

My service:
![image](https://cloud.githubusercontent.com/assets/7179728/12927027/95f6fcb2-cf2b-11e5-94a7-43dd066f4b69.png)

My parameter class:
![image](https://cloud.githubusercontent.com/assets/7179728/12927063/b4454ea8-cf2b-11e5-8f09-5c4e56aa567d.png)

The resulting documentation:
![ima

[2016-02-09 18:55] ke5stl commented on #255
it appears that the issues created by use of @Xml{whatever} is more widespread.

eg: if I annotate an element as being @XmlElement(nillable=true) then the build fails, complaining that the variable has already been defined.

[2016-02-09 19:31] stoicflame commented on #306
Decent question.

Enunciate JAX-RS module actually supports [JAX Doclets](http://fromage.github.io/jax-doclets/docs/0.10.0/html/#d0e463). We can add that support for Spring-WS module, too. I'll track this as a feature request.

Are there any other doclets that you'd like to see supported?

[2016-02-09 21:09] nfalco79 commented on #307
It fails when the subresource locator method return a Class<Subresource>, if method returns the instance of Subresource then documentation it's ok.
The Specifications permit both methods, the first one to have variables that comes from jax-rs context (by injection) in the contructor and/or fields. The second one when you need customise instance of Subresource class. In both cases the only way to h

[2016-02-09 21:20] stoicflame commented on #307
Huh. I didn't know that was possible. But your suggestion seems like the right thing to do.

It seems quite complicated. And I'm also not sure what the HTML would look like in the case where there are multiple possibilities.

[2016-02-10 22:05] cheppsn commented on #306
I looked around a bit, but didn't find anything else that I would suggest at the moment. The JAX-RS Javadoc Tags (especially @HTTP) would be very helpful.

[2016-02-11 00:43] rishikv opened #308 "I am getting not an valid XML Type for Sprindata repository java class."
I am using java 7 and trying to run enunciate and stumbled upon this error. Any insights or how to fix this issue is greatly appreciate, i spent more than half day how to fix this.

[code]

[2016-02-11 16:44] stoicflame commented on #308
Looks like a bug. Thanks for the report.

[2016-02-11 17:01] rishikv commented on #308
as a workaround for now if i disabled jaxb and jaxws.

[2016-02-12 11:30] mrgmatthews commented on #303
Yes with some tweaking to the generated swagger page I believe

[2016-02-12 16:32] benjaminlurie opened #309 "Unexpected hyperlinks on DTO property names that go nowhere"
The generated documentation for data objects has hyperlinks on the DTO properties:

![screenshot at feb 12 11-27-26](https://cloud.githubusercontent.com/assets/7116352/13013034/b74bc698-d17b-11e5-8d9d-f7744025d457.png)

These links go nowhere and seem to have no purpose.
Is there a way to have the property column just be plain text and not a hyperlink?

NOTE:  The hyperlinks in the type column wor

[2016-02-12 16:34] benjaminlurie commented on #309
We are using 1.30.

[2016-02-12 17:06] benjaminlurie commented on #309
This was caused by the docs.fmt file being used.  Closing.

[2016-02-12 17:06] #309 closed

[2016-02-14 09:58] guyh-tointv commented on #293
I still cannot overwrite the generated files. Is there any way to disable this feature?

[2016-02-14 17:04] stoicflame commented on #293
There's a bug that needs to be fixed.

Currrent workaround is to make sure to delete generated files before incoking Enunciate. (E.g. "mvn clean")

[2016-02-14 17:22] guyh-tointv commented on #293
Understood. Thanks.

[2016-02-15 09:37] egemenvardar opened #310 "All input parameters are shown as optional on Swagger UI"
When I generate Swagger documentation by using Enunciate all input parameters (JSON) are shown as optional on the Swagger UI (please see the attachment). I see that Swagger has the "required" parameter to mark a field as mandatory. Is there a way to control this via Enunciate settings?

Note that I use @NotNull and @NotEmpty annotations for mandatory parameters. Would it be possible for Enunciate

[2016-02-15 09:37] oeystein opened #311 "Enunicate dont recognize objects as as query parameters"
For convenience purposes i have implemented some Getters which takes complete objects as query parameters. The methods i have commonly used this approach on is methods which got quite a few parameters and is easier described as a json object, rather then many individual query parameters. If this is good REST design is totally discussable, however i belive that quite a few bigger search engines hav

[2016-02-15 15:19] patvong opened #312 "Data type with same names"
I have two data types with the same name in two different package e.g `com.my.package.A.UserInfo` and `com.my.package.B.UserInfo`.
Enunciate will only generated one single `json_userinfo.html` file.
Also, in the swagger json output we will see both definition with the same name:
[code]
But the data type reference will always be the first one: `"$ref" : "#/definitions/json_userinfows"`
Is there a w

[2016-02-16 05:31] stoicflame commented on #312
Duplicate of #280 .

[2016-02-16 05:31] #312 closed

[2016-02-16 10:55] egemenvardar opened #313 "Cannot generate response model documentation via Enunciate"
The generated Swagger documentation has always empty response model for all resource methods. I am using @TypeHint to give Enunciate a hint about the response type. An example resource method looks like this:

[code]

whereas the generated Swagger documentation looks like this:

![swagger_response_model_empty](https://cloud.githubusercontent.com/assets/17125072/13073943/c78d454e-d4a1-11e5-8716-7fb

[2016-02-16 16:16] vincent-zurczak opened #314 "Support for custom object mappers with Jackson?"
Hi! I find Enunciate very convenient as it generates quite a lot of stuff without any intrusive annotations. However, I am working on a project that has a more complex structure than a simple microservice. The model used by the REST API was (and should not) be annotated. It is defined in its own Maven module and is used by 5 or 6 projects. The JSon generation is tightly controlled in a separate Ma

[2016-02-16 17:46] stoicflame commented on #314
There's nothing currently available, but we'll keep this issue open as an enhancement request.

[2016-02-16 17:51] stoicflame commented on #313
Weird. I can't explain it.

Are you using Maven? Does verbose output (mvn -X) mention anything about those output classes?

[2016-02-16 17:52] stoicflame commented on #310
Thanks for the report. I think we should be able to support the `@NotNull` and `@NotEmpty` annotations as you request.

[2016-02-16 17:56] stoicflame commented on #311
So if I understand correctly, you're passing JSON as the value of the query parameter, correct?

So the API above would be invoked like:

[code]

Is that correct?

How does your JAX-RS implementation know that the query parameter is supposed to be parsed as JSON? Do you have to do some custom providers or something?

[2016-02-16 18:38] SkipFromVan opened #315 "Is it possible to specify the date format"
Hi,
   I need to be able to specify a format for a Date object. So far the documentation looks like something like this

 "activationDate" : 12345.0

Surprisingly the field type is number instead of date, any idea?

Thanks,

[2016-02-16 18:44] stoicflame commented on #315
See #179.

[2016-02-16 18:54] SkipFromVan commented on #315
After adding @TypeHint(Date.class) it is still a number. and Json sample payload did not change.
Am I missing something ?

[2016-02-16 19:22] stoicflame commented on #315
Don't you mean to say `@TypeHint(String.class)`?

[2016-02-16 19:25] SkipFromVan commented on #315
No, I would need a Date and would like to specify the format.

[2016-02-16 19:37] stoicflame commented on #315
But `Date` isn't a JSON data type. The only data types available in JSON (according to [json.org](http://json.org/)) are:

* string
* number
* object
* array
* `true`
* `false`
* `null`

So I _think_ what you want is to tell Enunciate that the relevant `Date` properties is going to be serialized as a `String`.

And if you want to suggest to Enunciate an example value to use, you can provide `@Docu

[2016-02-16 19:40] SkipFromVan commented on #315
I agree Date is not a JSON data type.
Great this is exactly what I was looking for!
Thanks for you prompt response !

[2016-02-17 08:43] egemenvardar commented on #313
Yes I am using Maven. This is how it looks like in my pom file:

[code]
where the Enunciate version is 2.2.0.

I checked the Maven debug output. Here I see the output classes being logged:
[code]

But here I don't see them:

`[DEBUG] [ENUNCIATE] Added XXX as a Jackson type definition.`

Should I look for a specific log entry?

[2016-02-17 08:56] vincent-zurczak commented on #314
Thanks. :+1:

[2016-02-17 12:22] egemenvardar commented on #310
Great, thank you!

[2016-02-17 13:21] oeystein commented on #311
That is correct yes, sorry for any confusion.

And the way i solved it was by using a custom implementation of [ParamConverterProvider](https://docs.oracle.com/javaee/7/api/javax/ws/rs/ext/ParamConverterProvider.html).

[code]
Where RestParameter.class is just an empty interface that i implement all classes i wish to take in as a query parameters. And RestParamConverter<T>.class is a generic imple

[2016-02-17 14:30] stoicflame commented on #313
The only explanation I have is that the `@TypeHint` annotation isn't getting recognized or picked up.

Can you verify that you're using `@com.webcohesion.enunciate.metadata.rs.TypeHint` and not the `org.codehaus` one?

[2016-02-17 14:34] stoicflame commented on #311
Okay, I understand.

Well, I'll take a look for 2.3. If there's an easy way to do it, we might be able to slip it in to the next release.

[2016-02-17 14:39] hlavki commented on #220
I think it doesn't work, because I have @ApplicationPath("api") and resource with @Path("library") and wadl is generated without slash:
`<wadl:resource path="apilibrary/books">`

[2016-02-17 14:42] stoicflame opened #316 "missing slash in wadl"
I have `@ApplicationPath("api")` and resource with `@Path("library")` and wadl is generated without slash:

[code]

[2016-02-17 14:43] stoicflame commented on #220
Okay, tracking at #316 .

[2016-02-17 15:34] egemenvardar commented on #313
I was using the `org.codehaus` one actually. After changing it to `com.webcohesion.enunciate.metadata.rs.TypeHint` that output class appeared in the documentation, but it's empty:

![empty_output](https://cloud.githubusercontent.com/assets/17125072/13114325/5570df6e-d593-11e5-92af-8ba3af0607b7.png)

It's a pure POJO with no annotations other than `@Getter` and `@Setter`. I guess I need some annota

[2016-02-17 15:58] patvong commented on #313
I think I have the same problem. @egemenvardar: do you have a multi module project that you setup following this: https://github.com/stoicflame/enunciate/wiki/Multi-Module-Projects?

[2016-02-17 16:03] patvong opened #317 "Multi-module maven project doesn't get documented with jackson"
I have a multi module project and I followed this wiki https://github.com/stoicflame/enunciate/wiki/Multi-Module-Projects to make sure all the source jars are created for each modules.
I noticed that I need to use the @JsonProperty so that Enunciate can pick up the fields/properties of my data type classes.
However, for some reason, if I add this configuration:
[code]
Enunciate will pick up all th

[2016-02-17 16:19] stoicflame commented on #313
So `@Getter` and `@Setter` annotations are from Lombok, and Enunciate needs to use the Lombok-generated files instead of your pre-processed source files. See #182 for more information.

[2016-02-17 16:20] egemenvardar commented on #313
@patvong I have a multi-module project, but all REST related stuff (input, output, services etc.) resides in the same module. So I think we have different problems. My problem is about to get fixed by using  `com.webcohesion.enunciate.metadata.rs.TypeHint` instead of `org.codehaus.enunciate.jaxrs.TypeHint`. (see my last comment)

[2016-02-17 16:21] stoicflame commented on #317
So is the problem that you need to add `@JsonProperty` or is it that the documentation is missing?

[2016-02-17 16:26] patvong commented on #317
1. The field were all present, but the documentation was missing
2. I added
[code]
Then some documentation was present e.g. the class documentation, but not the field documentation. To be able to view the fields and their documentation I had to add @JsonProperty.

[2016-02-18 01:06] patvong commented on #317
After further investigation, it seems related to the usage of Lombok's annotations.
I have this class annotated with lombok, except for the `activated` field where I manually create the getter and setter. The class is in a module A.
[code]
## 1. Excluded sources
I have another module B that includes module A with the class `InactiveUserWS`. From module B I run enunciate. This is what Enunciate wil

[2016-02-18 16:25] patvong commented on #317
I found out I could use `@JsonAutoDetect(getterVisibility = JsonAutoDetect.Visibility.ANY, fieldVisibility = JsonAutoDetect.Visibility.ANY)` to fix my problem. However I can't find a way to arbitrary ignore a field?
`@Ignore` and `@Facet("ignore")` won't work on fields. Any tips?

[2016-02-18 17:42] tekknow commented on #95
I'm trying to convert an old web service from soap1.1 to 1.2.  I used maven-enunciate-plugin-1.25.jar and org.codehaus.enunciate.enunciate-rt.jar.  Which of the 44 jars I see in the new Enunciate-2.1.0.zip do I replace these with?

[2016-02-18 18:10] stoicflame commented on #95
`maven-enunciate-plugin` is now `enunciate-maven-plugin`. `enunciate-rt` isn't needed anymore; Enunciate got out of the runtime business, although it still provides some optional runtime utilities.

See the [Migration Guide](https://github.com/stoicflame/enunciate/wiki/Migration-Guide).

[2016-02-18 18:12] stoicflame commented on #317
`@JsonIgnore`

See [Jackson-Annotations](https://github.com/FasterXML/jackson-annotations/wiki/Jackson-Annotations).

[2016-02-18 23:14] tekknow commented on #95
I don't see enunciate-maven-plugin among the jars in enunciate-2.1.0.zip.  Is it located somewhere else?

[2016-02-19 01:08] stoicflame commented on #95
It's in the central Maven repo... why do you need it in the zip bundle? If you're using Maven, it will be downloaded automatically.

[2016-02-19 10:09] egemenvardar commented on #313
@stoicflame I was able to fix the problem by adding

`@JsonAutoDetect(getterVisibility = JsonAutoDetect.Visibility.ANY, fieldVisibility = JsonAutoDetect.Visibility.ANY)`

to the output class. I didn't need to change any configuration. Now I can see the response schema and all field descriptions.

Thanks for the support. You could close this issue.

[2016-02-19 12:38] anton-johansson commented on #117
I get this error sporadically. Not sure if it's related to this, but it looks very similar. I don't get a "duplicate class" message, but the rest looks similar.

[code]

[2016-02-19 16:11] #313 closed

[2016-02-19 20:14] vmadhipatla opened #318 "JsonParserException"
Generated swagger.json has this line.
    "/slib/{host}{service/**\w**+)?}" : {
      "get" : {

Enunciate fails with below exception. Looks like it doesn't like \

Any idea?

[ERROR] Failed to execute goal com.webcohesion.enunciate:enunciate-maven-plugin:2.2.0:docs (generate-enunciate-docs) on project securityweb: Execution generate-enunciate-docs of goal com.webcohesion.e
nunciate:enunciate-mave

[2016-02-19 20:40] vmadhipatla commented on #318
Here's the full stack trace.

[ERROR] Failed to execute goal com.webcohesion.enunciate:enunciate-maven-plugin:2.2.0:docs (generate-enunciate-docs) on project securityweb: Execution generate-enunciate-docs of goal com.webcohesion.e
nunciate:enunciate-maven-plugin:2.2.0:docs failed: com.webcohesion.enunciate.EnunciateException: com.fasterxml.jackson.core.JsonParseException: Unrecognized character es

[2016-02-19 22:30] vmadhipatla commented on #318
Any suggestion to work around will be greatly appreciated.

[2016-02-19 23:00] stoicflame commented on #318
Thanks for the report. I'll take a look for 2.3.

[2016-02-21 13:27] stolp opened #319 "maven docs goal generates output in the top-level target directory when building a module in a multi-module build"
I have the following rather common maven multi-module setup:

[code]
`parent module` is the common parent of all sub modules.

If I build the enunciate documentation in `api module` all is well and the documentation gets generated in `<api module>/target/enunciate/docs` as expected.

If I build the` top-level module` the documentation is build in `<top-level module>/target/enunciate/docs` instead

[2016-02-21 14:50] stoicflame commented on #319
Enunciate needs a directory to use as a "build" directory; somewhere to temporarily put files that get copied or generated. By default, it's "${project.build.directory}/enunciate". You can change it with the `buildDir` configuration parameter.

[2016-02-21 15:55] stolp commented on #319
This directory is getting generated in `api module` and contains a temporary enunciate xml file.
This is true for both kind of invocations.

Yet the initial symptom still holds, the generated docs are located in  `top level module/build/enunciate/docs` if I call `maven clean package` from the `top level module`.

If I call `maven clean package` from `api module` the docs are located in `top level

[2016-02-21 17:16] stoicflame commented on #319
Isn't this just how Maven works? I'm not seeing the problem yet...

[2016-02-21 17:41] stolp commented on #319
The `api module` is producing the enunciate docs alongside with the regular module jar as an artifact via the maven-assembly plugin. To produce this artifact the docs are expected to reside in the target directory of the module itself.

When I invoke a top level build the generated docs are suddenly  located in the top-level build directory instead and the maven assembly plugin will fail.

This is

[2016-02-21 19:50] stoicflame commented on #319
Oh, so you're reporting that when invoked via the top-level build, the docs are _not_ generated in the module's target directory, only in the parent's target directory?

I've never seen that. What does your enunciate.xml file look like?

[2016-02-21 22:05] stolp commented on #319
Exactly, sorry for not being verbose enough.

Looking at the enunciate.xml I find the following:

`<?xml version="1.0" encoding="UTF-8"?>
<enunciate xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/stoicflame/enunciate/master/top/src/main/resources/META-INF/enunciate-2.0.0.xsd">

  <title>Klaros-Testmanagement REST Service API

[2016-02-22 12:29] nfalco79 commented on #293
I fall in this issue.
I have a multi-module project. A parent with 2 submodules, enunicate is in `<reporting>` section.
The command line: `mvn clean package site site:deploy` never produces excepted documentation. The artifact produced is an empty index.html and it logs me

Debugging a lot I found the issue.
To understand if sources are updated compare their timestamp with the temporary enunciateC

[2016-02-22 15:16] nfalco79 commented on #293
It was hard make pull request that respects indentation.

[2016-02-22 23:17] ke5stl commented on #220
agreed.  I have a case where the @ApplicationPath("api/v1") and @Path("customer") appear in the wadl as:

path="api/v1customer" which is not correct.  seems to be removing the leading slash from all parts, while it should perhaps remove only from the first?

[2016-02-22 23:37] vguna commented on #220
As per wadl spec http://www.w3.org/Submission/wadl/#x3-120002.6 the path must be relative. Or I'm missing something here?

[2016-02-23 18:59] vmadhipatla opened #321 "enunciate build fails."
warning: [options] bootstrap class path not set in conjunction with -source 1.5
warning: [options] source value 1.5 is obsolete and will be removed in a future release
warning: [options] target value 1.5 is obsolete and will be removed in a future release
warning: [options] To suppress warnings about obsolete options, use -Xlint:-options.
Note: EnumAnnotationProcessor initialized
Note: CAL10NAnnot

[2016-02-23 19:23] rjernigan commented on #244
I've updated to 2.2.0 since I've posted this issue and it seems to have been resolved.  If I see it again I will open with more info. Thanks!

[2016-02-24 14:31] Cymoud opened #322 "Enunciate generated web page has bug in menu"
Generated web pages with Enunciate has a bug with the highlight of current element in the bootstrap menu on page resource_...html.
The bug is seen when a resource has sub ressource with the same HTTP method.
See the screenshot. But here in 2.1.1 and latest 2.2.0.
![2016-02-24 15_08_26-mobile server webservice_ userresource](https://cloud.githubusercontent.com/assets/5937797/13288297/a4aacf18-db0b-

[2016-02-24 15:00] Matthias-Ni opened #323 "Unexpected Behavior on jaxws datatype-detection="aggressive""
Hello,

in my Current Project I have 2 Classes that are annotated with @Webservice. One is inside my multi module maven project in a JAR module. The other class is also in a JAR module but that module is not part of my Project. (referenced as Maven dependency in the WAR module)

I want to generate single documentation website with both services included. I have added the
enunciate-maven-plugin to

[2016-02-24 16:59] stoicflame commented on #323
The only explanation I have for the duplicate web service is that it's on your classpath twice. When you do a "mvn dependency:list" would the class show up in more than one of those entries?

The only explanation I have for missing javadoc is that you don't have the source path to that web service set up correctly. See [Providing a Source Path](https://github.com/stoicflame/enunciate/wiki/Multi-Mo

[2016-02-25 07:41] Matthias-Ni commented on #323
Thank you for your fast answer.

After providing a correct source path the javadoc is now available in the documentation. :+1:

However now both Webservices are listed 2 times. There is only one  HTML file for each of the services but in there are 2 entries in the table.

mvn dependency:list shows only 1 entry for the libraries containing the @Webservice classes.

[2016-02-25 16:16] steinermatt opened #324 "Documentation module: (relative) base folder"
Hi there,

trying to migrate from 1.x to 2.x and having a rough start. In my **enunciate.xml** file I have specified a base attribute pointing to the ZIP file as such:

`<docs splashPackage="xyz" title="Test"
			copyright="none" includeDefaultDownloads="false" includeExampleXml="false"
			includeExampleJson="true" groupRestResources="grouping" applyWsdlFilter="false"
			docsDir="docs" freemarkerXM

[2016-02-26 16:27] stoicflame commented on #324
Seems like it _might_ be a bug, since the docs-base.zip should be resolved relative to the config file. I'll take a closer look for 2.3.

[2016-02-29 18:32] Matthias-Ni commented on #323
Hello again! The problem still exists. Do you have any idea why? The methods are also duplicated in the generated wsdl file so I can't really use them...

[2016-02-29 18:40] Matthias-Ni opened #325 "How to force utf-8 encoding in wsdl files?"
Hello.
Is there any way to force the encoding of the generated wsdl documents to utf8? I already set the encoding option on the Maven Plugin to utf8 however the generated wsdl files are still encoded in ansi and all special characters are wrong. So I can't generate clients of them or use then with soapui.

[2016-02-29 19:32] stoicflame commented on #323
I haven't had a chance to look deeper at the issue. It will take some effort to try to reproduce it. If you can provide a sample project or something that manifests the issue, it will expedite the process.

[2016-02-29 19:39] nfalco79 opened #326 "Enunciate fails on project that does not contains services"
Enunciate 2.x fail on project that does not contains services that differs with the previous version of Enunciate 1.x.

Projects are tipically structured with at least a parent pom that includes all modules needed to deliver a product (for example apache commons projects). By default parent project has packaging pom, then it will never contains services of any kind so it fails.
Personally I would

[2016-02-29 19:45] stoicflame commented on #325
I'm pretty sure the wsdl is getting written in utf8. Maybe the source code isn't getting read in utf8?

[code]

[2016-02-29 20:41] nfalco79 commented on #326
Seems that maven build differs from programmatic and ant way where if no service was found than a dummy class `com.webcohesion.enunciate.Nothing` is added by default so compile does not fails.

[2016-02-29 21:47] stoicflame commented on #326
So what's the error that causes the build to fail on empty projects?

[2016-02-29 23:08] nfalco79 commented on #326
mvn clean package site fails with
`com.webcohesion.enunciate.EnunciateException: There are no data types, services, or resources to document.`

[2016-02-29 23:10] nfalco79 commented on #326
Instead ant build
[code]

[2016-03-01 10:32] charliepjive opened #327 "Spring WEB @ResponseStatus annotation cause Freemarker exception"
Hi guys,
I am experiencing a problem with enunciate during my Maven build process.

When a method of a RestController is annotated with @ResponseStatus (Spring web annotation to instruct the controller which HTTP status code to return in case of a successful invocation), the Enunciate Maven plugin fails during Freemarker templates processing.

Here the FTL stacktrace:
[FreeMarkerError.txt](https:/

[2016-03-01 15:10] stoicflame commented on #327
Thanks for the report.

[2016-03-01 20:02] steinsag opened #328 "javac-support doesn't compile"
I forked the project and tried an initial compile with

    mvn clean package

Build fails in module javac-support:

I'm using javac 1.8.0_66-internal from OpenJDK on Ubuntu.

[2016-03-01 20:48] steinsag commented on #321
@vmadhipatla Which JDK did you use to compile? I was only able to compile it using JDK 7. I also had to do another fix, see: https://github.com/stoicflame/enunciate/issues/328

[2016-03-01 21:36] steinsag opened #330 "StatusCodes annotation should allow inheritance"
Please allow inheriting StatusCodes annotation in JAX-RS. All my Resource classes (JAX-RS endpoints) inherit some base resource class, which is annotated with StatusCodes. However, those annotations are not seen by enunciate on the child classes and no status code section is generated. If I add the StatusCodes annotation directly to my child classes, everything works as expected.

I tried fixing t

[2016-03-02 16:11] stoicflame commented on #328
As you discovered at #329, Enunciate requires JDK 7.

[2016-03-02 16:11] #328 closed

[2016-03-02 16:13] stoicflame commented on #330
Seems like a reasonable enhancement request.

[2016-03-02 17:48] stoicflame commented on #228
No update on this issue. Without a way to reproduce it, I had to take a shot in the dark at e6fabf3, which will be included in 2.3.

I'd be happy to re-open as needed if more information is provided on how to reproduce the issue.

[2016-03-02 17:48] #228 closed

[2016-03-02 18:44] stoicflame commented on #244
Fixed at c380e69.

[2016-03-02 18:44] #244 closed

[2016-03-02 18:50] stoicflame commented on #254
Fixed at 17404b9.

[2016-03-02 18:50] #254 closed

[2016-03-02 22:21] stoicflame commented on #255
I fixed the "final" compile failures at 7f0d4b5.

However, I need more direction on the other problem. Enunciate could be more descriptive in it's error processing, but the root of the problem is that you've got conflicting members. You've got one member named "date" which is the _field_ annotated with `@XmlValue` (or `@Xml{whatever}`). You've got _another_ member named "date" which is the _proper

[2016-03-02 23:36] ke5stl commented on #255
Let me take another look at the sample, and I’ll see if I can take what you’ve said into account.

The other issue was to do with overloaded constructors, or was it just overloaded getters/setters?

It seemed like there was an assumption that for a given getter/setter pair, that there should be a single attribute with the name of the getter/setter method.

However, with overloaded methods, where t

[2016-03-03 00:15] ke5stl commented on #255
hmmmm.  or, perhaps only one of the overloaded methods should really be
considered as candidates for generation into the enunciate version of the
class in question?

after all, that's kinda what the xml marshaling code requires (eg: jaxb), I
think, at least in some cases.

?

thank you for working on this!

On Wed, Mar 2, 2016 at 4:21 PM, Ryan Heaton <notifications@github.com>
wrote:

[2016-03-03 16:21] stoicflame commented on #255
I know of no issue with overloaded constructors. Enunciate doesn't even consider constructors in its processing engine.

I know of no issue with overloaded methods; Enunciate won't generate duplicate attributes of the same name for overloaded setters.

The only issue I'm aware of is when you've got both a field _and_ a property of the same name. And it's not just Enunciate that has a problem with

[2016-03-03 17:43] stoicflame commented on #255
Better error handling has been implemented at ba1f06b.

[2016-03-03 17:43] #255 closed

[2016-03-03 20:18] patvong opened #331 "Detect array type in a query parameter"
Say I have an operation defined like this:
[code]
Enunciate will correctly detect the constraint on `categoryIds` to `long` and on `productType` to an enum type constraint `"A" or "B" or "C"`. However it is missing the fact that the parameter is accepting a `List` or a `Set` of values.

I would need this information to improve the swagger json freemarker template and set the type to the following:

[2016-03-03 20:25] stoicflame commented on #256
Fixed at 65b865a.

[2016-03-03 20:25] #256 closed

[2016-03-03 21:07] stoicflame commented on #331
I can take a look for 2.3.

[2016-03-03 21:18] stoicflame commented on #326
Fixed at 65d8568.

[2016-03-03 21:18] #326 closed

[2016-03-03 21:36] stoicflame commented on #258
Okay, at 65d8568, the build no longer fails if there is nothing to document.

Is there anything else that is needed for this issue to be closed? The "parent" pom doesn't generate any documentation because there are no classes to document in the parent pom (all the classes are in the submodules). Was there another expectation?

[2016-03-03 21:55] stoicflame commented on #261
Fixed at 4494880.

[2016-03-03 21:55] #261 closed

[2016-03-03 22:23] stoicflame commented on #262
Fixed at d3591e0.

[2016-03-03 22:23] #262 closed

[2016-03-03 23:00] stoicflame commented on #267
Fixed at 0c223ab.

[2016-03-03 23:00] #267 closed

[2016-03-03 23:41] stoicflame commented on #270
I'm finally getting around to looking closer at this.

Can you tell me more about what the "com.*.*.*.*.*.*" class looks like? Is it an interface? If so, how is that interface used in JAXB since JAXB doesn't allow interfaces?

[2016-03-04 01:09] nfalco79 commented on #258
The aggregate concept is that each module site produce a specific documentation (as enunciate just do) but the report of parent it's the sum of all Web Service API produced for himself and each of its modules.
Generally you could want the documentation of the entire product instead each single module documented.
Going in the deept it is like enunciate execute the assemble goal instead docs goal wh

[2016-03-04 01:45] nfalco79 commented on #326
With the commit now it produce a wsdocs folder with only a file css/style.css and the link of maven site in under Project Reports is broken.
Please fix the issue removing the return statement so the documentation generated is done correctly but "empty" (no resources, no model, no client).

[2016-03-04 02:31] nfalco79 commented on #326
Do you prefer I fill a new bug "report should not be executed if there are no data types, services, or resources to document"?

[2016-03-04 03:03] nfalco79 commented on #293
This issue happens when you specify an enunciare.xml file.

[2016-03-04 08:31] kuseman commented on #270
Here is one example:

[2016-03-04 18:26] stoicflame commented on #271
Support for Java 8 Date/Time API and Joda Date/Time API was added at c7c424a.

See [JSON Date Formatting](https://github.com/stoicflame/enunciate/wiki/JSON-Date-Formatting) for information about how to manage Enunciate's default date formatting. The annotations option should work with 2.2; the configuration option was added in 2.3 at c7c424a.

[2016-03-04 18:26] #271 closed

[2016-03-04 23:46] stoicflame commented on #258
Okay, I understand what you're asking for now. Thanks for taking the time to explain.

I have spent some time looking into the javadoc plugin to see how they pulled it off, and it's going to be a lot of work to have Enunciate support aggregate reports. I acknowledge the value in the enhancement, but I think I'm going to wait to do the work until I either perceive more demand for it or someone pays

[2016-03-04 23:48] stoicflame commented on #326
I implemented better logic for the `canGenerateReport` method at 146f120.

[2016-03-05 00:15] stoicflame commented on #270
Got it, thanks.

It's tricky because I'm pretty sure that this request would fail if you actually tried to post XML to it. But it's hard for Enunciate to tell that at compile-time, so it tries to process `Map<String, Set<Number>>` as an XML type and fails.

Have you tried posting XML to it? I'd be curious to know if it worked. Also, if you're just using JSON, you may want to explicitly declare tha

[2016-03-05 23:08] marvinvs commented on #324
If it helps I've worked around this in my Maven project by adding the full path to the base (in my case, a directory rather than a ZIP file):

``
    <docs disableRestMountpoint="true" freemarkerTemplate="${basedir}/src/enunciate/docs.fmt" base="${basedir}/src/enunciate/base"/>
``

My project structure is:

``
src/
   enunciate/
      base/
         img/
      docs.fmt
``

[2016-03-06 13:41] nfalco79 commented on #326
Works great!

[2016-03-07 07:54] kuseman commented on #270
You are right, I cannot even construct an XML-call for that rest service **415 Media type not supported**.

So that might be a good idea to add @Consumes.
But I don't think Enunciate should crash, a warning would be better.

Here is the full trace:

[2016-03-07 12:48] charliepjive commented on #302
Hi Ryan,
it appears the issue I opened (#327) is the same as this one. You can either close it or merge it (if allowed, sorry I do not have a lot of experience on GITHUB)

Cheers,
Salvatore

[2016-03-07 17:56] stoicflame commented on #270
Fixed at f23e33edc1f9227e07076ee93267927fb1bd8e04.

[2016-03-07 17:56] #270 closed

[2016-03-07 18:08] davidlewis711 commented on #274
Here's a follow up patch file with one more proposed enhancement:

4. Sort Resources in AnnotationBasedResourceGroupImpl by path and method so they are sorted in the generated resource_*.html file.

[Follow up patch file](https://github.com/stoicflame/enunciate/files/161826/diff2.txt)

[2016-03-07 18:21] stoicflame commented on #273
Fixed at a5eb7d6.

[2016-03-07 18:21] #273 closed

[2016-03-07 20:35] stoicflame commented on #274
I'm supportive of the changes, but I can't seem to get the patch to apply:

[code]

Am I using the wrong command?

[2016-03-07 20:36] stoicflame commented on #274
Maybe you could send a pull request instead of a patch?

https://help.github.com/articles/using-pull-requests/

[2016-03-07 20:53] davidlewis711 commented on #274
OK, I'll do that and get back to you.
On Mar 7, 2016 1:36 PM, "Ryan Heaton" <notifications@github.com> wrote:

[2016-03-07 21:51] stoicflame commented on #275
Okay, thank you again for the pull request. I can now see what you've done for your purposes.

The concept is solid, but it needs to be refactored a bit before it gets pushed to the main branch. I've committed the relevant changes to a new branch called "multiple-context-roots" where we can work on it from there.

There are multiple problems with the proposed patch, including:

* Client-side code

[2016-03-07 22:17] #293 closed

[2016-03-07 22:18] stoicflame commented on #276
I'm going to close this, since it appears to be working for me. I'd be happy to re-open if needed.

[2016-03-07 22:18] #276 closed

[2016-03-07 23:10] stoicflame commented on #277
At c23159e, `@DocumentationExample` supports a `value2` element, e.g.:

[code]

[2016-03-07 23:10] #277 closed

[2016-03-07 23:33] stoicflame commented on #278
Finally getting around to looking at this, but I can't seem to reproduce the problem. I've applied the following patch to the [enunciate-sample](https://github.com/stoicflame/enunciate-sample) and the `name` data type is excluded. It even breaks the links to it from the `persona` data type (file not found).

Can you provide a way for me to reproduce what you're seeing?

[2016-03-07 23:44] davidlewis711 commented on #274
https://github.com/stoicflame/enunciate/pull/333

[2016-03-08 19:20] stoicflame commented on #278
At a1ad887, I added a warning whenever a class was added that was supposed to be excluded according to configuration. I'm going to call this issue complete for now; I'd be happy to re-open if needed.

[2016-03-08 19:20] #278 closed

[2016-03-08 20:02] stoicflame commented on #274
Lovely. Thanks for the great pull request. It's now merged, with the following adjustments:

* Minor code style adjustments at 5484f65.
* It turns out if there is _both_ an `@XmlElement` annotation _and_ an `@XmlElementWrapper` annotation, Jackson prefers the former over the latter, so I fixed the prioritization bug at 2a30318.
* I pushed the configuration of path-sort-strategy down to each indivi

[2016-03-08 20:11] stoicflame commented on #279
Fixed at f4b6433.

[2016-03-08 20:11] #279 closed

[2016-03-08 21:19] davidlewis711 commented on #274
Awesome.  Thanks!

One thing, though.

That's not the behavior that I see.  In my project, I map lists and arrays like this:

[code]
The generated XML is
[code]
and the corresponding JSON is:
[code]
Did you find Jackson documentation describing it differently?  If you can provide me with that information, I'd like to spend some time trying to understand why the difference.

[2016-03-08 21:23] stoicflame commented on #274
No, it was actually one of the tests that failed.

If you revert 2a30318 and run "mvn clean install", you should see an NPE on `TestGeneratedJsonTypeSerialization` line 725 in the `java-json-client` module. I'll reopen and investigate further.

[2016-03-08 23:47] cshupp1 opened #334 "Generated Ruby code ignores inheritance hierarchies"
Suppose I have the following start of a java class:

[code]
Further, suppose I have a Java class called  'RestSememeChronology' with the following:

[code]

As expected, I will get various generated Ruby classes including RestSememeChronology, RestSememeVersion, and, the various subclasses of  RestSememeVersion.  In  particular, I will get a ruby class called RestSememeDescriptionVersion.

Now con

[2016-03-09 00:34] davidlewis711 commented on #274
I see.  I stepped through the failing unit tests and found the code in JaxbAnnotationIntrospector in jackson-module-jaxb-annotations-2.5.3.jar that behaves as you describe.  I need to dig into my project and figure out why it behaves differently.  I think jackson-module-jaxb-annotations-2.5.3.jar is wrong, but I need more information to back up that claim :).  Feel free to consider the issue resol

[2016-03-09 16:57] davidlewis711 commented on #274
Looks like it's a difference between Jackson 1 and 2:

[https://github.com/FasterXML/jackson-module-jaxb-annotations/issues/13](https://github.com/FasterXML/jackson-module-jaxb-annotations/issues/13)

Looks like there is a long discussion about it.  Maybe I just need to avoid the whole thing by adding Jackson annotations...

[2016-03-09 18:10] stoicflame commented on #280
Fixed at b94789f.

[2016-03-09 18:10] #280 closed

[2016-03-09 18:12] stoicflame commented on #274
Okay, at 4fba5f1 I put the priority back on `@XmlElementWrapper` for Jackson 1, but not Jackson 2.

[2016-03-09 18:12] #274 closed

[2016-03-09 18:17] davidlewis711 commented on #274
Sounds good.  Thanks!
On Mar 9, 2016 11:12 AM, "Ryan Heaton" <notifications@github.com> wrote:

[2016-03-09 19:23] mperrier commented on #279
Thanks Ryan!

[2016-03-09 21:35] stoicflame commented on #284
Fixed at 54a8705.

[2016-03-09 21:35] #284 closed

[2016-03-09 23:23] stoicflame commented on #285
Unfortunately, by the time the Maven plugin is executed the artifacts (including docs) are already generated, so there's no way to retro-actively apply the maven coordinates to the generated docs at the time the "install" plugin is invoked. So the best we can do is provide mechanisms in the Enunciate configuration file for documenting the maven coordinates, e.g.:

[code]

[2016-03-09 23:23] #285 closed

[2016-03-10 13:03] jigarparekh80 opened #335 "jackson does not consider @JsonSubTypes"
if parent class is marked with below annotation documentation for child classes  is not generated.
[code]
similar configuration is working for jaxb if class is marked with @XmlSeeAlso

[2016-03-10 13:27] jigarparekh80 commented on #335
workaround is adding @XmlRootElement to child classes.

[2016-03-10 16:29] darmbrust commented on #334
FYI, I'm working with Cris, and doing some testing on a patch that makes a change to the client-complex-type.fmt file that I think will take care of our issue (though I don't know if that is the 'correct' way to fix this)

[2016-03-10 16:50] stoicflame commented on #334
Thanks. I'll look forward to the patch.

[2016-03-10 19:31] stoicflame commented on #288
Fixed at d89bdba.

[2016-03-10 19:31] #288 closed

[2016-03-10 19:32] stoicflame commented on #289
Haven't heard back. Assuming this issue is resolved. I'd be happy to re-open as needed.

[2016-03-10 19:32] #289 closed

[2016-03-10 19:59] sg-ad commented on #288
Thanks, @stoicflame !

[2016-03-10 21:10] darmbrust opened #336 "ruby-json module isn't utilizing @XmlSeeAlso"
Another issue which we identified from the example in https://github.com/stoicflame/enunciate/issues/334 is that the ruby generator is ignoring the XmlSeeAlso annotations - and if there is no other reference to one of the classes in the XmlSeeAlso - it doesn't generate a ruby equivalent class for the classes in XmlSeeAlso.

I'm just starting to look into this issue - any hints on where I would nee

[2016-03-10 21:15] stoicflame commented on #290
Finally getting around to implementing this, but I need to know where this behavior in Spring is documented so I can make sure I get it implemented correctly. I don't see any mention of the use the `@QueryParam` in the [Web MVC Documentation](http://docs.spring.io/spring/docs/current/spring-framework-reference/html/mvc.html).

I need to know how things are implemented to answer questions like:

*

[2016-03-10 21:21] stoicflame commented on #336
Yeah, so that was deliberate because `@XmlSeeAlso` is a JAXB (XML) annotation and Jackson (the JSON implementation) doesn't honor that annotation. Since the Ruby client code uses JSON, that annotation isn't considered when determining the data types.

I was looking for an equivalent annotation in the Jackson library, but couldn't find one exactly equivalent. There's the `@JsonSubTypes` annotation

[2016-03-10 21:31] stoicflame commented on #336
I'm open to adding an Enunciate-specific annotation if you'd like.

Does using the configuration not work for you?

[code]

[2016-03-10 21:33] stoicflame commented on #291
Fixed at 01ebe8c.

[2016-03-10 21:33] #291 closed

[2016-03-10 21:34] darmbrust commented on #336
That would certainly work.  I was looking at your docs on the config stuff a bit, but I was only seeing excludes, not includes.

[2016-03-10 21:38] cshupp1 commented on #336
I like it too!

[2016-03-10 21:43] patvong commented on #291
Thanks!

[2016-03-10 23:13] stoicflame commented on #292
I fixed the issue with the unpaired setter at 06c3440. Thanks for the report.

I couldn't see the problem you reported with the use of `@JsonPropertyOrder`, so I'll close this out. If you'd like to provide me more details on how to see the issue, go ahead and open up a new issue.

[2016-03-10 23:13] #292 closed

[2016-03-10 23:15] stoicflame commented on #294
At ba1f06b I implemented better error handling of the condition described here.

[2016-03-10 23:15] #294 closed

[2016-03-10 23:23] stoicflame commented on #296
Fixed at 5bb60d6.

[code]

[2016-03-10 23:23] #296 closed

[2016-03-11 06:29] jigarparekh80 opened #337 "@JsonValue is not considered in example"
if i mark any property with @Jsonvalue then json example is not correct, this is properly honored in case of jaxb with @XMLValue.

Jackson annotation
[code]
Jackson example output
[code]
Jaxb annoation
[code]

Jaxb Example
[code]

[2016-03-11 06:33] jigarparekh80 opened #338 "jackson does not honor generics or json property"
I have common response class which have been inherited with java generics

[code]

jackson does not recognize User property and generates below example

[code]

and in datatype section it shows payload as object instead of User.

[2016-03-11 07:07] darmbrust commented on #336
Hmm, I misread you comment above.  I hadn't tried the include pattern before... I tried it now - it doesn't seem to have any impact on the output of the ruby code - I've been debugging / poking at the processor, and it appears that when it reads the types from the jackson module, they aren't in there either.

So, I tried setting the jackson datatype-collection to "aggressive" - but then I broke be

[2016-03-11 12:07] marcomotta opened #339 "Custom annotations in Javadoc"
Hi,

  I´ve read some similar issues regarding custom tags in Javadoc but didn´t realize any solution.
  We´ve been using older versions of Enunciate documenting our REST API in our Open Data site.

  We use custom tags in JavaDoc to show our users some real calls to the API. We had a modified freeMarker template do read those tags and display them accordingly on the documentation.

  We recently

[2016-03-11 16:47] stoicflame commented on #339
There's a mechanism to access the annotations, but not the JavaDoc tags. We can get those exposed, too.

[2016-03-11 17:44] sg-ad commented on #290
Hi @stoicflame

First, bad info on my part:  it's _not_ Spring but rather CXF (and Jersey) that supports exploding the query parameters into an object when the name of the query parameter is left empty: `@QueryParam("")`.  I'll research in Spring to see if they actually support something similar.

However, after digging, I find that this doesn't appear to be part of the JAX-RS specification.  I gu

[2016-03-11 18:04] stoicflame commented on #290
Fixed at 74b0bb0.

[2016-03-11 18:04] stoicflame commented on #290
Doh! Wrong issue....

[2016-03-11 18:05] stoicflame commented on #297
Fixed at 74b0bb0.

[2016-03-11 18:05] #297 closed

[2016-03-11 18:09] stoicflame commented on #290
Okay, so I've never read about the behavior of the empty `@QueryParam` annotation, so I'm a bit nervous about implementing it.

JAX-RS 2.0 supports the [`@javax.ws.rs.BeanParam` annotation](http://docs.oracle.com/javaee/7/api/javax/ws/rs/BeanParam.html), and Jersey 1 supports the  `@com.sun.jersey.api.core.InjectParam` annotation (see #279). Can you use either of those instead?

[2016-03-11 18:10] sg-ad commented on #290
Good question.  Let me take a look at it to see if we can use that approach instead...

[2016-03-11 18:12] stoicflame commented on #290
Note that support for `@InjectParam` won't be included until release 2.3. Support for `@BeanParam` was included since 2.0.

[2016-03-11 18:46] stoicflame commented on #298
Configuration option available at d76df29.

[code]

[2016-03-11 18:46] #298 closed

[2016-03-11 18:54] stoicflame commented on #301
Duplicate of #261; fixed at 4494880.

[2016-03-11 18:54] #301 closed

[2016-03-11 18:57] stoicflame commented on #302
Fixed at 1fbf68e.

[2016-03-11 18:57] #302 closed

[2016-03-11 18:58] stoicflame commented on #327
Duplicate of #302; fixed at 1fbf68e.

[2016-03-11 18:58] #327 closed

[2016-03-11 19:17] marcomotta commented on #339
I´ve managed to get some success with the annotations indeed. But there are some restrictions in which annotations we can use and repetitions for the same annotation (what I´ve got int the example above) on the same method.
And, of course, there are the some collateral effects in annotating the code too much, as already stated by other here in this thread.
It would be much appreciated exposing the

[2016-03-11 22:01] stoicflame commented on #303
At f6771d4, Swagger UI has been updated to version 2.1.4.

Currently, Enunciate doesn't generate the swagger index page; it's a static copy. If you'd like to tweak the Swagger UI index page (and associated `SwaggerUI` javascript object), you can do so by configuring Enunciate to use a custom "base". For details, see [Swagger Module Documentation](https://github.com/stoicflame/enunciate/wiki/Module

[2016-03-11 22:06] stoicflame commented on #304
Okay, I was wrong. There _is_ a way to do it.

Currently, Enunciate doesn't generate the swagger index page; it's a static copy, and I'm reluctant to get into the business of surfacing every Swagger UI configuration option through Enunciate configuration.

If you'd like to tweak the Swagger UI index page (and associated `SwaggerUI` javascript object), you can do so by configuring Enunciate to use

[2016-03-11 22:06] #304 closed

[2016-03-13 05:07] darmbrust commented on #334
The attached patch will work so long as the abstract class in your API is annotated with:

@JsonTypeInfo(use = JsonTypeInfo.Id.CLASS, include = JsonTypeInfo.As.PROPERTY)
Note that this patch will lead to a runtime error if the user does not put in place a workaround for #336 (added details to #336 that discuss the workaround we are using at the moment)

[2016-03-13 05:13] darmbrust commented on #336
The only workaround that we have found to guarantee that the proper classes get created is the following.

Add an (undocumented) method to your API:

[code]

Define the class Z as such:
[code]

Finaly, do a facet exclude in the enunciate.xml file, so that this method isn't documented:
[code]

[2016-03-14 14:07] sg-ad commented on #256
Thanks on this one, too, @stoicflame!

[2016-03-15 10:30] nemosharma6 opened #343 "Customize Example body for a returned object"
For exmaple , I have a function that returns a PAGE object.This object has two variable "page" and "size" both being integers. Now when i view this object(on its html page) it displays the name of its variables and any default value associated with it. Also there is an example PAGE object with it.
For e.g.

`{
  "page" : 12345,
  "size" : 12345
}`

Now i want to change this default value i.e. 1234

[2016-03-15 14:00] stoicflame commented on #343
https://github.com/stoicflame/enunciate/wiki/Enunciate-Specific-Annotations#cwemdocumentationexample

[2016-03-15 14:00] #343 closed

[2016-03-15 14:11] nemosharma6 commented on #343
I tried @DocumentationExample but its not working for me.

[2016-03-15 14:17] #303 closed

[2016-03-15 14:33] stoicflame commented on #343
Works for me.

Can you tell me how to patch the [enunciate-sample](https://github.com/stoicflame/enunciate-sample) to expose the problem you're seeing?

[2016-03-15 15:47] stoicflame commented on #306
Fixed at a50fe0f.

Documentation at https://github.com/stoicflame/enunciate/wiki/Enunciate-Specific-Annotations updated.

[2016-03-15 15:47] #306 closed

[2016-03-15 17:31] stoicflame commented on #307
Fixed at 1abca19.

[2016-03-15 17:31] #307 closed

[2016-03-15 17:38] stoicflame commented on #308
I believe this happens to be a duplicate of #270 and has been fixed at f23e33e.

[2016-03-15 17:38] #308 closed

[2016-03-15 18:30] stoicflame commented on #310
Fixed at 64c2c64.

I'm assuming the `@NotNull` annotation you're referring to is `@javax.validation.constraints.NotNull`. I couldn't find any standard `@NotEmpty` annotations. There's the hibernate one, but that's implementation-specific so I didn't implement support for it.

[2016-03-15 18:30] #310 closed

[2016-03-15 18:44] stoicflame commented on #311
I spent some time looking at this, but until this technique becomes standardized (or until someone wants it enough to pay for commercial support) I don't see myself getting around to implementing support for it because it's such a customized mechanism. If we ever did implement it, it would need to be off by default and enabled via configuration because of the many other possible ways people may ha

[2016-03-15 18:57] stoicflame commented on #220
Fixed again at 3477047.

[2016-03-15 18:57] stoicflame commented on #316
Fixed at 3477047.

[2016-03-15 18:57] #316 closed

[2016-03-15 19:04] stoicflame commented on #317
@patvong, thanks for the thread and the details. After reading through your observations above, I think you came to the right solution to use `@JsonAutoDetect` to specify the field visibility. Since Enunciate supports this annotation, I'm going to consider this issue closed. I'd be happy to re-open as needed.

[2016-03-15 19:04] #317 closed

[2016-03-15 19:09] stoicflame commented on #318
I believe this is fixed at 74b0bb0c93e02f38d56e16d790a5aed59742f756, but if you'd like to include what your `@Path` annotation looks like where you've got a regular expression that looks like "/slib/{host}{service/\w+)?}", then I can verify that for you.

[2016-03-15 19:09] #318 closed

[2016-03-15 19:31] stoicflame commented on #319
I took some time to look into this further.

As to how the `docsDir` attribute gets resolved, it's relative to the directory that contains the configuration file. It has been this way for awhile so I'm nervous about changing that because I think it will affect a significant number of people who are already expecting current behavior. I think the best solution here is to use the "${basedir}" maven

[2016-03-15 19:31] #319 closed

[2016-03-15 19:38] stoicflame commented on #321
Thanks for the report. I believe this is fixed at a1410f8. I'd be happy to re-open as needed.

[2016-03-15 19:38] #321 closed

[2016-03-15 19:57] stoicflame commented on #322
Fixed at 3391f50.

[2016-03-15 19:57] #322 closed

[2016-03-15 20:06] stoicflame commented on #323
I never figured out how to reproduce the issue, but I believe that the fix at e401168 will address this issue.

[2016-03-15 20:06] #323 closed

[2016-03-15 20:24] stoicflame commented on #324
Fixed at 79c30f4.

[2016-03-15 20:24] #324 closed

[2016-03-15 20:27] stoicflame commented on #325
I'm afraid I can't reproduce this issue. The special characters are getting correctly written for me.

I'm happy to re-open if you can provide a way to reproduce it.

[2016-03-15 20:27] #325 closed

[2016-03-15 21:13] stoicflame commented on #330
Fixed at 0111955.

[2016-03-15 21:13] #330 closed

[2016-03-15 21:24] stolp commented on #319
Agreed, it is almost always a bad idea to change an existing behavior. IMHO it would be good if the maven plugin documentation would clearly state that the configuration values are overridden by values in the configuration file.

[2016-03-15 21:39] steinsag commented on #330
Thank you very much, works perfectly, just tested it!

[2016-03-16 02:16] stoicflame commented on #338
I acknowledge the issue, but I can't figure out what to do about it.

One option would be to document the `payload` property as if it belonged to the `UserResponse` data type, but then there would be another (duplicate) property that belongs to the `CommonResponse` data type. So under "Properties of UserResponse" you'd see a property `payload` of type "User", but then a little bit lower in the lis

[2016-03-16 05:40] Fival85 commented on #275
Hello again and thank you for your response.

We only want to repair the broken links.

Wether the @ResourceGroup-Annotation is the best way, i couldn't say. I think from the perspective of REST it is a good way, but from the perspective of a service, it make more sense if the context-root is a single annotation.

Anyway: I think enunciate should support an annotation to set the base-url/context-r

[2016-03-16 06:52] nemosharma6 commented on #343
I am using jackson2 and this is the configuration for my project.

`<modules>
    <jaxb disabled="true"/>
    <jackson2 disabled="false" honorJaxb="true" datatype-detection="passive"/>
    <jaxws disabled="true"/>
</modules>`

I looked into #276 but was unable to resolve it.

[2016-03-16 08:17] oeystein commented on #311
That is completely understandable, thanks for your support! I may see if i can find a workaround somehow.

[2016-03-16 09:02] jigarparekh80 commented on #338
yes, i have tried first option but as you have suggested it results in to two property.

problem is jsonproperty does not allow to specify type so might difficult to get type information.
is it possible to read type value from @xmlelement? (may be workaround)

[2016-03-16 14:30] egemenvardar commented on #310
Yes I was referring to `javax.validation.constraints.NotNull`. For `@NotEmpty` I meant the hibernate one yes - but ok fair enough. I will think of a workaround then.

Thanks for the fix.

[2016-03-16 16:04] stoicflame commented on #331
Fixed at 6089c07.

[2016-03-16 16:04] #331 closed

[2016-03-16 16:09] stoicflame commented on #338
Sure, you could use `@TypeHint(User.class)` or you could use `@JsonSerialize(as=User.class)` to specify a hint, but then if there were _other_ subtypes of `CommonResponse`, they'd get documented as if their payload were of type `User`.

[2016-03-16 16:12] stoicflame commented on #343
Still works for me.

Maybe you're annotating the field when you should be annotating the property, or vice-versa.

[2016-03-16 16:22] patvong commented on #331
Thanks!

[2016-03-16 16:37] nemosharma6 commented on #343
Could you suggest an example wherein @DocumentationExample is used.

[2016-03-16 16:55] stoicflame commented on #334
Patch merged.

[2016-03-16 16:55] #334 closed

[2016-03-16 17:30] stoicflame commented on #336
At bd7cc9b, I made sure that classes explicitly included in the config file will be added to the context. So you shouldn't need the above-mentioned workaround anymore.

[The documentation on the wiki](https://github.com/stoicflame/enunciate/wiki/Excluding-Including-Classes) was also updated.

[2016-03-16 17:51] stoicflame commented on #335
Fixed at d25f9e4.

[2016-03-16 17:51] #335 closed

[2016-03-16 17:58] stoicflame commented on #343
Yeah, the annotation probably needs to be applied to the public member.

E.g. apply [this patch](https://github.com/stoicflame/enunciate/files/176587/documentation-example.txt) to [enunciate-sample](https://github.com/stoicflame/enunciate-sample).
[documentation-example.txt]

[2016-03-16 18:35] stoicflame commented on #337
I'm afraid I can't reproduce the problem. I tried with both Jackson 1 and Jackson 2, and the example looks good to me; I don't get that extra "value".

[This patch](https://github.com/stoicflame/enunciate/files/176638/jsonvalue-test.txt) can be applied to [branch "step5" of the enunciate-sample](https://github.com/stoicflame/enunciate-sample/tree/step5) to validate what I'm seeing.

Can you provid

[2016-03-16 18:35] #337 closed

[2016-03-16 18:51] stoicflame commented on #339
Fixed at 7c799a2.

[2016-03-16 18:51] #339 closed

[2016-03-16 18:53] stoicflame commented on #290
I'm going to close this out for now since there is a more standard workaround available. I'd be happy to re-open if there's enough demand.

[2016-03-16 18:53] #290 closed

[2016-03-16 19:05] stoicflame opened #344 "support for favicon"

[2016-03-16 19:06] stoicflame commented on #344
Fixed at 10d275d.

[code]

[2016-03-16 19:06] #344 closed

[2016-03-16 19:35] PMLavigne opened #345 "Enunciate Jackson Context throws exception if JsonSubTypes defines more than one type"
I'm using the latest (master) from github and ran into an exception. I'm not entirely sure what exactly in my code that's causing this, but it seems like the code in EmulateJacksonContext.java throws an exception if JsonSubTypes.value() returns more than one item:

[code]

I tracked the source of the exception down to the method `addSeeAlsoTypeDefinitions()` (EnunciateJacksonContext.java line 442)

[2016-03-16 19:45] stoicflame commented on #275
Okay.

At b1646752139a52061639dc91b019b6d1f39e4767 I modified your original design. I kept the `@com.webcohesion.enunciate.metadata.rs.ServiceContextRoot` annotation, but changed the element name from `context()` to `value()`. I also rolled back the changes you made to the JaxrsModule and pushed the calculation of the context root down to the resource grouping logic.

The new annotation [has been

[2016-03-16 19:45] #275 closed

[2016-03-16 19:49] stoicflame commented on #345
Thanks for the report. Fixed at 0d7a6f3.

[2016-03-16 19:49] #345 closed

[2016-03-16 20:44] stoicflame commented on #338
I spent some more time on this, but I keep running into dead ends.

I looked into the possibility of making the base class/methods abstract and overriding them, but it doesn't make any difference.

I looked into the possibility of applying `@JsonIgnore` to the base class properties, but then Jackson ignores it.

I looked into the possibility of applying `@Ignore` to the base class, but then the ty

[2016-03-16 20:44] #338 closed

[2016-03-16 22:29] stoicflame commented on #345
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:29] stoicflame commented on #312
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:29] stoicflame commented on #313
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:29] stoicflame commented on #316
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:29] stoicflame commented on #317
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:29] stoicflame commented on #318
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:30] stoicflame commented on #319
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:30] stoicflame commented on #321
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:30] stoicflame commented on #322
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:30] stoicflame commented on #323
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:30] stoicflame commented on #324
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:30] stoicflame commented on #325
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:30] stoicflame commented on #326
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:30] stoicflame commented on #327
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:30] stoicflame commented on #328
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:30] stoicflame commented on #330
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:30] stoicflame commented on #331
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:30] stoicflame commented on #334
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:31] stoicflame commented on #335
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:31] stoicflame commented on #336
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:31] stoicflame commented on #337
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:31] stoicflame commented on #338
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:31] stoicflame commented on #339
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:31] stoicflame commented on #343
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:31] stoicflame commented on #344
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:32] stoicflame commented on #279
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:32] stoicflame commented on #280
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:32] stoicflame commented on #281
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:32] stoicflame commented on #284
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:32] stoicflame commented on #285
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:32] stoicflame commented on #286
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:32] stoicflame commented on #288
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:32] stoicflame commented on #289
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:32] stoicflame commented on #290
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:32] stoicflame commented on #291
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:32] stoicflame commented on #292
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:32] stoicflame commented on #293
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:32] stoicflame commented on #294
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:33] stoicflame commented on #295
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:33] stoicflame commented on #296
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:33] stoicflame commented on #297
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:33] stoicflame commented on #298
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:33] stoicflame commented on #301
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:33] stoicflame commented on #302
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:33] stoicflame commented on #303
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:33] stoicflame commented on #304
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:33] stoicflame commented on #306
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:33] stoicflame commented on #307
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:33] stoicflame commented on #308
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:33] stoicflame commented on #310
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:34] stoicflame commented on #228
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:34] stoicflame commented on #244
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:34] stoicflame commented on #254
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:34] stoicflame commented on #255
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:34] stoicflame commented on #256
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:34] stoicflame commented on #260
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:34] stoicflame commented on #261
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:34] stoicflame commented on #262
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:34] stoicflame commented on #263
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:34] stoicflame commented on #264
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:34] stoicflame commented on #265
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:34] stoicflame commented on #266
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:34] stoicflame commented on #267
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:35] stoicflame commented on #270
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:35] stoicflame commented on #271
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:35] stoicflame commented on #273
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:35] stoicflame commented on #274
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:35] stoicflame commented on #275
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:35] stoicflame commented on #276
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:35] stoicflame commented on #277
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-16 22:35] stoicflame commented on #278
[Enunciate 2.3 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.3.0).

[2016-03-17 07:13] nemosharma6 commented on #343
Thanks.

[2016-03-17 13:16] jigarparekh80 commented on #337
hmm.. i tried sample it is working indeed. also tried all possible combination of generics and interfaces i have in my project still working on sample. not able to figure why not working in my project.
will send you patch if i am able to replicate on sample.

[2016-03-18 14:20] javierestevez opened #346 "Body of type byte[] is not correctly rendered by swagger-ui"
Hello,

I am using enunciate 2.3.0 to document my REST API and generate a swagger-ui client. One of my PUT-annotated methods has a byte[] argument as the request body.

`
@PUT
@Path("{personId}/profile/picture")
@Consumes({"image/png", "image/jpg"})
public void setPersonProfilePicture(@NotNull @PathParam("personId") PersonRef personRef, byte[] picture) {
    // implementation of the resource
}
`

[2016-03-18 17:30] TheOnlyAl opened #347 "Missing slash in generated documentation"
Hi.

we have a issue with a missing slash in the API Documentation generated by enunciate 2.3, but i believe the issue exists since 2.2.

I belive it is basically the same problem as in  #316, where when you have an `@ApplicationPath("api")` and resource `@Path("library")` the link in the generated documentation will be something like:
`<a href="../apilibrary/resource" class="glyphicon glyphicon-n

[2016-03-19 22:44] stolp commented on #347
I also stumbled upon this today.

[2016-03-20 21:53] stolp opened #348 "Unable to execute jackson module using the maven-enunciate-slim-plugin"
I ripped my hair out the last days to find the cause why the maven plugin was not able to generate JSON Datatype documentation while XML documentation was working flawlessly.

I determined that the following modules configuration in enunciate-config.xml does work when using the `maven-enunciate-plugin` and does not work when using `maven-enunciate-slim-plugin`.

This both applies to enunciate 2.2.

[2016-03-20 21:57] jphv opened #349 "Ignore @jsonignore"
Hello,
I want to inform you about the fact that when I write @JsonIgnor on attribut in a class java, it is  included in documentation and I wouldn't like see it.. I see my attribut.

Friendly.

[2016-03-20 23:04] stoicflame commented on #348
What's the error you're seeing?

[2016-03-20 23:29] stolp commented on #348
There is no error, I suspect that the module is never executed.

[2016-03-20 23:51] stoicflame commented on #348
Yes, that's kind of the point with the "slim" plugin; there are no modules on the classpath and you add the ones you want in the "dependencies" section of the plugin configuration.

[2016-03-20 23:51] #348 closed

[2016-03-21 00:13] stoicflame commented on #349
Which `@JsonIgnore` annotation are you using? "org.codehaus" or "com.fasterxml"? What happens if you use the other one?

[2016-03-21 00:25] stolp commented on #348
I was assuming that this is controlled by the individual module disabled attribute and not by adding to the dependencies section of the plugin. I am wondering why the enabled jaxrs, jaxb and docs modules are working as expected with the maven-enunciate-slim-plugin (without adding anything to the dependencies section) while the jackson module is not.

This is how the maven plugin section is looking

[2016-03-23 07:42] Fival85 opened #350 "Encoding converter/configuration"
Hello again,

we have a problem with enunciate 2.x. Our Source-Code is written in "latin1" and enunciate generates a utf-8 documentation. This will produces some errors with german letters like ö,ä and ü.

We see no possibility that enunciate convert the encoding correctly. We also see no possibility to set the encoding to latin1.

As a workaround we change the hardcoded encoding settings in the e

[2016-03-25 15:31] stoicflame commented on #346
Thanks for the report.

[2016-03-25 15:32] stoicflame commented on #347
Thanks for the report.

[2016-03-25 15:33] stoicflame commented on #349
Bump. Anything to report?

The other issue is that you could have annotated your field when you should be annotating your getter.

[2016-03-25 15:36] stoicflame commented on #348
That's how it works with the "not slim" plugin. It's a historical artifact of an older version of Enunciate where people didn't want to get surprised by any new Enunciate modules or the like.

I can't explain why you're seeing the jaxrs, jaxb, and docs modules enabled. They shouldn't be.

[2016-03-25 15:38] stoicflame commented on #350
Thanks for the report.

[2016-03-25 16:16] landonvg commented on #310
Does this change support any other `javax.validation.constraints` annotations, or just `@NotNull`?

[2016-03-25 16:48] stoicflame commented on #310
Just `@NotNull` for now.

[2016-03-26 06:54] darmbrust opened #351 "Generated Ruby code inheritance hierarchies null handling issue"
The patch we provided for https://github.com/stoicflame/enunciate/issues/334 missed a null handling case.  Updated patch coming shortly....

[2016-03-26 07:28] darmbrust commented on #336
I tried configuring 2.3.0 like so:
[code]

But it still seems to miss my classes during the ruby client generation.  I also tried with a fully specified class name, rather than .* wildcards... didn't seem to make any difference.

The workaround above still works.

Am I missing a step?

[2016-03-26 16:40] #351 closed

[2016-03-26 16:47] stoicflame commented on #336
I'll re-open for 2.4.

Does the output of "mvn -X" give any clues?

[2016-03-27 16:44] hskigithub opened #353 "Provide example for artifact param in pom.xml"
If I understood correctly I can configure enunciate e.g. to just create docs and not any other artifacts using artifact param of configuration.

[code]
But I have problems to understand, what to put in artifacts param. Simply `<artifacts>docs</artifacts>` doesn't work.

Configuring `<artifacts><artifact><enunciateArtifactId>docs</enunciateArtifactId></artifact></artifacts>` is accepted as valid co

[2016-03-27 17:04] hskigithub commented on #353
Okay, I found out how to disable different client libs via enunciate.xml.

[code]

I think, it would be helpful to put a hint at https://github.com/stoicflame/enunciate/wiki/Artifacts how to configure different artifacts.

[2016-03-28 16:57] stoicflame commented on #353
I updated the [Modules](https://github.com/stoicflame/enunciate/wiki/Modules) page with more explicit instructions on how to disable modules.

[2016-03-28 16:57] #353 closed

[2016-03-28 18:45] hskigithub opened #354 "Documentation for enunciate.xml config file incl. XML schema reference"
It would be great to have a wiki page with a sample of an enunciate config file. Most important in that example is the reference to the XML schema, so that you know what parameters are possible.

[2016-03-28 18:48] hskigithub commented on #190
+1

[2016-03-28 19:50] stoicflame commented on #354
There's one provided in the [getting started guide/sample app](https://github.com/stoicflame/enunciate-sample/blob/step5/enunciate.xml).

There are also [a bunch in the examples](https://github.com/stoicflame/enunciate/search?utf8=%E2%9C%93&q=in%3Apath+enunciate.xml).

[2016-03-28 19:50] #354 closed

[2016-03-29 13:29] geraldglennon opened #355 "Use relative paths to rest api"
Hey,
So i've just been updating from older version to 2.3.0 as we have moved to java 8. Again I found the issue reported previously i.e. missing the "/". so I'm current using 2.1.0 until this is fixed.

My problem is that the url does no use relative paths i.e.
<a href="../server/api/projects" class="glyphicon glyphicon-new-window" target="_blank"></a>

the uri the docs are located are  _<hostname

[2016-03-29 14:07] stoicflame commented on #355
What process puts the docs in "/tm"?

Have you tried using the `docsSubdir` attribute?

[code]

[2016-03-29 14:33] geraldglennon commented on #355
Apologies its something unusual done to our test environment. Our test environment has 2 different versions of the UI deployed. Something that was implemented along time ago but forgotten about. I'll need fix that one myself.

I deployed to our stage environment a moment ago and its working fine. Apologies.

Also I noticed that swagger is not adding the application path. Is there some extra config

[2016-03-29 17:24] stoicflame commented on #355
Swagger should be using application root. You can provide custom Swagger base path, e.g.:

[code]

[2016-03-29 17:24] #355 closed

[2016-03-30 08:35] geraldglennon commented on #355
cool thanks

[2016-03-31 06:54] murugaraja opened #356 "What is the corresponding XML element for defaultrestsubcontext in enunciate2"
Hello,

We have "defaultrestsubcontext" tag to mention the "subcontext" in enunciate1.*.xml but I cant see the same in enunciate2.*.xml file. So, Is there a way to specify "subcontext" in enunciate2.*.xml file.

**sample in enunciate1.28.xml file**

[code]
expecting the same in enunciate2.2.0.xml file

Thanks in advance,
Raja.M

[2016-03-31 08:52] egemenvardar opened #357 "Does Enunciate support collectionFormat for array types?"
A follow-up issue of #331.

Since version 2.3.0 Enunciate can generate array type for multi-valued query parameters. It looks like this on the Swagger UI:

![image](https://cloud.githubusercontent.com/assets/17125072/14170374/b6dcadd0-f72d-11e5-8dd4-e763150d1fd4.png)

This is correct, however providing values in new lines does not work. In my case, the query parameter is constructed as follows:
`g

[2016-03-31 11:40] murugaraja commented on #51
In enunciate2 there is no "defaultRestSubcontext" tag element available in enunciate.2.3.0.xsd file, What is the alternate for  "defaultRestSubcontext" in enunciate2.3.0.xsd

[2016-03-31 12:26] iorlas1 opened #358 "How to use @DocumentExample with List<String> as return type?"
I have a property with the following get method:

[code]
The generated json-documentation I get from this states:
  "roles" : [ "role1", "role1" ],

It seems that the List<String> return type is not handled the way that I expected. I thought I would get
  "roles" : [ "role1", "role2" ], or possibly  "roles" : [ "role1", ... ],

Magnus

[2016-03-31 16:04] stoicflame commented on #356
Since Enunciate 2 has moved away from packaging the web application, there is no more "rest subcontext".

There _are_ ways to apply an "application path", either by using the `@ApplicationPath` annotation or by explicitly specifying it in the config:

[code]

[2016-03-31 16:04] #356 closed

[2016-03-31 16:32] stoicflame commented on #357
Thanks for the report. We'll address it for 2.4.

[2016-03-31 16:33] stoicflame commented on #358
Thanks for the report. Assigned to 2.4.

[2016-04-01 10:17] murugaraja commented on #356
Thanks Stoicflame,

continue with this, I used the same in my project but it is **removing final slash** and calling the API.

<enunciate>
  <modules>
    <jaxrs>
      <application path="/v2/"/>

Displaying : http://site/project**/v2/**mypath
Expected : http://site/project**/v2**mypath

Thanks in advance.
Raja.M

[2016-04-04 06:15] murugaraja opened #359 "Slash removed in application path"
Hello,

A follow-up question of  #356.
I used jaxrs to specify the Rest API path in enunciate docs. But it removed the last slash and merge with path.

Below is the enunciate.xml snippet i used.
<enunciate>
  <modules>
    <jaxrs>
      <application path="/v2/"/>

Expected  : http://site/project**/v2/**mypath
Displaying : http://site/project**/v2**mypath

Please suggest me the alternate way to ach

[2016-04-04 07:40] murugaraja opened #360 "Generate python client library in Enunciate"
Hi,

Using enunciate how to generate client library for **Python**.

Thanks in advance.
Raja.M

[2016-04-04 14:02] stoicflame commented on #359
Duplicate of #347 .

[2016-04-04 14:02] #359 closed

[2016-04-04 14:03] stoicflame commented on #360
Tracking as an enhancement request.

[2016-04-06 06:27] samion opened #361 "@XmlElementRef(required=true) not reflected to generated xsd"
Why required=true setting is not reflected to generated xsd for XmlElementRef-annotated fields? This behaviour comes from the following code:

https://github.com/stoicflame/enunciate/blob/master/jaxb/src/main/java/com/webcohesion/enunciate/modules/jaxb/model/ElementRef.java

`
  @Override
  public boolean isRequired() {
    return false;
  }
`

[2016-04-06 16:23] stoicflame commented on #361
It's used in calculating the `minOccurs`, e.g.:

[code]

[2016-04-07 09:59] samion commented on #361
But why required=true generates xsd with minOccurs="0"?

[2016-04-07 10:15] murugaraja opened #362 "Enunciate generated swagger specification file has errors"
Hello,

I am using Enunciate 2.2.0 to generate document, After uploading enunciate generated swagger.json in http://editor.swagger.io/, I am getting **Not a valid parameter definition** in swagger editor, I can see multiple error in swagger.json file in swagger editor.

When try to download client library for any language I am getting **Unable to build target: Could not process model 'xml_ns0_cate

[2016-04-07 12:36] vmadhipatla commented on #321
Thanks. It worked.

[2016-04-07 15:39] stoicflame commented on #362
Thanks for the report.

I'm going to need the swagger.json file in order to debug it.

[2016-04-07 15:50] stoicflame commented on #361
Oh, I see.

Yes, that's probably a bug. I'll fix it for 2.4.

[2016-04-07 20:22] sbrattla opened #363 "A way to provide a 'custom' response body"
I'm trying out enunciate for the first time, and it works great. Really easy to get started with!

Documentation is generated automatically, and (almost) everything works great. The only catch is that I can't use enunciate to automatically generate the "Request Body" and "Response Body" sections. Is there a way which somehow lets me define this section manually, and which enunciate would pull in w

[2016-04-07 20:26] stoicflame commented on #363
https://github.com/stoicflame/enunciate/wiki/Custom-Output-Type

https://github.com/stoicflame/enunciate/wiki/Enunciate-Specific-Annotations

[2016-04-07 20:26] #363 closed

[2016-04-08 06:47] murugaraja commented on #362
Hi Stoicflame,

Please find the attached sample swagger.json file.
[swagger.zip](https://github.com/stoicflame/enunciate/files/209712/swagger.zip)

I uploaded the above swagger json in http://editor.swagger.io/ and fixed below three errors and it is processed with no error (with warnings).

1. Replaced a String instead of "{petId}" in line# 278.
2. Removed duplicate line # 286 **application/json**

[2016-04-09 10:38] hskigithub opened #364 "Title from enunciate.xml not used for webpage Jumbotron headline"
If I add a <title> in the enunciate.xml this title is not used used in the webpage Jumbotron headline. Actually this problem appears, if you set a <description>. If the description is set in enunciate.xml, then no title appears in Jumbotron box.

[2016-04-09 10:39] hskigithub commented on #364
![bildschirmfoto 2016-04-09 um 12 36 28](https://cloud.githubusercontent.com/assets/1921015/14403235/0f3d4178-fe50-11e5-81dc-ac75406a3834.png)

[2016-04-09 21:34] hskigithub opened #365 "Use label for GET, PUT, POST and Status codes 200, 404 etc."
To improve layout of docs you could use Bootstrap labels http://getbootstrap.com/components/#labels for HTTP method and HTTP status codes. See attached screenshot for an example.
![bildschirmfoto 2016-04-09 um 23 25 38](https://cloud.githubusercontent.com/assets/1921015/14406560/9846e27a-feab-11e5-94dc-f1d66b556624.png)

[2016-04-10 04:34] stoicflame commented on #364
The description overrides the title. You can put HTML in the description, e.g.:

[code]

[2016-04-10 04:34] #364 closed

[2016-04-10 04:35] stoicflame commented on #365
I like that. I'll add it to 2.4.

[2016-04-10 07:50] hskigithub opened #366 "Option to use Boostrap page-header instead of jumbotron"
I would like to have the option to use Bootstrap page-header http://getbootstrap.com/components/#page-header instead of jumbotron http://getbootstrap.com/components/#jumbotron. I think this is more suitable for technical documentation. See attached screenshot for a possble layout.

![bildschirmfoto 2016-04-10 um 08 19 07](https://cloud.githubusercontent.com/assets/1921015/14408763/695fa7de-ff01-11

[2016-04-10 08:26] hskigithub commented on #364
Okay, have done a similar work around using CDATA in <description>.

[2016-04-10 08:28] hskigithub commented on #365
:-)

[2016-04-11 13:57] ispringer opened #367 "public field + getter for that field causes Enunciate error, even though Jackson is fine with it"
My team has a coding standard of making fields public on POJOs to reduce boilerplate code. For example:
[code]
rather than:
[code]
However, sometimes the POJO implements an interface that exposes the property, e.g.:
[code]
In that case the POJO ends up with a public field, as well as a getter for that field, i.e.:
[code]
Jackson 2, which we use for serialization, has no issues with this. It is sma

[2016-04-11 14:13] stoicflame commented on #367
Thanks for the report.

For now, Enunciate needs you to use the `@JsonAutoDetect` annotation to specify only field visibility.

For now, I'll keep this issue open to track the work to be smarter about conflict detection.

[2016-04-12 09:08] sbrattla opened #368 "Is there a way to indicate (in the resulting documentation) that the availability of a property depends on a security context?"
The resulting REST documentation produced by enunciate is great. However, the project I'm working on filters out some properties from entities in the data model depending on a security context. To examplify this, have a look at the picture below. The attributes "created" and "distribute" may not be returned if the client is not authorized to view these properties.

For my use case, this could simp

[2016-04-12 09:22] Matthias-Ni opened #369 "Incorrect encoding of JavaDoc in WSDL and XSD files"
Hello again,

sorry that it took me so long. I've created a sample Project to show the problem.
There are some special characters like Ä Ö Ü in the Javadoc.

Build it with
`mvn clean install`

The generated wsdl and xsd Files have illegal characters, the html files are correct.

Oh and thank you again for fixing  #323! The issue is gone after updating to the latest enunciate
version.

[EncodingTes

[2016-04-12 14:17] stoicflame commented on #368
Enunciate doesn't have any way of identifying those properties today. Can you suggest a mechanism for doing so? Are you thinking about some kind of custom annotation?

[2016-04-12 17:19] sbrattla commented on #368
A custom annotation which would let me add one or more "labels" to a property would be great. Those labels could then be added as CSS classes (filtering out non-valid characters as described in http://stackoverflow.com/questions/448981/which-characters-are-valid-in-css-class-names-selectors).

[2016-04-13 12:54] vegaasen opened #370 "Custom (ServletHolder) context path (application path) not reflected in GUI"
Hia,

Configuring Enunciate when using Jersey/Jetty embedded works just as intended and expected, however, the URLs being listed within the documentation is relative to whatever is defined in the annotation "@Path". As this is ok for most cases, it leaves out a small important bit. If you define a context-root on the servletHolder-level for e.g Jersey, that context-root is being left out causing t

[2016-04-15 18:41] hskigithub opened #371 "Maven docs should replace / update existing files in docsDir"
When calling the docs goal in maven, enunciate is not updating the content in the docsDir. I manually need to remove the folder and then next maven docs call it gets created.

Is there a way to configure enunciate or maven to update existing content in docsDir resp. remove all  files and create them new?

[2016-04-15 18:46] stoicflame commented on #371
There's no way to do that today, no. Is it hard to have your build system do it?

[2016-04-15 18:54] hskigithub commented on #371
Sure, maven should be able to do that. Just I have no clue, how to configure maven pom.xml for that. Any idea?

[2016-04-15 19:02] hskigithub commented on #371
Maybe like this https://maven.apache.org/plugins/maven-clean-plugin/examples/delete_additional_files.html.

[2016-04-15 19:57] hskigithub commented on #371
I have done some more testing. If I change something in enunciate.xml e.g. `title`, then the `docsDir` content gets updated. That's as expected.

If I change something in the `docs.fmt`, I get `[INFO] [ENUNCIATE] Skipping documentation source generation as everything appears up-to-date...`. Okay, maybe.

If I change JavaDoc in a Java REST class e.g. method description or `@param` I also get  `[INF

[2016-04-19 12:56] AlexGuion opened #372 "Exclude generated class JAXB"
Hi,

I have a soap webservice which uses a class generated by JAXB. This class is generated only one time an put in my project, Then i try to generate Enunciate documentation, it fails to create it with this error :

[code]

So i tried to exclude the generated class by exclude it on the enunciate.xml but at the compile enunciate say :
[code]

So my only option, is to exclude the all service, which

[2016-04-19 13:37] stoicflame commented on #372
Sounds like a bug. Thanks for the report.

[2016-04-21 13:43] sbrattla opened #373 "Should @TypeHint work with interfaces?"
I'm trying to throw an interface at `@TypeHint`, but the resulting documentation just says `object(JSON) `and `anyType(XML)` when I do that. If I replace the interface with an implementation, the resulting documentation is correctly produced.

Should I be able to use an interface with `@TypeHint`?

[2016-04-21 14:24] stoicflame commented on #373
So since both Jackson and JAXB don't consider interfaces (they only look at the runtime class), Enunciate has no way of knowing which _class_ will be used and therefore has to punt and just use object. So this is currently working as designed.

[2016-04-21 14:24] #373 closed

[2016-04-22 21:00] patvong opened #374 "Swagger output with inheritance"
I have this inheritance chain:
[code]
In the generated `swagger.json`, I get:
[code]
Since `InvoiceListing` is defined like this:
[code]
Shouldn't `Invoice` definition have only one ref?
[code]

[2016-04-25 06:58] Fival85 opened #375 "Documentation and inheritance"
Hello again,

we have a new questien/problem:

How could you controll the documention of inherited fields?
We have this use-case:

[code]

and

[code]

In the documention we want to see the comment of the new overwritten field, but we still see the comment of overriden class A. Is there any possibility to get the documention of class B?

Background: We have some DTOS in a API-Modul which are used

[2016-04-25 14:03] patvong commented on #374
Is there any workaround for this at the moment?

[2016-04-25 14:17] sbrattla opened #376 "Is there a way to exclude generation of Json (or Xml) examples in v2?"
The version 1 of enunciate allowed me to toggle the generation of XML or JSON in enunicate.xml. How do I do this in version 2?

[2016-04-25 14:21] sbrattla commented on #376
Answering my own question; enunciate v2 respects `@Consumes` and `@Produces`.

[2016-04-25 15:57] #376 closed

[2016-04-25 16:05] stoicflame commented on #375
Maybe. I'll take a look.

[2016-04-27 14:31] justincy commented on #18
That link is broken. I can't find any existing documentation about API description files. It seems they've moved away from them.

[2016-04-27 14:31] #18 closed

[2016-04-27 14:38] patvong opened #377 "Ignored API operation, but not ignored object definition"
I have an endpoint that I ignore:
[code]
I would have expected to not be included the in the swagger.json file the object definition of `ValidationWS`, but it is included even though I added @Ignore and @Facet("Ignore") for that class.

To make it ignore correctly, I need to remove `@TypeHint(ValidationWS.class)`. Is it the expected behavior?

[2016-04-27 14:55] stoicflame commented on #377
Probably a bug. Thanks for the report.

[2016-04-27 18:25] justincy opened #378 "Support for generating a JavaScript client"

[2016-04-27 19:41] stoicflame commented on #378
:+1:

[2016-04-29 10:13] sconstro opened #380 "spring web mvc does not generate in the documentation response body - it shows data type (custom) instead of String"
Example with enunciate-2.3 and gradle plugin:

[code]

Documentation will be generated like this:

Response Body
media type 	                                data type
application/json;charset=UTF-8 	(custom)

[2016-04-29 15:13] stoicflame commented on #380
What would be the expected response data type?

If the return type is String, and the media type is JSON, then presumably you're going to return some kind of JSON object in the String, right? Enunciate has no way of knowing what data type you're returning in the String, so it just says "custom".

[2016-04-29 20:13] sconstro commented on #380
I have the same data type (custom) even if I return an object of type Person. It always appear (custom) in the documentation doesn't matter what I return

[2016-04-29 20:19] stoicflame commented on #380
Okay, I'll take a closer look. If you could put together a simple project that demonstrates the issue that would be helpful.

[2016-05-03 06:17] sconstro commented on #380
[enuciate-demo.zip](https://github.com/stoicflame/enunciate/files/246368/enuciate-demo.zip)

I found the issue: in the class HelloController, I added the annotation @RequestMapping(produces = "application/json;charset=UTF-8")
In this case, the "/test" will show as response body  data type (custom)
Is it any workaround?

[2016-05-03 07:50] sconstro commented on #367
+1. I use now Spring Hateoas and I cannot annotate classes (e.g. PagedResources)
Eventually , you can add some options to the jackson module configuration, something like field="visible" method="none"

[2016-05-03 15:25] stoicflame commented on #380
Ah. Yes. So you have to specify somewhere that the method produces JSON; otherwise, Enunciate has no idea what datatype to link to or how to interpret the `Person` object. If you don't specify, it could be YAML or plain text or protobuf or any other kind of serialization format that Enunciate doesn't know how to document. But when you specify JSON, Enunciate knows what the `Person` object will loo

[2016-05-03 16:03] nuevedientes opened #383 "File Upload with Swagger"
My API has a PUT request that takes a file as a parameter.  Acceptable types are image/jpeg, image/gif, image/tiff, and image/png.  In the Swagger docs that are generated, there doesn't seem to be a way to upload a file to "try it out".  Instead it looks like it's expecting text in the body.  The "data type" column shows "model" and the "parameter content type" dropdown shows the acceptable types

[2016-05-03 16:24] stoicflame commented on #383
Do you have an example of what it _should_ look like in Swagger? Do you what needs to happen to the swagger-ui.json configuration to support that?

[2016-05-03 16:57] nuevedientes commented on #383
I found this question on Stack overflow that shows what it should look like and how they set it up:
http://stackoverflow.com/questions/23136748/how-to-configure-swagger-ui-jersey-and-file-upload

[2016-05-04 14:42] rjernigan opened #384 "Can't have duplicate strings in resource paths"
Hi stoicflame,

I have a path for a resource that is set up wit the following javax.ws.rs annotation:
`@Path(ApiRestPath.GET_PRODUCT)`

In ApiRestPath, the GET_PRODUCT enum looks like this:
[code]

The resource.path that's printing in my Enunciate docs output is excluding the second 'products' path.  Instead of "products/catalogs/{catalogId}/products/{productId}" I'm only getting "products/catalog

[2016-05-04 15:13] stoicflame commented on #384
That's weird. I'll take a look.

[2016-05-09 02:17] shannhastings commented on #137
Im using 2.3 and I still get the The client-side compile failure about StatusType. Issue,   Using jackson 2.7

[2016-05-09 16:13] stoicflame commented on #137
@shannhastings thanks for the report. Can you grep through the output of "mvn -X" and find any references to `StatusType`?

[2016-05-09 16:18] shannhastings commented on #137
I was able to get around the problem by not having my compiled API jars included in the build and only including the “source” jars.

From:  Ryan Heaton <notifications@github.com>
Reply-To:  stoicflame/enunciate <reply@reply.github.com>
Date:  Monday, May 9, 2016 at 11:13 AM
To:  stoicflame/enunciate <enunciate@noreply.github.com>
Cc:  Shannon Hastings <shannonleehastings@yahoo.com>, Mention <menti

[2016-05-11 18:59] raner opened #385 "Missing descriptions for POJOs that don't have JSON or JAXB annotations"
We are using MOXy for serialization, so none of our POJOs have any sort of annotations on them (and we'd like to keep it that way).
I'm trying to create an enunciate documentation of our REST API, but the description of the request and response bodies only says "(custom)", without further elaborating on the type's structure.
In the POM, I added <include> elements for the packages that contain the

[2016-05-11 20:26] stoicflame commented on #385
If there are no annotations, how does MOXy determine the name of the root element returned from your API? The JAXB spec requires an @XmlRootElement annotation...

[2016-05-12 14:37] vgcookies commented on #174
Is this a possible candidate for 2.4.0 :)?

[2016-05-12 15:57] stoicflame commented on #174
I don't think so. :frowning:

It's a lot of work because there's a lot of complexity, and I'm having a hard time seeing myself mustering the time and resources to get it done.

[2016-05-12 17:55] dschraitle opened #386 "abstract class modifier present in client json jar"
Our project uses abstract classes in @TypeHint annotations to provide documentation of the return types for some functions which normally return an Interface. When the client java-json-client jar is created, the abstract modifier persists in the generated class, even though the rest of the class is completely implemented with getters and setters. Is this expected behavior?

[2016-05-12 17:57] stoicflame commented on #386
Probably a bug.

Can you provide an example for me?

[2016-05-12 18:26] dschraitle commented on #386
Usage:
[code]
original class:
[code]
generated class with abstract modifier:
[code]

[2016-05-13 14:23] TheMalloum opened #387 "Application path configuration doesn't taken into account."
Hi,

My config file enunciate.xml specify a application path, but it's doesn't taken into account.

my pom.xml
[code]

and the enunciate.xml

[code]

[2016-05-13 14:27] stoicflame commented on #387
It seems to be working for me. Can you provide a patch to the [enunciate-sample](https://github.com/stoicflame/enunciate-sample) that exposes the issue?

Note that the application path doesn't show up in the documentation; it's accounted for in the links to each resource.

[2016-05-13 22:18] raner commented on #385
We're using JSON format...
For example, a class Person { String firstName, lastName; } is simply serialized as
`{"firstName":"Mirko", "lastName":"Raner"}`
There is no need store any type-information at the top level of the JSON object, since the parameter type and return type in the JAX-RS interface specify the type.

So, I interpret the enhancement tag to mean that there is no existing support fo

[2016-05-14 06:11] stoicflame commented on #385
Well, if you just want JSON documentation then Enunciate can handle those data types. You probably just have to make sure you've specified your JAX-RS methods as `@Produces` application/json.

If you're wanting XML, then Enunciate won't know how those data types get serialized into XML without the `@XmlRootElement` annotation on them, so it will probably just say "custom".

[2016-05-16 14:21] jigarparekh80 opened #388 "JsonTypeInfo.As.PROPERTY does not work"
if i specify

[code]

then example does not show property class. this is working correctly for WRAPPER_OBJECT and WRAPPER_ARRAY.

[2016-05-16 15:35] jigarparekh80 opened #389 "Wrong Path label for soap service"
Path /AuthenticationServiceService

is getting generated for service named "AuthenticationService"

[2016-05-16 16:20] stoicflame commented on #389
Yes, that's Enunciate's best guess as to where the service is going to be located. It's based on the JAX-WS RI defaults. You have to use the `@WebService(serviceName="path")` annotation to customize it.

[2016-05-16 17:26] jigarparekh80 commented on #389
i have already marked serviceName = "AuthenticationService" in Impl class. still it shows wrong.

[2016-05-16 17:35] stoicflame commented on #389
I'll take a closer look, then.

[2016-05-17 12:05] jigarparekh80 opened #390 "soap document does not show max occurs"
in soap document if service has return time List or Set then my wsdl shows correct sequence but in documentation it shows 0/1 instead of 0/unbounded.

[2016-05-17 13:19] NonesuchRiver commented on #368
Consider the annotations supported by Apache Shiro for this.

[2016-05-18 08:05] vguna opened #391 "Javadoc on jax-rs resource interface doesn't show up in documentation"
Hi.

I've documented a JAX-RS resource interface with javadoc for the interface itself. Describing what it's all about. It doesn't show up in the documentation at all - as it seems :).

It looks like that the doc generation process has the information about the interfaces, as it groups the endpoints according to them. Is it possible to add the javadoc from the interface above the actual endpoints