[2016-05-18 08:26] vguna opened #392 "add an option to ignore abstract superclasses"
Hi.

I'm using abstract superclasses for my DTOs (like for `id`). Currently these classes are also added to the json documentation. It would be nice, if these could be "hidden" from the documentation and simply added to the subclass documentation.

A first step was already taken here in that direction:

https://github.com/stoicflame/enunciate/issues/215

But using `@XmlTransient/@JsonIgnore` would

[2016-05-18 13:15] vguna opened #393 "Missing javadoc on @QueryParam nested in @BeanParam"
As already stated in https://github.com/stoicflame/enunciate/issues/225, I'm seeing the exact behavior with 2.3.0 :(.

No documentation shows up.

My interface method:
[code]

My QueryParams:
[code]

Any idea what might causing this?

![screen shot 2016-05-18 at 15 11 20](https://cloud.githubusercontent.com/assets/3257311/15359785/3c770bf4-1d0b-11e6-8766-46bfd790558a.png)

[2016-05-18 13:18] vguna commented on #225
@mperrier: nope. Re-checked this with 2.3.0 and still the same result. Did you find the cause?

[2016-05-18 13:33] Thorndike opened #394 "Add result entity class to @ResponseCode annotation"
We use Jersey for our REST api. In case of a failure a WebApplicationException is thrown. In that exception an entity is included which Jersey uses as a response entity for the REST call. It would be nice to be able to document that entity with enunciate per response code. I imagine somthing like extending
@ResponseCode(code = 500, condition = "Server Error")
to
@ResponseCode(code = 500, condition

[2016-05-18 13:35] javacook commented on #394
Yes, I would enjoy this extension :-)

[2016-05-18 13:51] vguna commented on #393
Ok, I found the problem - and it was selfmade :(.

I have the rest interfaces in a different package than the models.
In `enunciate.xml` I had something like this:

[code]
I thought, that it will pickup subpackages automatically. But I doesn't. It also doesn't complain about missing classes/sources during enunciate build, so I thought everything is ok.

The solution was to add the subpackage expli

[2016-05-18 15:31] vguna opened #395 "@NotNull not supported on fields"
Hi.

I'm using `@NotNull` to mark attributes as required. I tend to put these on the fields of a class. It seems that enunciate doesn't pick these up - unless they are specified on the getter. Could that be enhanced?

Another thing regarding this:

I've created my own annotation `@NotBlank`, that "inherits" `@NotNull` but also checks for empty strings using trim(). Would it make sense that enuncia

[2016-05-18 15:42] mperrier commented on #225
@vguna I have not investigated the issue but it is still a problem.

[2016-05-18 16:21] stoicflame commented on #393
FYI, the "pattern" is ant-style, so you'd achieve the same results with:

[code]

Re: check for missing classes: so you're suggesting that it might be helpful for the plugin to warn you about classes for which it doesn't find source code?

[2016-05-18 16:26] stoicflame commented on #225
As reported by @vguna at #393, his problem was a misconfiguration issue.

If this is still a problem, I'm interested in any details that you can provide.

[2016-05-18 16:26] vguna commented on #393
Exactly. So it might reduce the number of issues about missing documentation here - at least for me ;).
Didn't know about the ant style. Thanks!

[2016-05-18 16:30] mperrier commented on #225
@stoicflame Okay, I see that he referenced that issue now.  I'll investigate and report back if I have a different scenario.

Thanks!

[2016-05-18 16:39] vguna opened #396 "Also allow multiple @documentationExample's in javadoc"
Hi.

Nice feature I found there :).

I like the approach of using non-intrusive javadoc comments for documentation. 👍

So I started with `@documentationExample`. Coming across a set of enums, I tried to put two examples in the javadoc - without luck. It seems that the annotation pendant _does_ support at least value2.
Are there any plans to support that also for the javadoc part? Or did I miss som

[2016-05-19 09:22] vguna opened #397 "Support for JSON schema"
Hi.

Enunciate already creates nice XSDs describing the XML models. It would be great if it could also create a JSON schema out of it. Maybe supporting the default BeanValidation annotations like @NotNull, @Max, @Min, @Size etc.

[2016-05-19 10:17] vguna opened #398 "Strange swagger rendering when using @ResponseHeaders"
Hi.

I'm using enunciate 2.3.0 and trying to document an endpoint using `@ResponseHeader` and `@HTTP` like this:

[code]

Looking at the rendered swagger output, leads to the status code listing for 400, assigning the response header definition to it as well. Although it should be separated like in the normal enunciate docs.
Normally I would describe in the `@ResponseHeader`, that it is only set o

[2016-05-19 10:44] vguna opened #399 "@Label/@JsonRootElement not honored in swagger output"
Hi.

I'm using enunciate 2.3.0 and encountered some naming inconsistencies in the swagger output.
I annotated all my DTOs with `@JsonRootElement`. The "translation" seems to work for the enunciate own documentation without a problem. Also the swagger output looks ok for the root models.

But if a DTO references another DTO, e.g. in a collection or via inheritance, the original classname is used an

[2016-05-19 14:52] stoicflame commented on #397
Yes, this has been requested before.

Have you ever used JSON schema for practical purposes? I've never personally seen it used in day-to-day development practices...

[2016-05-19 15:35] stoicflame commented on #336
After digging deeper, I concluded the `api-classes` configuration element method mentioned above would be too aggressive; starting to pull in classes that weren't intended to be JSON classes. So I ended up providing support for the `@com.webcohesion.enunciate.metadata.json.JsonSeeAlso` annotation as a JSON-equivalent to `@XmlSeeAlso` at c275df0.

[2016-05-19 15:35] #336 closed

[2016-05-19 16:10] vguna commented on #397
In our new project, I'm aiming to use the json schema to validate our server responses during ITs in a "raw" fashion without the java<->json binding stuff.

Having a json schema would avoid writing testcases for the raw json structure (fieldnames, datatypes, required etc.). The ITs would use the once generated json schema to validate it against the changing json model in the future. That would mak

[2016-05-19 16:21] stoicflame commented on #346
Fixed at 8eded38.

[2016-05-19 16:21] #346 closed

[2016-05-19 16:21] stoicflame commented on #346
Fixed at 8eded38.

[2016-05-19 16:27] stoicflame commented on #349
Unable to reproduce, and haven't heard back with more details.

[2016-05-19 16:27] #349 closed

[2016-05-19 17:05] stoicflame commented on #350
I'm trying to reproduce the issue, but I'm having a hard time seeing the problem. Can you give me an example of some characters that come out corrupted? Also, I'd be interested to know how your pom.xml file looks... do you just have the `project.build.sourceEncoding` property set?

[2016-05-19 17:45] stoicflame commented on #357
Fixed at 0f6d935.

[2016-05-19 17:45] #357 closed

[2016-05-19 18:08] stoicflame commented on #358
Fixed at 96c5d5f.

[2016-05-19 18:08] #358 closed

[2016-05-19 18:15] stoicflame commented on #361
Fixed at 017cf28.

[2016-05-19 18:52] stoicflame commented on #361
Doh. Had to revert at 08a8e79.

The reason `@XmlElement.required()` isn't getting used is because it's not available in Java 1.6, and Enunciate isn't ready (yet) to drop support for 1.6.

When Enunciate decides to drop support for 1.6, we can re-apply 017cf28.

[2016-05-19 18:57] stoicflame commented on #362
The swagger validation errors are fixed at af17851.

Unfortunately, I have no way to explain the code generating errors, so I opened up [swagger-editor/#942](https://github.com/swagger-api/swagger-editor/issues/942) for those guys to take a look.

[2016-05-19 18:57] #362 closed

[2016-05-19 20:18] stoicflame commented on #365
Fixed at df27760.

[2016-05-19 20:18] #365 closed

[2016-05-19 20:22] stoicflame commented on #366
I changed to page-header at e22ce20; it's a better look.

[2016-05-19 20:22] #366 closed

[2016-05-19 21:45] stoicflame commented on #347
Fixed at d5ac102.

[2016-05-19 21:45] #347 closed

[2016-05-19 22:11] stoicflame commented on #367
I started looking at this in more detail, but I'm afraid I'm having a hard time reproducing the issue. I've tried to set up a project with beans with public fields and public associated getters, but Enunciate handles all the cases I've been able to come up with.

Any way you could put together a sample project that exposes the issue for me?

[2016-05-19 22:30] stoicflame commented on #369
So [here's the wsdl](https://github.com/stoicflame/enunciate/files/273581/ns0.wsdl.txt) that was generated, and [here's the schema](https://github.com/stoicflame/enunciate/files/273582/ns0.xsd.txt).

Am I missing something? It seems correct to me...

[2016-05-19 23:06] stoicflame commented on #371
Yep. Fixed at b96bd38.

[2016-05-19 23:06] #371 closed

[2016-05-20 02:00] darmbrust commented on #336
sounds good - sorry I never followed up with details on this, it has been on my todo list... just haven't gotten there yet.  I'll test out the new solution in the next few weeks.

[2016-05-20 10:07] Fival85 commented on #350
Hello stoicflame,

you could reproduce it if you put the following class into the enuncia-jboss-example:
`package com.webcohesion.enunciate.examples.jboss.genealogy.services.impl;

import java.util.ArrayList;
import java.util.List;

import javax.ws.rs.*;
import javax.ws.rs.core.MediaType;

import com.webcohesion.enunciate.metadata.rs.TypeHint;

/**
* öäöäöäöü?
**/
@Path("/")
public class TestServi

[2016-05-20 22:11] stoicflame commented on #350
Thanks.

Fixed at b01ac9b.

[2016-05-20 22:11] #350 closed

[2016-05-20 22:24] stoicflame commented on #369
I think you might have run into the issue reported at #350, which was fixed at b01ac9b.

I can re-open as needed.

[2016-05-20 22:24] #369 closed

[2016-05-20 23:02] stoicflame commented on #370
At 76f6286 support was added to be able to configure the docs module to include the application path:

[code]

[2016-05-20 23:02] #370 closed

[2016-05-21 08:34] vguna opened #400 "Handling generics in return types"
Hi.

I've got collection endpoints of a REST service that all return PagedResultDto<T> which contains paging information and the actual typed List<T>. Is it somehow possible to not just add the type PagedResultDto as return type, but also the generic type T to it? To be honest, I wonder how that could look like in the documentation :).

[code]

That would probably mean, that the PagedResultDto doc

[2016-05-21 08:44] vguna opened #401 "Adding support for custom annotations"
Hi.

Recently Bean Validations `@NotNull` support was added to enunciate which is a great and generic way of specifying field level constraints! We hope that the other little guys like `@Size`, `@Min` etc. will also find their way to enunciate in the future - that would be great ;).

Besides that, there are always custom annotations when it comes to Bean Validation in real projects.
E.g. Hibernate

[2016-05-21 21:42] stoicflame commented on #400
Such an enhancement might be worth thinking about.

[2016-05-21 21:42] stoicflame commented on #401
Sure, we can entertain support for other annotations.

And, yes, you should be able to write your own custom templates that take advantage of such annotations.

[2016-05-21 21:46] vguna commented on #401
Sounds great! That means I could add e.g. @NotBlank support with 2.3.0 just working with the template/skinning functionality?

[2016-05-21 21:51] stoicflame commented on #401
I don't know why you couldn't.

[2016-05-21 21:52] vguna commented on #401
Nice! Thanks, I will look into that...

[2016-05-23 18:17] vguna opened #402 "Resource links in enunciate docs broken?"
Hi.

I just encountered, that the link on the icon besides the resource endpoint in the enunciate documentation points to the wrong url. It e.g. points to:

`http://localhost:8080/pet-store/api/1categories`

So a slash is missing after the `1`.

But the service itself and the swagger ui works without a problem. It seems only the enunciate own docs to be affected. How is the link assembled?

I alre

[2016-05-23 20:38] stoicflame commented on #368
Done at e7923e2.

As of 2.4, you can provide annotations to customize styles for a property:

[code]

That will apply the "secured" CSS style to its name in the documentation:

[code]

Or you can provide multiple styles:

[code]

Or you can use JavaDoc:

[code]

Or you can provide your own annotations:

[code]

Or you can configure custom annotations, like Apache Shiro:

[code]

See [Providing Cus

[2016-05-23 20:38] #368 closed

[2016-05-23 20:55] stoicflame commented on #372
Put some effort into fixing this today, but I'm having a hard time setting up the environment.

Are you using Ant or Maven?

It would be nice if you included the full stack trace, not just the freemarker error.

I tried to download the XSD that you referenced, but I could only find "ONIX for Books 3.0.3 XSD Schema + Codelists Issue 33.zip" not "ONIX for Books 3.0.2 XSD Schema + Codelists Issue 32.

[2016-05-23 21:18] stoicflame commented on #402
Duplicate of #347.

[2016-05-23 21:18] #402 closed

[2016-05-23 21:24] stoicflame commented on #374
Fixed at f795808.

[2016-05-23 21:24] #374 closed

[2016-05-23 21:41] #378 closed

[2016-05-24 06:23] sbrattla commented on #368
Nice! This is really useful, thanks for taking the time to implement this! This makes it possible to indicate to end users that some properties listed in the documentation may be available due to security restrictions.

[2016-05-24 19:59] stoicflame commented on #375
Okay, I've spent quite a bit of time researching this.

I can confirm that Jackson uses the overridden/hidden accessor for (de)serialization, so it would make sense for Enunciate to also use the documentation of the overridden/hidden accessor.

However, by default, Enunciate's documentation includes type hierarchies, so it uses the documentation of the supertype (class `A` in the example above) be

[2016-05-24 19:59] #375 closed

[2016-05-25 06:38] Fival85 commented on #375
Hello again,

i tried the Ignore-Annotation of Enunciate. It does not have any effect to me.

I have test it with Enunciate 2.2 and the jboss-example project:

So i cloned the Person-DTO "Person2" which override the gender-field by getter and setter:
`@XmlRootElement
public class Person2 extends Person {

  /**
   * The gender of a person. overriden getter
   *
   * @return The gender of a person.

[2016-05-25 07:58] jigarparekh80 opened #403 "boolean field with is* method not working"
if any field is boolean and corresponding getter method starts with is* then it is not shown in document, if I add get* then it works and shows in document.

[2016-05-25 19:09] stoicflame commented on #377
Looked into this. The `@Facet` mechanism is applied as a post-filter because different modules might have different facets enabled/disabled. So at the time that the type definitions are being added to the model, you can't consult the facets because some modules might have the elements excluded, while others might have them included.

However, the `@Ignore` annotation should have removed that metho

[2016-05-25 19:09] #377 closed

[2016-05-25 19:10] stoicflame commented on #375
Yeah, it might not have been fully working yet. I fixed that, and have confirmed it's working in the latest snapshot version 2.4.

[2016-05-25 19:56] stoicflame commented on #380
Fixed at e3a9e37.

[2016-05-25 19:56] #380 closed

[2016-05-25 20:35] samion commented on #361
I suppose it means that this bug should not be closed then?

[2016-05-25 20:52] stoicflame commented on #361
Sure.

[2016-05-25 21:25] stoicflame commented on #383
Fixed at 2413439.

[2016-05-25 21:25] #383 closed

[2016-05-25 21:47] stoicflame commented on #384
Confirmed. Wow. I wonder how long that's been there.

Fixed at 9a05ad5.

[2016-05-25 21:47] #384 closed

[2016-05-25 21:50] stoicflame commented on #385
Bump. Any update on this?

I believe your documentation should show up if you're specifying that your methods produce "application/json" or "application/something+json". Can you confirm?

[2016-05-25 22:04] stoicflame commented on #387
Since I haven't heard back, I'm going to assume this is just a matter of the application path not showing up in the docs (duplicate of #370).

At 76f6286 support was added to be able to configure the docs module to include the application path:

[code]

[2016-05-25 22:04] #387 closed

[2016-05-25 22:05] stoicflame commented on #386
I couldn't think of a reason why the client classes would need to preserve the `abstract` modifier, so I just removed it at 3523ce8.

[2016-05-25 22:05] #386 closed

[2016-05-25 22:41] stoicflame commented on #388
Fixed at 875c579.

[2016-05-25 22:41] #388 closed

[2016-05-25 22:48] stoicflame commented on #389
My bad.

Path can be configured by providing a `sun-jaxws.xml` file:

[code]

By default, Enunciate will look in your `WEB-INF` directory for a file named `sun-jaxws.xml` and use it if it finds it. This case has been confirmed with the [full-api-edge-cases example](https://github.com/stoicflame/enunciate/tree/master/examples/full-api-edge-cases).

[2016-05-25 22:48] #389 closed

[2016-05-25 23:05] stoicflame commented on #390
Fixed at b828c1a.

[2016-05-25 23:05] #390 closed

[2016-05-25 23:09] stoicflame commented on #392
Fixed at 4129bd7649c0a2de1e8085b593f52590354a8591. See #375.

[2016-05-25 23:09] #392 closed

[2016-05-25 23:13] stoicflame commented on #391
Just trying to think this through.

So Enunciate uses the documentation where the annotations are found. So whatever method the `@GET`, `@POST`, etc. method is found will be used for the documentation. Likewise, whatever class the `@Path` is found will be used for the documentation since that's the actual class that Jersey will use to implement the API.

You're saying you'd like Enunciate to inclu

[2016-05-25 23:26] stoicflame commented on #395
What do you mean when you say `@NotBlank` "inherits" `@NotNull`?

[2016-05-25 23:30] stoicflame commented on #393
I'm still thinking through the implications of warning developers that the source code isn't found for a class. I'm worried about the developers who have a very large project that use a lot of classes... those warnings could be really noisy, and I'm reluctant to be that verbose.

We could do a debug-level warning or make the warning configurable, but then folks would have to know how to find the m

[2016-05-25 23:36] stoicflame commented on #399
The labels aren't designed to be unique, nor are they "scoped" to a specific serialization mechanism (JSON, XML). So Enunciate has to generate its own unique ids for the swagger docs to avoid conflicts and broken references.

Shouldn't Swagger use the "title" for the data type references? If so, it would address your issue. I'm thinking this is a Swagger issue...

[2016-05-25 23:43] stoicflame commented on #403
Fixed at 11d9611.

[2016-05-25 23:43] #403 closed

[2016-05-26 08:21] vguna commented on #395
If you take a look at hibernate's `@NotBlank`, it defines behavior, that inherits from `@NotNull`. That means, if the field is only decorated with `@NotBlank`, it automatically checks for not null AND additionally if the string is empty.

For the client side documentation it would be nice, if it would be set to required if an annotation already "inherits" `@NotNull`. Otherwise one would always hav

[2016-05-26 08:28] vguna commented on #393
Hm. But isn't enunciate all about documentation (now) :)? So if classes aren't found, that are referenced explicitly or implicitly by the endpoints, why I would ignore that fact, that documentation is missing? I would look at the documentation and wonder why some documentation is missing.

So IMHO the default could be, that warnings are printed. But can be disabled by configuration?

Is there are

[2016-05-26 08:32] vguna commented on #399
Hm, to be honest, I haven't looked into the swagger json in detail yet. Just wondered why the output doesn't seem to respect the `@Label/@JsonRootElement` :). Let me have a look and I'll report back...

[2016-05-26 16:23] stoicflame commented on #391
Fixed at dac9a5f. The [JavaDoc spec specifies the algorithm](http://docs.oracle.com/javase/6/docs/technotes/tools/solaris/javadoc.html#inheritingcomments).

[2016-05-26 16:23] #391 closed

[2016-05-26 19:59] stoicflame commented on #225
FYI, I've updated the documentation to reflect what's needed to find the source files.

https://github.com/stoicflame/enunciate/wiki/Discovering-Source-Files

[2016-05-26 20:20] stoicflame commented on #393
Fixed at 7391d4c. I log a one-time warning message if _any_ classes without source files are found. The warning extends an invitation to turn on debug-level logging to see which specific source files weren't found. It also provides a link to the new [Discovering Source Files](https://github.com/stoicflame/enunciate/wiki/Discovering-Source-Files) page that provides details.

[2016-05-26 20:20] #393 closed

[2016-05-26 23:20] stoicflame commented on #394
Fixed at 0bbc783.

[code]

[2016-05-26 23:20] #394 closed

[2016-05-26 23:24] stoicflame commented on #395
Fixed at defdba0.

Added support for detecting "inherited" `@NotNull` annotations (i.e. annotations that are themselves annotated with `@NotNull`).

[2016-05-26 23:24] #395 closed

[2016-05-27 11:30] cheppsn opened #404 "Using JSON base values as API request body / response body?"
We use Spring MVC with API paths such as `PUT /api/users/1/email` with a plain JSON String value as body of the request, e.g. `"john@doe.com"`.

To map the plain JSON String value to a controller method argument, we use Spring's `TypedStringValue` class, e.g.

    @RequestMapping(method = RequestMethod.PUT, path = "/users/{userId}/email")
	@ResponseStatus(code = HttpStatus.NO_CONTENT)
	public void

[2016-05-27 15:20] fcav1973 opened #405 "Error during Java code parsing"
Hi,
I've got an error during in doc module parsing a legal Java XML annotated class. The same class was correctly managed by enunciate 1.28-RC2.
Exception is thrown in:

com.webcohesion.enunciate.modules.jaxb.model.Element line 79:

[code]
This is the class that generates the error (seems an issue related to _@XmlElement(name = "bytes", type = byte[].class)_ usage):

[code]

[2016-05-27 16:15] stoicflame commented on #396
Fixed at 1793a66; random enum values will be selected.

Multiple `@documentationExample` JavaDoc tags can be used for multiple example values; that was already working in 2.3.

[2016-05-27 16:15] #396 closed

[2016-05-27 16:55] stoicflame commented on #398
Fixed at 7f9f69f.

[2016-05-27 16:55] #398 closed

[2016-05-27 17:41] stoicflame commented on #399
See swagger-api/swagger-ui#2029. It _used_ to be the label, then they changed it to be the unique id.

I'm going to close this issue; it belongs over in the swagger-ui project.

[2016-05-27 17:41] #399 closed

[2016-05-27 17:57] stoicflame commented on #404
The fact that the properties of `TypedStringValue` showed up as query parameters was a bug. Fixed at 8f3b755.

You can give Enunciate a hint about `TypedStringValue` by annotating the parameter with `@com.webcohesion.enunciate.metadata.rs.TypeHint`:

[code]

[2016-05-27 17:57] #404 closed

[2016-05-27 19:55] stoicflame commented on #405
Fixed at 2c5b6b4.

[2016-05-27 19:55] #405 closed

[2016-05-27 19:56] stoicflame commented on #367
I'm going to close this since I haven't heard back and I haven't been able to reproduce it. I'd be happy to re-open as needed.

[2016-05-27 19:56] #367 closed

[2016-05-27 19:58] stoicflame commented on #372
Since a release of 2.4 is imminent and I haven't heard back about this, I'm going to have to move this issue off of the 2.4 release. I'll assign it a new release after I hear more details about how to reproduce the issue.

[2016-05-27 19:59] stoicflame commented on #385
Since I haven't heard back, I'm going to go ahead and close this assuming it's working as designed (described above). I'd be happy to re-open as needed.

[2016-05-27 19:59] #385 closed

[2016-05-27 20:18] vguna commented on #396
Thanks for the many fixes! awesome!

But I hate to report, that with 2.3.0 multiple `@documentationExample` 's aren't working. Using `@DocumentationExample` (annotation) with value and value2 works though!

[code]

[2016-05-27 21:07] stoicflame commented on #396
I'm not sure about your use case... that's a single-value property. The second example only comes into play when applied to a property that is a collection or array...

[2016-05-27 21:23] vguna commented on #396
I know :). This object is part of a collection (Set). There's an error DTO which has a Set of constraint violation DTOs where one attribute of them is the field above. Isn't this the usecase for the 2nd value :)? If I use the annotation it generates for the error DTO two examples of the constraint violation DTO containg the different examples.

[2016-05-27 21:51] stoicflame commented on #396
Okay. Fixed at 7343378.

[2016-05-31 06:36] miguelchico commented on #401
Hi,

How can we do that? How can we access the annotations from the freemarker template?

[2016-06-01 13:32] alexander00001 opened #406 "wadl:param are not getting generated for GET methods"
Hi everybody,

I'm trying to generate some wadl file from my resteasy java code. The wadl file and the documentation is generated. In the wadl the wadl:param tags are missing when the method is GET.

Example:

[code]

leads to this fragment in my wadl file:

[code]

I would like to have something like this:

[code]

Why is the wadl:param tag not generated? If the method is PUT then it is generated

[2016-06-01 14:29] alexander00001 opened #407 "wadl files have ANSI encoding"
Hi everybody,

I'm using enunciate to generate docs and idl for REST endpoints. All the files of the documentation are generated in UTF-8 but the wadl is generated in ANSI.

I tried to force utf-8 encoding with this maven configuration:

[code]

but the wadl still is ANSI. All java code is UTF-8 encoded.

What am I doing wrong?

Thanks in advance.

Alex

[2016-06-03 12:25] AlexGuion commented on #372
Hello,

I check my project and see some issues. So, i will correct it and return to you, as soon as possible.

thanks

[2016-06-03 17:02] stoicflame commented on #362
At swagger-api/swagger-codegen#2918, they explain that the codegen feature doesn't support the `allOf` construct. So you can configure Enunciate to "inline" the JSON data types to avoid using the `allOf` if you need. See #375 .

[2016-06-03 17:29] stoicflame commented on #401
For example, to print some stuff about your custom annotation `com.mycompany.annotations.MyAnnotation` (pseudocode; not tested yet):

[code]

[2016-06-03 19:33] stoicflame commented on #407
I'm afraid I can't reproduce this issue; the wadl is UTF-8 encoded for me.

Are you seeing corrupted characters or something?

[2016-06-03 19:33] #407 closed

[2016-06-03 19:47] stoicflame commented on #406
The WADL spec doesn't define `style="path"`. See [section 2.12.2](https://www.w3.org/Submission/wadl/#x3-270002.12.2). The fact that path params were showing up under the `representation` tag was a bug, fixed at ac28545.

[2016-06-03 19:47] #406 closed

[2016-06-03 20:37] stoicflame commented on #225
Enunciate 2.4.0 has been released.

[2016-06-03 20:37] stoicflame commented on #336
Enunciate 2.4.0 has been released.

[2016-06-03 20:37] stoicflame commented on #346
Enunciate 2.4.0 has been released.

[2016-06-03 20:37] stoicflame commented on #347
Enunciate 2.4.0 has been released.

[2016-06-03 20:38] stoicflame commented on #350
Enunciate 2.4.0 has been released.

[2016-06-03 20:38] stoicflame commented on #351
Enunciate 2.4.0 has been released.

[2016-06-03 20:39] stoicflame commented on #355
Enunciate 2.4.0 has been released.

[2016-06-03 20:39] stoicflame commented on #356
Enunciate 2.4.0 has been released.

[2016-06-03 20:39] stoicflame commented on #357
Enunciate 2.4.0 has been released.

[2016-06-03 20:40] stoicflame commented on #358
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:40] stoicflame commented on #359
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:40] stoicflame commented on #365
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:41] stoicflame commented on #366
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:41] stoicflame commented on #368
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:41] stoicflame commented on #369
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:41] stoicflame commented on #370
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:41] stoicflame commented on #371
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:42] stoicflame commented on #374
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:42] stoicflame commented on #375
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:42] stoicflame commented on #377
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:42] stoicflame commented on #378
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:42] stoicflame commented on #380
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:43] stoicflame commented on #383
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:43] stoicflame commented on #384
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:43] stoicflame commented on #386
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:43] stoicflame commented on #387
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:43] stoicflame commented on #388
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:44] stoicflame commented on #390
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:44] stoicflame commented on #391
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:44] stoicflame commented on #392
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:44] stoicflame commented on #393
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:44] stoicflame commented on #394
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:44] stoicflame commented on #395
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:45] stoicflame commented on #396
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:45] stoicflame commented on #398
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:45] stoicflame commented on #402
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:45] stoicflame commented on #403
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:45] stoicflame commented on #404
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:45] stoicflame commented on #405
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-03 20:46] stoicflame commented on #406
[Enunciate 2.4 has been released](https://github.com/stoicflame/enunciate/releases/tag/v2.4.0).

[2016-06-06 07:36] vgcookies opened #408 "collapse-type-hierarchy without @Ignore"
Hi.

First, thanks for all the great improvements and fixes in 2.4.0! Great job!

While testdriving the new version, I tested the new `collapse-type-hierarchy` option.
As expected, the inherited attributes now show up in the upper block. But the attributes in the lower section (from superclass) are still shown :).

![collapse_without_ignore](https://cloud.githubusercontent.com/assets/17743523/1581

[2016-06-06 07:47] vgcookies opened #409 "collapse-type-hierarchy and java-json-client breakage"
Hi.

I'm using the latest `collapse-type-hierarchy` option to suppress superclasses from documentation. If I set it to `true`, suddenly the `java-json-client` build breaks with the message:

[code]

The enum:

[code]

Setting it to false, or removing the java-json-client seems to work.
Any idea what goes wrong? Hint: The enum is embedded into a DTO. I know that enunciate had its problems with this

[2016-06-06 08:00] vgcookies opened #410 "javascript-json-client documentation contains server config hints"
Hi.

I took a look at the new `javascript-json-client` generated documentation. It seems that somehow the documentation of the `enunciate.xml` (?) has found its way into it :)?

[code]

It's nice, that it tells you how to configure it, but isn't this only important to the server and not the client trying to download and use a client :)? Or I'm missing something?

[2016-06-06 08:03] vgcookies commented on #408
I also realized, that the ignored classes are still showing up on the overview "start" page under JSON.

[2016-06-06 09:09] vgcookies commented on #408
Also I'm seeing a strange `Enum` type appearing in the overview. Setting `collapse-type-hierarchy` to true also produces some warning about not found source files during build, that normally won't appear.

[2016-06-06 09:29] vgcookies commented on #395
Works, thanks! But this doesn't contain support for annotations on fields, as it seems, right :)?

[2016-06-06 09:56] fcav1973 opened #411 "NullPointerException generating jaxrs client docs"
Hi with the version 2.4.0 I'm getting the following NPE generating documentation for a jaxrs client:

[code]

[2016-06-06 14:35] narvik01 opened #412 "Spring @ModelAttribute"
Hi.
I have a following endpoint definition in my app:

[code]

Where Client is filled this way: (@RequestHeader is the spring one, not enunciate)
[code]

Unfortunately, the @RequestHeader does not get picked up by enunciate and it only lists Client fields as query params, not as headers with special names.
For example there is name=sessionId, type=query instead of name=aSessionId, type=header  in

[2016-06-06 15:13] narvik01 opened #413 "Reusing annotations"
Hi.
When I was dealing with #412 I figured I could `@Ignore` the wrongly generated parameter and define the headers myself. That would lead to a lot of repeated `@RequestHeader` annotations across the project. Would it be possible to create custom annotation which would group and reuse other annotations? Something like [@JacksonAnnotationsInside](http://fasterxml.github.io/jackson-annotations/java

[2016-06-06 16:05] stoicflame opened #414 "EnunciateJaxbContextResolver needs to cache the JAXB context"

[2016-06-06 16:10] stoicflame opened #415 "IDL filter needs a way to configure assumed-base-uri"

[2016-06-06 16:11] stoicflame opened #416 "assume-base-uri is "./""

[2016-06-06 16:17] stoicflame commented on #410
Agreed, that shouldn't be in there. I'll get it fixed. Thanks for the report.

[2016-06-06 16:18] stoicflame commented on #408
Thanks for the report.

[2016-06-06 16:24] stoicflame commented on #395
The problem is that you're expecting Enunciate to use annotations that are on the fields for the properties (getters/setters).

If the _fields_ were getting used as accessors instead of the properties, Enunciate would pick up the `@NotNull` annotations. So you can either annotate the properties, or use `@JsonAutoDetect` to specify that the fields should be used for (de)serialization instead of the

[2016-06-06 16:30] stoicflame commented on #409
Weird. I'm afraid I can't seem to reproduce it, even with enums as inner classes.

Do you think you could put together a sample project that demonstrates the problem?

[2016-06-06 16:31] vgcookies commented on #395
That means, that Enunciate is using jackson for reading annotations? Or does Enunciate evaluates the `@JsonAutodetect` itself and acts accordingly?

[2016-06-06 16:32] stoicflame commented on #411
Interesting. There weren't any changes to that specific piece of code; I wonder what might have changed to cause it.

Anyway, we'll get it fixed. Thanks for the report.

[2016-06-06 16:33] stoicflame commented on #395
Enunciate evaluates the annotation itself.

[2016-06-06 16:35] stoicflame commented on #412
Yeah, so Enunciate doesn't evaluate `@ModelAttribute` yet.

I'll mark this as an enhancement request and schedule it for 2.5.

[2016-06-06 16:37] stoicflame commented on #413
Have you tried annotating the package? Would that work for your case?

[2016-06-06 16:40] vgcookies commented on #395
Now I'm confused ;). Enunciate has its own mechanism for finding/reading annotations. Ok. And Enunciate evaluates `@JsonAutodetect` to decide where to expect the annotations - either on fields or properties - as specified by that annotation?

[2016-06-06 16:48] stoicflame commented on #395
Correct.

[2016-06-06 19:55] narvik01 commented on #413
Thanks for the idea, I tried it. The `@RequestHeaders` annotation cannot be applied to a package and a single `@RequestHeader` is not used in the generated docs.

[2016-06-06 22:13] stoicflame commented on #409
Never mind; I got it reproduced.

[2016-06-06 23:00] stoicflame commented on #408
Fixed at 1623b286b8dcdc7140d5f55ef5099a67dbb74b80.

[2016-06-06 23:00] #408 closed

[2016-06-06 23:00] stoicflame commented on #409
Fixed at 1623b286b8dcdc7140d5f55ef5099a67dbb74b80.

[2016-06-06 23:00] #409 closed

[2016-06-06 23:08] stoicflame commented on #410
Fixed at 9282113649394a80153da5d1701faf68cec2e085.

[2016-06-06 23:08] #410 closed

[2016-06-07 05:48] darmbrust opened #417 "Generated Ruby code inheritance hierarchies null handling issue (continued)"
Apologies, the previous patches we supplied for 334 and 351 were still missing an edge condition.  New patch coming shortly...

[2016-06-07 06:39] darmbrust commented on #336
FYI, the new solution works perfectly.

Thanks!

[2016-06-07 07:09] vgcookies commented on #409
Great. Thanks for looking into this!

[2016-06-07 13:40] jigarparekh80 opened #419 "JsonTypeInfo.As.PROPERTY exclude other attribute"
[code]

this generates class in document but does not show attribute from RestType

[2016-06-07 16:27] #417 closed

[2016-06-07 16:32] stoicflame commented on #419
So I think you're saying that the documentation for the `RestType` data type should include a property called "class"? Or are you just saying the generated example JSON should include that property?

[2016-06-07 19:00] stoicflame commented on #413
At e287fcfd88274e6c327fa493a97a15de29d23970, I allowed those annotations to be applied to the package.

[2016-06-07 19:00] #413 closed

[2016-06-07 19:02] stoicflame commented on #414
Fixed at 04eaf61.

[2016-06-07 19:02] #414 closed

[2016-06-07 19:05] stoicflame commented on #415
Fixed at 2870506.

[2016-06-07 19:05] #415 closed

[2016-06-07 19:09] stoicflame commented on #416
Fixed at ac2b7e3.

[2016-06-07 19:09] #416 closed

[2016-06-08 00:56] stoicflame commented on #412
Fixed at f182b95.

[2016-06-08 00:56] #412 closed

[2016-06-08 01:14] stoicflame commented on #417
[Enunciate 2.5.0 is now available.](https://github.com/stoicflame/enunciate/releases/tag/v2.5.0)

[2016-06-08 01:14] stoicflame commented on #416
[Enunciate 2.5.0 is now available.](https://github.com/stoicflame/enunciate/releases/tag/v2.5.0)

[2016-06-08 01:14] stoicflame commented on #415
[Enunciate 2.5.0 is now available.](https://github.com/stoicflame/enunciate/releases/tag/v2.5.0)

[2016-06-08 01:14] stoicflame commented on #414
[Enunciate 2.5.0 is now available.](https://github.com/stoicflame/enunciate/releases/tag/v2.5.0)

[2016-06-08 01:14] stoicflame commented on #413
[Enunciate 2.5.0 is now available.](https://github.com/stoicflame/enunciate/releases/tag/v2.5.0)

[2016-06-08 01:15] stoicflame commented on #412
[Enunciate 2.5.0 is now available.](https://github.com/stoicflame/enunciate/releases/tag/v2.5.0)

[2016-06-08 01:15] stoicflame commented on #411
[Enunciate 2.5.0 is now available.](https://github.com/stoicflame/enunciate/releases/tag/v2.5.0)

[2016-06-08 01:15] stoicflame commented on #410
[Enunciate 2.5.0 is now available.](https://github.com/stoicflame/enunciate/releases/tag/v2.5.0)

[2016-06-08 01:15] stoicflame commented on #409
[Enunciate 2.5.0 is now available.](https://github.com/stoicflame/enunciate/releases/tag/v2.5.0)

[2016-06-08 01:15] stoicflame commented on #408
[Enunciate 2.5.0 is now available.](https://github.com/stoicflame/enunciate/releases/tag/v2.5.0)

[2016-06-08 06:03] jayenashar opened #420 "bean setters"
i've got a bean param (which works):

[code]

inside the bean i've got some matrixparams (field `term` works):

[code]

but the setters don't work (as in the generated docs don't contain addresses, checkboxes, or sliders)

[2016-06-08 15:49] stoicflame commented on #420
Enunciate is only considering "properties", which by JavaBean definition only include `public` setters. But if `private` setters are recognized by Jersey, then I'll take a look at supporting that for 2.6.

[2016-06-08 21:57] jayenashar commented on #420
yeah, it works with my the version of jersey i'm using (2.0-m11).

[2016-06-09 06:55] juergenzimmermann opened #421 "2.5.0: JPA modelgen classes are breaking the Gradle plugin"
I just tried to upgrade from 2.2.0 to 2.5.0. However, I'm using JPA's criteria queries and the generated metamodel classes. Via https://plugins.gradle.org/plugin/at.comm_unity.gradle.plugins.jpamodelgen these classes are generated in src/jpaModelgen, so that there is a second source directory in addition to src/main.
Using Enunciate 2.2 there was just a kind of warning and the build continued. Thi

[2016-06-09 15:38] dstanfie3 opened #422 "Class Cast Exception in version 2.5"
I have a JAX-RS annotated Web Application. When we were on Java 1.7, we used the enunciate maven plugin v 1.29 to generate our Rest Documentation. It worked wonderfully

We have now moved to Java 1.8 and Enunciate v 2.5.0.  We have been getting the below stacktrace. I'm at a loss trying to debug this. Is there some way for me to figure out what it my code is giving enunciate a problem?

[code]

[2016-06-09 17:28] stoicflame commented on #421
I'm actually surprised it wasn't failing for you before.

We need some way to add those generated classes to the Enunciate source path, but it doesn't look like there's currently a way to do that. I've opened stoicflame/enunciate-grade#9 to track that work.

[2016-06-09 17:44] stoicflame commented on #422
Huh. That stack trace resolves to a `ClassCastException` down in the JDK; the `javac` code. We might need to log it for them, but I'd need a way to reproduce it. Is there any way you could put together a sample project that demonstrates the issue?

In the meantime, there might be a way to work around it. You said you're converting from Enunciate 1, but the exception is happening on a Spring Web MV

[2016-06-10 15:14] fcav1973 opened #423 "Export documentation as xml"
Hi,
in version 1.28-RC2 was possible, using the <docs> module, to generate the documentation as pure xml file (docs.xml). Is it possible to obtain the same object with 2.5.0 version (we use that feature to generate documentation in docbook  format)  ?

[2016-06-10 15:59] stoicflame commented on #423
I'm afraid not. That XML file was deemed to be an unneeded piece of complexity and was removed in Enunciate 2.

Could you provide your own custom freemarker template that generates the docbook? Alternatively, you could edit the freemarker template to have Enunciate produce a single-page HTML doc. See:

https://github.com/stoicflame/enunciate/wiki/Custom-Skin#custom-freemarker-transform

[2016-06-10 15:59] #423 closed

[2016-06-10 20:02] dstanfie3 commented on #422
We didn't convert from JAX-RS to Spring, but we do use Spring quite extensively for run time configuration. Disabling the spring-web module fixed the issue for us. Thank you.

[2016-06-10 20:07] stoicflame commented on #422
If there's some way you can give me to reproduce the issue, I'll open a report with Oracle about the CCE. For now, I'll just close this issue.

[2016-06-10 20:07] #422 closed

[2016-06-13 08:38] vguna opened #424 "@JsonProperty breaks @NotNull"
Hi.

I'm using Enunciate 2.5.0 to generate REST documentation from my DTOs using Jackson.
Recently I had to rename a property on the DTO using `@JsonProperty`. After annotating
the getter with it, the required state marked using `@NotNull` is gone and won't
be reflected in the documentation anymore. Removing the `@JsonProperty` makes the required
state work again. I would expect, that using the js

[2016-06-14 05:20] Thorndike commented on #394
Works like a charm, thank you!

[2016-06-14 08:20] sbrattla opened #425 "Are generated XML examples missing a "level" for collections?"
I've got these two entities in my model:

[code]

I would expect the generated XML example to be :

[code]

However, encunciate generates the below. As you can see, the `<audioFile>` element is missing. I find the example XML misleading; how will the end user understand that there should be an extra element in between `<audioFiles>` and `<duration>`?

[code]

[2016-06-14 14:55] nabilzhang commented on #182
I think should use like this
`<build>
        <plugins>
            <plugin>
                <groupId>org.projectlombok</groupId>
                <artifactId>lombok-maven-plugin</artifactId>
                <version>1.16.8.0</version>
                <executions>
                    <execution>
                        <phase>generate-sources</phase>
                        <goals>

[2016-06-15 17:50] sivarajasekaran commented on #224
I'm on version 2.5.0, but still seeing the same issue. Is it fixed already ?

[2016-06-15 17:51] stoicflame opened #427 "support for additional sourcepath config"
Add support for adding something to the Enunciate sourcepath via Maven/Ant config.

[2016-06-15 17:51] stoicflame commented on #182
Seems reasonable.

Tracking at #427.

[2016-06-15 17:53] stoicflame commented on #425
For the record, this isn't really an Enunciate question; it's a JAXB question.

See the [`@XmlElementWrapper` annotation](https://docs.oracle.com/javase/7/docs/api/javax/xml/bind/annotation/XmlElementWrapper.html).

[2016-06-15 17:53] #425 closed

[2016-06-15 17:56] stoicflame commented on #224
It was thought to be fixed, yes. Will you re-post the stack trace?

[2016-06-15 18:05] sivarajasekaran commented on #224
Jun 15, 2016 2:01:44 PM freemarker.log._JULLoggerFactory$JULLogger error
SEVERE: Error executing FreeMarker template
FreeMarker template error:
An error has occurred when reading existing sub-variable "particleQName"; see cause exception! The

**Config:**
<api-classes>
  	<include pattern="com.path.to.model.*"/>
  </api-classes>

I have maven source plugin on the model project

**Stack Trace:**

t

[2016-06-15 20:09] stoicflame opened #428 "freemarker template processing failure at ${part.particleQName}"
**Config:**

[code]

I have maven source plugin on the model project

**Stack Trace:**

[code]

[2016-06-15 20:10] stoicflame commented on #224
It's a different issue. Tracking at #428.

[2016-06-15 20:11] stoicflame commented on #424
Confirmed.

[2016-06-15 20:11] sivarajasekaran commented on #224
Ok, Thanks.

[2016-06-15 20:17] #424 closed

[2016-06-15 21:52] javaworkinggirl opened #429 "swagger module and project rest services across multiple ports"
Hi. I have an application that has REST services across 3 different ports.  I am using enunciate-maven-plugin to generate enunciate docs and swagger docs.  How do I get the swagger docs to generate with the proper port?
I tried having 3 config files in the maven plugin configuration, but that does not work (only the last config file gets used).  Any other ideas?

[2016-06-15 22:06] stoicflame commented on #429
I'm afraid that's a use case that Enunciate doesn't know how to support.

Does each port have a different application? Do you have each application in the same project? What does the deployment configuration look like on that?

Can you generate three different sets of documentation, one for each port?

[2016-06-15 22:36] javaworkinggirl commented on #429
Darn I was afraid of that.  We have one application, that serves up different services on different ports.  When we deploy, we have 1 rpm containing our model classes jar, persistence classes jar, service (rest) classes jar and also all other 3rd party jars.

[2016-06-15 22:38] javaworkinggirl commented on #429
hmm. can i run the enunciate-maven-plugin in 3 different maven profiles with 3 different enunciate.xml files that generate docs to 3 different locations?

[2016-06-15 23:39] javaworkinggirl commented on #429
Using maven profiles worked.  I made 3 different enunciate.xml files that include the rest services for that particular port and exclude the others.  So then the main build will do the common docs.  If I run maven with `mvn install -Dmaven.skip.test=true -Ppurchase`, it will create the purchase docs.  I will post some of my pom.xml incase anyone else needs it.
`     <plugin>
            <groupId>c

[2016-06-15 23:40] #429 closed

[2016-06-16 11:25] blueRay0 opened #430 "java enum with Jackson JsonFormat.Shape.OBJECT and enunciate-maven-plugin -> error"
java 8, jackson

I use a java enum(State) with following Jackson annotation:
`@JsonFormat(shape = JsonFormat.Shape.OBJECT)`

with enunciate-maven-plugin version 2.5.0 i get the following
error:

[code]

This wrong  class is generated by enunciate the original class is

[code]

[2016-06-16 11:51] markozi commented on #182
I have tried the solution proposed [above](https://github.com/stoicflame/enunciate/issues/182#issuecomment-153855822) but still find unsufficient support. In the [enunciate-sample-lombok](https://github.com/scoquelin/enunciate-sample/tree/enunciate-sample-lombok) there is no Javadoc on the model fields. Even when I add Javadoc to the Persona fields, I can't find no documentation on the enunciate h

[2016-06-16 14:41] sivarajasekaran opened #431 "@Ignore on the field level"
Hi,

1. Is there an option to Ignore Specific fields of the response generated ? Otherwise is there any way to specify a sample Json response?
2. Is it possible for a Json request to specify optional / required ?

Something like this

[code]

[2016-06-16 16:01] stoicflame commented on #431
That's a question about how to use Jackson. See [`@JsonIgnore`](http://fasterxml.github.io/jackson-annotations/javadoc/2.0.2/com/fasterxml/jackson/annotation/JsonIgnore.html).

See [`@DocumentationExample`](https://github.com/stoicflame/enunciate/wiki/Enunciate-Specific-Annotations#cwemdocumentationexample).

Again, a question about how to use Jackson. `@JsonProperty(required=true)`.

[2016-06-16 16:01] #431 closed

[2016-06-16 16:04] stoicflame commented on #430
Okay, thanks for the report.

[2016-06-16 16:29] sivarajasekaran commented on #431
@JsonIgnore is working from Jackson side of it, I mean it's not generating on the response. But documentation enunciate creates, it 's not ignoring on the generated documents. My question was related to Docs generated.

[2016-06-16 16:43] stoicflame commented on #431
Enunciate honors `@JsonIgnore`, so you might be using the wrong annotation (`org.codehaus` instead of `com.fasterxml`) or you might be annotating the field when you should be annotating the property or vice-versa.

[2016-06-16 16:55] vguna opened #432 "collapse-type-hierarchy non-functional?"
Hi.

I re-tested this bug: https://github.com/stoicflame/enunciate/issues/408 with `2.5.0`.

activating `collapse-type-hierarchy` like so in enunciate.xml:

[code]

doesn't seem to do the trick to hide abstract superclasses e.g. on DTOs. They are still shown in the "overview" page. I thought this is fixed but I encountered that I used `@Ignore` on them. So removing the annotation also shows the ab

[2016-06-16 22:16] javaworkinggirl opened #433 "Does enunciate/swagger recognize swagger annotations, i.e. @ApiResponse"
Does enunciate/swagger recognize swagger annotations, i.e. @ApiResponses?
I am trying to get swagger docs that show different responses.   Using this in my code and included the swagger-core jar, but I don't see the @ApiResponses showing up in the swagger docs.  Or is there another way to accomplish showing different response codes/ response objects?

[code]

[2016-06-17 03:37] stoicflame commented on #433
See [Enunciate-Specific-Annotations](https://github.com/stoicflame/enunciate/wiki/Enunciate-Specific-Annotations).

Enunciate doesn't currently honor swagger annotations, but I can look into what it would take to do so.

[2016-06-17 03:44] stoicflame commented on #182
I'll take a closer look at Lombok support for 2.6.

[2016-06-17 11:05] steinermatt opened #434 "enunciate-2.5.0.xsd is invalid according to Eclipse XML Validator"
Looks like the [http://enunciate.webcohesion.com/schemas/enunciate-2.5.0.xsd](http://enunciate.webcohesion.com/schemas/enunciate-2.5.0.xsd) is invalid - at least according to Eclipse XML Validation:

[2016-06-17 16:24] stoicflame commented on #434
Should be fixed now.

[2016-06-17 16:24] #434 closed

[2016-06-17 16:54] ke5stl commented on #218
I am seeing duplicates again appearing in the wadl.

[2016-06-18 09:12] jayenashar opened #435 "No response?"
I've copied this from another project I just made last week, so I know this should work, but it doesn't.

Here is my resource class:

[code]

And here is the response class:

[code]

but there are no responses appearing in the generated docs:

![snapshot21](https://cloud.githubusercontent.com/assets/1137152/16170039/b73fc3dc-3587-11e6-8579-a8d2e088ae5e.png)
![snapshot21](https://cloud.githubuserco

[2016-06-18 10:56] jayenashar opened #436 "DocumentationExample disappears?"
I'm trying to use `@DocumentationExample` but it's not appearing anywhere in the result.  I don't see a space for it either.  I have this in a `BeanParam`:

[code]

and it appears like this:

![snapshot21](https://cloud.githubusercontent.com/assets/1137152/16170462/fae5440e-3596-11e6-90f8-f5030c910d33.png)
![snapshot21](https://cloud.githubusercontent.com/assets/1137152/16170468/062003c2-3597-11e6

[2016-06-19 04:37] stoicflame commented on #435
Thanks for the report, but I can't seem to reproduce the problem.

Can you provide me some way to reproduce it?

[2016-06-19 04:38] stoicflame commented on #436
The documentation example will show up in Enunciate's generated example, but not in the swagger docs. Can you confirm it's in the Enunciate-generated example json?

[2016-06-19 04:54] jayenashar commented on #436
the only json file i can see is `swagger.json`.

here's my enunciate-maven config:

[code]

[2016-06-19 06:16] stoicflame commented on #436
It's not the swagger.json. It's the JSON embedded in the Enunciate-generated documentation (the html pages).

[2016-06-19 08:15] jayenashar commented on #436
JSON embedded in the html...?  I can't find what you're describing.  Do I need to add another dependency to the maven plugin to get it to appear?

[2016-06-19 08:25] jayenashar opened #437 "a way to put data in the constraints column of request parameters"
it looks like the constraints column is currently populated based on the type of the parameter.  i'd like to be able to specify this in the case that the type is a string.  preferably, an annotation that takes a vararg of strings as a parameter to display in the same manner as it displays an enum.  maybe another parameter/annotation of a raw string or regex pattern.

examples:

[code]

apologies i

[2016-06-19 09:06] jayenashar commented on #435
i had copied and pasted the resource into the response class, and vice versa, so the resource was returning a resource (called response). when i realized my mistake, i renamed the classes, but my IDE renamed the returned type, so the resource was still returning the resource.  i added the typehint in my attempt to fix it, but simply copied and pasted the return type (again still the resource).  wh

[2016-06-19 09:29] jayenashar commented on #436
another related question.  can i use `@DocumentationExample` on a field of a response?  having the same issue where the example doesn't appear anywhere (and i don't know where it should appear).

[2016-06-19 10:51] jayenashar commented on #436
ok i think i see what you mean now.  i only see an example for the whole response, not for the `QueryParam`.  is this what you mean?  any way to show examples for `QueryParam` or fields of responses, rather than putting everything in the description?

[2016-06-19 10:53] jayenashar commented on #436
although `@DocumentationExample` isn't working for me on my response.  it still shows a very barebones example response and not the one i put in the annotation:

[code]

[2016-06-20 10:43] hudara opened #438 "<api-classes> does not work with enum class"
Hi,

I have a spring-boot application with gradle and Jersey.
I am trying to document an Enum class which is not generated by default.

I have tried to use api-classes tag in the enunciate.xml file with no luck.
Here is the enunciate.xml file:

[code]

Here is my enum class:

[code]

What did I do wrong?
Why my enum class is not generated?

Thanks
Guy Hudara

[2016-06-21 08:10] MyeongJaeKim opened #439 "Description part of @RequestHeader is not properly inserted to html file"
Hi,

Let us assume that we have this method,

[code]

The **application/xml** is description part of **@RequestHeader** tag.
When build was over, instead of **application/xml**, the "Explains.." is inserted to Request Parameters description area.

This area is located at after **<caption>Request Parameters</caption>**.

I believe this is parser bug.

[2016-06-21 16:02] martin-bootstrap commented on #150
Hi. This solution isn't working for me. Instead of my splash content, I see the maven pom project description.

Using
`<groupId>com.webcohesion.enunciate</groupId>`
` <artifactId>enunciate-maven-plugin</artifactId>`
` <version>2.5.0</version>`

Please advise. Thanks.

[2016-06-21 16:45] vguna opened #440 "Error Response 200 description missing from swagger ui"
Hi.

I'm using enunciate 2.5.0 for generating the swagger ui from my REST endpoint interfaces.
It works so far except for the "Response Class (Status 200)" description on the top of a `@POST` method. It seems somehow lost.

Here's the interface:

[code]

Here's the json swagger part:

[code]

I don't know why github marks it red, you can ignore it, I guess.

And the resulting swagger ui:

![screen

[2016-06-22 07:59] nabilzhang commented on #427
I want contribute this, but when I add the sourcepath and test myself, some exception throw,I'm not know well the code.So expecting your success.

[2016-06-22 23:36] #435 closed

[2016-06-22 23:41] stoicflame commented on #436
Oh, I see what you're doing now.

So `@DocumentationExample` is for datatype fields, and isn't used for `@QueryParam`s. The issue suggests you'd like it to show up in the Swagger UI? I'm not sure that's possible, but I can take a look.

[2016-06-22 23:42] stoicflame commented on #438
I'm not sure what's wrong, but you may want to try referencing the class using `@XmlSeeAlso` and `@JsonSeeAlso`.

Meanwhile, I'll take a closer look for 2.6.

[2016-06-22 23:49] stoicflame commented on #150
@martin-bootstrap, I'm afraid I can't reproduce the problem you're seeing. For example, check out the "step5" branch of [the sample app](https://github.com/stoicflame/enunciate-sample).

If you can provide me a way to reproduce the issue, feel free to open up a new issue with the details.

[2016-06-23 09:38] vguna opened #441 "java client side code generation for server interfaces"
Hi.

I've taken a look at the java client side code generation. Currently it only offers the model for download.
Since I like using client side proxies using the server interfaces (either using JAX-RS or Apache CXF client), it would be great if server interfaces could also be extract to the download artifact. This way, writing a client will be a breeze. WDYT?

Besides that, I found a bug in the ge

[2016-06-23 20:34] stoicflame opened #442 "invalid javadoc newline spacing"
I  found a bug in the generated model class javadoc generation (missing asterisks):

[code]

Maybe it's also a good idea to strip the @author :)?

[2016-06-23 20:45] stoicflame commented on #441
Yes, adding client-side interfaces could happen. That's being tracked at #257, but it's not currently scheduled for a particular release.

I opened at new issue at #442 for the javadoc bug.

[2016-06-23 20:45] #441 closed

[2016-06-23 21:00] stoicflame commented on #202
Closing this issue due to lack of activity. I'd be happy to re-open as needed.

[2016-06-23 21:00] #202 closed

[2016-06-24 17:46] stoicflame opened #443 "StringIndexOutOfBoundsException in"
In the `enunicate.xml` I define the API classes, which include both the model classes and the service classes.  I get an enunciate warning about some source files not being found, but the desired documentation seems to be generated.  However when I include one particular package ( see https://github.com/fs-eng/std-ws-place-55/tree/master/place-model-55/src/main/java/org/familysearch/standards/plac

[2016-06-25 14:55] RyuTsuiSen opened #444 "compiler Args stackoverflow use -J-Xss4m"
Hi,

I need use compilerArgs with arg value : -J-Xss4m because I have a big java class and stack error enunciate produces an stackoverflow. But that doesn't work :(
Can you help me please ?
I made this :
[code]

Below the log from -X maven

and partial stacktrace

Thanks you

Regards,

[2016-06-26 05:46] jayenashar commented on #436
I'm not sure what a "datatype" field is.  I see two things called "data type" in the generated HTML: the Response class and the Response fields.

I have tried `@DocumentationExample` on [a BeanParam field annotated with `@QueryParam`](https://github.com/stoicflame/enunciate/issues/436#issue-161018758), [a Response class](https://github.com/stoicflame/enunciate/issues/436#issuecomment-226990920), a

[2016-06-26 08:48] hudara commented on #438
Thank.
The @JsonSeeAlso does not help. Where should I add this annotation?

Thanks,
H Guy

[2016-06-26 13:57] stoicflame commented on #444
I don't know why that didn't work. I'll take a closer look.

[2016-06-26 14:11] stoicflame commented on #438
You just add it to another data type that _is_ getting included.

[2016-06-26 14:17] stoicflame commented on #436
`PropertiesResponse` is an example of a data type. The `@DocumentationExample` is intended e.g. for the `html`, `next_page`, and `markers` properties.

[2016-06-26 20:09] RyuTsuiSen commented on #444
i am not sure because i have just read the source code
But it would seem that in com.webcohesion.enunciate.mojo.ConfigMojo class,  the property @paramater compilerArgs type String[] is never used.
On the execute() method, this property is never used and a local property List<String> compilerArgs instead an array is used.
I hope it will solve this issue
thanks

[2016-06-26 23:14] jayenashar commented on #436
ok thanks.  i must be doing something wrong on the `markers` field:

[code]

[2016-06-27 15:25] stoicflame commented on #436
Yes, that's not going to work. The `@DocumentationExample` is used by Enunciate to fill in values when it needs them. Enunciate doesn't parse the `@DocumentationExample` as JSON, and Enunciate doesn't need an example for type `Object`, so `List<List<Object>>` isn't going to use the documentation examples.

[2016-06-27 23:34] jayenashar commented on #436
So what can I do in this case?  In any event, the generated `[ { }, { } ]` should at least be `[ [ { }, { } ], [ { }, { } ] ]` and the "data type" column entry "array of object" should show "array of array of object"

[2016-06-28 15:56] stoicflame commented on #436
Yes, that's probably a bug. I'll look at that, too.

[2016-06-28 21:36] allenhadden commented on #438
FWIW, I have this problem too and @JsonSeeAlso workaround fixes the problem for me.  I'm using 2.5.0.

[2016-06-29 05:44] maecval opened #445 "Enunciate generated doc without internet connectivity: slow and unformatted"
Our application server where the enunciate-generated documentation is deployed does not have internet connectivity (i.e. behind firewalls).

Hence resources such as sytelsheets and javascripts, ... can not be loaded.
This results in
- very long load time of the page
- unformatted pages (nearly unreadable)

Is there a solution to this?
Can these external resources be packaged at build time of the d

[2016-06-29 15:55] stoicflame commented on #445
See [Custom Skin](https://github.com/stoicflame/enunciate/wiki/Custom-Skin).

You'll need to use a combination of a custom freemarker transform and a custom documentation base. You'll put all the css, js in the documentation base, and the custom freemarker transform will reference each css, js file as a relative URI reference resolving to wherever you put them in the documentation base.

[2016-06-29 15:55] #445 closed

[2016-06-30 07:27] vguna opened #446 "request body media type missing"
Hi.

I'm using Enunciate 2.5.0 to generate the REST documentation for my JAX-RS interfaces.
There exists one endpoint that `@Consume`s `MediaType.APPLICATION_FORM_URLENCODED`. If I look at the enunciate documentation, the request body media type is missing. Also in the swagger UI.
I'm missing something here?

<img width="798" alt="mediatype-missing" src="https://cloud.githubusercontent.com/assets/

[2016-06-30 11:06] vguna commented on #439
I have a similar (?) problem. For me, when only using `@RequestHeader` (no `@param`) and using `@HeaderParam` in the method signature, the header appears in the documentation, but the description of it is empty. If I add `@param` refering to the `@HeaderParam` name, it takes the `@param` for documentation.

Example with empty description:

[code]

[2016-07-04 03:26] MyeongJaeKim commented on #439
I've made pull request fixing this issue.

[2016-07-05 18:14] bmareal opened #448 "Enunciate ignoring Serialization Annotations"
I'm trying to use enunciate to generate the documentation for a large REST API.

Most of my getters and setters use serialization annotations like this:

[code]

However, enunciate is ignoring the `@JsonGetter` and `@JsonSetter` tags, and documenting my services properties and examples like this:
[code]

Whichever configuration I try, the result seems to be always the same as described so... Is th

[2016-07-05 18:16] stoicflame commented on #448
I'll take a look for 2.6.

[2016-07-06 22:59] coryfin opened #449 "Resource URL in docs is incorrect"
I have an app running at www.example.com/api/v1/. I have two resources:
www.example.com/api/v1/resource1
www.example.com/api/v1/resource2

Enunciate docs are located at:
www.example.com/api/v1/docs/resource1.html
www.example.com/api/v1/docs/resource2.html

The root is forwarded to the docs, so you don't have to include /docs in the URL:
www.example.com/api/v1/resource1.html
www.example.com/api/v1/

[2016-07-06 23:29] stoicflame commented on #449
Enunciate calculates its relative paths according to the configured docs subdirectory.

Are you asking if there's a way to override that calculation?

[2016-07-06 23:54] coryfin commented on #449
Yes, I think that's what I would need. My first thought was that I could change docsDir or docsSubdir, but that would just change where the docs are put after their generated, right?

[2016-07-07 03:05] definite opened #450 "Missing Apache license header in some source files"
According to  http://www.apache.org/dev/apply-license.html#new

Each original source document (code and documentation, but excluding the LICENSE and NOTICE files) SHOULD include a short license header at the top.

However, following files do not have the correct header:

[code]

[2016-07-07 13:55] vguna opened #451 "Unknown type handling"
Hi.

I'm using enunciate 2.5.0 for generating JAX-RS documentation from my endpoint interfaces and DTOs.
One of my DTOs has a URL attribute, that is handled by jackson properly. If I take a look at the enunciate docs, the URL type is shown as a separate JSON type and all its properties (host, port etc.) are also taken into the swagger json file - which isn't desirable :). Is there a way to ignore

[2016-07-07 14:46] vguna opened #452 "generic List types are typed as "file" in swagger json"
Hi.

I'm using enunciate 2.5.0 to generate the swagger json from my JAX-RS interfaces/DTOs.
Pasting the generated swagger.json into the [swagger editor](http://editor.swagger.io) shows some errors and warnings.

One seems to come from a wrong type, declared as "file" as shown here:

[code]

The result is a `List` property contained in a generic typed DTO such as `PagedResultDto<T>`. The method sig

[2016-07-07 14:51] vguna opened #453 "description warnings in swagger.json"
I'm using enunciate 2.5.0 to generate the swagger json from my JAX-RS interfaces/DTOs.
Pasting the generated swagger.json into the [swagger editor](http://editor.swagger.io) shows some validation warnings regarding descriptions:

![screen shot 2016-07-07 at 16 49 22](https://cloud.githubusercontent.com/assets/3257311/16657434/cd616f14-4462-11e6-91b3-604067f5f910.png)

It seems related to descripti

[2016-07-07 16:12] stoicflame commented on #451
I'll add URL as a known type.

You can use `@JsonFormat` or `@JsonSerialize` or `@TypeHint` to explicitly set the type to string for now.

[2016-07-08 06:24] kallemetria opened #454 "Maven plugin does not include artifacts of type ejb or ejb-client to classpath."
I have a maven project with multiple moduls. The module that I want to apply the enunciate maven plugin on has a dependency to another maven module of type "ejb", like this:
[code]
The dependant artifact some-service contains classes (JPA models) that the modul is dependent on. I have something like this in enunciate.xml:
[code]
Where the package com.metria.someproj.web is in the modul I have the

[2016-07-08 12:02] vguna commented on #451
Thanks for the quick feedback. Using `@TypeHint` works for the DTO. Then it prints `String` instead of `URL`, but:

- `@NotNull` seems to get lost then
- `URL` still appears in the overview of the JSON types

I tried the other two alternative annotations with the same effect.

Also trying to explicitly exclude `java.net.URL` via `enunciate.xml` `api-classes` exclude doesn't seem to help. So I have

[2016-07-08 12:11] jrodmier opened #455 "@returnWrapped for a list of objects"
Hello, I try to use the annotation @returnWrapped and I need to specify a list of custom objects (List<Study>). How can I do it?

Thanks.

JR.

[2016-07-08 16:42] stoicflame commented on #454
Thanks for the report. Assigned to 2.6.

[2016-07-08 16:44] stoicflame commented on #455
You can't right now. I'll look into enhancing it.

[2016-07-11 06:58] vguna opened #456 "endpoint description in the grouped resource overview missing"
Hi.

I'm using enunciate 2.5.0 to generate my documentation for my JAX-RS endpoint interfaces and DTOs.
I have descriptions on my interface classes as well as on their methods. When I take a look at the generated resource overview, it currently looks like this:

![screen shot 2016-07-11 at 08 46 47](https://cloud.githubusercontent.com/assets/3257311/16722071/85789328-4744-11e6-83aa-f97f0ece6223.pn

[2016-07-13 18:02] Sheshagiri opened #457 "Ignore annotation for fields"
Just wanted to check if the @Ignore can be implemented for fields as well.

[2016-07-13 18:05] Sheshagiri commented on #457
Just realized that this is a duplicate of #431. Please excuse.

[2016-07-13 18:05] #457 closed

[2016-07-14 02:11] seanf commented on #117
The javac bug JDK-8143213 has been marked as a duplicate of https://bugs.openjdk.java.net/browse/JDK-8076104 (closed as fixed in Java 9).

(I just tried @stoicflame's reproducer with docker container `java:9-b124-jdk`, and I got a lot of compilation warnings and errors due to missing classes, but no "duplicate class" messages.)

A Java 8 backport of the fix is tracked here: https://bugs.openjdk.ja

[2016-07-14 13:10] Sheshagiri opened #458 "add html file instead of adding description enunciate.xml"
Hi,
Is there a probability to add a html file(lets say description.html) in the description tag , in enunciate.xml ?

[2016-07-14 15:39] stoicflame commented on #458
No, but I can probably add that pretty easily for 2.6.

[2016-07-16 19:43] zcgandcomp commented on #225
Hello I has same problem.
I have several maven modules, one for Model classes - where my @BeanParam and one for REST API resource classes - where I have enunciate.xml.
I was able to solve it with putting source plugin into my model project pom
`        <plugin>
            <groupId>org.apache.maven.plugins</groupId>
            <artifactId>maven-source-plugin</artifactId>
            <executions>

[2016-07-18 12:42] mikesname opened #460 "NullPointerException in TypeDefinition.overridesAnother"
Running Enunciate for JAX-RS documentation I ran into the NullPointerError pasted below.

The specific method it was looking at in `TypeDefinition.overridesAnother(method)` was `org.w3c.dom.Document.getDocumentURI()`. I was able to resolve the problem for my specific case by excluding some `api-classes` in the `enunciate.xml`.

Enunciate 2.5.0, Java 1.8.0_45, with Jersey 1.19.

[code]

[2016-07-18 13:02] stoicflame commented on #460
Thanks for the report. I'll take a look for 2.6.

[2016-07-19 12:18] mherz opened #461 "Jackson naming conflict for fields named clazz"
Hi,

if I create a model Class like this one:
[code]

I got the following error during execution of the new JavaScriptClientModule:

[code]

For me it seems like a bug, related to the field named clazz. If I rename the field, the error does not occur any more.

[2016-07-19 12:18] dklotz commented on #433
This would make it much easier to switch between swagger-core and enunciate!
👍

[2016-07-19 12:23] dklotz commented on #314
We're currently using some custom Jackson modules to de/serialize some more advanced objects to/from JSON (e.g. adding some custom fields during serialization, using these fields to map to a specific DTO sub-class during deserialization etc.), so some easy way to just specify "include these custom jackson module(s)" (or a way to provide a custom factory for the Jackson ObjectMapper) would be great

[2016-07-19 13:44] dklotz opened #462 "Provide summary in Swagger JSON"
This is a feature request, at least if I haven't missed any way to currently do this: Currently the "summary" attribute of the operations in the generated swagger.json is empty/unset, which makes the default collapsed view in swagger-ui kind of empty:

![enunciate generated swagger](https://www.dropbox.com/s/qd4hxj9y4v8uc0p/Screenshot%202016-07-19%2015.38.15.png?dl=1)

When using the standard swag

[2016-07-20 15:21] jlepage-appdirect opened #463 "IllegalArgumentException when tag contains an empty description"
I'm getting the following exception when running Swagger2markup with groupBy set to TAGS:

This seems to be caused by a discrepancy between how `io.github.swagger2markup.internal.utils.TagUtils#getTagDescription` determines what is a present description (based on null) and `io.github.swagger2markup.markup.builder.internal.asciidoc.AsciiDocBuilder#paragraph`, which rather uses `org.apache.commons.l

[2016-07-20 19:15] raner commented on #385
Sorry, completely dropped the ball on this...

Unfortunately, I cannot confirm that Enunciate works as expected for me in this case. But I think I can offer some additional clue: if I add Jackson's `@JsonSerialize` annotation to our domain classes, then the generated documentation does include the expected JSON documentation about the object structure. However, without `@JsonSerialize` it will jus

[2016-07-21 11:24] mohamnag opened #464 "Enabling Jackson JDK8 module"
We have some objects returned from our JAX-RS resources which have getters with Optional return types. Without [JDK8 module](https://github.com/FasterXML/jackson-datatype-jdk8) enabled, Jackson will not serialise the correct type for such fields. This seems to be the case as we get fields like:
[code]
in our docs where it should be:
[code]

Is there a possibility to enable that module in the confi

[2016-07-25 14:08] bbarman4u commented on #370
Hi Stoicfame,
I recently started using the  Enunciate(latest version 2.5) and I must say I like it.  How ever I have similar question like this gentleman in the above thread. Example -
My Web Application Context Path is say "/webapp"
My Servlet path is say "rest"
My API base path annotated with @path is say "/path1"
My actual resource api path annotated with @path is say "/api1"
So my effective pa

[2016-07-25 16:08] bbarman4u opened #465 "Need servlet context path and application server context path to be defined to generate correct api docs and swagger files"
I have a problem with the servlet path and the application context path not reflecting in the API docs. Example -
* My Web Application Context Path is say "/webapp"
* My Servlet path is say "rest"
* My API base path annotated with @path is say "/path1"
* My actual resource api path annotated with @path is say "/api1"

So my effective path of the rest api that gets excecuted and should reflect in d

[2016-07-26 18:05] stoicflame commented on #461
Thanks for the report.

[2016-07-26 18:06] stoicflame commented on #462
Sounds like a reasonable request. I'll take a look.

[2016-07-26 18:08] stoicflame commented on #463
So this issue might have been opened in the wrong project. I'm not seeing any Enunciate issues here...

[2016-07-26 18:08] #463 closed

[2016-07-26 18:10] stoicflame commented on #385
You probably just need to "include" the classes:

https://github.com/stoicflame/enunciate/wiki/Excluding-Including-Classes#configuration

[2016-07-26 18:12] stoicflame commented on #464
I'll look into providing that enhancement. Can you provide a list of classes that need to be supported?

[2016-07-26 18:19] stoicflame commented on #465
The configuration you refer to didn't seem to make it into the issue, but this should work:

[code]

[2016-07-27 13:54] bbarman4u commented on #465
Hi Sorry I should have copied the full xml file earlier. But as you can see with the below options its still not generating the required paths. Also would it be possible to provide in the documents section a sample enunciate.xml file with some sample configurations instead of the snippet lines so that we include the sections correctly instead of trying to derive the xml from the xsd. I just found

[2016-07-27 18:30] luthionb opened #466 "Module swagger - extension of base param"
Is it possible from the parameter base in module swagger to point to an external url resource (for example artifact on nexus)?

`<swagger base="http://nexus/path/to/artifact"/>`

Overriding swagger-ui.zip in a single project is easy, however when we want to use it in a multimodule project then there is no easy&clean solution.

[2016-07-27 18:45] bbarman4u commented on #465
Updating my own question after I identified that i need the above tags along with the includeApplicationPath=true. Also since this did not have any effect on the generated swagger file, for now did a work around by adding the full path name to the application root. Example below and attached.
`
[enunciate.xml.txt](https://github.com/stoicflame/enunciate/files/386875/enunciate.xml.txt)
`
So for now

[2016-07-27 19:26] stoicflame commented on #466
So that value just gets passed directly to the generated swagger.json; I think the answer to your question depends on how Swagger behaves.

Have you tried it?

[2016-07-27 20:05] luthionb commented on #466
Actually that's not the point. According to issue #304 you suggested that if we'd like to modify somehow the swagger files (for example disable external validation by swagger engine or modify css files) we should change that files and provide new archive in the base path of swagger module. If we don't fill the "base" attribute in swagger node the default zip archive generated during the build of e

[2016-07-27 20:30] leforthomas opened #467 "Example with gwt json overlay"
May be I am missing something but I cannot work out how to use the jar file produced for the gwt json overlay in my project. I could only find some code on the wiki page but not how to include it in the project. With GWT there is normally the need to inherit a module. Please let me know if I missed something, otherwise it would be nice to have a bit more documentation on this nice feature.

[2016-07-27 21:34] stoicflame commented on #467
Yes, it's just the overlay code, so you'll have to compile the module yourself.

I'll keep this issue open until more docs are provided. In the meantime, if you'd like to try it out and write down your notes and/or findings, I'd be happy to include it in the documentation.

[2016-07-27 21:36] stoicflame commented on #466
Oh, I see. I misunderstood what you were talking about.

I'll track this issue as an enhancement request.

[2016-07-28 07:05] mohamnag commented on #464
That would be great. the only thing I'm aware of is the Optional in Java 8. But basically when you enable the JDK8 module as described on the link I gave above, the whole thing is activated.

[2016-07-28 18:28] jlepage-appdirect commented on #463
Yes indeed my bad :( this is swager2markup...sorry about the noise!

[2016-07-28 19:57] bbarman4u commented on #465
Further Update: I updated the application root to be a relative path only without the host name and the swagger definitions are now working by taking the relative path.
Example - <application root="/webapp/rest"/>

[2016-07-28 20:02] bbarman4u opened #468 "Can the generated swagger definition support adding header for Basic Auth?"
Currently many of my rest services are protected and can only be accessed for try out only if a basic auth header with the necessary user name and password is passed. Now many tools like Postman or Soap UI also provide the capability to inject the basic Auth. Also Swagger seems to provide it in their specification. Is there a configuration in the enunciate.xml that I could use to specify this ?
Li

[2016-07-28 22:23] stoicflame commented on #468
We could add an annotation, but I'm not sure what it should _do_. Are you looking for something like what was being asked at #368?

[2016-07-29 12:31] bbarman4u commented on #468
Hi Stoicflame,

No this is not the issue that I was referencing. By default the generated swagger docs provides the option to pass the api_key at the top of the page which is populated in the query parameter. While this may not suit systems like mine where we have to pass headers with http basic auth to authenticate the calling rest service. While I am aware that I can hand edit the generated swag

[2016-07-29 15:20] stoicflame commented on #468
Okay, I can look into support for that. Will you give me specifics on how you hand-edit the swagger files to add the capability?

[2016-08-01 12:24] bbarman4u commented on #468
Hi,
Let me start by saying that I am not an expert on swagger nor HTML, hence my solution was not all that elegant but rather a working solution only. So this is what I did -
1. Edited the index.html file under ui folder to add another input element for the username and password to be entered in the format "username:password" that I would then read using Jqeuery, convert it into base 64 and set a

[2016-08-03 08:17] jskovjyskebankdk opened #469 "Ant task should allow setting bootstrapclasspath"
When "cross-compiling" from JDK8 to JDK7, the bootstrapclasspath needs to be specified, or javac complains.

The Ant enunciate task should allow the boostrapclasspath to be specified, and use it in its operation.

[2016-08-03 15:16] stoicflame commented on #469
Thanks for capturing this. Assigned to 2.6.

[2016-08-04 07:10] fpotera opened #470 "When try to migrate api from 1.29 to 2.5 enunciate"
When I try to enunciate the old project with enunciate 2.5 I get this error.

It seems to be at java-json-client source compilation.

Many thanks in advance.

[code]

I can add some details:

One of classes generated with errors is X509CertificateInfoBean.java:

[code]

- The java client is generated by enunciate:

[code]

- After compilation I get the error:

[code]

- Enunciate 1.29 accepted thi

[2016-08-04 07:38] jskovjyskebankdk commented on #461
We see a variant of this with properties like:

[code]

Enunciate complains with:

DealerAgreementOverviewDTO: accessor "getId()" conflicts with accessor "id" of DealerAgreementOverviewDTO: both are named "id".

It worked with enunciate 2.3.0 (but also fails with 2.5.0)

[2016-08-04 08:05] MosheElisha commented on #400
This will be very useful

[2016-08-04 13:33] egemenvardar opened #471 "Support for @NotNull is broken since version 2.4.0"
Follow-up of #310.

This issue was fixed in 2.3.0. I recently updated my Enunciate version to 2.5.0 and realized that all input fields are again shown as optional. I tried the 2.4.0 version and the same problem happens there as well. Some changes in 2.4.0 must have broken this fix.

Could you please look into this? Thanks.

[2016-08-05 15:43] hiddendog commented on #314
Is there at least a way to tell Enunciate to understand Jackson's mixins?

[2016-08-05 20:10] stoicflame opened #472 "support for Jackson's mix-in annotations"

[2016-08-05 20:10] stoicflame commented on #314
There's not yet, no. See #472.

[2016-08-05 20:21] hiddendog commented on #314
Maybe I can help, any idea where I should start, which classes I should be looking at, etc?

[2016-08-05 22:51] stoicflame commented on #314
I'll try to provide some pointers in the right direction. First, note that the following is about the "jackson" module, but the same needs to be applied to the "jackson1" module as well (both places).

The adjustment will be made in the `com.webcohesion.enunciate.modules.jackson.model.types.JsonTypeFactory#findSpecifiedType` method, which will need to look in the config file (available via the `En

[2016-08-09 17:09] ronnyfm commented on #51
Same question, how can I configure the generated doc to have a custom prefix, for example, to add /services before each generated URL? Thanks.

[2016-08-09 18:05] stoicflame opened #473 "default packaging for separate artifacts shouldn't default to project packaging"
war projects are often used to generate jar artifacts.

[2016-08-09 18:10] stoicflame opened #474 "client-generated sources jar not getting attached during install/deploy"

[2016-08-09 18:48] stoicflame commented on #51
https://github.com/stoicflame/enunciate/wiki/Application-Configuration

[2016-08-09 18:49] #474 closed

[2016-08-10 17:36] stoicflame commented on #427
Okay.

So there already _was_ a way to configure the _sourcepath_ by using the Maven dependencies and using the `sourcepath-includes` and `sourcepath-excludes` elements of the plugin configuration. However, this particular issue was opened in relation to #182, which was a case that needed the ability to set the source directories for the Enunciate compiler.

By default, Enunciate just used the Mav

[2016-08-10 17:36] #427 closed

[2016-08-10 17:40] stoicflame commented on #182
Okay, with the fix at #427, I was able to successfully integrate Enunciate into a Lombok project as follows:

### Configure Lombok to Generate the Sources

In Maven, it looks like this:

[code]

The Lombok plugin will put the generated sources in `${project.build.directory}/generated-sources/delombok`.

### Set the Enunciate Compiler Directory

In Maven, that looks like this:

[code]

I have confi

[2016-08-10 17:40] #182 closed

[2016-08-10 17:50] stoicflame commented on #214
I can't see where JAX-RS supports this, so I'm going to close this until I hear otherwise.

[2016-08-10 17:50] #214 closed

[2016-08-10 17:52] stoicflame commented on #218
Getting around to looking at this. @ke5stl can you provide come details about how to reproduce this?

[2016-08-10 21:33] stoicflame commented on #259
Yeah, I'm not able to reproduce this. The modified timestamp of the config file is considered when calculating staleness.

[2016-08-10 21:33] #259 closed

[2016-08-10 21:40] stoicflame commented on #401
Bug scrub.

This issue has been quiet for awhile now. Can I assume that provisions are adequate and this can be closed?

[2016-08-10 21:50] stoicflame commented on #419
Bump.

Any word on this? The request is unclear to me.

[2016-08-10 22:02] stoicflame commented on #421
Fixed with stoicflame/enunciate-gradle#9 and #427.

[2016-08-10 22:02] #421 closed

[2016-08-10 22:03] #420 closed

[2016-08-10 22:26] #428 closed

[2016-08-10 22:38] #430 closed

[2016-08-10 22:47] stoicflame commented on #432
I'm afraid I'm going to need more details, because superclasses aren't added to the docs for me when `collapse-type-hierarchy` is `true`.

I _did_ happen to notice that if any of my accessors or collections or maps referenced the abstract superclass, then it is added to the model. But I think this is working as designed because there's no way for Enunciate to tell what instance is actually going t

[2016-08-10 22:47] #432 closed

[2016-08-11 07:12] gaetancollaud commented on #182
Great news ! I'm looking forward for the 2.6.0 then.

[2016-08-11 07:59] vguna commented on #401
Sadly, there was no time yet to implement it. But we can close it.

[2016-08-11 17:06] #401 closed

[2016-08-12 23:09] #433 closed

[2016-08-12 23:12] stoicflame commented on #433
A lot of the Swagger annotations were very swagger-specific, but I've added limited support at 080dfee.

Includes partial support for:

* `ApiOperation`
* `ApiImplicitParams`
* `ApiResponses`

[2016-08-13 00:02] #436 closed

[2016-08-13 00:03] stoicflame commented on #436
I looked at the [swagger spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameterObject), but could find no way to put the example in that text box. If anybody can find a way to do it, let me know.

I fixed the incorrect example at 17076fc.

[2016-08-14 10:47] blahmutz opened #475 "Support external projects/source"
Hi

I have a project where there is a separated API for the REST Commands. So project A is only for defining the basic application (where jetty starts and scans for rest resources), project B is where the commands are which are used in project A.
I published the sources of project B (like an API) into my maven local, but when i mvn install project A, enunciate generates a warning that some sources

[2016-08-14 13:42] stoicflame commented on #475
Does the output of `mvn -X` provide any additional information?

If you can provide me a way to reproduce the issue, I'm sure I could find out what's going on.

[2016-08-14 14:43] blahmutz commented on #475
Hi, fast response :)

[Uploading PostfixManagerAPI-a4875d683c40141147993378a18c33034f5ebf33-a4875d683c40141147993378a18c33034f5ebf33.zip…]()
[PostfixManager-117cf7c0db7f294b1036a04801dcbdcd6c584fcd-117cf7c0db7f294b1036a04801dcbdcd6c584fcd.zip](https://github.com/stoicflame/enunciate/files/417055/PostfixManager-117cf7c0db7f294b1036a04801dcbdcd6c584fcd-117cf7c0db7f294b1036a04801dcbdcd6c584fcd.zip)

[2016-08-15 17:21] ke5stl commented on #218
I am working on an example to demonstrate this issue.

[2016-08-15 17:55] stoicflame commented on #475
So your first project isn't publishing sources.

The second project isn't "including" those classes via Enunciate config.

[2016-08-15 17:58] blahmutz commented on #475
Sorry, did not mention that i executed the mvn source install by command line.

The enunciate.xml contains that line:
    <api-classes>
        <include pattern="com.mycompany.postfixmanagerapi.**"/>
    </api-classes>

Is this not correct to include my API?

[2016-08-15 18:59] stoicflame commented on #475
As stated in the [Multi-Module Projects Guide](https://github.com/stoicflame/enunciate/wiki/Multi-Module-Projects):

The `groupId` for the first project is "com.mycompany". The `groupId` for the second is "de.XXX". So you either need to explicity configure "com.mycompnay" to be included in the `sourcepath-includes` or make the two `groupId`s the same.

[2016-08-15 18:59] #475 closed

[2016-08-15 21:10] blahmutz commented on #475
Thanks for the help, will try it this weekend.

[2016-08-15 21:24] blahmutz commented on #475
I just tested it now to be sure... i renamed the artefacts groupid to match, renamed the packages, recompiled. Here is the output:

[code]

[2016-08-16 00:49] ke5stl commented on #218
I have a sample that demonstrates the issue I'm seeing.  Can I email it to you?

[2016-08-16 14:53] ke5stl commented on #218
email has been sent with zip of sample for this issue.  did you receive it?

[2016-08-16 16:09] vincent-zurczak opened #476 "Generate operations summary for Swagger files"
When reading generated swagger.json files with Swagger IO, there is no operation summary with what Enunciate generates.

![summary](https://cloud.githubusercontent.com/assets/1104790/17706477/7dc28f1c-63dc-11e6-8120-3e8ab13d3e69.png)

The fix is quite simple and I will submit a PR shortly.

[2016-08-16 19:48] #218 closed

[2016-08-16 19:48] stoicflame commented on #218
Yes. Thank you.

In your case, the duplication is in your own code because you've got two classes annotated with the same path. One is an interface (`IThing1Resource`) and the other implements that interface (`Thing1Resource`). Removing the `@Path` annotation on the interface removed the duplication.

At 8b18aa7 I added logic that caught this case.

[2016-08-16 19:51] stoicflame commented on #476
Fixed with merge at #477.

[2016-08-16 19:51] #476 closed

[2016-08-16 23:30] stoicflame commented on #437
Support for [Bean Validation Annotations](http://docs.oracle.com/javaee/6/tutorial/doc/gircz.html) added at 6207635f867f9a92ebb5029fe6bce4a05ddd39b8.

[2016-08-16 23:31] stoicflame commented on #401
Support for [Bean Validation Annotations](http://docs.oracle.com/javaee/6/tutorial/doc/gircz.html) added at 6207635f867f9a92ebb5029fe6bce4a05ddd39b8.

[2016-08-16 23:45] ke5stl commented on #218
interesting.  thank you!
peter

On Tue, Aug 16, 2016 at 2:49 PM, Ryan Heaton <notifications@github.com>
wrote:

[2016-08-17 06:51] vguna commented on #401
You're the best :)!

[2016-08-17 16:02] vincent-zurczak commented on #314
I have spent most of the day thinking and working on it.
And I do not think there is any reasonable solution for this problem. Object mappers can produce direct JSon as text. But Enunciate uses a recursive structure (JsonType, and in particular DataType as a sub-class). It is not possible to map a direct string into this structure.

I also tried to use Swagger Core directly, outside Enunciate.
I w

[2016-08-17 22:15] stoicflame commented on #439
I've been looking at this issue, but I can't reproduce the problem. If I copy the JavaDoc as you have it above, it works fine for me and I don't see what you're describing. Also, the pull request doesn't make any effective change since `getJavaDoc().toString()` will return the same thing as `getDocValue()`.

@vguna, the issue you report is working as designed. The way to document parameters is usi

[2016-08-17 22:15] #439 closed

[2016-08-17 22:20] stoicflame commented on #440
I'm afraid I can't reproduce this issue. I copied the JavaDoc as you described above and the swagger.json came out as expected.

I'd be happy to re-open if you can provide me a way to reproduce the issue.

[2016-08-17 22:20] #440 closed

[2016-08-17 23:26] #438 closed

[2016-08-17 23:26] #442 closed

[2016-08-17 23:26] #443 closed

[2016-08-17 23:26] #444 closed

[2016-08-17 23:26] #446 closed

[2016-08-17 23:26] #448 closed

[2016-08-18 06:55] vgcookies commented on #439
Mkay. So `@RequestHeader` is only for values that aren't part of the method signature?

[2016-08-18 06:56] vguna commented on #439
Mkay. So `@RequestHeader` is only for values that aren't part of the method signature?

[2016-08-18 07:00] vguna commented on #440
Did you actually check the display of the swagger file in the browser? Not just the source? The json source looks ok as shown above...

[2016-08-18 14:48] stoicflame commented on #439
That's the idea, yes.

[2016-08-18 14:53] stoicflame commented on #440
Yes:

![response-messages](https://cloud.githubusercontent.com/assets/145838/17778431/3249d43c-6521-11e6-9d7b-f53a69b82756.png)

[2016-08-18 15:06] #449 closed

[2016-08-18 15:07] stoicflame commented on #449
At a6c0253:

[code]

[2016-08-18 15:16] bmareal commented on #448
Thank you! Let me know if you need some kind of beta testing

[2016-08-18 17:36] stoicflame commented on #453
I've been looking at this, and I'm pretty confident that this is a validator problem or a deficiency in Swagger. Removing that "description" eliminates some interesting contextual documentation. So seeing as how this is a "warning", I'd rather leave it in there and push on the Swagger guys to adjust.

[2016-08-18 17:36] #453 closed

[2016-08-18 17:45] #450 closed

[2016-08-18 17:45] #451 closed

[2016-08-18 17:45] #452 closed

[2016-08-18 17:45] #454 closed

[2016-08-18 17:45] #455 closed

[2016-08-18 17:47] stoicflame commented on #455
At d2eed2e, support for declaring array "[]" was added, e.g.:

[code]

[2016-08-18 18:09] gmtwc opened #478 "@XmlEnumValue annotation handling"
Not sure whether this is a bug but here is my question:

I am looking at how the  @XmlEnumValue annotation is handled in the resulting documentation.  The example to demonstrate this may be found in Enunciate source tree in Jackson 2 API Example in the class is GenderType.java and the annotation looks like
...
  @XmlEnumValue("m")
  MALE,
...

In compiled documentation in the JSON section the fiel

[2016-08-18 18:18] #456 closed

[2016-08-18 18:22] stoicflame commented on #478
You need to make sure JAXB annotations are honored:

[code]

[2016-08-18 18:40] gmtwc commented on #478
I just added the json configuration you suggested to the modules section and it did not make any difference.
The resulting JSON documentation is correct and XML is not -- it is still using the default Enum string value.

[2016-08-19 13:24] nfalco79 commented on #461
You have to move annotation to method getId() (_default_) or annotate class DealerAgreementOverviewDTO with @XmlAccessorType(XmlAccessType.FIELD)

[2016-08-19 15:48] stoicflame commented on #458
[code]

[2016-08-19 15:53] stoicflame commented on #460
Fixed at 4129bd7.

[2016-08-19 15:53] #460 closed

[2016-08-19 16:18] #458 closed

[2016-08-19 16:19] stoicflame commented on #461
@nfalco79 is correct about the best way to apply a workaround.

After some investigation into how Jackson behaves, I applied 35ad41d which should be able to better detect and handle the field/property accessor naming collisions.

[2016-08-19 16:19] #461 closed

[2016-08-19 16:47] stoicflame commented on #462
Fixed at dcfa0d94.

[2016-08-19 16:47] #462 closed

[2016-08-19 17:24] stoicflame commented on #465
Getting around to looking at this issue again. Is there anything left to be done in the Enunciate code?

[2016-08-19 17:38] stoicflame commented on #466
Getting around to addressing this issue.

Currently, if you package up your swagger base and add it to the Enunciate classpath at `/META-INF/enunciate/swagger-base.zip`, Enunciate will automatically pick it up. [Here's an example of a jar that if put on the enunciate classpath will apply a custom swagger base.](https://github.com/stoicflame/enunciate/files/427552/custom-swagger-base.zip)

So for e

[2016-08-19 17:38] #466 closed

[2016-08-19 17:43] stoicflame commented on #468
Thanks for sharing.

After taking a look at the solution, I'm going to pass on adding it to Enunciate. Users can configure Enunciate with a custom swagger "base" that Enunciate will use instead of the default one that contains the index.html. The custom base can contain the functionality as described above.

You can provide a custom base as described in the [Swagger Module Documentation](https://g

[2016-08-19 17:43] #468 closed

[2016-08-19 17:45] #464 closed

[2016-08-19 19:40] stoicflame commented on #469
Finally getting around to this. Does using the `javacArgument` element not work?

[code]

[2016-08-19 19:52] stoicflame commented on #471
I've taken a look and can't seem to reproduce it. It's working for me.

If you'd like to provide me more details about how to reproduce the problem, I'd be happy to re-open this.

[2016-08-19 19:52] #471 closed

[2016-08-19 21:13] stoicflame commented on #470
I've spent some time looking at this issue, but I'm having a hard time reproducing the error. I've applied [this issue](https://github.com/stoicflame/enunciate/files/427895/issue-470.diff.txt) to the project and everything compiles fine for me.

You might need to provide details about the following classes:

* `MapAdapter`
* `MapType`
* `MapEntry`

[2016-08-19 21:45] stoicflame commented on #478
Ah. I see. I thought you were talking about the JSON docs.

Thanks for the report.

[2016-08-19 22:43] #478 closed

[2016-08-19 22:43] #472 closed

[2016-08-19 22:45] stoicflame commented on #472
Added support at 7052d14:

[code]

Also works for `jackson1` module.

[2016-08-19 22:46] stoicflame commented on #314
Agreed.

Added support for mixins at 7052d14:

[code]

Also works for `jackson1` module.

[2016-08-19 22:46] #314 closed

[2016-08-22 05:46] jskovjyskebankdk commented on #469
I did not think of that. I'll try to make the gradle plugin use this for x-compilation.
Not sure I'll be for the 2.6 release, as I'm swamped. But maybe.

I guess we can close this issue. Thanks!

[2016-08-22 05:46] #469 closed

[2016-08-22 08:58] Sheshagiri commented on #190
+1

[2016-08-22 09:30] Sheshagiri opened #479 "Client side code is generated only for one endpoint"
Hi,

I have 4 endpoints(JAXRS) and looks like the client side code(Only Java JSON Client is enabled in enunciate.xml) is being generated only for the first endpoint(in alphabetical order). Enunciate generates the client side code only for one endpoint or I'm missing something because of which the client side code is generated only for one endpoint ? Any help would be appreciated.

[2016-08-22 10:32] fpotera commented on #470
I attached requested information.
Please, let me know if you need more information.
Thank you.

` import java.util.HashMap;
 import java.util.Map;
 import javax.xml.bind.annotation.adapters.XmlAdapter;

 public class MapAdapter<K,V> extends XmlAdapter<MapType<MapEntry<K,V>>, Map<K, V>>
 {
	@Override
	public Map<K, V> unmarshal(MapType<MapEntry<K, V>> v) throws Exception
	{
		Map<K, V> map = new Ha

[2016-08-22 11:28] egemenvardar commented on #471
@stoicflame I am using the `@NotNull` annotation from `javax.validation.constraints` to control the mandatory / optional fields.

This used to work fine with version 2.3.0. However, with versions 2.4.0 and 2.5.0 all fields are shown as optional; e.g.:

![enunciate_all_params_optional](https://cloud.githubusercontent.com/assets/17125072/17853210/68e53930-686b-11e6-9a2b-2f4e9d964c9b.png)

Although s

[2016-08-22 16:42] stoicflame commented on #479
Enunciate doesn't generate client-side code for endpoints; it only generates the model classes for each of the endpoints you're exposing.

So are you saying that the model classes are only generated from one of multiple endpoints? I'm going to need some more details to see what's going on. What do the endpoints look like? What are you expecting to be generated that isn't being generated?

If you c

[2016-08-22 16:50] Sheshagiri commented on #479
Enunciate is generating model classes for all the end points I have.

But it seems to be generating the sample client side code(Java json) that
is available in files and libraries link, for one endpoint only(for first
one in alphabetical order).

I can provide a sample project if required.
On Mon, 22 Aug 2016 at 10:12 PM Ryan Heaton <notifications@github.com>
wrote:

[2016-08-22 16:57] stoicflame commented on #471
I think I understand what you're reporting. I don't understand how to reproduce it.

Here's a snippet of code that I'm using to test it:

![enunciate-471-snippet-not-null](https://cloud.githubusercontent.com/assets/145838/17863276/47463cc6-6856-11e6-82a2-403dae67099c.png)

And here's the swagger UI that it produces (note that it's not optional):

![enunciate-471-swagger-not-null](https://cloud.git

[2016-08-22 17:00] stoicflame commented on #479
Are you talking about the _documentation example_?

![enunciate-479-screenshot](https://cloud.githubusercontent.com/assets/145838/17863647/a9076f24-6857-11e6-81a3-1dd283160443.png)

Enunciate only generates one documentation example. It's intended to give the user an _example_ of how to use the client-side code. I know of no client-side code that is generated for the endpoint; only documentation.

[2016-08-22 17:03] Sheshagiri commented on #479
Yes about the documentation example.

Is there a way to generate the documentation example for all the endpoints ?
On Mon, 22 Aug 2016 at 10:31 PM Ryan Heaton <notifications@github.com>
wrote:

[2016-08-22 17:33] stoicflame commented on #479
No.

Again, it's just documentation; it's not "real" code.

At #257, there's a request to generate the client-side artifacts for the service interfaces, so you're welcome to track that. But it's quite a bit of work so until someone is willing to sponsor that project, it probably won't get much traction.

[2016-08-22 17:33] #479 closed

[2016-08-22 17:39] amberream opened #480 "File Upload with Swagger"
I submitted a similar issue a few months ago (#383) that is fixed in 2.4.  But the solution doesn't fix all cases where a file input is expected.  Here is my method signature:

[code]

In the swagger docs I'd expect to see a file input for the "file" parameter.  But instead I just get a text area.

[2016-08-22 19:34] stoicflame commented on #480
It's because of that `text/plain` media type. The algorithm returns a text box because the text-based media types (including XML, JSON) are the most common case. Can you suggest a better algorithm that doesn't subvert the common case?

[2016-08-22 19:43] amberream commented on #480
I haven't looked through the enunciate code, but I would think the parameter type (InputStream) would be the most relevant thing to look at.  Can you read the method signatures or just the annotations?

[2016-08-22 19:53] stoicflame commented on #480
Method signatures are available, but just because the parameter is an `InputStream` doesn't mean it's not text-based. You can take an `InputStream` even for XML or JSON. It happens a lot in cases where you'd like to use stream-based parsing instead of putting everything into a DOM or and object model.

[2016-08-22 20:10] stoicflame commented on #419
Haven't heard back. I'm happy to re-open if more details can be provided.

[2016-08-22 20:10] #419 closed

[2016-08-22 20:11] stoicflame commented on #465
Haven't heard back. I'm going to assume we're good. I'd be happy to re-open if needed.

[2016-08-22 20:11] #465 closed

[2016-08-22 20:11] #470 closed

[2016-08-22 21:33] stoicflame commented on #480
I figured out a way to set a "preferred" media type using the quality-of-source parameter at b52fdbc. If you use the `qs` to prioritize PDF (or whatever) above `text/plain`, then the file-based input will be used instead of the text, e.g.:

[code]

[2016-08-22 23:42] stoicflame commented on #190
At 8c1eff7, docs now include example request/response. No annotations needed.

[2016-08-22 23:42] #190 closed

[2016-08-23 12:26] egemenvardar commented on #471
Okay I see where the difference is. My getters and setters are generated by Lombok, e.g.

[code]

My Lombok version 1.16.10. Note that if I don't use Lombok and write the getters and setters myself just like in your example it also works for me.

I always used Lombok for boilerplate code, and optional / mandatory fields used to work in Enunciate 2.3.0. Does that narrow down the problem?

[2016-08-23 14:39] VaclavPokorny opened #481 "Support for https://immutables.github.io/"
I'd like to request a few modifications for better integration of Immutables library https://immutables.github.io/. It's use case is similiar to project Lombok (discussed in issue #182), but done in more standards compliant manner. You write an interface or abstract class with only getters and the library will generate an implementation. There are two issues In conjunction with enunciate:

1) Enun

[2016-08-23 16:46] stoicflame commented on #481
That seems like a reasonable request. I'll designate this as an enhancement request and keep it open to track the work.

Implementation note: I've spent some time investigating the immutables project, and I still can't tell whether it merits its own module or whether the Jackson module can be enhanced to support it.

[2016-08-23 18:36] stoicflame commented on #422
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:36] stoicflame commented on #424
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:38] stoicflame commented on #427
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:38] stoicflame commented on #182
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:39] stoicflame commented on #420
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:39] stoicflame commented on #428
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:39] stoicflame commented on #430
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:39] stoicflame commented on #401
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:39] stoicflame commented on #433
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:40] stoicflame commented on #436
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:40] stoicflame commented on #475
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:41] stoicflame commented on #218
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:41] stoicflame commented on #476
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:41] stoicflame commented on #437
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:42] stoicflame commented on #448
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:42] stoicflame commented on #444
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:42] stoicflame commented on #443
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:42] stoicflame commented on #442
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:43] stoicflame commented on #446
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:43] stoicflame commented on #438
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:43] stoicflame commented on #449
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:43] stoicflame commented on #454
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:43] stoicflame commented on #452
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:44] stoicflame commented on #455
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:44] stoicflame commented on #451
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:44] stoicflame commented on #456
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:44] stoicflame commented on #460
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:44] stoicflame commented on #458
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:44] stoicflame commented on #461
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:45] stoicflame commented on #462
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:45] stoicflame commented on #464
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:46] stoicflame commented on #478
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:46] stoicflame commented on #472
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:47] stoicflame commented on #470
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:47] stoicflame commented on #480
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:47] stoicflame commented on #190
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

[2016-08-23 18:49] stoicflame commented on #471
[Enunciate 2.6 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.6.0)

I set up a sample project as [described here](https://github.com/stoicflame/enunciate/wiki/Lombok), annotated the fields with `@NotNull` and verified that it works. There were a few adjustments to 2.6.0 that may fix the issue for you, so try it out. If it doesn't work, I'm probably going to need more d

[2016-08-23 22:24] cbridi opened #482 "Using enunciate without packaging jackson-databind into my application"
We're using enunciate to generate swagger documentation of our REST APIs, which are written using just the standard JAX-RS annotations. One of our methods is annotated with @GET (say, getUser) and returns a JavaBean (say, User) without any annotation (just properties, getters and setters). We have noticed that if our project misses the jackson-databind dependency, then the swagger documentation fa

[2016-08-23 22:58] stoicflame commented on #482
By default, the Jackson module only activates when the `jackson-databind` library is on the classpath. You can force-enable the Jackson module using Enunciate configuration:

[code]

The `string` data type is Enunciate's best guess as to what Swagger wants when there's no object model and a text-based media type is used.

I'm curious: if you're using an object model to read/write JSON, how do you

[2016-08-23 22:58] #482 closed

[2016-08-24 06:46] miguelchico commented on #401
Great!
Thank you very much!. I'll try it!

[2016-08-24 11:39] vguna commented on #456
Hi.

I just re-tested this with 2.6.0 with the same result.

![screen shot 2016-08-24 at 13 32 33](https://cloud.githubusercontent.com/assets/3257311/17929300/d9e70880-69ff-11e6-8700-2189d867babf.png)

Looking at the concrete endpoint documentation, it renders fine. All descriptions are there.
Here's a snippet from my `enunciate.xml` in case it helps to track it down:

[code]

Anything else I coul

[2016-08-24 11:51] VaclavPokorny commented on #481
Thanks.

Well the immutables really just work with enunciate but these two enhancements could make it work nicer. However, I don't think they are really specific to immutables.

The other way around would be to scan the generated code (already solved in issue concerning Lombok) but I think this is a better approach as I have direct controll over the source and I can easily put enunciate-specific a

[2016-08-24 11:52] vguna opened #483 "Duplicate description on endpoint"
Hi.

I'm using 2.6.0 to generate documentation from my JAX-RS endpoint interfaces.
For some endpoints, it seems that it renders the description twice, like shown here:

![screen shot 2016-08-24 at 13 44 58](https://cloud.githubusercontent.com/assets/3257311/17929546/70ca472a-6a01-11e6-9f94-d671b5060cd2.png)

This is the interface definition:

[code]

This interface also contains other methods that

[2016-08-24 12:03] egemenvardar commented on #471
The issue is indeed fixed with 2.6.0. Thank you!

[2016-08-24 12:08] vguna commented on #190
The new request/response JSON display of 2.6.0 is really nice. But it would be great if these examples could be overridden by a handmade version of the json, if the generated one is maybe not suitable. So I like the idea of `@SampleRequest/Response`. But I'm not sure how the json could be easily provided to the annotations. Especially when they're more complex.

[2016-08-24 12:13] vguna opened #484 "swagger module support for bean validation annotations"
Hi.

I'm currently testing the new Java Bean Validation annotation support in 2.6.0. I really like it! A huge step forward in providing precise information to the clients.

But I encountered, that this information is missing from the swagger models :). I guess swagger supports displaying such information in general?

[2016-08-24 12:21] vguna opened #485 "Support for enums as method parameters?"
Hi.

I'm using 2.6.0 to generate the documentation for my JAX-RS server interfaces.
I've got one endpoint where an enum is used in the method signature like this:

[code]

This works so far, but the request documentation for it looks like this:

[code]

I know, this is probably an edge-case - using enums in the method like this. Is it worth to add support for it :)?

[2016-08-24 13:05] vguna commented on #242
javax.validation.constraints should now be available with 2.6.0.

[2016-08-24 13:08] juergenzimmermann opened #486 "Support for new Spring Annotations"
Since Spring 4.3.0-RC1 (April 2016) there are a few simplifying annotations in addition to e.g. `@RequestMapping(method = GET)`. Can you also support these annotations?

- `@GetMapping` matches `@RequestMapping(method = GET)`
- `@PostMapping` matches `@RequestMapping(method = POST)`
- `@PutMapping` matches `@RequestMapping(method = PUT)`
- `@PatchMapping` matches `@RequestMapping(method = PATCH)`

[2016-08-24 16:53] stoicflame commented on #190
`@SampleRequest` and `@SampleResponse` never carried the ability to specify the example body; it was just a marker for _whether_ to include a sample request/response. The `@DocumentationExample` annotation was intended to customize the request/response body. If there are deficiencies there, I'll need a separate issue detailing those deficiencies.

Unfortunately, it's quite not as simple as "overri

[2016-08-24 17:34] #242 closed

[2016-08-24 17:35] stoicflame commented on #486
Okay.

[2016-08-24 17:59] vguna commented on #190
Hm I see. Haven't thought of the other media types.  I think about it in more detail and maybe come back in a separate issue as suggested.  Thanks!

[2016-08-24 18:06] stoicflame commented on #485
Is the issue that you don't like seeing the template parameters (e.g. `{orderId}`) in the path? You'd like them replaced with one of the possible values?

Maybe.

What if the type were a string or integer? What value do I put in there?

I'm also not totally convinced that it's the right thing to do because it "hides" the path parameter. If I'm reading these as documentation, I kind of _like_ seein

[2016-08-24 18:10] stoicflame commented on #484
I can see that swagger supports the following constraints:

* maximum
* exclusiveMaximum
* minimum
* exclusiveMinimum
* maxLength
* minLength
* pattern
* maxItems
* minItems

Are there any others?

[2016-08-24 18:11] #483 closed

[2016-08-24 18:12] stoicflame commented on #456
Yep. Missed a loop condition. Fixed at 63013c9.

[2016-08-24 18:30] vincent-zurczak commented on #472
Great, thanks! :+1:

[2016-08-24 18:38] vincent-zurczak commented on #314
Hi! I have experimented the use of Jackson mix-ins for this use case.
And it works well, that's cool.

I however found a strong limitation to mix-ins. This limit does not only apply to Enunciate, but also to Jackson itself. Mixins are good only when one wants to remove or rename JSon properties. But they cannot be used to add new properties. Said differently, they do not exactly replace custom obj

[2016-08-24 18:55] vguna commented on #484
I think that's it...

[2016-08-24 18:58] vguna commented on #485
Ah, no :). I meant the example with the three dots. I would expect that there should be something displayed like:

[code]

Instead of the three dots. At least that's what jackson creates.

[2016-08-24 21:37] stoicflame commented on #485
I see. Well, I can take a closer look for 2.7.

[2016-08-25 04:52] jayenashar commented on #437
this isn't working for me:

[code]

it just shows `int`:

![snapshot21](https://cloud.githubusercontent.com/assets/1137152/17957255/7c49c012-6ad3-11e6-9280-b3ccc309c39e.png)

[2016-08-25 04:55] jayenashar commented on #436
it looks a little better, as `[ [ ], [ ] ]`, but i really would like to be able to put an example in there.

[2016-08-25 05:10] jayenashar commented on #436
with regards to the swagger, what i originally wanted on query params, i can't find anything in the swagger docs or the petstore example, but there is an example for POST body JSON property "name" with the value "doggie".

[2016-08-25 05:12] jayenashar commented on #420
works for me, thanks!

[2016-08-25 14:15] schteff opened #487 "Data types with arrays or lists are JSON-interpreted as "array of array of ...""
Using Enunciate 2.6 my data types which wrap lists of other data types are interpreted as an array with small (paired) sub arrays of the other data type in the JSON examples.

Example:
[code]

Resulting JSON example from enunciate:
[code]
See the extra inner arrays with pairs of Countys. [[{...},{...}][{...},{...}]]

The "data type" property in the enunciate docs for Counties is also generated as

[2016-08-25 15:43] stoicflame commented on #436
Can you point out that example for me?

[2016-08-25 15:44] stoicflame commented on #487
Thanks for the report.

[2016-08-26 01:02] jayenashar commented on #436
sorry, should've included links:  http://petstore.swagger.io/#!/pet/addPet - if you click on the example value on the right, it fills in the body.  then in http://petstore.swagger.io/v2/swagger.json you can search for "doggie" though i can only find the one field having an example.  not sure what the swagger UI does to create the rest of that example body.

[2016-08-26 10:18] thomasletsch commented on #472
Thanks for the MixIn support. We wanted to use it to tell enunciate that a MongoDB ObjectId (https://github.com/mongodb/mongo-java-driver/blob/master/bson/src/main/org/bson/types/ObjectId.java) with the following MixIn:
public abstract class ObjectIdMixIn {

    @JsonCreator
    public ObjectIdMixIn(String hexString) {
    }

    @JsonValue
    public abstract String toHexString();

}

enunciate.x

[2016-08-26 10:23] schteff opened #488 "Wrong encoding for generated .xsd-file (should be UTF-8)"
Hi!

The .xds-file in my /docs seems to be generated in ISO-8859-1 even though it says `<?xml version="1.0" encoding="UTF-8"?>` in the header.

This makes my IDE (eclipse) flag the documentation CDATA text with `Invalid byte 2 of 3-byte UTF-8 sequence.` errors where åäö-characters should be (i'm Swedish).

Hope it's a simple fix, maybe a filewriter with a missing encoding parameter or something :)

[2016-08-26 13:55] stoicflame opened #489 "leverage swagger's "example" capabilities"
Apparently, Swagger has some support for providing [example values in schema objects](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#model-with-example) and you can [see it used on the "doggie" example in the petstore API](http://petstore.swagger.io/v2/swagger.json).

It might be worth trying on query/path/header parameters, too?

[2016-08-26 13:59] stoicflame commented on #436
Okay, I can track that at #489.

Of course, that's only for schema (e.g. "model") objects. Do you see any swagger capabilities for example values for query parameters, like you were originally asking for when you opened this issue?

[2016-08-26 14:02] stoicflame opened #490 "support for `@JsonValue`, `@JsonCreator` on mix-ins"
Thanks for the MixIn support. We wanted to use it to tell enunciate that a MongoDB ObjectId (https://github.com/mongodb/mongo-java-driver/blob/master/bson/src/main/org/bson/types/ObjectId.java) with the following MixIn:

[code]

enunciate.xml:

[code]

It does unfortunately not recognize the infos in the MixIn. Do I miss something?

[2016-08-26 14:03] stoicflame commented on #472
Looks like I didn't add include for `@JsonCreator` and `@JsonValue` in the mix-in functionality. Tracking at #490.

[2016-08-27 00:00] jayenashar commented on #436
no, i can't find a swagger equivalent.  i'm not particularly attached to swagger.  if enunciate-html lets me put examples for query parameters, i'll be happy.

[2016-08-29 14:20] sfussenegger commented on #150
I had this issue with 2.6 using a `package-info.java` in an otherwise empty parent package of the API and model classes: I had included `org.example.api` and `org.example.model` with description in `org.example`.

adding an include to `api-classes` did not solve the problem. moving the `package-info.java` to `org.example.api` did.

[2016-08-29 16:21] mscookies opened #491 "Wrong "array of array of type" documentation for List<type> definition in DTO"
Hello,
I'm using enunciate 2.6.0 to generate REST documentation from DTO and jax-rs interface definitions.
When I took a look at the generated docs, I realized that a
[code]
was documented as "array of array of type" and in the example it showed up like
[code]
Can you point out what I am doing wrong?

Regards
Michael

[2016-08-29 16:30] stoicflame commented on #491
Duplicate of #487.

[2016-08-29 16:30] #491 closed

[2016-08-30 06:52] mohamnag commented on #464
@stoicflame great, I just tested it out and it works. Now I have the final types instead of serialized Optional objects.

There is still a thing that could be considered as an improvement in this matter that I just discovered. It would make sense to somehow mark the optional fields. Maybe using a `*` or similar. I have no idea how easy that can be, but it would improve the readability. This can st

[2016-08-30 16:08] stoicflame commented on #464
The problem with marking fields as "optional" is that _everything_ would carry that mark because, by default, all JSON/XML fields are optional. Using the `java.util.Optional` is only for programming convenience and doesn't really make any statements about the API.

[2016-09-01 04:48] seanf commented on #117
This problem ("error: duplicate class") happens 100% of the time if you use the `maven-resources-plugin` to package `.java` files inside jars for the GWT compiler, because `target/classes` ends up containing both `my/package/Foo.java` and `my/package/Foo.class`.

The correct way is to use a separate `sources` jar like this: http://stackoverflow.com/a/8731652/14379

[2016-09-01 16:00] dariokures opened #492 "Swagger UI is not rendered correctly for endpoints with @Consumes(MediaType.APPLICATION_FORM_URLENCODED)"
Hi,

I'm testing migration from Enunciate 2.3 to 2.6 for my jax-rs api.
It seems that Swagger UI is not generated correctly if REST resource consumes "application/x-www-form-urlencoded" request.
For example:
[code]
Generated UI:
![swagger](https://cloud.githubusercontent.com/assets/15244496/18173890/b947167a-706b-11e6-953a-e0ae591ea866.png)

Note that there is "Browse" button for "bigdecimal" and

[2016-09-02 12:06] mohamnag commented on #464
In JSON everything is optional, but this tool is generating documentation of a specific API where not everything is optional. Actually one of the base reasons of having `java.util.Optional` is to define on an API what is optional (may be null) and what not.

[2016-09-02 12:07] mohamnag commented on #464
however this depends on the style of code that is being used. older code may not really benefit from optional and have simply null checks all over. so arguably not everybody uses (or can use) `java.util.Optional` as it is intended.

[2016-09-02 12:23] sbrattla opened #493 "@XmlTransient, configuration and generated documentation"
I'm working on a REST API. One of the entities which the REST API accepts is the below `SerialCar`. The idea here is that `Car` comes from a project which I can not modify and I thus need to implement the corresponding shallow / unimplemented `SerialCar`  entity for the purpose of generating the REST API documentation.

Why do I do this? I need to add annotations to the entity classes (hide some e

[2016-09-03 11:10] bakku commented on #431
I came across this problem as well.

When using `@JsonIgnore` on the field it does not work but when I used the annotation on the getter method of the field then enunciate ignored it.

[2016-09-06 07:40] fcav1973 opened #494 "Error managing @XmlElementRefs"
Hi,
I have an annotated JAXB class for which I need to generate documentation (I'm using 2.6.0 version).  Generation blocks with the arror above (it works using 1.28-RC2 version). After some test, it seems that the probem is in the response class of a method. Commenting _@XmlElementRefs_, generation goes on (blocking, anyway, on another point).

The offending class seems to be:

[code]

[code]

[2016-09-07 17:07] amberream opened #495 "Missing Data Types"
A few of my data types are not getting documented in the JSON or XML sections.  Here's the code for one of the missing types:

[code]

This class is referenced from the API in this method:

[code]

The others that are missing MAY be related to them being subclasses (this is the only thing I can think of that might be different from the others that ARE showing up).

[code]

Here is the super class

[2016-09-07 20:15] amberream commented on #495
I figured out how to include all my models: https://github.com/stoicflame/enunciate/wiki/Excluding-Including-Classes.

I am still not sure how to include the description of the DataType or the fields within it.

[2016-09-09 19:44] Rhobal opened #496 "java.util.Map not converted properly"
I try to use Enunciate to generate swagger.json. Apart from the nested array bug, I noticed that it doesn't parse Maps properly.
I have the following test code:

[code]

The generated swagger.json for ContainsMap is missing an "additionalProperties" field that should point to Compound
[code]

For the getMap() service, the map is not represented at all; instead type "file" is displayed:

[code]

[2016-09-12 16:48] stoicflame commented on #492
Okay, thanks for the report.

[2016-09-12 16:51] stoicflame commented on #493
Thanks for the report. I'm not sure why `Car` appears in the data types. I'll take a closer look for 2.7.

[2016-09-12 16:52] stoicflame commented on #494
Thanks for the report.

[2016-09-12 16:54] stoicflame commented on #495
The code above doesn't have any description, so I wouldn't expect any to show up. Are you saying the real code has a description, but it's not showing up?

[2016-09-12 16:54] stoicflame commented on #496
Thanks for the report.

[2016-09-12 18:32] amberream commented on #495
Yes, I cut out all the javadocs in my sample above, but here's a sample with docs... I don't see a description for any of my Models at Home/JSON or for any of the fields at Home/JSON/PageModel.

[code]

[2016-09-12 19:22] stoicflame commented on #495
Does this help?

https://github.com/stoicflame/enunciate/wiki/Discovering-Source-Files

[2016-09-12 20:01] amberream commented on #495
I solved the original problem of missing "Models" showing up under the JSON DataTypes with the sample shown on this page https://github.com/stoicflame/enunciate/wiki/Excluding-Including-Classes which seems to give the same example of using the "api-classes" element that the "Divcovering-Source-Files" link you shared above.

The only problem I'm stuck with now is the missing descriptions.

[2016-09-12 20:05] stoicflame commented on #495
Okay.

Well, if you've accounted for everything in that guide, I can't explain why you're not getting descriptions. In order for me to look deeper, I'm going to need some way to reproduce the issue (it works for me). Can you put together a sample project that exposes the problem?

[2016-09-13 09:59] Delwing opened #497 "@RequestBody data type"
Hey,

I am using Enunciate 2.6.0.
I've got problem with parameter using Spring Annotation `@RequestBody` and method is annotated with `@RequestMapping(value = "convert", method = RequestMethod.POST, consumes = "application/json", produces = "application/json")`
Documentation doesn't read its proper type. It says (custom type), even when I use `@TypeHint` annotation (which I would also like not to

[2016-09-13 17:05] stoicflame commented on #497
What does the method signature look like?

[2016-09-14 08:26] Delwing commented on #497
`@RequestMapping(value = "convert", method = RequestMethod.POST, consumes = "application/json", produces = "application/json")`
`public String convert(@PathVariable("listingId") int listingId, @RequestBody ListingInfo listingInfo)`

[2016-09-14 15:30] stoicflame commented on #497
I'm afraid I can't seem to reproduce the issue.

When I apply [this patch](https://github.com/stoicflame/enunciate/files/472525/enunciate-497.diff.txt) attempting to mirror when you're doing, I see the request body show up appropriately documented.

![enunciate-497](https://cloud.githubusercontent.com/assets/145838/18518582/cc1e0758-7a5d-11e6-9515-71a02d1ed607.png)

[2016-09-15 16:51] trevoreckersley opened #498 "Default Pretty XML Issues"
When configuring namespace mappings using the Enunciate XML file, I've experienced some unexpected issues which stem from the way the default namespace mapping is handled. Suppose we have the following partial XML config file:
[code]
No default namespace is specified; however, the `NamespacePropertiesArtifact` class will create a default namespace based on which schema has the most types (in this

[2016-09-15 19:43] stoicflame commented on #498
Yes, namespace handling is messy and quite counter-intuitive with JAXB. It should be much, much easier, but it's not.

FWIW, I've found that the reason JAXB makes up a namespace prefix (e.g. "ns5") for types that should be in the default namespace is that you've got _some_ element or class or type in your JAXB context that's defined in the empty namespace. If _anything_ is defined in the empty nam

[2016-09-15 19:43] #498 closed

[2016-09-16 08:47] SpOOnman commented on #182
How about gradle? I'm not able to create it with gradle plugin. Even with uncommented sourcepath metod I still get empty classes with no properties.

    import io.franzbecker.gradle.lombok.task.DelombokTask
    task delombok(type: DelombokTask) {
        args("src/main/java", "-d", "build/delombok/src/main/java")
    }

    tasks.enunciate {
      File enunciateDistDir = file("dist/docs/api")

[2016-09-16 08:50] SpOOnman commented on #182
I don't know Enunciate internals, but maybe it is worth to create lombok module to first-class support instead of using delombok step? Would it be doable @stoicflame ?

[2016-09-16 13:30] stoicflame commented on #182
We may need to enhance the [gradle plugin](https://github.com/stoicflame/enunciate-gradle/) to support setting the source files.

Sure, a lombok module is totally doable.

[2016-09-16 14:20] trevoreckersley commented on #498
Thanks @stoicflame, that would explain the behavior. Are you open to the idea of changing to the `NamespacePropertiesArtifact` so that it does not assign an explicitly set namespace as a default? I believe that behavior would more sense than having the non-explicitly set default override an explicitly set value. I'd be willing to make the change and write up a pull request if you would be okay wit

[2016-09-16 14:27] stoicflame commented on #498
What if somebody wanted to set a namespace as the default namespace? How would they do that?

[2016-09-16 14:37] trevoreckersley commented on #498
Currently, that works using `<namespaces default="http://example.com/chosen/namespace/">...`. The change I am proposing is that if there is no default set (just `<namespaces>`) then the auto-select default feature will not use an explicitly set entry as the default namespace. In other words, this:
[code]
Would *not* set `http://gedcomx.org/v1/` as the default namespace. If someone wanted to set it

[2016-09-16 14:47] stoicflame commented on #498
I see. Okay, I'm fine with that.

[2016-09-16 14:48] trevoreckersley commented on #498
Great! I'll get to work on writing up the modification.

[2016-09-16 18:27] justincy opened #500 "Possible bug in PHP XML deserialization"
This originates from [gedcomx-php](https://github.com/FamilySearch/gedcomx-php/pull/61). I just realized the code fixed in the PR was generated by enunciate.

[2016-09-16 20:19] stoicflame commented on #500
Thanks for the report.

[2016-09-19 20:19] nomisvai opened #502 "includeExampleXml and includeExampleJson replacement?"
I am migrating from enunciate 1.26 to 2.6 and cannot find the options to remove the examples from the generated documentation, is there another way to achieve that with 2.6? If not, could it be added back?

[2016-09-19 20:38] stoicflame commented on #502
No, that feature didn't make it into version 2. I'll look into adding it back for 2.7.

[2016-09-20 00:33] nomisvai opened #503 "Improve resources summary"
I think there are 2 improvements that might be interesting for our use case at least:

1) we have many very long resource names(depth+name) and when the summary is displayed this pushes the description column out of the screen, I think a simple css tweak to enable word wrap or truncate the resource name in the summary might make the summary more readable. Or maybe a wiki page suggesting how we mig

[2016-09-20 22:22] SpOOnman opened #504 "Current master does not build"
With master on 7d03d79 Ryan Heaton on 19.09.16 at 19:03 initial support for context-modifying modules project does not build on maven. Build was fine two commits ago at 63013c9 Ryan Heaton on 24.08.16 at 19:56 fix a missed loop condition breaking #456.

[code]

[2016-09-20 22:29] #504 closed

[2016-09-21 07:38] SpOOnman commented on #504
I confirm that master builds on 087812a Ryan Heaton on 21.09.16 at 00:29 fixes #504: NPE in NamespacePropertiesArtifact. Thank you for quick support!

[2016-09-21 09:45] MarsLuHai opened #505 "Failed to execute goal com.webcohesion.enunciate:enunciate-maven-plugin:2.6.0:assemble (default) on project"
Hi , I'm obtaining an error while building my project, any ideas on what might cause this?

If i do a  $> mvn compile, then mvn package, i don't have this error, and the documentations is generated in my .war

[code]

[2016-09-21 15:10] stoicflame commented on #505
Looks like a compile failure. There should be some messages previous to this stack trace that detail the compile errors. Can you confirm?

[2016-09-22 14:37] MarsLuHai commented on #505
Yes, I will send them as soon as possible

[2016-09-22 19:04] cshupp1 opened #506 "Generated Ruby code only handles arrays for complex types in init_jaxb_json_hash"
This bug is related to:
https://github.com/stoicflame/enunciate/issues/334

In that bug, the generated Ruby code was not paying attention to the class hierarchy, in this bug the generated Ruby code only handles Arrays, consider:

[code]

We notice that if the underlying instance variable being assigned (in this case, @mappingSetVersions) is of type Array we are fine!  What if it is a Hash or a sca

[2016-09-22 21:18] stoicflame commented on #506
Thanks for the report. I'll merge the patch when it comes.

[2016-09-23 20:33] #473 closed

[2016-09-26 05:26] MarsLuHai commented on #505
Hi,
[DEBUG] [ENUNCIATE] Compiler sourcepath: [
  /home/dev/.m2/repository/com/company/lib-r1/0.0.8-SNAPSHOT/lib-r1-0.0.8-SNAPSHOT-sources.jar
  /home/dev/.m2/repository/com/company/lib-basics/0.0.8-SNAPSHOT/lib-basics-0.0.8-SNAPSHOT-sources.jar
]
[DEBUG] [ENUNCIATE] Compiler args: [-source, 1.8, -target, 1.8, -encoding, UTF-8]
[DEBUG] [ENUNCIATE] Compiler sources: [
  file:/home/dev/NetBeansProjec

[2016-09-26 09:03] jskovjyskebankdk opened #507 "@TypeHint does not affect swagger.json"
I just tried using enunciate -> swagger.json -> swagger-codegen to generate JAX-RS2 client code for a project.

Unfortunately, the @TypeHint annotation information does not get encoded into the swagger.json file.

The methods all return Response and use @TypeHint to convey type information to the documentation. This works fine.

An example function could look like this:

[code]

The resulting swag

[2016-09-26 16:29] nitinsamanta commented on #153
Hi..
I am leveraging the ResourceGroup annotation, and custom grouping my REST APIs using groupBy attribute of JAXRS module. One small problem that I am facing is, the APIs which I have not annotated with a custom group are also getting documented in a new category called "Others". Is there any way that i can avoid creation of this group. In short, I dont want those APIs to be documented  which I

[2016-09-26 17:29] stoicflame commented on #505
Huh.

So I'm still not seeing any compiler error messages. There should be some kind of output that says something like:

"/home/dev/NetBeansProjects/project/project/target/enunciate/java-json-client/src/com/company/project/b1/e1/b1/w1/cl4.java" failed to compile

Or something like that. Are there no messages from the Java compiler?

[2016-09-26 17:30] stoicflame commented on #507
Thanks for the report.

[2016-09-26 17:48] stoicflame commented on #153
Well, [you can include/exclude via configuration using classname](https://github.com/stoicflame/enunciate/wiki/Excluding-Including-Classes#configuration), but there's no way to include/exclude based on that annotation. It's easy to add, though. So if you're interested, you're welcome to open up a separate issue to track that request as an enhancement.

But you also don't have to annotate the "unwa

[2016-09-26 17:54] stoicflame commented on #506
Fixed with merged patch.

[2016-09-26 17:54] #506 closed

[2016-09-26 18:01] nitinsamanta commented on #153
That helps...thanks :)

[2016-09-28 17:16] nomisvai opened #509 "Invalid swagger produced when endpoints return different content"
OpenApi issue:

https://github.com/OAI/OpenAPI-Specification/issues/146

Enunciate generates an invalid swagger.json file when the following pattern occurs (same path, different "Produces" annotation):

[code]

I'm not sure if anything can/should be done enunciate side (maybe favor application/json and drop the others until the openapi spec supports it)...

Extending the Ignore annotation so that

[2016-09-29 20:59] sbrattla commented on #493
Thanks!

[2016-09-30 11:00] gvdwink opened #510 "Error invoking Enunciate. java.lang.IllegalArgumentException: createBase64Binary(byte[]): parameter type must be a declared type. OnError while emitting onNext value: com.webcohesion.enunciate.EnunciateContext.class"
Trying to use Enunciate (2.6.0) (using Maven) with our API's. I got the following failure:

from the code:

[code]

and Build fails with:

[code]

[2016-09-30 14:55] stoicflame commented on #510
Okay, thanks for the report.

[2016-09-30 17:44] stoicflame opened #511 "support for include/exclude in client modules"
So you don't have to use facets, such as the case where the data types are in a separate module.

[2016-09-30 17:52] stoicflame commented on #511
make sure you update the fs memories project when this feature is complete

[2016-10-03 21:20] bemisguided commented on #400
I too agree this would be very useful. Even if to start it really just extrapolated the full generic details and then the fancy multi-page documentation structure came later.

I would be willing to have a go at implementing. @stoicflame perhaps you have some ideas of where to start or have thought about how this would be implemented?

[2016-10-05 14:02] kerber opened #513 "Unable to find mirror for org.springframework.web.context.request.async.DeferredResult"
When attempting to run the 'docs' goal with 2.6.0, I get the following stack trace.

[code]

I can see that the issue is `env.getElementUtils().getTypeElement(clazz.getCanonicalName());`, but I'm unsure how to work around the issue.

[2016-10-05 17:50] stoicflame commented on #513
Strange.

What version of Spring are you using?

[2016-10-05 18:00] stoicflame commented on #400
Yeah, so I think the implementation would look something like:

* For each of [jaxb, jackson, jackson1] modules:
  * Edit the `TypeDefinition` to accept a `TypeVariableContext` in its constructor so it can resolve the generic type variables and use the `TypeVariableContext` in all of its methods to resolve the type variables.
  * Likewise for the `Accessor` class.
* For each `ApiRegistryProviderMo

[2016-10-05 18:11] kerber commented on #513
My thoughts, as well. I'm running against a multi-module project with the Enunciate goal added to one of the sub modules. I've tried building just the module, as well as the entire project to no avail.

The project is using Sping 3.1.1.RELEASE.

[2016-10-05 22:42] stoicflame commented on #513
It looks like `org.springframework.web.context.request.async.DeferredResult` was added in 3.2, so that explains it. I'll fix this in the Enunciate code.

Unforutnately, the only workaround that I can see is to update to 3.2+.

[2016-10-06 03:25] kerber commented on #513
Thank you for being so responsive, stoicflame. I'll hold off and happily await the release with the fix.

[2016-10-06 14:21] vgcookies commented on #440
Hm, tried to reproduce without luck with 2.6.0. So thanks :)!

But what about the "Unexpected error." with status code "default"? What is this good for :)? It seems to be generated for every endpoint...

[2016-10-06 16:30] vguna opened #515 "Unexpected HTTP status code in swagger output"
Hi.

I'm using enunciate 2.6.0 for generating swagger documentation from my JAX-RS service interfaces. I encountered a strange behavior with one of my endpoints:

[code]

This renders to the attached swagger output which contains a 201 error code, not defined by the resource at all :).

![screen shot 2016-10-06 at 16 35 23](https://cloud.githubusercontent.com/assets/3257311/19161054/a5a9f284-8bf2-

[2016-10-06 22:06] stoicflame commented on #515
I think it should be a 204 instead of a 201, yes?

I'll fix it in 2.7.

[2016-10-06 22:22] vguna commented on #515
Normally yes.  I'm a bit unsure whether enunciate should give a default at all :). Does it for other HTTP methods like GET 200, POST 201 etc.? BTW: What is meant with "Unexpected error." :)? It is also printed when custom error codes are defined.

[2016-10-06 23:00] stoicflame commented on #515
Well, the API _has_ to return _some_ status code, whether you implicitly document it or not...

Yes, it does.

Just the default catch-all. I'll try to remove it and see what happens.

[2016-10-06 23:07] stoicflame commented on #182
At 43a3ca0, @SpOOnman contributed a new module with native Lombok support, so you don't have to apply the delombok step. This will be included in Enunciate 2.7.

See https://github.com/stoicflame/enunciate/wiki/Lombok.

[2016-10-07 07:35] vguna commented on #515
Ah. I see. Ok then, sounds fine!

[2016-10-10 03:33] santhosh-pindi opened #516 "Excluding a specific API from JAX-RS service documentation."
We are using the following version of enunciate plugin

[code]

We want to exclude a specific API from JAX-RS service and we were using the facets annotation but it's not working.

## Enunciate XML Content

[code]

## API is annotated with above facets as shown below.

[code]

Please you help with annotation which will exclude specific API from the documentation. Let me know if you need additional

[2016-10-10 11:29] georgebuzoianu opened #517 "Problem with XmlAdapter on generic types"
When trying to run the maven plugin I have the following error:

[code]

[code]

[2016-10-10 16:31] stoicflame commented on #516
Works for me.

What's the fully-qualified name of the `@Facet` annotation? Make sure you're using `com.webcohesion.enunciate.metadata.Facet` and not `org.codehaus.enunciate.Facet`.

[2016-10-11 08:01] selimok commented on #515
Unexpected error seems quite weird. I vote fore removing that line :)

[2016-10-11 21:01] selimok opened #519 "@RequestHeaders mapping into swagger json output"
I have a rest end point which expects a request header to authenticate the caller. To document this I used **@RequestHeaders** annotation as follows :

![Swagger UI Screenshot](http://i.imgur.com/HNPVZmd.png)

but the request header misplaced in Swagger JSON output (see attached screenshot) and the description is overridden by methods javadoc comments. I expected here that request header **X-XSRF-

[2016-10-12 07:03] rbrn commented on #517
George, can you please add the version that you're using?

[2016-10-12 23:01] bliny opened #520 "Metadata not found"
Hello,
I'm getting this error message, and it does not seem right. It's my first time trying enunciate, I did nothing extra, just wanted to try out. Maybe I'm doing something wrong, don't know. I just thought I share it with you maybe it will help to improve something. I don't know if the reason is that only one .css gets generated is this error or I set up something wrong.

[code]

My pom file:

[2016-10-13 16:34] stoicflame commented on #520
Thanks for the report. I'll fix the error.

Current workaround is to add `enunciate-core-annotations` to your dependency tree:

[code]

[2016-10-13 16:39] kingferiol opened #521 "Error while generating docs"
Hi all

Using this wonderful toll i'm facing this errors an i can't understand how to proceed

			<plugin>
				<groupId>com.webcohesion.enunciate</groupId>
				<artifactId>enunciate-maven-plugin</artifactId>
				<executions>
					<execution>
						<goals>
							<goal>docs</goal>
						</goals>
						<configuration>
							<sourcepath-includes>
								<include>
									<groupId>com.mycompany.res

[2016-10-13 16:45] stoicflame commented on #521
Yes, this is a duplicate of #520. See the suggested workaround in the comments.

[2016-10-13 16:45] #521 closed

[2016-10-14 15:52] kingferiol commented on #521
Thanks to the quick answer and of course solution.

Can I have another question (probably it is not the right place but let me try).

I'm interested in create a .war with enunciate + swagger-ui only and i'm failing at the moment.

I have already read to this https://github.com/stoicflame/enunciate-sample. Do you have additional suggestion.

[2016-10-14 17:07] stoicflame commented on #521
What does "failing" mean? Is there some kind of error?

[2016-10-17 10:53] qwasson opened #522 "Add generation of a PDF of the docs"
(This issue existed in the previous Jira issue tracker as [ENUNCIATE-555](http://markmail.org/search/?q=ENUNCIATE-555#query:ENUNCIATE-555+page:1+mid:yxxelg32enzfbgvy+state:results))

It would be useful to be able to generate a PDF with equivalent documentation to that in the HTML version.

[2016-10-17 13:39] kingferiol commented on #521
I had an empty WAR but I did a mistake.

To make a test I have changed the folder for result and this lead to have an empty WAR.

Now I have to solve the last 2 issue and i have done. I'm stacked with basic authentication and examples

[2016-10-17 15:11] stoicflame commented on #522
Thanks for the request.

[2016-10-18 23:29] mr678 opened #523 "Change the location for enunciate.xml via configFile is not working"
In my project setup, I tried to move the enunciate configuration file to /src/assembly/enunciate.xml. Without success...

    <plugin>
    	<groupId>com.webcohesion.enunciate</groupId>
	<artifactId>enunciate-maven-plugin</artifactId>
	<version>2.6.0</version>
	<executions>
		<execution>
			<goals>
				<goal>docs</goal>
			</goals>
			<configuration>
				<configFile>/src/assembly/enunciate.xml</con

[2016-10-18 23:57] stoicflame commented on #523
That seems like an absolute path. Do you mean "${basedir}/src/assembly/enunciate.xml"?

[2016-10-19 21:33] #505 closed

[2016-10-20 06:38] mirvnillith opened #524 "enunciate-maven-plugin 2.6.0 does not generate <wadl:param type="template">"
When generating WADL from a JAX-RS annotated interface, Enunciate 2.6.0 does not generate relevant template parameters:

@Path("v2/courses")
public interface CoursesApi {
	@GET
	@Produces({ MediaType.APPLICATION_JSON })
	@Path("{id}")
	public ExistingCourse findCourseById(
			@PathParam("id") String id) throws Exception;
}

generates

    <wadl:resource path="v2/courses/{id}">
      <wadl:method n

[2016-10-20 12:13] newfilending opened #525 "[ERROR] Failed to execute goal com.webcohesion.enunciate:enunciate-maven-plugin:2.6.0:docs (default) on project xxxxx: Error invoking En unciate. java.lang.NullPointerException: OnError while emitting onNext value: com.webcohesion.enunciate.EnunciateContext.class ->"
Running Enunciate for JAX-RS documentation I ran into the NullPointerError pasted below.

OnError while emitting onNext value: com.webcohesion.enunciate.EnunciateContext.class -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal com.webcohesion.enunciate:enunciate-maven-plugin:2.6.0:docs (def
n project jx-financialaid-ear: Error invoking Enunciate.
        at

[2016-10-20 15:07] sfenollosa opened #526 "default values in generated java client"
Hi,

@XmlElement(defaultValue="true") is ignored in generated java client. Then, instead of defaulting my boolean attribut to true, the generated object will have a false value.
Is there a way to define default values ?

Regards,

[2016-10-21 07:42] sfenollosa commented on #526
Here is an example.
My original class :

@XmlRootElement
public class DefaultValPb {
	private boolean active = true;

	@XmlElement(defaultValue="true")
	public boolean isActive() {
		return active;
	}

	public void setActive(boolean active) {
		this.active = active;
	}
}

And the class generated for the java xml client :

@javax.xml.bind.annotation.XmlRootElement (
  name = "defaultValPb",
  names

[2016-10-21 16:51] saas2813 opened #527 "using @returnWrapped ignores @return text"
When the API extract the returntype from the function declaration it includes the @return text as description.

When I include @returnWrapped there is no description included.

E.g.

[code]

[2016-10-23 16:44] mr678 commented on #523
Hi Ryan (stoicflame),

works exactly as you have described 👍

Thanks a million for your great support!

[2016-10-23 16:44] #523 closed

[2016-10-25 11:50] allenhadden opened #528 "File handle leaks"
I believe that I've found two places where Enunciate is not properly closing opened files.  In my project this causes some files to be opened (and not closed) 10 or more times.  The result for me is an intermittent "Too many files open" operating system error.

I used the "File Leak Detector" (http://file-leak-detector.kohsuke.org/) to help pin down where the problems are occurring.  It revealed t

[2016-10-25 15:06] masooh commented on #510
Is there a workaround for this bug?

I'm getting the same error for:
[code]

[2016-10-25 16:10] stoicflame commented on #528
Thanks for the report!

[2016-10-25 23:33] #486 closed

[2016-10-26 09:59] georgebuzoianu commented on #517
As I said in my first comment is enunciate-maven-plugin:2.6.0

[2016-10-26 16:03] stoicflame commented on #485
I spent some time looking into this. The problem is that I can't figure out what it interpreting that JSON object as an instance of `OrderDto.Status`. When I try to duplicate the same method signature and send the same JSON, I get an error from the JSON processor saying it has no way of translating `"{ "status" : "NEW" }"` into an instance of `OrderDto.Status`. But sending just `"NEW"` works.

I'm

[2016-10-26 18:22] #484 closed

[2016-10-26 18:23] stoicflame commented on #484
I added support for it in the generated swagger.json, but Swagger's UI didn't seem to do anything with it other than document the constraints on the properties, so I'm not sure how much value it provided.

[2016-10-26 20:15] stoicflame commented on #487
Fixed with #514 and #518.

[2016-10-26 20:15] #487 closed

[2016-10-27 01:10] stoicflame commented on #488
I'm afraid I can't reproduce this issue.

The current examples include some UTF-8 characters, e.g. [Name.java](https://github.com/stoicflame/enunciate/blob/master/examples/full-api-edge-cases/src/main/java/com/webcohesion/enunciate/examples/jaxwsrijersey/genealogy/data/Name.java). See the Japanese characters in the JavaDoc.

When generating the xsd, those characters are encoded correctly, and my f

[2016-10-27 01:10] #488 closed

[2016-10-27 01:42] #437 closed

[2016-10-27 01:42] #489 closed

[2016-10-27 01:42] #490 closed

[2016-10-27 01:42] #492 closed

[2016-10-27 06:40] vguna commented on #484
Sounds good to me. Thanks!

[2016-10-27 06:41] jskovjyskebankdk commented on #525
We see the same bug in one of our projects - which has worked with an older Enunciate version before.

It is a rather large project, so do not know what may be triggering the bug.
But if you need more input to track the cause, I'll be happy to try and dig deeper.

[2016-10-27 08:23] vguna opened #529 "@ResponseExample support"
Hi.

Currently I use the auto-generated JSON response examples based on the returned types.
In 95% of the cases this is sufficient. But sometimes it would be great, if one could override the auto-generated ones, and specify custom ones via javadoc. E.g.

[code]

WDYT?

[2016-10-27 09:15] vguna opened #530 "Required headers"
Hi.

Is there a way to mark headers as required? E.g. when an auth token is required.
Currently using:

`@RequestHeader Authorization The required authorization <code>Bearer</code> token.`

What about

`@RequiredRequestHeader`

:). Or

`@RequestHeader Authorization required The required authorization <code>Bearer</code> token.`

But that would break backwards compatibility and it is fuzzy to guess

[2016-10-27 09:31] vguna opened #531 "Excluding api-classes not working as expected"
Hi.

I'm trying to exclude a specific class from being added to the REST documentation. Since I only have the jar, I can't use `@Ignore` on it. That's what I have in my enunciate.xml:

[code]

`MetadataDto` still pops up in the documentation. I checked my REST resources if any of them references it, but they don't. I also doublechecked the spelling and package names. `mvn -X` doesn't say anything

[2016-10-27 09:53] vguna opened #532 "@BeanParam referenced classes aren't documented when exclude/include"
Hi.

I'm using `@BeanParam` in a resource method like so:

[code]

QueryParams:
[code]

When I exclude all classes explicitly via `api-classes` and include `QueryParams` explicitly, I get the documentation for `QueryParams` but not for the classes it references - which are in turn also `@BeanParam`s. I have to explicitly include these as well.

The same seems to be true for inherited properties. I

[2016-10-27 15:58] stoicflame commented on #529
It's a reasonable request.

[2016-10-27 16:00] stoicflame commented on #531
What does the output of `mvn -X` say about that class?

[2016-10-27 16:09] stoicflame commented on #530
Seems like a reasonable request, but it's really just an enhancement request for [jax-doclets](http://fromage.github.io/jax-doclets/docs/0.10.0/html/), no? I'd suggest opening an issue or an enhancement request for them.

I could consider enhancing `@com.webcohesion.enunciate.metadata.rs.RequestHeader` to support a `required` method. Would that help?

[2016-10-27 16:42] stoicflame commented on #493
I'm afraid I can't reproduce this problem; interfaces are totally ignored as JAXB data types. I'd be happy to re-open this if you can provide me with an example project that exposes the issue.

I can also suggest an alternative approach: I think you can use [`@XmlJavaTypeAdapters`](http://docs.oracle.com/javaee/5/api/javax/xml/bind/annotation/adapters/XmlJavaTypeAdapters.html) on the package to be

[2016-10-27 16:42] #493 closed

[2016-10-27 17:40] stoicflame commented on #494
This one is pretty ugly. I've been unable to reproduce it, and as much as I stare at the code I still can't figure out how it gets in this state.

At 6f45e8d, I added a more informative error message that will help track down the issue. You can build a snapshot version of Enunciate and try it out, or you can wait until 2.7 ships and try it out. Please update this thread with the new error message

[2016-10-27 17:43] stoicflame commented on #495
Bump. Any updates on this?

[2016-10-27 18:47] stoicflame commented on #497
Bump. Any updates? Can you provide me a way to reproduce this issue?

[2016-10-27 18:54] stoicflame commented on #500
I'm not sure when it was fixed, but [I don't see the undefined static problem anymore](https://github.com/stoicflame/enunciate/blob/master/php-xml-client/src/main/resources/com/webcohesion/enunciate/modules/php_xml_client/client-complex-type.fmt#L358).

I'm happy to re-open this if I'm missing something.

[2016-10-27 18:54] #500 closed

[2016-10-27 19:19] #496 closed

[2016-10-27 19:19] #502 closed

[2016-10-27 19:20] stoicflame commented on #502
Fixed at 6cffd5f, but you have to disable examples for each provider module as needed, e.g.:

[code]

[2016-10-27 20:35] stoicflame commented on #503
I started looking into this, but it got a bit too messy for general applicability. I'm going to decline changing the default CSS for fear of browser inconsistencies and backwards-compatibility.

However, you should be able to apply some custom CSS to do what you want:

https://github.com/stoicflame/enunciate/wiki/Custom-Skin

You can use [this cool CSS trick](https://css-tricks.com/snippets/css/tr

[2016-10-27 20:35] #503 closed

[2016-10-27 21:28] stoicflame commented on #509
Thanks for the report.

I think, for now, I'm not going to do anything about it until the 3.0 spec comes out. The generated JSON is invalid because of the duplicate method getting added to the [path item object](http://swagger.io/specification/#pathItemObject), but it doesn't cause the Swagger UI to fail, so no harm done.

I'm happy to re-open if my assumption about "no harm done" is incorrect.

[2016-10-27 21:28] #509 closed

[2016-10-27 22:01] #507 closed

[2016-10-27 22:01] #510 closed

[2016-10-27 22:01] #513 closed

[2016-10-27 22:01] #515 closed

[2016-10-27 23:36] stoicflame commented on #519
Okay, so I think the "Headers" section might be for response headers, not request headers. If it's not, I have no idea how to get the request headers in there. But providing the request header as a parameter still gets used in the request, so it seems to be in the right place. If you find otherwise, I'd be happy to re-open this issue.

As for the description getting overwritten, I don't know how t

[2016-10-28 00:27] #517 closed

[2016-10-28 00:27] #520 closed

[2016-10-28 00:27] #524 closed

[2016-10-28 00:27] #525 closed

[2016-10-28 00:27] #526 closed

[2016-10-28 07:52] vgcookies commented on #530
I can try ;).

For now I'm using javadoc only for documentation to keep my code clean from enunciate compile dependencies (sorry for that ;)), but that totally makes sense. I could use it as a "workaround" then...

[2016-10-28 07:59] vguna commented on #530
I can try ;).

For now I'm using javadoc only for documentation to keep my code clean from enunciate compile dependencies (sorry for that ;)), but that totally makes sense. I could use it as a "workaround" then...

[2016-10-28 08:28] vguna commented on #530
Hm. Seems that this project is no longer maintained. Issues are from 2014 :(...

[2016-10-28 14:37] stoicflame commented on #530
Since the definition of that `@RequestHeader` JavaDoc tag isn't maintained here, I just don't feel comfortable arbitrarily changing it.

Anyway, I'm not sure how I'd change it even if I _could_. It seems like the very nature of JavaDoc tags limits it's capabilities. It's really just a tag with a string after it. Even if we came up with some way to parse the string to add a "required" indicator to

[2016-10-28 14:37] #530 closed

[2016-10-28 14:48] stoicflame commented on #527
I'm afraid I can't reproduce this problem. I apply [this patch](https://github.com/stoicflame/enunciate/files/558669/issue-527.patch.txt) to [enunciate-sample](https://github.com/stoicflame/enunciate-sample) and it works fine for me.

![screen1](https://cloud.githubusercontent.com/assets/145838/19810585/4ac66c80-9ceb-11e6-8996-63e6549a5866.png)

![screen2](https://cloud.githubusercontent.com/asset

[2016-10-28 16:09] selimok commented on #519
Interesting to see that works for you :) I will try it again with jersey and try to understand why it wasn't worked with my spring rest controller.

Thanks.

[2016-10-28 17:05] stoicflame commented on #532
I spent quite a bit of time looking at this to see if we could auto-include sources for classes being _referenced_ by included classes, but in the end I concluded that the classpath/sourcepath scanner just doesn't have enough information to safely include those references automatically. :slightly_frowning_face:

[2016-10-28 17:05] #532 closed

[2016-10-28 17:57] #511 closed

[2016-10-28 17:57] #528 closed

[2016-10-28 17:57] stoicflame commented on #528
Thanks again for the report.

[2016-10-28 20:10] stoicflame commented on #531
I can't reproduce this issue. When I apply [this patch](https://github.com/stoicflame/enunciate/files/559315/issue-531.patch.txt) to [enunciate-sample](https://github.com/stoicflame/enunciate-sample) the `Blah` data type doesn't show up anywhere.

I'm happy to re-open if you can provide a way to reproduce the issue.

[2016-10-28 20:10] #531 closed

[2016-10-28 20:11] stoicflame commented on #516
No response for 2.5 weeks. I'm assuming there's nothing further to do on this issue. I'm happy to reopen as needed.

[2016-10-28 20:11] #516 closed

[2016-10-28 20:14] stoicflame commented on #372
No motion on this for weeks. I'll close this until I can get more information to pursue it.

[2016-10-28 20:14] #372 closed

[2016-10-28 20:47] stoicflame commented on #456
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:48] stoicflame commented on #456
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:48] stoicflame commented on #483
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:48] stoicflame commented on #491
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:48] stoicflame commented on #498
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:49] stoicflame commented on #473
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:49] stoicflame commented on #506
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:49] stoicflame commented on #521
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:49] stoicflame commented on #486
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:50] stoicflame commented on #484
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:50] stoicflame commented on #487
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:50] stoicflame commented on #492
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:50] stoicflame commented on #489
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:50] stoicflame commented on #490
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:50] stoicflame commented on #437
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:52] stoicflame commented on #502
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:52] stoicflame commented on #496
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:56] stoicflame commented on #515
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:56] stoicflame commented on #507
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:56] stoicflame commented on #513
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:56] stoicflame commented on #510
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:56] stoicflame commented on #525
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:56] stoicflame commented on #517
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:56] stoicflame commented on #520
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:57] stoicflame commented on #524
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:57] stoicflame commented on #526
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:57] stoicflame commented on #528
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-28 20:57] stoicflame commented on #511
[Enunciate 2.7 has been released.](https://github.com/stoicflame/enunciate/releases/tag/v2.7.0)

[2016-10-29 06:00] juergenzimmermann opened #533 "Double quotes in paths for shortcut annotations in Spring"
When I define a mapping with @RequestMapping , e.g. `@RequestMapping(value = "/{id}", method = DELETE)`, then the HTML page shows the path as expected, e.g. `/kunden/v1/{id}`.

However, when I define a mapping with a shortcut annotation, e.g. `@GetMapping("/{id:" + OBJECT_ID_PATTERN + '}')`, then the HTML page shows the path with double quotes, e.g. `/kunden/v1"/{id}"`. Please see the attached scr

[2016-10-30 14:37] stoicflame commented on #533
Thanks for the report.

[2016-10-31 14:08] vguna opened #534 "Swagger UI error with 2.7.0"
Hi.

Just took a look at 2.7.0 swagger UI. I am the only one getting:

[code]

when calling the swagger UI? Just changing back to 2.6.0 and it works again.

[2016-10-31 14:13] vguna commented on #534
Mkay, seems to be the swagger.json. Put it to swagger editor for validation. Looked ok besides some warnings....

[2016-10-31 14:53] vguna commented on #534
Ok, I tracked it down to examples containing german umlauts like `ß`. That seems to kill swagger.js with the mentioned error message. For now I can simply use another example. Enunciate own's documentation looks ok though. So should enunciate escape special characters somehow in swagger.json :)?

[2016-10-31 22:00] stoicflame commented on #534
So JSON is all UTF-8 encoded. Those characters should be valid in the swagger.json.

Swagger UI bug?

[2016-11-01 11:44] gvdwink commented on #510
I can confirm bug has been solved.

[2016-11-03 05:52] aaronddickson commented on #400
I ran into a need for this today so would like to record that I too would find this feature very useful.

[2016-11-03 07:58] qwasson opened #535 "java.lang.OutOfMemoryError when referencing a description file"
(Moved from https://github.com/stoicflame/enunciate-gradle/issues/13)

When I specify a description file in my enunciate.xml, I get the following exception

[code]

[2016-11-03 07:59] qwasson commented on #535
Looks like the exception is caused by an infinite loop occuring in EnunciateConfiguration.readFile, where the same data is written to a Writer over and over, rather than getting new data from the Reader

[2016-11-03 17:42] kingferiol commented on #529
This is really interesting. Is there possibility to have something similar for request examples

[2016-11-03 18:44] stoicflame commented on #535
Thanks for the report.

[2016-11-03 18:46] stoicflame commented on #535
Fixed with merge from #536.

[2016-11-03 18:46] #535 closed

[2016-11-04 10:03] jskovjyskebankdk opened #537 "Regexp pattern with digit-matcher lost one of two backslashes"
Using patterns with digit-matcher in 2.7.0 fails:

[code]

Results in the following in swagger.json (notice the pattern lost its escaping backslash):

[code]

Which causes the enunciate process to fail with the exception (I cut the top, let me know if you want more):

[code]

[2016-11-06 00:07] jayenashar commented on #437
Apologies for the delay in testing this.  The project's been cancelled.

It's working for me though I'm having a small problem with @Pattern .  I'll open another issue for it.

[2016-11-06 00:22] jayenashar commented on #537
I have the same issue in a `BeanParam`:

    @QueryParam("min_price")
    @Pattern(regexp = "|50|100|200|300|\\$400|500|600|700|800|900|1000|1100|1200|1300|1400|1500")
    private String        min_price;

gives a big stack trace.  i assume this is the relevant bit:

[code]

If I make it like this:

    @Pattern(regexp = "|50|100|200|300|\\\\$400|500|600|700|800|900|1000|1100|1200|1300|1400|1500")

[2016-11-07 09:59] vguna opened #538 "Swagger UI constraint popup disorder"
Hi.

I'm using Enunciate 2.7.0 to create swagger documentation from my endpoints. Looking at the generated constraint documentation, shows disordered popups like in the image below. Pointing the mouse e.g. to the last attribute of a model, shows all constraints at once, overlapping each other which looks messy. I would expect to show the popup only on the selected attribute to appear. Is this some

[2016-11-07 18:48] stoicflame commented on #538
If this is an Enunciate problem, I can't figure out how to fix it. Any ideas? How does the swagger.json file need to change to fix this?

[2016-11-07 22:07] pacman1176 opened #539 "Hiding Entity properties based on endpoint"
For my project's API, and like many others I suspect, we reuse attributes in @Entity models where many of the attributes in the Entity are situational and absent depending on what endpoint you're using. For example if I have a `Person` object with an `id` attribute, and I have a method to `@POST` a new person, the `id` attribute is not used in the request body because `id` gets generated. However

[2016-11-07 23:13] pacman1176 commented on #539
https://spring.io/blog/2014/12/02/latest-jackson-integration-improvements-in-spring

Basically support for @JsonView.

[2016-11-08 13:11] vguna commented on #456
With 2.7 the interface descriptions now appear in the overview for the endpoints where there are multiple HTTP methods like PUT+POST+GET etc. Thanks for that :)!

But it seems that the description is now taken also for the "single" endpoints where there's only one HTTP method like GET.

That leads to the odd output, that e.g. on the `/orders/{orderId}/status` endpoint from the example above, the g

[2016-11-08 19:07] Zecklar opened #540 "Support for bean validation annotations"
I see there's support for bean validation annotations in document constraints but not in schema generation. It would be nice if schema generation would take for example @Size annotation into account and generate restriction for that annotated field. For example if I have a field:
[code]
Then the generated schema would look like this:
[code]

[2016-11-09 14:04] peter-janssen commented on #182
For some strange reason I can't get lombok support working. I've changed the pom according to the wiki. And I added @Getter and @Setter to both Persona.class and Name.class and removed all getter and setter methods. After running maven the parameters are no longer shown in the Json nor xml datatypes. They are also no longer present in swagger.
I also tried the jackson2-api-lombok example. This wor

[2016-11-10 12:42] egemenvardar opened #541 "Is Enunciate compatible with newer swagger-ui versions (e.g. 2.2.6)?"
I am currently using Enunciate 2.7.0 with a custom instance of Swagger UI, version 2.1.4. Everything works fine there.

I need to integrate a bugfix in Swagger UI that was released with the 2.2.6 version. I took the whole dist folder from the master branch of swagger-ui project and ran the Enunciate plugin. However, generated  `swagger.json ` file cannot be parsed by the new version anymore:

![en

[2016-11-10 18:10] pbelbin opened #542 "how to have enunciate request / response examples feature xml rather than json?"
the examples section of the enunciate site currently seems to focus more heavily towards showing json samples.

how do I tell enunciate to show xml examples instead?

thank you!

[2016-11-11 17:10] stoicflame commented on #539
There's currently support for `@DocumentationExample(exclude=true)`, but that's not context-specific.

Maybe there's a way we can use facets.

[2016-11-11 17:12] stoicflame commented on #541
Haven't tried it myself, but I can take a closer look for 2.8.

[2016-11-11 17:20] stoicflame commented on #542
You can prefer XML if you want using the `qs` parameter on the media type:

[code]

[2016-11-11 17:29] stoicflame commented on #182
@peter-janssen, I'm not seeing the problem. When I remove the `getId` and `setId` methods on `Person` in the `jackson2-api-lombok`, the property still shows up.

See [this patch](https://github.com/stoicflame/enunciate/files/586352/lombok-no-getter-setter.diff.txt).

If you can provide more details about what you're seeing, let's open a new issue to track it.

[2016-11-11 17:38] pbelbin commented on #542
I tried your suggestion with 2.7.0, but it doesn't seem to work.  the enunciate examples are still showing json examples rather than xml.

[2016-11-11 17:39] stoicflame commented on #542
Okay, I'll treat this as a bug report.

[2016-11-11 17:41] pbelbin commented on #542
thank you!  keep up the good work.  I really appreciate your efforts.

[2016-11-14 15:38] peter-janssen opened #543 "Native Lombok support not working for @Getter and @Setter on classes"
Original question on #182

reply by @stoicflame

As requested I opened a new issue. I did some further investigation it seems that when the annotations `@Getter` and `@Setter` are on the class level they do not work. `@Data` does work though. See this [patch](https://github.com/stoicflame/enunciate/files/589579/lombok-class-level.txt)

I had a look at your code and there should probably be a check

[2016-11-15 08:41] amecky opened #544 "Support for ResourceFilter"
ResourceFilter are a common way of extracting common functionality. One basic example is using a ResourceFilter to do authorization and authentication. Unfortunately there is no way to include these ResourceFilters in the generated documentation. The only way at the moment is to mention these ResourceFilters in the javadoc. But there is of course no linking and it is only plain text therefore it i

[2016-11-15 22:55] stoicflame commented on #544
What would a page that describes a resource filter look like?

[2016-11-16 14:27] amecky commented on #544
The ResourceFilters should be listed on the frontpage like Resources for example.
In order to build the link between the resource and the filters a new annotation could be used like this:
@GET
@PATH("path")
@Filters(SecurityFilter.class,MDCFilter.class)
public Response getStuff() {
.....
}
The Filters itself are a little bit tricky because you cannot extract on which kind of information they might

[2016-11-16 17:44] stoicflame commented on #544
So you're thinking "filter" page would contain a list of headers and parameters that are applicable to any requests to which the filter applies.

Why not just add the headers and parameters to the resources themselves e.g. using [Enunciate-Specific-Annotations](https://github.com/stoicflame/enunciate/wiki/Enunciate-Specific-Annotations)?

[2016-11-17 06:41] amecky commented on #544
Maybe my example was a bit misleading. These header or query parameters and not part of the actual method in the Resource. If you look at my example Resource then you see that the signature is actually empty. I am aware that there are actually ResponseHeader and other already present. But it is too cumbersone to list all parameters like this that are handled by filter on each and every method in t

[2016-11-17 10:56] vguna commented on #534
Possibly. Tracking it here: https://github.com/swagger-api/swagger-ui/issues/2496

[2016-11-17 13:28] victornoel opened #545 "Feature: Ignore non-wanted resource method parameters in JAX-RS support"
Hi, I have this kind of resources declared:
[code]

And the thing is that `@Pac4JProfile CockpitProfile profile` is injected by Jersey into the method.
But since enunciate doesn't know that, it thinks that profile is the message body that should be sent by the client, while actually it should simply ignore it.

It would be great to have a way to state such ignore rules, either by saying `@Pac4JPro

[2016-11-17 17:08] stoicflame commented on #544
I understand the request.

It seems like an unconventional way to process parameters. I suppose I can understand filters that take certain headers as parameters (e.g. authorization filter), but how does e.g. `PagingFilter` pass `pageSize` and `pageIndex` down to the resource? Wouldn't `@BeanParam` be a better fit for parameter sets that need to be shared across resources?

Note also that there's a

[2016-11-17 17:13] stoicflame commented on #545
What is `@Pac4JProfile`? Are there any annotations on that annotation class that indicates it's a specially-provided parameter? What actually provides that parameter when the method is invoked?

You can configure custom resource parameters like this:

[code]

[2016-11-17 17:13] #545 closed

[2016-11-17 17:18] victornoel commented on #545
@stoicflame ok thanks, will try that, sorry for the issue, I didn't find this information before.

For the record, `@Pac4JProfile` is a custom annotation provided by a jax-rs extension ([jax-rs-pac4j](https://github.com/pac4j/jax-rs-pac4j/)) that injects a security profile for the request

[2016-11-18 10:21] victornoel commented on #545
@stoicflame I'm sorry but I don't get it: I added `custom-resource-parameter-annotation` element with the actual qualifiedName of the annotation I use and the parameter is not ignored in the documentation produced.

Are we talking about the same thing?
What I want is to ignore a parameter because it is NOT the request body of the resource method, it is injected by the container, like a `@Context`

[2016-11-18 10:23] victornoel commented on #545
Here is the annotation definition: https://github.com/pac4j/jax-rs-pac4j/blob/master/src/main/java/org/pac4j/jax/rs/annotations/Pac4JProfile.java
It is injected by this: https://github.com/pac4j/jax-rs-pac4j/blob/master/src/main/java/org/pac4j/jax/rs/jersey/features/Pac4JValueFactoryProvider.java

[2016-11-18 16:07] stoicflame commented on #545
Woops. Try `custom-system-parameter-annotation` instead of `custom-resource-parameter-annotation`.

[2016-11-18 20:58] sbrattla commented on #493
Turns out it was my fault. A resource class had `@TypeHint(Engine[].class)` instead of `@TypeHint(SerialEngine[].class)`. This, again, resulted in a rather large graph of classes to unintentionally be included in the documentation. Really sorry for wasting your time on this...

[2016-11-21 10:14] victornoel commented on #545
It doesn't work… once again, are we sure we are talking of the same thing? :)

From the Java input in the issue description, I get the following output with enunciate (with or without the option you gave me):
![output](https://cloud.githubusercontent.com/assets/160975/20478636/36af4322-afdb-11e6-8987-df83aed15d1d.png)

I am expecting the whole `Request Body` part to be empty.

This is my `enunciat

[2016-11-22 01:18] stoicflame commented on #545
Confirmed. Bug.

Fixed at 036b8f5.

Thanks for the report.

[2016-11-22 08:19] victornoel commented on #545
great, thanks! I will try to test the development version as soon as I can to confirm all is ok with respect to my use case :)

[2016-11-22 08:22] victornoel commented on #545
@stoicflame is it deployed somewhere as a SNAPSHOT or do I need to compile it by hand?

[2016-11-22 12:40] victornoel commented on #545
It seems to work well! Thanks :)

Any ETA for the next release?

[2016-11-23 11:10] fredespi opened #546 "content negotiation and Enunciate 2"
Hi,

In https://github.com/stoicflame/enunciate/wiki/Module-Jersey there is a section about content negotiation and I have previously used this information to put something like

[code]

into my enunciate config file. Now I am switching to enunciate 2 and need to do something similar. My service consumes and produces content type like the above but the generated docs only mention application/json

[2016-11-23 14:18] stoicflame commented on #546
The charset has never been needed in the generated documentation, but you're saying that it needs to be there for Swagger to work correctly?

How does Swagger fail if it's not there?

[2016-11-23 20:38] Ahmed-Hussein opened #547 "Support for @JsonSerialize @JsonDeserialize"
I see that there's support for fasterxml @JsonIgnore and it is reflected in both documentation and client libraries. Is there any support for @JsonSerialize and @JsonDeserialize annotations?
I tried using these annotations to generate different request and response fields for the same bean but the annotations got Ignored.

For example:
[code]
The generated client lib would contain
[code]
The gener

[2016-11-24 11:10] fredespi commented on #546
Hi,

I have this in my code:
[code]
This is what I get in the swagger.json:
[code]
No matter what I do, I cannot get the generated swagger.json to change the "produces" value to include the charset. Consequently, when I do my call, I get this:

`curl -X GET --header 'Accept: application/json' 'https://localhost:8180/v3/languages'`

and my api responds with

`{"message":"Please use application/json

[2016-11-24 17:57] nfalco79 opened #548 "how to restrict generation of documentation to current maven module"
Hi Ryan, our project it's a maven multi module project.
Each module (plugin) has some REST services and could be distribuited separatly.
Actually I can not find a way to generated only documentation of current module excluding service from dependencies (also from same groupId).
I've try to use source-includes with no luck, maybe designed for different use cases. Use api-classes exclude/include dir

[2016-11-24 18:06] nfalco79 commented on #258
A tricks to do an aggreation Mojo is to produce the usual documentation in the parent pom using reactors project ${reactorProjects} as dependencies.
Parent pom has packaging of type `pom` and it has not source of bin folder. As for modules that generate documentation also for transitive dependencies that has the same groupId, a parent project could consider (add) reactor projects as its direct dep

[2016-11-25 10:52] haakoni opened #549 "property sort order"
Hi,

I'm wondering if there is a way to sort the order of properties by source line position and not alphabetically? the example xml output follows the @XmlType(propOrder) if set, or source line position, but the name/description list of properties is always alphabetically:

![sort](https://cloud.githubusercontent.com/assets/23738215/20622606/f505995e-b303-11e6-8947-7a0dd01ae631.png)

from code
[c

[2016-11-28 23:12] stoicflame commented on #547
Yes, there's support for `@JsonSerialize`, but it's used to configure Jackson with custom (de)serialization aspects. The way you're using it above is incorrect, AFAIK.

Do you mean `@JsonProperty`?

[2016-11-28 23:12] #547 closed

[2016-11-28 23:15] stoicflame commented on #548
Try using the `datatype-detection` attribute:

[code]

[2016-11-28 23:15] #548 closed

[2016-11-28 23:19] stoicflame commented on #549
If you're using `propOrder`, it shouldn't be alphabetical. I'll take a look for 2.8.

[2016-11-29 15:00] ahmadshahwan commented on #527
I have the same problem.

Without `@returnWrapped` the comment "ignored" is shown.
With `@returnWrapped` it is indeed ignored. If I add text after `@returnWrapped`, as  the [original doclet](http://fromage.github.io/jax-doclets/docs/0.10.0/html/#d0e538) suggests, the whole doclet is ignored.

I can either have a type directive, or a description, but not both.

[2016-11-29 15:08] ahmadshahwan opened #551 "Can Enunciate take Java Interface as data types?"
Enunciate seems to ignore Java interfaces when looking for potential data types, with the following message:

An example JAX-RS annotated resource goes something like this:

[code]

IAuthentication is an interface, and it has to remain one. This is because I use injection, and I cannot predict the exact type returned by the method `authenticate()`. `CLogin` however is a class, and it is OK since i

[2016-11-29 16:11] stoicflame commented on #551
No, but you can use the `@TypeHint` annotation to tell Enunciate what data type you want it to document as being returned from the `login` method.

https://github.com/stoicflame/enunciate/wiki/Enunciate-Specific-Annotations

[2016-11-29 16:11] #551 closed

[2016-11-29 22:43] scottalanweber opened #552 "TypeHint of Array not using Array notation in JSON"
When an array of objects is included in the TypeHint annotation, the description is accurately being displayed as an array of the given object. However, in the JSON example the array notation is not noted, instead it's just single object. See the screenshot below.

<img width="1541" alt="screen shot 2016-11-28 at 11 42 18 pm" src="https://cloud.githubusercontent.com/assets/11204885/20732104/570fa7

[2016-11-30 10:36] ahmadshahwan commented on #551
Thanks for the answer.
For the record, I use `@returnWrapped` doclet to avoid external dependancies.

[2016-11-30 13:53] DrawGrumpy commented on #495
Hello,
I have some missing type too. Missing type is all a child in my hierarchy.
but the parent class is present in my documentation API. I have put datatype-detection="aggressive" for jaxrs, jackson1 and jackson.

I have put <include pattern="com.gestion.facade.interfaces.ws.InstrumentChildJson" /> but the type InstrumentChildJson is not  in api.

the hierarchy is this :
+ VehicleJson
 | + Instr

[2016-12-01 19:51] gregbarton opened #553 "jaxws generation trying to generate Exception class, getting circular dependency"
enunciate-maven-plugin 2.7.0

I have a JAXB service definition method that throws java.lang.Exception, and when enunciate runs in maven I get the following error:

[INFO] [ENUNCIATE] No Jackson JSON data types: Java JSON client will not be generated.
/home/greg_barton/git/tier4/tier4-lash-api-1.0/target/enunciate/java-xml-client/src/java/lang/Exception.java:14: error: cyclic inheritance involving

[2016-12-01 19:57] gregbarton commented on #553
Here is the java code generated:

[code]

And the problem line is
[code]

[2016-12-01 20:50] stoicflame commented on #553
Thanks for the report.

[2016-12-01 22:27] gregbarton commented on #553
I'm curious, wouldn't this prevent the bug?

https://github.com/stoicflame/enunciate/blob/master/jaxb/src/main/java/com/webcohesion/enunciate/modules/jaxb/JaxbModule.java#L167

[2016-12-06 06:09] Thorndike commented on #495
I have tried to follow the listed instruction but with no luck. The only class I get into the documentation ist the abstract class that is in the API.
I would like some method to mark all subclasses to be included in the documentation and the preferably listed on the page of the abstract class with a link to the documentation of each class.

[2016-12-06 06:38] DrawGrumpy opened #554 "Generic Types"
Hi,
in my Rest interface, I have a class with a generic type.
It will be great if the documentation generated show the class  and the attributes of generic type too.

Exemple :
class Response<T> implements Serializable{
   private T data;
   private MetaData metaData;

   public T getData(){
      return data;
   }

   public MetaData getMetaData(){
      return metaData;
   }
}

public class Data

[2016-12-06 12:38] piotrboczkowski opened #555 "Hide all possible enums"
Hi,
In my rest interface all classes contain an enum field (resourceType) which describes a type of the resource in the application.
The generated model becomes a bit unreadable because there are more than 60 resources.
Please check:
<img width="980" alt="image" src="https://cloud.githubusercontent.com/assets/24410096/20924526/16ec584e-bbb2-11e6-8a3f-64e03b6102f6.png">

Is it possible to hide the

[2016-12-06 13:03] piotrboczkowski opened #556 "Fix the bean validation popup"
The bean validation popup seems to be displayed on any property even if not annotated with the bean validation annotations.

Please see:
<img width="226" alt="image" src="https://cloud.githubusercontent.com/assets/24410096/20925870/b16def66-bbb9-11e6-963a-630fd699f1e4.png">

The popup is displayed when hovering the mouse over each of the two bottom fields even though those are not annotated with t

[2016-12-06 17:12] stoicflame commented on #554
Duplicate of #400.

[2016-12-06 17:12] #554 closed

[2016-12-06 18:05] stoicflame commented on #555
I agree that's kind of ugly.

Just thinking out loud: how much of this should be addressed by the Swagger UI guys? What if Swagger UI truncated the list or something?

I'll look into it.

[2016-12-06 18:13] stoicflame commented on #495
You mean there should be some logic that if `Pet` is added, then `Cat` and `Dog` should be automatically added?

That's actually harder than it sounds because it requires a double-pass through all the data types. The first pass would add the referenced classes, then you'd have to take a second pass to add all the subclasses of the referenced classes.

But I'll look at it closer if you want to open

[2016-12-07 08:58] lbndev opened #557 "Json type info page : add link to subtypes"
Forked from #495 : in the JSON type info page, add a link to subtypes.
(ex : Cat an Dog inherit from Pet, in the page for Pet add a link to Cat and Dog)

[2016-12-07 09:13] lbndev opened #558 "Types detection : auto-add child types of returned types"
Forked from #495 : given a service that returns Pet, Pet being an abstract class, Enunciate should automatically add implementing classes (Cat and Dog) to the documentation.

[2016-12-07 09:23] lbndev commented on #495
Hi,
Thanks for the answers.
I tested your suggestion with returnWrapped, but it doesn't match what I was thinking of.

I have this service :
`@Path("/PetStore")
public interface IPetStore {
    /**
     * Adopt a new pet (Cat or Dog)
     * @returnWrapped Cat
     */
    @GET @Path("/adopt")
    public Pet adopt();
}`

In the documentation, the return type of /PetStore/adopt is now shown as Cat. W

[2016-12-07 12:21] nfalco79 commented on #548
The trick does not works alone

For the goal I have also have to configure enunciate sourcepath-exclude as the follow:
[code]

[2016-12-07 13:00] j-be opened #559 "Add response codes to application.wadl"
Hi,

I noticed the `@StatusCodes` are not added to the generated application.wadl file, even though WADL would allow them.

We currently use Enunciate (and others) to generate the application.wadl files for our various APIs and include them in a single website as an API documentation. We use a heterogeneous system and WADL seems to be the way to integrate with multiple programming languages.

Apar

[2016-12-07 17:04] stoicflame commented on #495
I see. Well, that doesn't seem too hard. Go ahead and open another issue for that, too.

[2016-12-07 17:11] lbndev opened #560 "Add @documentationType annotation and doclet"
Forked from #495 : Add documentationType doclet and annotation so writing :
[code]
would lead to /PetStore/adopt documented with a Pet return type and a Cat as an example (of course Cat must extend Pet).

[2016-12-09 08:27] lbndev opened #561 "Interface types are documented as "Object""
Working on #557 I noticed that when a method returns a data type that is an interface, it is simply shown as Object. Interface types should be documented the same way as abstract parent types.

[2016-12-09 17:23] stoicflame commented on #561
Interfaces aren't data types, so Enunciate doesn't document them as such.

Maybe another way to say it is that there is no such thing as an "interface" in a Web service API. It's a construct specific to the language that doesn't translate to HTTP, SOAP, REST, XML, JSON, etc. So since Enunciate is documenting the Web service API, it's limited to the vocabulary of Web services and has no way of docu

[2016-12-09 17:24] stoicflame commented on #561
See also #551.

[2016-12-09 17:49] lbndev commented on #561
Sure, but Java allows to define an interface type and use it as parameter or return type for services that Enunciate documents. So when I'm doing this :
[code]
Enunciate shows parameter and return type of /service/execute as "Object" (or Array of Object if using a collection of ISomething). @typeHint or @returnWrapped won't help : any implementation can be a valid value.
It is not always possible

[2016-12-09 18:58] stoicflame opened #564 "@Ignore should be applicable to resource methods"

[2016-12-09 21:55] stoicflame commented on #494
Still no word on this error.

I'll re-open if the reporter comments again.

[2016-12-09 21:55] #494 closed

[2016-12-09 22:32] stoicflame commented on #534
I can't find any errors on the Enunciate-side of things, so I'm going to close this for now. I'm happy to re-open if needed.